Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

[c++] Show errant value in not-array-not-group error messages (#3897)
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/utils/util.cc
  libtiledbsoma/src/utils/util.h
Due: libtiledbsoma

Audit/Factor `cibuildwheel` env vars
  .github/workflows/python-packaging.yml
Due: none

loosen existance checks when from_anndata/from_h5ad are run in schema_only mode
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_registration_mappings.py
Due: python_api

cleanup and additional error checking
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
  apis/python/src/tiledbsoma/io/_registration/enum.py
Due: python_api

more docstring cleanup
  apis/python/src/tiledbsoma/io/_registration/id_mappings.py
Due: python_api

more docstring cleanup
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

rm unused `cc`/`cxx` smoke-test matrix vars
  .github/workflows/python-packaging.yml
Due: none

add 3.9 smoke-test jobs
  .github/workflows/python-packaging.yml
Due: none

more docstrings
  apis/python/src/tiledbsoma/io/_registration/enum.py
Due: python_api

rm unused `CIBW_BEFORE_BUILD` hook
  .github/workflows/python-packaging.yml
Due: none

pr fb
  apis/python/src/tiledbsoma/io/_registration/enum.py
Due: python_api

pr fb
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
  apis/python/tests/test_registration_mappings.py
Due: python_api

more pr fb
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
  apis/python/src/tiledbsoma/io/_registration/enum.py
Due: python_api

increase test code coverage
  apis/python/tests/test_registration_mappings.py
Due: none

additional code coverage
  apis/python/tests/test_registration_mappings.py
Due: none

lint
  apis/python/tests/test_registration_mappings.py
Due: none

[c++] Fix Arrow memory leaks in unit tests (#3873)
  apis/python/src/tiledbsoma/managed_query.cc
  apis/r/src/arrow.cpp
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/unit_arrow_adapter.cc
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_column.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_geometry_dataframe.cc
  libtiledbsoma/test/unit_soma_point_cloud_dataframe.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

Fix iteration
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Add unit test
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: none

Add tracking issue
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Update libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Use count aggregate for slow nnz
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

count cell on overlapping region only
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

Fix memory leak in unit test
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: none

Publish ARM Linux wheels (#3909)
  .github/workflows/python-packaging.yml
Due: none

Include 1.16.1 datasets in soma-experiment-versions tests
  scripts/prepare-test-data.sh
Due: none

more cleanup (still WIP) [skip ci]
  scripts/clean-test-data.sh
Due: none

Use .value
  apis/python/src/tiledbsoma/_util.py
Due: python_api

Fix tests
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/io/spatial/_util.py
Due: python_api

[python] Return `datetime` units as Arrow type (not NumPy)
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/tests/ht/test_ht_dataframe.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dataframe_index_columns.py
Due: python_api

format
  apis/python/src/tiledbsoma/_util.py
Due: python_api

Apply review suggestion
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/tests/ht/test_ht_dataframe.py
Due: python_api

format
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/io/spatial/_util.py
Due: python_api

Use `as_unix_timestamp`
  apis/python/src/tiledbsoma/_util.py
Due: python_api

Make changes according to review
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/tests/ht/test_ht_dataframe.py
Due: python_api

add work-around for single-fragment nnz
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Replace deprecated `dump` function
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma
