Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

update docstring for register_anndatas function
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

update register_h5ads docstring for clarity
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

pre-commit autoupdate and follow-on fixes
  .pre-commit-config.yaml
  apis/python/src/tiledbsoma/_factory.py
Due: python_api

[python] Prepare to remove handle wrappers (#4232)
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_common_nd_array.py
  apis/python/src/tiledbsoma/_coordinate_selection.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_managed_query.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_query.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/_soma_array.py
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/io/outgest.py
  apis/python/tests/ht/test_ht_dataframe.py
  apis/python/tests/ht/test_ht_sparsendarray.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_factory.py
  apis/python/tests/test_metadata.py
  apis/python/tests/test_sparse_nd_array.py
Due: python_api

Fixing shadowing logging.py module
  apis/python/remote_tests/test_02_analysis.py
  apis/python/src/tiledbsoma/_logging.py
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/io/outgest.py
  apis/python/src/tiledbsoma/io/spatial/ingest.py
  apis/python/src/tiledbsoma/io/update_uns.py
Due: python_api

pre-commit autoupdate and follow-on fixes (#4233)
  .pre-commit-config.yaml
  apis/python/src/tiledbsoma/_factory.py
Due: python_api

Make new constructor for SOMADimension
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/src/tiledb_adapter/platform_config.h
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/test/test_platform_config.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

Make new constructor for SOMAGeometryColumn
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
Due: libtiledbsoma

Remove unused functions
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Remove unneeded extra python packaging tests
  .github/workflows/python-ci-packaging.yml
Due: none

Make ManagedQuery move constructor 'default'
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

CI changes in prep for auditwheel change
  .github/workflows/python-packaging.yml
Due: none

[r] Add tests for timestamp confusion bug Add tests for the timestamp confusion bug reported in [SOMA-506](https://linear.app/tiledb/issue/SOMA-506)
  apis/r/tests/testthat/test-06-SOMADataFrame.R
Due: none

Test PR for TileDB core version 2.29.0rc1
  .github/workflows/python-ci-packaging.yml
  .github/workflows/test-cpp.yml
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
Due: none

Remove deprecated python functions
  apis/python/HISTORY.md
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_indexer.py
  apis/python/src/tiledbsoma/_soma_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/io/__init__.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_io.py
  apis/python/tests/test_registration_mappings.py
  doc/source/python-tiledbsoma-dataframe.rst
  doc/source/python-tiledbsoma-densendarray.rst
  doc/source/python-tiledbsoma-io.rst
  doc/source/python-tiledbsoma-pointclouddataframe.rst
  doc/source/python-tiledbsoma-sparsendarray.rst
  doc/source/python-tiledbsoma.rst
  libtiledbsoma/src/reindexer/test_indexer_data_types_perf.py
  libtiledbsoma/src/soma/soma_array.h
Due: python_api, libtiledbsoma

Add PR link to HISTORY
  apis/python/HISTORY.md
Due: none

Fixing PR comments
  apis/python/tests/test_query_condition.py
Due: none

Adding combo tests with None expressions
  apis/python/tests/test_query_condition.py
Due: none

Adding null support for query condition in SOMA queries
  apis/python/src/tiledbsoma/_query_condition.py
  apis/python/src/tiledbsoma/common.h
  apis/python/src/tiledbsoma/query_condition.cc
  apis/python/tests/test_query_condition.py
Due: python_api

Changing working directory
  .github/workflows/python-packaging.yml
Due: none

Adding null support for query condition in SOMA queries (#4237)
  apis/python/src/tiledbsoma/_query_condition.py
  apis/python/src/tiledbsoma/common.h
  apis/python/src/tiledbsoma/query_condition.cc
  apis/python/tests/test_query_condition.py
Due: python_api

Improve structure and readability of register_h5ads docstrings
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

update register_h5ads docstring for supported workflows
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Clarify that new obs/var columns will error
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Document we handle new var IDs
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Minor refinements
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Match descriptions for both register_ functions
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

[python] Document supported workflows for registration functions (#4210)
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Refactoring the build_wheels job
  .github/workflows/python-packaging.yml
Due: none

Fix typo
  .github/workflows/python-packaging.yml
Due: none

Deactivate aarch for testing
  .github/workflows/python-packaging.yml
Due: none

Restating aarch64 arch
  .github/workflows/python-packaging.yml
Due: none

Fixing wheel name
  .github/workflows/python-packaging.yml
Due: none

Fixing the test_wheels job
  .github/workflows/python-packaging.yml
Due: none

Fixing test_sdist path
  .github/workflows/python-packaging.yml
Due: none

Fix working directory for sdist
  .github/workflows/python-packaging.yml
Due: none

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
