Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Update somacore version for Python API and pre-commit
  .pre-commit-config.yaml
  apis/python/setup.py
Due: none

Update Scene to match changes in somacore
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/src/tiledbsoma/_scene.py
Due: python_api

Change transform composition to use @ instead of *
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_spatial_util.py
Due: python_api

Update changelog Bump develop version Add commented existence proof via cached global context
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/tests/testthat/test-TileDBGroup.R
Due: none

[r] Use cached SOMA context rather than re-creating (#2988)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/R/TileDBGroup.R
  apis/r/R/TileDBObject.R
  apis/r/tests/testthat/test-TileDBGroup.R
Due: none

[c++] Label old code as legacy
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

[c++] Condense calls into single `setup_write_column`
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

[c++] Replace `set_array_data` with new `_cast_column`
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

[c++] Cast columns before writing
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

[c++] For dicts to non-enum attrs, write the dict values
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

[c++] For non-dict cols, cast to type on disk and set write buffers
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

[c++] Extend enum if necessary; cast indexes to type and set buffers
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

[c++] bit to uint8 returns vector instead of casting inplace
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

[c++] Update unit test to pass in offset buffer
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: none

[c++] Remove dead code
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

Run linters
  apis/python/src/tiledbsoma/_point_cloud.py
Due: python_api

Update the spatial branch to match changes to somacore (#2987)
  .pre-commit-config.yaml
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/setup.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_point_cloud.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_spatial_util.py
Due: python_api

[r] Lower some logging from 'info' to 'debug'
  apis/r/R/SOMADataFrame.R
  apis/r/src/rutilities.cpp
Due: none

[r] Lower some logging from 'info' to 'debug' (#2991)
  apis/r/R/SOMADataFrame.R
  apis/r/src/rutilities.cpp
Due: none

[c++] Fix `ManagedQuery` usage in `SOMAArray` write path (#2989)
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: libtiledbsoma

[c++] Move `cast_bit_to_uint8` into `util`
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/utils/util.cc
  libtiledbsoma/src/utils/util.h
Due: libtiledbsoma

[c++] Move `cast_bit_to_uint8` into `util` (#2992)
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/utils/util.cc
  libtiledbsoma/src/utils/util.h
Due: libtiledbsoma

[c++] Remap indexes even if no new enums were added
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

fix multi-gpu hang due to incorrect __len__ return value
  other_packages/python/tiledbsoma_ml/src/tiledbsoma_ml/pytorch.py
Due: none

[c++] Remap indexes even if no new enums were added (#2993)
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

[c++] Centralize some nanoarrow helpers
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

compat with Lightning
  other_packages/python/tiledbsoma_ml/src/tiledbsoma_ml/pytorch.py
Due: none

PR review edits
  other_packages/python/tiledbsoma_ml/notebooks/tutorial_pytorch.ipynb
  other_packages/python/tiledbsoma_ml/src/tiledbsoma_ml/__init__.py
  other_packages/python/tiledbsoma_ml/src/tiledbsoma_ml/pytorch.py
  other_packages/python/tiledbsoma_ml/tests/test_pytorch.py
Due: none

formatting
  .pre-commit-config.yaml
  other_packages/python/tiledbsoma_ml/src/tiledbsoma_ml/pytorch.py
Due: none

iterate
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/common.cc
Due: libtiledbsoma

[r] Documentation refresher
  apis/r/R/Init.R
  apis/r/R/RcppExports.R
  apis/r/man/delete_metadata.Rd
  apis/r/man/get_all_metadata.Rd
  apis/r/man/get_metadata.Rd
  apis/r/man/get_metadata_num.Rd
  apis/r/man/has_metadata.Rd
  apis/r/src/metadata.cpp
Due: none

fix CI error
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/common.cc
Due: libtiledbsoma

[r] Documentation refresher (#2996)
  apis/r/R/Init.R
  apis/r/R/RcppExports.R
  apis/r/man/delete_metadata.Rd
  apis/r/man/get_all_metadata.Rd
  apis/r/man/get_metadata.Rd
  apis/r/man/get_metadata_num.Rd
  apis/r/man/has_metadata.Rd
  apis/r/src/metadata.cpp
Due: none

Cleanup four: Eight helper functions no longer use 'config'
  apis/r/R/RcppExports.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMANDArrayBase.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/R/TileDBArray.R
  apis/r/src/RcppExports.cpp
  apis/r/src/rinterface.cpp
  apis/r/tests/testthat/test-SOMASparseNDArray.R
  apis/r/tests/testthat/test-shape.R
Due: none

Snapshot with working code and new SOMAContext in reads and writes
  apis/r/R/Factory.R
  apis/r/R/Init.R
  apis/r/R/RcppExports.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMADenseNDArray.R
  apis/r/R/SOMANDArrayBase.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/R/TileDBObject.R
  apis/r/R/utils.R
  apis/r/src/RcppExports.cpp
  apis/r/src/arrow.cpp
  apis/r/src/riterator.cpp
  apis/r/tests/testthat/test-SOMAArrayReader-Iterated.R
Due: none

Cleanup two: sr_setup no longer needs (or uses) 'config' argument
  apis/r/R/RcppExports.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/R/utils.R
  apis/r/src/RcppExports.cpp
  apis/r/src/riterator.cpp
  apis/r/tests/testthat/test-SOMAArrayReader-Iterated.R
Due: none

Cleanup three: soma_array_resder no longer needs (or uses) 'config'
  apis/r/R/RcppExports.R
  apis/r/R/SOMADenseNDArray.R
  apis/r/R/soma_array_reader.R
  apis/r/src/RcppExports.cpp
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
Due: none

Cleanup one: sr_setup back to returning only one element, the xptr
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/R/utils.R
  apis/r/src/RcppExports.cpp
  apis/r/src/riterator.cpp
  apis/r/tests/testthat/test-SOMAArrayReader-Iterated.R
Due: none

Correct extra comma typo
  apis/r/R/SOMASparseNDArray.R
Due: none

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
