Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

Remove uri member
  apis/python/src/tiledbsoma/soma_vfs.cc
Due: python_api

[python] Have `SOMAFileHandle` encapsulate both `VFS` and `VFSFilebuf` (#3986)
  apis/python/src/tiledbsoma/io/_util.py
  apis/python/src/tiledbsoma/soma_vfs.cc
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

WIP
  apis/python/src/tiledbsoma/_soma_array.py
Due: python_api

[c++,python] Add `ManagedQuery.submit_batch` for GOW
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_soma_array.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/managed_query.cc
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/test/unit_soma_array.cc
Due: python_api, libtiledbsoma

Remove mistakenly added py::call_guard<py::gil_scoped_release>()
  apis/python/src/tiledbsoma/managed_query.cc
Due: python_api

formatting
  apis/python/src/tiledbsoma/_soma_array.py
Due: python_api

Move constructor
  apis/python/src/tiledbsoma/_soma_array.py
Due: python_api

Check all numerical dimensions of fragment for overlap
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/utils/util.cc
  libtiledbsoma/src/utils/util.h
Due: libtiledbsoma

timestamp, layer tests
  apis/python/src/tiledbsoma/_dask/load.py
  apis/python/tests/conftest.py
  apis/python/tests/test_sparse_nd_array.py
  apis/python/tests/test_to_anndata_dask.py
Due: python_api

`assert_array_equal`: verify `spmatrix` shapes match
  apis/python/tests/_util.py
Due: none

Fix declaration/definition issues
  apis/r/src/rinterface.cpp
  apis/r/src/rutilities.cpp
  apis/r/src/rutilities.h
Due: none

Remove remaining `tiledb::domain()` calls
  apis/r/tests/testthat/test-06-SOMADataFrame.R
  apis/r/tests/testthat/test-06-SOMADenseNDArray.R
  apis/r/tests/testthat/test-06-SOMASparseNDArray.R
Due: none

Update tests
  apis/r/tests/testthat/test-06-SOMADataFrame.R
  apis/r/tests/testthat/test-06-SOMADenseNDArray.R
  apis/r/tests/testthat/test-06-SOMASparseNDArray.R
Due: none

Fix broken tests
  apis/r/tests/testthat/test-06-SOMADataFrame.R
  apis/r/tests/testthat/test-06-SOMASparseNDArray.R
Due: none

[r] Replace `tiledb::domain()` with Rcpp `c_domain()` Replace calls to `tiledb::domain()` and other domain accessors with libtiledbsom/Rcpp `c_domain()`
  apis/r/R/RcppExports.R
  apis/r/src/RcppExports.cpp
  apis/r/src/rinterface.cpp
  apis/r/tests/testthat/test-06-SOMASparseNDArray.R
Due: none

Fix broken tests
  apis/r/tests/testthat/test-06-SOMASparseNDArray.R
Due: none

Move helper function to `rutilities.[h,cpp]`
  apis/r/src/rinterface.cpp
  apis/r/src/rutilities.cpp
  apis/r/src/rutilities.h
Due: none

Finish rebase
  apis/r/R/RcppExports.R
  apis/r/src/RcppExports.cpp
Due: none

[python] Improve null-index handling in Arrow dictionaries
  apis/python/tests/test_dataframe.py
Due: none

[python] Improve null-index handling in Arrow dictionaries [skip ci]
  apis/python/tests/test_dataframe.py
Due: none

cr
  apis/python/src/tiledbsoma/_sparse_nd_array.py
Due: python_api

add query/to_anndata tests to timestamp test
  apis/python/tests/test_to_anndata_dask.py
Due: none

more test cases [skip ci]
  apis/python/tests/test_dataframe.py
Due: none

Add support for dimension domain and tile Remove remaining calls to `tiledb::schema()`
  apis/r/src/rinterface.cpp
  apis/r/src/rutilities.cpp
  apis/r/src/rutilities.h
  apis/r/tests/testthat/test-06-SOMADataFrame.R
  apis/r/tests/testthat/test-06-SOMADenseNDArray.R
  apis/r/tests/testthat/test-06-SOMASparseNDArray.R
  apis/r/tests/testthat/test-11-OrderedAndFactor.R
Due: none

iterating [skip ci]
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

Extend support for ascii dimensions
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/utils/util.cc
  libtiledbsoma/src/utils/util.h
Due: libtiledbsoma

Add unit test for different dimension types
  libtiledbsoma/test/unit_soma_array.cc
Due: none

Add milti dimensional nnz unit tests
  libtiledbsoma/test/unit_soma_array.cc
Due: none

Compare result with slow nnz
  libtiledbsoma/test/unit_soma_array.cc
Due: none

[c++] Testing CI with trivial commit [do not review]
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

[c++,python] Correct SOMA type for collection members
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/tests/test_collection.py
  libtiledbsoma/src/soma/soma_group.cc
Due: python_api, libtiledbsoma

debugging
  apis/python/requirements_dev.txt
Due: none

[c++] Fix error in raise-if-slow path
  apis/python/src/tiledbsoma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.cc
Due: python_api, libtiledbsoma

Correct C++ unit tests
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_group.cc
Due: libtiledbsoma

Workaround spurious CI failure
  apis/python/tests/ht/test_ht_io_anndata.py
Due: none

[c++] Fix error in raise-if-slow path (#3999)
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/tests/ht/test_ht_io_anndata.py
  libtiledbsoma/src/soma/soma_array.cc
Due: python_api, libtiledbsoma

Update construct_member
  apis/r/R/TileDBGroup.R
  libtiledbsoma/test/unit_soma_group.cc
Due: none
