Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

[Backport release-1.7] [r] Fix Seurat ingestion with missing command logs collection
  apis/r/DESCRIPTION
  apis/r/R/SOMAExperimentAxisQuery.R
  apis/r/R/utils-seurat.R
  apis/r/R/utils.R
  apis/r/tests/testthat/test-SeuratOutgest-command.R
Due: none

[r] Undo inadvertent commit
  apis/r/DESCRIPTION
  apis/r/R/SOMAExperimentAxisQuery.R
  apis/r/R/utils-seurat.R
  apis/r/R/utils.R
  apis/r/tests/testthat/test-SeuratOutgest-command.R
Due: none

[Backport release-1.7] [r] Fix Seurat ingestion with missing command logs collection (#2155)
  apis/r/DESCRIPTION
  apis/r/R/SOMAExperimentAxisQuery.R
  apis/r/R/utils-seurat.R
  apis/r/R/utils.R
  apis/r/tests/testthat/test-SeuratOutgest-command.R
Due: none

[r] tiledbsoma 1.7.2
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[r] Undo inadvertent commit
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[r] tiledbsoma 1.7.2 (#2156)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[r/ci] Controlled downgrade for TileDB-R 0.23 [WIP]
  .github/workflows/r-ci.yml
  .github/workflows/r-python-interop-testing.yml
Due: none

show package versions for R CI
  .github/workflows/r-ci.yml
Due: none

undo previous
  .github/workflows/r-ci.yml
Due: none

Use core 2.19.0 on all dependency paths
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
Due: none

[r/ci] Controlled downgrade for TileDB-R 0.23 (#2157)
  .github/workflows/r-ci.yml
  .github/workflows/r-python-interop-testing.yml
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
Due: none

Fix inconsistency in DictFilterSpec docstring. (#2151)
  apis/python/src/tiledbsoma/options/_tiledb_create_options.py
Due: python_api

[python] Refactor Pybind11 inheritance to reduce repetition (#2126)
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_object.cc
Due: python_api

[python] Do not copy `libtiledbsoma.so` into `package_data` if it already exists (#1937)
  .github/workflows/python-so-copying.yml
  apis/python/setup.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_tiledb_array.py
  codecov.yml
  libtiledbsoma/cmake/Modules/TileDBCommon.cmake
Due: python_api

Revert previous commit on `release-1.7`
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_object.cc
Due: python_api

Sync `main` to `release-1.7` as much as possible
  .github/workflows/pkgdown.yaml
  apis/python/setup.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_tiledb_array.py
  apis/python/src/tiledbsoma/options/_tiledb_create_options.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/tests/test_indexer.py
  apis/r/configure
  codecov.yml
  libtiledbsoma/cmake/Modules/TileDBCommon.cmake
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/soma/soma_object.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  profiler/profiler.py
  profiler/setup.py
Due: python_api, libtiledbsoma

add new files
  .github/workflows/python-so-copying.yml
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
Due: python_api

Revert previous commit on `release-1.7` (#2164)
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_object.cc
Due: python_api

Sync `main` to `release-1.7` as much as possible, in prep for #2158 (#2165)
  .github/workflows/pkgdown.yaml
  .github/workflows/python-so-copying.yml
  apis/python/setup.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_tiledb_array.py
  apis/python/src/tiledbsoma/options/_tiledb_create_options.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  apis/python/tests/test_indexer.py
  apis/r/configure
  codecov.yml
  libtiledbsoma/cmake/Modules/TileDBCommon.cmake
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/soma/soma_object.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  profiler/profiler.py
  profiler/setup.py
Due: python_api, libtiledbsoma

Make changes according to review
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_group.cc
  apis/python/src/tiledbsoma/soma_object.cc
Due: python_api

Correct typing issue in _tiledb_object.open; add SOMAContext as member
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
  libtiledbsoma/src/soma/soma_array.h
Due: python_api, libtiledbsoma

Allow tiledb_config to acquire lock in native_context
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
Due: python_api

Use _internal_tiledb_config in native_context
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
Due: python_api

Use .items()
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
Due: python_api

[python] Use `_internal_tiledb_config` in `native_context` (#2166)
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
Due: python_api

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/
