Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

[c++] Improve exception-handling for query futures
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

why did this break now
  .github/workflows/libtiledb-ci.yml
Due: none

[c++] Improve exception-handling for query futures (#2789)
  .github/workflows/libtiledb-ci.yml
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

[python] Backport #2788 to `release-1.12`
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
Due: python_api

[python] Backport #2788 to `release-1.12` (#2791)
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
Due: python_api

[wip] More clean up
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

WIP working mapping indexes to values
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

WIP crudely working string-compat conversion
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Update github actions to include spatial branch in testing
  .github/workflows/libtiledb-ci.yml
  .github/workflows/python-ci-full.yml
  .github/workflows/python-ci-minimal.yml
  .github/workflows/r-ci.yml
  .github/workflows/r-python-interop-testing.yml
Due: none

Add experimental ingestor for Visium data
  apis/python/setup.py
  apis/python/src/tiledbsoma/experimental/__init__.py
  apis/python/src/tiledbsoma/experimental/ingest.py
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Add experimental directory
  apis/python/src/tiledbsoma/experimental/__init__.py
Due: python_api

[python][spatial] Implement Scene class in Python (#2485)
  .github/workflows/python-ci-packaging.yml
  .pre-commit-config.yaml
  apis/python/setup.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/experimental/ingest.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_experiment_basic.py
  libtiledbsoma/src/soma/soma_experiment.cc
  libtiledbsoma/src/soma/soma_experiment.h
Due: python_api, libtiledbsoma

Update scene component names
  .pre-commit-config.yaml
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

Update scene component names (again)
  .pre-commit-config.yaml
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

Set somacore by commit instead of branch
  apis/python/setup.py
Due: none

Update spatial to match redesign
  .pre-commit-config.yaml
  apis/python/setup.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_measurement.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

Add coordinate transform classes
  .pre-commit-config.yaml
  apis/python/setup.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_coordinates.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/tests/test_coordinates.py
Due: python_api

Add minor typo related bug fixes (#2559)
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

[python] Add functionality to read cellxgene spatial h5ad files (#2577)
  apis/python/src/tiledbsoma/experimental/__init__.py
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

(WIP) Update ingest to use coordinate system metadata
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

Roll-back reference commit for somacore
  .pre-commit-config.yaml
  apis/python/setup.py
Due: none

add `tutorial_spatial.ipynb` (#2705)
  apis/python/notebooks/tutorial_spatial.ipynb
  doc/source/notebooks/tutorial_spatial.ipynb
Due: none

lint/typecheck fixes (#2706)
  apis/python/src/tiledbsoma/_coordinates.py
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

Small updates to match somacore (#2712)
  .pre-commit-config.yaml
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/setup.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_measurement.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

Small Visium ingest fixes
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

Add presence matrices to experimental ingestor (#2729)
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

Fix typo in Scene
  apis/python/src/tiledbsoma/_scene.py
Due: python_api

Run linters
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_scene.py
Due: python_api

[wip] templating out _promote_indexes_to_values
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

all columns dtypes casting
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

Use core 2.25.0-rc0 [WIP]
  .github/workflows/python-ci-packaging.yml
  .github/workflows/r-ci.yml
  .github/workflows/r-python-interop-testing.yml
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
Due: none

iterate
  .github/workflows/r-ci.yml
  .github/workflows/r-python-interop-testing.yml
Due: none

[python] Release GIL For `count`, `exist`, and `open`
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/soma_object.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
Due: python_api

[python] Release GIL For `count`, `exist`, and `open` (#2733)
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/soma_object.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
Due: python_api

[c++] Cast `ArrowTable` values in `SOMAArray::write` to match `ArraySchema` on-disk (#2786)
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/unit_soma_array.cc
Due: python_api, libtiledbsoma

Additional test tweak
  apis/r/tests/testthat/test-SOMACollection.R
Due: none

[r] Support sparse nd array writes via libtiledbsoma
  apis/r/R/SOMASparseNDArray.R
  apis/r/src/arrow.cpp
  apis/r/tests/testthat/test-SOMASparseNDArray.R
Due: none

Another test tweak with as-needed datatype recovery
  apis/r/R/SOMASparseNDArray.R
  apis/r/tests/testthat/test-SOMACollection.R
  apis/r/tests/testthat/test-SOMASparseNDArray.R
Due: none

Micro-cleanup of test file
  apis/r/tests/testthat/test-SOMACollection.R
Due: none
