Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Replace clib handle with calls to wrapper classes
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

Rename _tdb_handles.open -> _tdb_handles.open_handle_wrapper
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

Inline function used in one place
  apis/python/src/tiledbsoma/_factory.py
Due: python_api

Further consolidation of ``open`` code and checks
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

Fix typos added to new reopen method
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

Run linters
  apis/python/src/tiledbsoma/_soma_group.py
Due: python_api

Initial arrow class implementation with factory function
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/arrow/arrow.cc
  libtiledbsoma/src/arrow/arrow.h
  libtiledbsoma/src/tiledbsoma/tiledbsoma
Due: libtiledbsoma

Use sparrow and Catch2 from vcpkg
  libtiledbsoma/CMakePresets.json
  libtiledbsoma/cmake/Modules/FindCatch_EP.cmake
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/vcpkg.json
  scripts/bld
  vcpkg-configuration.json
Due: none

Fix vcpkg setup
  libtiledbsoma/CMakeLists.txt
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/test/unit_geometry_envelope.cc
  libtiledbsoma/vcpkg-configuration.json
  libtiledbsoma/vcpkg.json
  scripts/bld
Due: libtiledbsoma

Apply stash
  apis/python/remote_tests/README.md
  apis/python/remote_tests/__init__.py
  apis/python/remote_tests/conftest.py
  apis/python/remote_tests/util.py
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/common.h
  apis/python/src/tiledbsoma/managed_query.cc
  libtiledbsoma/src/arrow/arrow.cc
  libtiledbsoma/src/arrow/arrow.h
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_object.h
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/test/unit_geometry_envelope.cc
Due: python_api, libtiledbsoma

Remove export directives
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_object.h
Due: libtiledbsoma

add dup obs id check to register functions
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_registration_mappings.py
Due: python_api

update change log
  apis/python/HISTORY.md
Due: none

Bump develop version
  apis/r/DESCRIPTION
Due: none

[r] Reduce NAMESPACE exports (#4076)
  apis/r/DESCRIPTION
  apis/r/NAMESPACE
  apis/r/R/RcppExports.R
  apis/r/R/utils-arrow.R
  apis/r/R/utils-tiledb.R
  apis/r/R/zzz.R
  apis/r/man/delete_metadata.Rd
  apis/r/man/get_all_metadata.Rd
  apis/r/man/get_metadata.Rd
  apis/r/man/get_metadata_num.Rd
  apis/r/man/has_metadata.Rd
  apis/r/man/r_type_from_arrow_type.Rd
  apis/r/man/set_log_level.Rd
  apis/r/man/set_metadata.Rd
  apis/r/man/tiledbsoma_stats.Rd
  apis/r/src/groups.cpp
  apis/r/src/metadata.cpp
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
  apis/r/src/rutilities.cpp
Due: none

[r] Add tibble as suggested package R CI started failing on 2025-05-27; appears to be a lack of tibble
  apis/r/DESCRIPTION
Due: none

[r] Add tibble as suggested package (#4087)
  apis/r/DESCRIPTION
Due: none

[r] Add examples for read iterators Add examples for the following objects:
  apis/r/R/BlockwiseIter.R
  apis/r/R/ReadIter.R
  apis/r/R/SparseReadIter.R
  apis/r/R/TableReadIter.R
  apis/r/man/BlockwiseReadIterBase.Rd
  apis/r/man/BlockwiseSparseReadIter.Rd
  apis/r/man/BlockwiseTableReadIter.Rd
  apis/r/man/ReadIter.Rd
  apis/r/man/SparseReadIter.Rd
  apis/r/man/TableReadIter.Rd
Due: none

[r] Add examples for mapping types Add examples for the following objects
  apis/r/R/ConfigList.R
  apis/r/R/MappingBase.R
  apis/r/R/PlatformConfig.R
  apis/r/R/SOMAContextBase.R
  apis/r/R/SOMATileDBContext.R
  apis/r/R/ScalarMap.R
  apis/r/R/TileDBCreateOptions.R
  apis/r/man/ConfigList.Rd
  apis/r/man/MappingBase.Rd
  apis/r/man/PlatformConfig.Rd
  apis/r/man/SOMAContextBase.Rd
  apis/r/man/SOMATileDBContext.Rd
  apis/r/man/ScalarMap.Rd
  apis/r/man/TileDBCreateOptions.Rd
Due: none

[r] Add examples for utility classes Add examples for the following objects
  apis/r/R/CoordsStrider.R
  apis/r/R/IntIndexer.R
  apis/r/man/CoordsStrider.Rd
  apis/r/man/IntIndexer.Rd
Due: none

[r] Add examples for objects using example datasets Add examples for the following objects:
  apis/r/R/SOMAOpen.R
  apis/r/R/datasets.R
  apis/r/R/ephemeral.R
  apis/r/man/EphemeralCollection.Rd
  apis/r/man/EphemeralCollectionBase.Rd
  apis/r/man/EphemeralExperiment.Rd
  apis/r/man/EphemeralMeasurement.Rd
  apis/r/man/SOMAOpen.Rd
  apis/r/man/example-datasets.Rd
Due: none

[r] Adjust documentation for package-level utilities Remove docs for the following unexported objects:
  apis/r/R/QueryCondition.R
  apis/r/R/zzz.R
  apis/r/man/soma_context.Rd
  apis/r/man/tiledbsoma_empty_query_condition.Rd
  apis/r/man/tiledbsoma_query_condition-class.Rd
Due: none

[r] Add examples for exported `utils-*.R` objects Add examples for the following objects
  apis/r/R/utils-matrixZeroBasedView.R
  apis/r/R/utils-tiledb.R
  apis/r/man/matrixZeroBasedView.Rd
  apis/r/man/show_package_versions.Rd
Due: none

[r] Add examples for the core object classes and factories Add examples for the following objects
  apis/r/NAMESPACE
  apis/r/R/Factory.R
  apis/r/R/SOMAArrayBase.R
  apis/r/R/SOMACollection.R
  apis/r/R/SOMACollectionBase.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMADenseNDArray.R
  apis/r/R/SOMAExperiment.R
  apis/r/R/SOMAMeasurement.R
  apis/r/R/SOMANDArrayBase.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/R/TileDBArray.R
  apis/r/R/TileDBGroup.R
  apis/r/R/TileDBObject.R
  apis/r/man/SOMAArrayBase.Rd
  apis/r/man/SOMACollection.Rd
  apis/r/man/SOMACollectionBase.Rd
  apis/r/man/SOMACollectionCreate.Rd
  apis/r/man/SOMACollectionOpen.Rd
  apis/r/man/SOMADataFrame.Rd
  apis/r/man/SOMADataFrameCreate.Rd
  apis/r/man/SOMADataFrameOpen.Rd
  apis/r/man/SOMADenseNDArray.Rd
  apis/r/man/SOMADenseNDArrayCreate.Rd
  apis/r/man/SOMADenseNDArrayOpen.Rd
  apis/r/man/SOMAExperiment.Rd
  apis/r/man/SOMAExperimentCreate.Rd
  apis/r/man/SOMAExperimentOpen.Rd
  apis/r/man/SOMAMeasurement.Rd
  apis/r/man/SOMAMeasurementCreate.Rd
  apis/r/man/SOMAMeasurementOpen.Rd
  apis/r/man/SOMANDArrayBase.Rd
  apis/r/man/SOMASparseNDArray.Rd
  apis/r/man/SOMASparseNDArrayCreate.Rd
  apis/r/man/SOMASparseNDArrayOpen.Rd
  apis/r/man/TileDBArray.Rd
  apis/r/man/TileDBGroup.Rd
  apis/r/man/TileDBObject.Rd
Due: none

[r] Add examples for `write_soma()` and methods Add examples for the following objects:
  apis/r/R/write_bioc.R
  apis/r/R/write_seurat.R
  apis/r/R/write_soma.R
  apis/r/man/write_soma.Rd
  apis/r/man/write_soma.Seurat.Rd
  apis/r/man/write_soma.SingleCellExperiment.Rd
  apis/r/man/write_soma.SummarizedExperiment.Rd
  apis/r/man/write_soma_objects.Rd
  apis/r/man/write_soma_seurat_sub.Rd
Due: none

[r] Add examples for mapping types (#4089)
  apis/r/R/ConfigList.R
  apis/r/R/MappingBase.R
  apis/r/R/PlatformConfig.R
  apis/r/R/SOMAContextBase.R
  apis/r/R/SOMATileDBContext.R
  apis/r/R/ScalarMap.R
  apis/r/R/TileDBCreateOptions.R
  apis/r/man/ConfigList.Rd
  apis/r/man/MappingBase.Rd
  apis/r/man/PlatformConfig.Rd
  apis/r/man/SOMAContextBase.Rd
  apis/r/man/SOMATileDBContext.Rd
  apis/r/man/ScalarMap.Rd
  apis/r/man/TileDBCreateOptions.Rd
Due: none

[r] Add examples for utility classes (#4090)
  apis/r/R/CoordsStrider.R
  apis/r/R/IntIndexer.R
  apis/r/man/CoordsStrider.Rd
  apis/r/man/IntIndexer.Rd
Due: none

Apply suggestions from code review
  apis/r/R/QueryCondition.R
  apis/r/R/zzz.R
Due: none

Add trailing periods for style
  apis/r/R/QueryCondition.R
  apis/r/R/zzz.R
  apis/r/man/soma_context.Rd
Due: none

Apply suggestions from code review
  apis/r/R/SOMAOpen.R
  apis/r/R/datasets.R
  apis/r/R/ephemeral.R
Due: none

Add trailing periods for style
  apis/r/R/SOMAOpen.R
  apis/r/R/datasets.R
  apis/r/R/ephemeral.R
Due: none

Forgot doc files
  apis/r/man/EphemeralCollection.Rd
  apis/r/man/EphemeralCollectionBase.Rd
  apis/r/man/EphemeralExperiment.Rd
  apis/r/man/EphemeralMeasurement.Rd
  apis/r/man/SOMAOpen.Rd
  apis/r/man/example-datasets.Rd
Due: none

remove unnecessary file from MANIFEST.in
  apis/python/MANIFEST.in
Due: none

Add trailing periods for style
  apis/r/R/write_bioc.R
  apis/r/R/write_seurat.R
  apis/r/R/write_soma.R
  apis/r/man/write_soma.Rd
  apis/r/man/write_soma.Seurat.Rd
  apis/r/man/write_soma.SingleCellExperiment.Rd
  apis/r/man/write_soma.SummarizedExperiment.Rd
  apis/r/man/write_soma_objects.Rd
  apis/r/man/write_soma_seurat_sub.Rd
Due: none

Apply suggestions from code review
  apis/r/R/Factory.R
Due: none

[r] Adjust documentation for package-level utilities (#4092)
  apis/r/R/QueryCondition.R
  apis/r/R/zzz.R
  apis/r/man/soma_context.Rd
  apis/r/man/tiledbsoma_empty_query_condition.Rd
  apis/r/man/tiledbsoma_query_condition-class.Rd
Due: none

fix pre-commit lint
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
Due: python_api

[r] Add examples for objects using example datasets (#4091)
  apis/r/R/SOMAOpen.R
  apis/r/R/datasets.R
  apis/r/R/ephemeral.R
  apis/r/man/EphemeralCollection.Rd
  apis/r/man/EphemeralCollectionBase.Rd
  apis/r/man/EphemeralExperiment.Rd
  apis/r/man/EphemeralMeasurement.Rd
  apis/r/man/SOMAOpen.Rd
  apis/r/man/example-datasets.Rd
Due: none

fix pre-commit lint (#4097)
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
Due: python_api

remove unnecessary file from MANIFEST.in (#4096)
  apis/python/MANIFEST.in
Due: none

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
