Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Throw an error if delete_cells is called in the wrong mode
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

Rename get_value_filter to combine
  libtiledbsoma/src/soma/coordinate_value_filters.cc
  libtiledbsoma/src/soma/coordinate_value_filters.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/test/test_coordinate_value_filter.cc
Due: libtiledbsoma

Rename SliceSelection and PointSelection
  libtiledbsoma/src/common/soma_column_selection.h
  libtiledbsoma/src/soma/coordinate_value_filters.h
  libtiledbsoma/src/tiledb_adapter/value_filter.h
  libtiledbsoma/test/test_coordinate_value_filter.cc
  libtiledbsoma/test/test_soma_column_selection.cc
  libtiledbsoma/test/test_value_filter.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

Adding sparray official support
  apis/python/src/tiledbsoma/io/_common.py
  apis/python/src/tiledbsoma/io/conversions.py
  apis/python/tests/_util.py
  apis/python/tests/test_experiment_query.py
  apis/python/tests/test_fastercsx.py
Due: python_api

Precommit fixes
  apis/python/src/tiledbsoma/io/_common.py
  apis/python/tests/_util.py
  apis/python/tests/test_experiment_query.py
Due: python_api

Update r-valgrind.yaml to install all suggested packages
  .github/workflows/r-valgrind.yaml
Due: none

Adding sparray official support from_anndata (#4194)
  apis/python/src/tiledbsoma/io/_common.py
  apis/python/src/tiledbsoma/io/conversions.py
  apis/python/tests/_util.py
  apis/python/tests/test_experiment_query.py
  apis/python/tests/test_fastercsx.py
Due: python_api

C++ deletes
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/common/soma_column_selection.h
  libtiledbsoma/src/soma/coordinate_value_filters.cc
  libtiledbsoma/src/soma/coordinate_value_filters.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.cc
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.h
  libtiledbsoma/src/tiledb_adapter/value_filter.cc
  libtiledbsoma/src/tiledb_adapter/value_filter.h
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/test/test_coordinate_value_filter.cc
  libtiledbsoma/test/test_soma_column_selection.cc
  libtiledbsoma/test/test_soma_query_condition.cc
  libtiledbsoma/test/test_value_filter.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

Remove unnecessary dataset check from notebooks
  apis/python/tests/test_notebook_sparse_dense.py
Due: none

Add Python interface to CoordinateValueFilters
  apis/python/setup.py
  apis/python/src/tiledbsoma/_coordinate_selection.py
  apis/python/src/tiledbsoma/coordinate_selection.cc
  apis/python/src/tiledbsoma/pytiledbsoma.cc
Due: python_api

Add delete platform config
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/options/__init__.py
  apis/python/src/tiledbsoma/options/_tiledb_create_write_options.py
Due: python_api

Update r-valgrind.yaml to install all suggested packages (#4195)
  .github/workflows/r-valgrind.yaml
Due: none

Add errors for delete on DenseNDArray and GeometryDataFrame
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
Due: python_api

Add delete_cells to SOMA array-backed objects
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
Due: python_api

Add error style guide to policies
  dev_docs/POLICIES.md
Due: none

Fix type check for index columns in dataframe
  apis/python/src/tiledbsoma/_dataframe.py
Due: python_api

Remove stray enable_if
  libtiledbsoma/src/tiledb_adapter/value_filter.h
Due: none

autoupdate all pre-commit repos
  .pre-commit-config.yaml
Due: none

add Ruff ERA rule
  apis/python/pyproject.toml
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_funcs.py
  apis/python/src/tiledbsoma/io/conversions.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/io/outgest.py
  apis/python/src/tiledbsoma/io/shaping.py
  apis/python/src/tiledbsoma/options/_tiledb_create_write_options.py
Due: python_api

Upgrading the xcode-pinned-version in CI
  .github/workflows/python-ci-packaging.yml
  .github/workflows/python-ci-single.yml
  .github/workflows/python-dependency-variation.yml
  .github/workflows/python-packaging.yml
  .github/workflows/python-remote-storage.yml
Due: none

small ctx already in use gc and deletions limiting used mem
  apis/python/tests/test_soma_experiment_versions.py
Due: none

pre-commit fixes
  apis/python/tests/test_soma_experiment_versions.py
Due: none

Condtional xcode-version for packaging
  .github/workflows/python-packaging.yml
Due: none

Fix type check for index columns in dataframe (#4197)
  apis/python/src/tiledbsoma/_dataframe.py
Due: python_api

Deprecate macos-13
  .github/workflows/python-packaging.yml
Due: none

Make r-valgrind only manual trigger
  .github/workflows/r-valgrind.yaml
Due: none

Don't run coverage on push - just on pull request
  .github/workflows/test-coverage.yaml
Due: none

Switch libtiledb coverage to use ubuntu instead of macos
  .github/workflows/libtiledb-ci.yml
Due: none

Refine paths for libtiledb-ci and tiledbsoma-asan-ci
  .github/workflows/libtiledb-ci.yml
  .github/workflows/libtiledbsoma-asan-ci.yml
Due: none

Add init buffer bytes to libtiledbsoma env
  .github/workflows/libtiledb-ci.yml
Due: none

Remove libtiledbsoma tests from Python runner (tested separately)
  .github/workflows/python-ci-single.yml
Due: none

Make python packaging test manual only
  .github/workflows/python-ci-packaging.yml
Due: none

Remove Python dependency variation checks from PRs
  .github/workflows/python-dependency-variation.yml
Due: none

Roll-back change to macos runner size
  .github/workflows/python-packaging.yml
Due: none

Pin different versions of xcode depending on macos version
  .github/workflows/python-packaging.yml
Due: none

Remove macos checks from Ubuntu-only ci
  .github/workflows/python-dependency-variation.yml
  .github/workflows/python-remote-storage.yml
Due: none

Fix macos-15 xcode version
  .github/workflows/python-packaging.yml
Due: none

Garbage collection
  apis/python/tests/test_experiment_query.py
Due: none

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
