Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

Correct typing
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
Due: python_api

Revert C++20 changes
  apis/python/setup.py
  apis/python/src/tiledbsoma/fastercsx.cc
  apis/r/configure
  apis/r/inst/AUTHORS
  apis/r/src/Makevars.in
  libtiledbsoma/CMakeLists.txt
  libtiledbsoma/README.md
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/cli/cli.cc
  libtiledbsoma/src/external/include/span/span.hpp
  libtiledbsoma/src/reindexer/reindexer.cc
  libtiledbsoma/src/soma/array_buffers.cc
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_context.cc
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/fastercsx.h
  libtiledbsoma/src/utils/util.cc
  libtiledbsoma/src/utils/util.h
  libtiledbsoma/src/utils/version.cc
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_geometry_dataframe.cc
  libtiledbsoma/test/unit_soma_point_cloud_dataframe.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

Revert C++20 changes (#3389)
  apis/python/setup.py
  apis/python/src/tiledbsoma/fastercsx.cc
  apis/r/configure
  apis/r/inst/AUTHORS
  apis/r/src/Makevars.in
  libtiledbsoma/CMakeLists.txt
  libtiledbsoma/README.md
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/cli/cli.cc
  libtiledbsoma/src/external/include/span/span.hpp
  libtiledbsoma/src/reindexer/reindexer.cc
  libtiledbsoma/src/soma/array_buffers.cc
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_context.cc
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/fastercsx.h
  libtiledbsoma/src/utils/util.cc
  libtiledbsoma/src/utils/util.h
  libtiledbsoma/src/utils/version.cc
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_geometry_dataframe.cc
  libtiledbsoma/test/unit_soma_point_cloud_dataframe.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

Add unit tests
  apis/python/tests/test_context.py
Due: none

ExperimentAxisQuery - to_anndata obsp/varp as sparse matrices (#3387)
  apis/python/src/tiledbsoma/_query.py
  apis/python/src/tiledbsoma/io/outgest.py
  apis/python/tests/test_experiment_query.py
Due: python_api

lint
  apis/python/tests/test_context.py
Due: none

[python] Re-introduce `tiledb_ctx` for `SOMATileDBContext` (#3335)
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
  apis/python/src/tiledbsoma/soma_context.cc
  apis/python/tests/test_context.py
Due: python_api

Add concrete class wrapper for indexable geometry column
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
Due: libtiledbsoma

Misc fixes
  libtiledbsoma/src/soma/soma_attribute.h
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/src/soma/soma_geometry_column.h
Due: libtiledbsoma

Add concrete class wrapper for TileDB dimension
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
Due: libtiledbsoma

Remove fmt::format
  libtiledbsoma/src/soma/soma_column.h
Due: libtiledbsoma

Add helper methods for to and from arrow contructs
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Remove unneeded methods and member variables
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_column.h
Due: libtiledbsoma

Add minimal testing for dimensions
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/common.h
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Add concrete class wrapper for TileDB attribute
  libtiledbsoma/src/soma/soma_attribute.cc
  libtiledbsoma/src/soma/soma_attribute.h
Due: libtiledbsoma

SOMAColumn abstract class definition
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_column.h
Due: libtiledbsoma

Convert float to string before calling std::format
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

remove to_string calls [skip ci]
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Do not export soma column [skip ci]
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Add read test case
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Add missing `override`
  libtiledbsoma/src/soma/soma_attribute.h
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/src/soma/soma_geometry_column.h
Due: libtiledbsoma

Add virtual destructor [skip ci]
  libtiledbsoma/src/soma/soma_column.h
Due: libtiledbsoma

Remove current_domain flag
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Replace string with string_view
  libtiledbsoma/src/soma/soma_attribute.h
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/src/soma/soma_geometry_column.h
Due: libtiledbsoma

Bump min macos version (Remove commit after merging 3361)
  apis/python/setup.py
Due: none

Migrate SOMAArray to use SOMAColumn
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_attribute.cc
  libtiledbsoma/src/soma/soma_attribute.h
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Fix vector to span conversion
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_attribute.cc
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
Due: libtiledbsoma

Add support for exporting to SpatialData without transform
  apis/python/src/tiledbsoma/io/spatial/outgest.py
  apis/python/tests/test_export_multiscale_image.py
  apis/python/tests/test_export_point_cloud_dataframe.py
Due: python_api

Add story context to TODO item
  libtiledbsoma/src/soma/soma_scene.cc
Due: libtiledbsoma

Update docstrings
  apis/python/src/tiledbsoma/io/spatial/outgest.py
Due: python_api

[python] Update Scene create method in the Python API (#3356)
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/tests/test_scene.py
  libtiledbsoma/src/soma/soma_scene.cc
  libtiledbsoma/src/soma/soma_scene.h
Due: python_api, libtiledbsoma

[ci] Replace CXX17FLAGS with CXX20FLAGS
  .github/workflows/r-ci.yml
Due: none

[python] Add support for exporting to SpatialData without transform (#3392)
  apis/python/src/tiledbsoma/io/spatial/outgest.py
  apis/python/tests/test_export_multiscale_image.py
  apis/python/tests/test_export_point_cloud_dataframe.py
Due: python_api

Update test case
  apis/python/tests/test_basic_spatialdata_io.py
Due: none

Add to_spatial_data to __all__ in io.spatial
  apis/python/src/tiledbsoma/io/spatial/__init__.py
Due: python_api

(WIP) Work on export for SOMAExperiment to SpatialData
  apis/python/src/tiledbsoma/io/spatial/outgest.py
  apis/python/tests/test_basic_spatialdata_io.py
Due: python_api

Add SpatialData exporter with only tables implemented
  apis/python/src/tiledbsoma/io/spatial/outgest.py
  apis/python/tests/test_basic_spatialdata_io.py
Due: python_api

Add ability to filter on scene names
  apis/python/src/tiledbsoma/io/spatial/outgest.py
Due: python_api

[ci] Replace CXX17FLAGS with CXX20FLAGS (#3393)
  .github/workflows/r-ci.yml
Due: none

Fix after rebase
  apis/python/src/tiledbsoma/io/spatial/outgest.py
Due: python_api
