Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Also construct_member in SOMACollectionBase
  apis/r/R/SOMACollectionBase.R
Due: none

fix bad test
  apis/python/tests/ht/test_ht_io_anndata.py
Due: none

fix bad test (#4002)
  apis/python/tests/ht/test_ht_io_anndata.py
Due: none

Minimal change for segv-avoidance
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

Unit-test cases
  apis/python/tests/test_dataframe.py
Due: none

[c++] Trivial method-order rearrange
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

one more spelling uniformization
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

iterating
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

finalize unit-test cases; next: simplify and eludicate
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

neaten
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

prep for code-dedupe
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

more prep for code-deduping
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

continuing
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

[c++] Trivial method-order rearrange (#3996)
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

complete dedupe
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

add some comment material
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

add bool-valued tests
  apis/python/tests/test_dataframe.py
Due: none

apis/python/example-scripts/ingest_h5ads.py
  apis/python/example-scripts/ingest_h5ads.py
Due: none

cr
  apis/python/src/tiledbsoma/_dask/load.py
  apis/python/src/tiledbsoma/_dask/util.py
Due: python_api

`tutorial_scanpy_pca_dask` updates
  apis/python/notebooks/tutorial_scanpy_pca_dask.ipynb
Due: none

apis/python/example-scripts/ingest_h5ads.py (#4006)
  apis/python/example-scripts/ingest_h5ads.py
Due: none

space/time tradeoff
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

revert previous
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

Apply suggestions from code review
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

code-review feedback, and fix an error from another suggestion
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

[python] Improve null-index handling in Arrow dictionaries (#3992)
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

[c++,python] Pass timestamp when creating `ArraySchema`
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_sparse_nd_array.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Use correct clang-format version
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Apply PRs 3958 and 4001
  apis/python/src/tiledbsoma/soma_array.cc
Due: python_api

Permutate relevant fragment list based on non emprty domain sorting
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Add randomized overlap nnz test
  libtiledbsoma/test/unit_soma_array.cc
Due: none

Fix spelling
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

[c++] Optimize `nnz` computation (#3898)
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
