Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

Remove checks for TileDB ABCs
  apis/r/R/SOMAArrayBase.R
  apis/r/R/SOMACollectionBase.R
  apis/r/R/ephemeral.R
  apis/r/R/utils.R
Due: none

Change reopen to act on the existing object
  apis/python/HISTORY.md
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/tests/_util.py
  apis/python/tests/ht/_array_state_machine.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_experiment_basic.py
  apis/python/tests/test_reopen.py
  apis/python/tests/test_sparse_nd_array.py
Due: python_api

Fixes `tiledbsoma.create` to support GeometryDataFrame
  apis/python/src/tiledbsoma/_factory.py
Due: python_api

Fix bad import
  apis/python/tests/test_reopen.py
Due: none

Remove reopen test from test_collection checking old behavior
  apis/python/tests/test_collection.py
Due: none

update python-dockers assignees
  .github/workflows/python-dockers.yml
Due: none

Fix `python-uv` build: pin `scanpy>=1.11`
  docker/python-uv.dockerfile
Due: none

Update docs
  apis/python/HISTORY.md
  apis/python/src/tiledbsoma/options/_tiledb_create_write_options.py
Due: python_api

Remove unused property
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

[c++,python] Add `ManagedQuery.submit_batch` for global-order write (#3983)
  apis/python/HISTORY.md
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_soma_array.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/managed_query.cc
  apis/python/src/tiledbsoma/options/_tiledb_create_write_options.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_point_cloud_dataframe.py
  apis/python/tests/test_soma_array.py
  apis/python/tests/test_sparse_nd_array.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/test/unit_soma_array.cc
Due: python_api, libtiledbsoma

Fix reopen change to update group contents
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/tests/test_reopen.py
Due: python_api

[python] Fix / Update `python-uv` docker CI build (#4111)
  .github/workflows/python-dockers.yml
  docker/python-uv.dockerfile
Due: none

Update CHANGELOG and R dev version
  apis/python/HISTORY.md
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

Fix undocumented reopen behavior in Python (#4106)
  apis/python/HISTORY.md
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_group.cc
  apis/python/tests/_util.py
  apis/python/tests/ht/_array_state_machine.py
  apis/python/tests/test_collection.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_experiment_basic.py
  apis/python/tests/test_reopen.py
  apis/python/tests/test_sparse_nd_array.py
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
Due: python_api, libtiledbsoma

Fix R dev version change
  apis/r/DESCRIPTION
Due: none

Update C++ exists methods to use SOMAArray _exists method
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_geometry_dataframe.cc
  libtiledbsoma/src/soma/soma_geometry_dataframe.h
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.cc
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
Due: libtiledbsoma

[python] skip obs axis read-back when appending known unique observations to Experiment (#4108)
  apis/python/HISTORY.md
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Update apis/python/HISTORY.md
  apis/python/HISTORY.md
Due: none

Prepare for 1.18.0rc0 (#4113)
  apis/python/HISTORY.md
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

Set R version to 1.18.0
  apis/r/DESCRIPTION
Due: none

Update C++ exists methods to use SOMAArray _exists method (#4115)
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_geometry_dataframe.cc
  libtiledbsoma/src/soma/soma_geometry_dataframe.h
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.cc
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
Due: libtiledbsoma

Add delete mode to OpenMode enum
  libtiledbsoma/src/soma/enums.h
Due: libtiledbsoma

Add delete mode to C++ SOMAArray and SOMAGroup
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/test/test_soma_object_basics.cc
Due: libtiledbsoma

Make SOMAArray copy constructor default
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

Try casting directly to Arrow and using `SOMASparseNDArray$.write_coordinates()`
  apis/r/R/write_soma.R
Due: none

Move C++ tests
  libtiledbsoma/test/test_soma_object_basics.cc
Due: none

Rename OpenMode enums to include `soma_` prefix
  libtiledbsoma/src/cli/cli.cc
  libtiledbsoma/src/soma/enums.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_experiment.cc
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_measurement.cc
  libtiledbsoma/src/soma/soma_scene.cc
  libtiledbsoma/test/test_soma_object_basics.cc
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_column.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_geometry_dataframe.cc
  libtiledbsoma/test/unit_soma_group.cc
  libtiledbsoma/test/unit_soma_multiscale_image.cc
  libtiledbsoma/test/unit_soma_point_cloud_dataframe.cc
  libtiledbsoma/test/unit_soma_scene.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

Add delete mode to rcpp
  apis/r/src/arrow.cpp
  apis/r/src/groups.cpp
  apis/r/src/metadata.cpp
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
  apis/r/src/soma.cpp
Due: none

Add policies around format changes
  dev_docs/POLICIES.md
Due: none

Add C++ delete mode to Python clib
  .pre-commit-config.yaml
  apis/python/setup.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/tests/test_dataframe.py
Due: python_api

Update dev_docs/POLICIES.md
  dev_docs/POLICIES.md
Due: none

Add R implementation details
  dev_docs/POLICIES.md
Due: none

Check for null bytes in column name
  apis/python/src/tiledbsoma/_dataframe.py
Due: python_api
