Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

Correct formatting in update_var docstring
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Add see also references in update_obs/var docstrings
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Improve structure and readability of register_h5ads docstrings
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Match descriptions for both register_ functions
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

further reduction in test memory use
  apis/python/tests/conftest.py
Due: none

refine error handling and unit tests for same
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/tests/test_experiment_axis_delete.py
Due: python_api

lint
  apis/python/tests/conftest.py
Due: none

improve handling of intermittent errors
  apis/python/src/tiledbsoma/_experiment.py
Due: python_api

fix typo in pytest mark
  apis/python/tests/test_experiment_axis_delete.py
Due: none

enable Ruff PD rule
  apis/python/pyproject.toml
  apis/python/src/tiledbsoma/io/conversions.py
  apis/python/src/tiledbsoma/io/spatial/_spatialdata_util.py
  apis/python/src/tiledbsoma/io/spatial/ingest.py
Due: python_api

enable Ruff NPY rule
  apis/python/pyproject.toml
Due: none

add Ruff rule PERF
  apis/python/pyproject.toml
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/io/shaping.py
  apis/python/tests/_util.py
Due: python_api

backport test concurency change
  apis/python/tests/conftest.py
Due: none

use small context to reduce memory usage in CI
  apis/python/tests/test_registration_mappings.py
Due: none

enable Ruff rule FLY
  apis/python/pyproject.toml
Due: none

enable Ruff rule PTH
  apis/python/devtools/ingestor
  apis/python/devtools/outgestor
  apis/python/example-scripts/ingest_h5ads.py
  apis/python/pyproject.toml
  apis/python/remote_tests/util.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/io/spatial/ingest.py
  apis/python/src/tiledbsoma/io/update_uns.py
  apis/python/tests/test_aaa_setup.py
  apis/python/tests/test_collection.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_experiment_query.py
  apis/python/tests/test_from_visium.py
  apis/python/tests/test_query_condition.py
  apis/python/tests/test_registration_mappings.py
  apis/python/tests/test_soma_array.py
  apis/python/tests/test_soma_experiment_versions.py
  apis/python/version.py
  profiler/src/profiler/data.py
  profiler/src/profiler/profiler.py
  scripts/update-tiledb-version.py
Due: python_api

add comment with other candidate rules
  apis/python/pyproject.toml
Due: none

Move filter list construction to platform config file
  libtiledbsoma/src/tiledb_adapter/platform_config.cc
  libtiledbsoma/src/tiledb_adapter/platform_config.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

PR f/b
  apis/python/src/tiledbsoma/_experiment.py
Due: python_api

Move filter list construction to platform config file (#4217)
  libtiledbsoma/src/tiledb_adapter/platform_config.cc
  libtiledbsoma/src/tiledb_adapter/platform_config.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

silently filter joinids out of domain/shape
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/tests/test_experiment_axis_delete.py
Due: python_api

[python] add axis delete to Experiment (#4215)
  apis/python/HISTORY.md
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/tests/test_experiment_axis_delete.py
Due: python_api

return Arrow tables with dictionary of large_string, rather than string
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Move initial ArraySchema creation to platform config file
  libtiledbsoma/src/tiledb_adapter/platform_config.cc
  libtiledbsoma/src/tiledb_adapter/platform_config.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Remove no longer used arrow utils helper functions
  apis/r/R/utils-arrow.R
Due: none

Move initial ArraySchema creation to platform config file (#4221)
  libtiledbsoma/src/tiledb_adapter/platform_config.cc
  libtiledbsoma/src/tiledb_adapter/platform_config.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

disable expect_no_condition
  apis/r/tests/testthat/test-14-SeuratOutgest-command.R
Due: none

Remove no longer used arrow utils helper functions (#4222)
  apis/r/R/utils-arrow.R
Due: none

Make new constructor for SOMADimension
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/src/tiledb_adapter/platform_config.h
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/test/test_platform_config.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

concurrency safe monkey patch for AnnData IO path
  apis/python/src/tiledbsoma/io/_util.py
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

add changelog entry
  apis/python/HISTORY.md
Due: none

update docstring for register_anndatas function
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

update register_h5ads docstring for supported workflows
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

update register_h5ads docstring for clarity
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

[python] concurrency safe monkey patch for AnnData IO path (#4223)
  apis/python/HISTORY.md
  apis/python/src/tiledbsoma/io/_util.py
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

Re-organize CI names and flow
  .github/workflows/R-CMD-check.yaml
  .github/workflows/ci-full.yml
  .github/workflows/ci-pr-python.yml
  .github/workflows/ci-pr-r.yml
  .github/workflows/ci-r-python-interop.yml
  .github/workflows/daily-python-dockers-issue-template.md
  .github/workflows/daily-python-packaging-issue-template.md
  .github/workflows/python-dockers.yml
  .github/workflows/python-packaging.yml
  .github/workflows/test-python.yml
  .github/workflows/test-r.yml
Due: none
