Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

Update github actions to include spatial branch in testing
  .github/workflows/libtiledb-ci.yml
  .github/workflows/python-ci-full.yml
  .github/workflows/python-ci-minimal.yml
  .github/workflows/r-ci.yml
  .github/workflows/r-python-interop-testing.yml
Due: none

Add experimental ingestor for Visium data
  apis/python/setup.py
  apis/python/src/tiledbsoma/experimental/__init__.py
  apis/python/src/tiledbsoma/experimental/ingest.py
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

[python][spatial] Implement Scene class in Python (#2485)
  .github/workflows/python-ci-packaging.yml
  .pre-commit-config.yaml
  apis/python/setup.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/experimental/ingest.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_experiment_basic.py
  libtiledbsoma/src/soma/soma_experiment.cc
  libtiledbsoma/src/soma/soma_experiment.h
Due: python_api, libtiledbsoma

Update scene component names (again)
  .pre-commit-config.yaml
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

Update scene component names
  .pre-commit-config.yaml
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

[r] Prep for 1.11.0 (#2553)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

(WIP) Update ingest to use coordinate system metadata
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

Add coordinate transform classes
  .pre-commit-config.yaml
  apis/python/src/tiledbsoma/_coordinates.py
  apis/python/src/tiledbsoma/_scene.py
Due: python_api

Modify coordinate system related prototypes
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_coordinates.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/tests/test_coordinates.py
Due: python_api

cli-147-1083
  articles/soma-experiment-queries.html
  articles/soma-objects.html
  articles/soma-reading.html
  pkgdown.yml
  search.json
Due: none

Update somacore version for Python API and pre-commit
  .pre-commit-config.yaml
  apis/python/setup.py
Due: none

[r] tiledbsoma 1.11.1
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[r] tiledbsoma 1.11.1 (#2558)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

Fix typo in somacore branch name
  apis/python/setup.py
Due: none

Fix typo in the branch name used to install somacore
  apis/python/setup.py
Due: none

Fix typo in import
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

Add minor typo related bug fixes (#2559)
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

doc build improvements
  .readthedocs.yml
  apis/python/version.py
  doc/README.md
  doc/build.sh
  doc/local-build.sh
Due: none

rtd: unshallow clone
  .readthedocs.yml
Due: none

[c++] Allow `row-major` and `col-major`
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

[c++] Allow `row-major` and `col-major` (#2561)
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

[c++/python] Allow global writes for sparse arrays
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/options/_tiledb_create_options.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/tests/test_sparse_nd_array.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: python_api, libtiledbsoma

[python] Document build improvements, unshallow clone (fix dev builds) (#2560)
  .readthedocs.yml
  apis/python/version.py
  doc/README.md
  doc/build.sh
  doc/local-build.sh
Due: none

`version.py` nits: `err`, `with open`
  apis/python/version.py
Due: none

`version.py`: calver fallback
  apis/python/version.py
Due: none

`version.py`: generate better version numbers (based on most recent release tag)
  .readthedocs.yml
  apis/python/setup.py
  apis/python/version.py
Due: none

[c++][python] `PlatformConfig` refactoring
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_experiment.cc
  libtiledbsoma/src/soma/soma_experiment.h
  libtiledbsoma/src/soma/soma_measurement.cc
  libtiledbsoma/src/soma/soma_measurement.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

Correct validity filters input
  apis/python/src/tiledbsoma/_util.py
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: python_api, libtiledbsoma

Add all necessary features and fixes but need to correct python typing
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/options/_tiledb_create_options.py
  apis/python/tests/test_platform_config.py
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: python_api, libtiledbsoma

Add nlohmann/json.hpp for json parsing
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/external/include/nlohmann/json.hpp
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

[WIP] Basic json parsing for offset and validity filters (no options)
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: python_api, libtiledbsoma

Correct typeguard issues
  apis/python/src/tiledbsoma/options/_tiledb_create_options.py
Due: python_api

Add missing attribute binding for `dense_nd_array_dim_zstd_level`
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: python_api, libtiledbsoma

Replace another pipe to comma
  apis/python/src/tiledbsoma/_util.py
Due: python_api

Use string filter names as listed by core
  apis/python/src/tiledbsoma/_util.py
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: python_api, libtiledbsoma

Parse filter options; modularize filter list building code
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/options/_tiledb_create_options.py
  apis/python/tests/test_platform_config.py
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: python_api, libtiledbsoma
