Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

Rename _index_util.py -> _indexer.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_indexer.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/tests/test_indexer.py
Due: python_api

Remove unused parameter in tiledbsoma_build_index
  apis/python/src/tiledbsoma/_indexer.py
Due: python_api

Add IntIndex object for reindexing
  .pre-commit-config.yaml
  apis/python/setup.py
  apis/python/src/tiledbsoma/_indexer.py
  apis/python/src/tiledbsoma/reindexer.cc
Due: python_api

Replace tiledbsoma_build_index with direct use of IntIndex
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_indexer.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/tests/test_indexer.py
  apis/python/tests/test_reindexer_api.py
Due: python_api

[c++] Use std::future::get() instead of ::wait()
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

[c++] Use std::future::get() instead of ::wait() (#2320)
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

Partial reversal of schema format assignment
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

WIP add platform config in C++
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_experiment.cc
  libtiledbsoma/src/soma/soma_experiment.h
  libtiledbsoma/src/soma/soma_measurement.cc
  libtiledbsoma/src/soma/soma_measurement.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: python_api, libtiledbsoma

[python/ci] Trigger CI on clean `main`
  apis/python/tests/test_dataframe.py
Due: none

test
  .github/workflows/python-ci-minimal.yml
Due: none

Address PR feedback
  apis/python/src/tiledbsoma/_indexer.py
  apis/python/src/tiledbsoma/reindexer.cc
  apis/python/tests/test_reindexer_api.py
  libtiledbsoma/src/reindexer/reindexer.h
Due: python_api

Fix type error in python 3.8
  apis/python/src/tiledbsoma/_indexer.py
Due: python_api

lint
  apis/python/tests/test_dataframe.py
Due: none

WIP
  apis/python/src/tiledbsoma/_dataframe.py
  libtiledbsoma/src/soma/managed_query.cc
Due: python_api, libtiledbsoma

Add brackets
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

[python] Implement `IntIndexer` as class that wraps around `clib.IntIndexer` (#2310)
  .pre-commit-config.yaml
  apis/python/setup.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_index_util.py
  apis/python/src/tiledbsoma/_indexer.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/reindexer.cc
  apis/python/tests/test_indexer.py
  apis/python/tests/test_reindexer_api.py
  libtiledbsoma/src/reindexer/reindexer.h
Due: python_api

[c++] Fix display of Arrow schema for enum of `bytes` datatype (#2305)
  .github/workflows/python-ci-minimal.yml
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

[python/ci] Typofix from #2305
  .github/workflows/python-ci-minimal.yml
Due: none

merge
  .pre-commit-config.yaml
  apis/python/setup.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_index_util.py
  apis/python/src/tiledbsoma/_indexer.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/reindexer.cc
  apis/python/tests/test_indexer.py
  apis/python/tests/test_reindexer_api.py
  libtiledbsoma/src/reindexer/reindexer.h
Due: python_api

[r] Bump `DESCRIPTION` version for `main` past 1.9
  apis/r/DESCRIPTION
Due: none

[r] R version for `release-1.9` branch
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[python/ci] Typofix from #2305 (#2326)
  .github/workflows/python-ci-minimal.yml
Due: none

use typeguard>=4.2, fixup some type checks
  apis/python/requirements_dev.txt
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
Due: python_api

use requirements_dev.txt in CI, setup.py
  .github/workflows/python-ci-single.yml
  .github/workflows/r-python-interop-testing.yml
  apis/python/requirements_dev.txt
  apis/python/setup.py
Due: none

cr feedback: `_UNSET`/`_Unset` sentinel value/type
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
Due: python_api

[r] Bump `DESCRIPTION` version for `main` past 1.9 (#2328)
  apis/r/DESCRIPTION
Due: none

[r] R version for `release-1.9` branch (#2329)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[python/ci] `typeguard==4.2.1`, make `requirements_dev.txt` canonical (#2314)
  .github/workflows/python-ci-single.yml
  .github/workflows/r-python-interop-testing.yml
  apis/python/requirements_dev.txt
  apis/python/setup.py
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
Due: python_api

merge
  .github/workflows/python-ci-single.yml
  .github/workflows/r-python-interop-testing.yml
  apis/python/requirements_dev.txt
  apis/python/setup.py
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
Due: python_api

update for core 2.20
  apis/python/tests/test_experiment_query.py
Due: none

[python/ci] Attempt to unbreak wheel build
  apis/python/setup.py
Due: none

[Backport release-1.8] [python/ci] `typeguard==4.2.1`, make `requirements_dev.txt` canonical (#2333)
  .github/workflows/python-ci-single.yml
  .github/workflows/r-python-interop-testing.yml
  apis/python/requirements_dev.txt
  apis/python/setup.py
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
  apis/python/tests/test_experiment_query.py
Due: python_api

debug
  apis/python/setup.py
Due: none

advice from @nguyenv
  apis/python/MANIFEST.in
  apis/python/setup.py
Due: none
