Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Cleanup five: Replace remaining tiledb::tiledb_object_type
  apis/r/R/TileDBGroup.R
  apis/r/R/datasets.R
  apis/r/R/ephemeral.R
Due: none

Scafolding for geometry dataframe
  apis/python/setup.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_constants.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/soma_geometry_dataframe.cc
  apis/python/src/tiledbsoma/soma_object.cc
  apis/python/tests/test_dev.py
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/soma_geometry_dataframe.cc
  libtiledbsoma/src/soma/soma_geometry_dataframe.h
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/soma/soma_spatial_dataframe.cc
  libtiledbsoma/src/soma/soma_spatial_dataframe.h
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/test/dev.cc
Due: python_api, libtiledbsoma

Cleanup six: Remove an unnecessary soma_context argument
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMADenseNDArray.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/R/ephemeral.R
  apis/r/src/riterator.cpp
Due: none

Cleanup seven: Remove an unnecessary soma_context setter
  apis/r/R/SOMANDArrayBase.R
Due: none

Roll micro version, update NEWS [ci skip]
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[r,c++] Use SOMA Context object throughout (#2997)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/R/Factory.R
  apis/r/R/Init.R
  apis/r/R/RcppExports.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMADenseNDArray.R
  apis/r/R/SOMANDArrayBase.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/R/TileDBArray.R
  apis/r/R/TileDBGroup.R
  apis/r/R/TileDBObject.R
  apis/r/R/datasets.R
  apis/r/R/ephemeral.R
  apis/r/R/soma_array_reader.R
  apis/r/R/utils.R
  apis/r/src/RcppExports.cpp
  apis/r/src/arrow.cpp
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
  apis/r/tests/testthat/test-SOMAArrayReader-Iterated.R
  apis/r/tests/testthat/test-SOMASparseNDArray.R
  apis/r/tests/testthat/test-shape.R
Due: none

[python/r] Update ETA for new-shape feature
  apis/python/src/tiledbsoma/_common_nd_array.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
  apis/python/src/tiledbsoma/options/_tiledb_create_write_options.py
  apis/r/NEWS.md
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMANDArrayBase.R
  apis/r/R/TileDBArray.R
  apis/r/man/SOMADataFrame.Rd
  apis/r/man/SOMANDArrayBase.Rd
  apis/r/man/TileDBArray.Rd
Due: python_api

[python] Post-deprecation removal of `consolidate_and_vacuum` from `TileDBCreateOptions`
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/options/_tiledb_create_write_options.py
Due: python_api

[python/r] Update ETA for new-shape feature (#2998)
  apis/python/src/tiledbsoma/_common_nd_array.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
  apis/python/src/tiledbsoma/options/_tiledb_create_write_options.py
  apis/r/NEWS.md
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMANDArrayBase.R
  apis/r/R/TileDBArray.R
  apis/r/man/SOMADataFrame.Rd
  apis/r/man/SOMANDArrayBase.Rd
  apis/r/man/TileDBArray.Rd
Due: python_api

[python] Post-deprecation removal of `consolidate_and_vacuum` from `TileDBCreateOptions` (#3000)
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/options/_tiledb_create_write_options.py
Due: python_api

[c++] Centralize some `nanoarrow` helpers (#2994)
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

add py.typed to package
  other_packages/python/tiledbsoma_ml/pyproject.toml
  other_packages/python/tiledbsoma_ml/src/tiledbsoma_ml/py.typed
Due: none

add sparse support
  other_packages/python/tiledbsoma_ml/src/tiledbsoma_ml/pytorch.py
  other_packages/python/tiledbsoma_ml/tests/test_pytorch.py
Due: none

start draft of Ligtning notebook
  other_packages/python/tiledbsoma_ml/notebooks/tutorial_lightning.ipynb
Due: none

lint
  other_packages/python/tiledbsoma_ml/src/tiledbsoma_ml/pytorch.py
Due: none

update notebook for lightning
  other_packages/python/tiledbsoma_ml/notebooks/tutorial_lightning.ipynb
Due: none

run notebooks
  other_packages/python/tiledbsoma_ml/notebooks/tutorial_lightning.ipynb
  other_packages/python/tiledbsoma_ml/notebooks/tutorial_pytorch.ipynb
  other_packages/python/tiledbsoma_ml/src/tiledbsoma_ml/pytorch.py
Due: none

Remove if statement
  apis/python/src/tiledbsoma/_types.py
Due: python_api

[c++] Use core 2.26.1
  .github/workflows/python-ci-packaging.yml
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
  scripts/bld
Due: none

[c++/r] Fix `pkgdown` build errors
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

typofix [skip ci]
  scripts/bld
Due: none

[c++] Use core 2.26.1 (#3002)
  .github/workflows/python-ci-packaging.yml
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
Due: none

Export two missing symbols
  apis/python/src/tiledbsoma/__init__.py
Due: none

iterate on pyarrow unpin
  apis/python/setup.py
  apis/python/src/tiledbsoma/__init__.py
Due: none

[c++/r] Fix `pkgdown` build errors (#3003)
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

[python] Move temporary feature-flag into a module
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_flags.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_shape.py
  apis/python/tests/test_sparse_nd_array.py
Due: python_api

[r] Remove core version check
  apis/r/R/Init.R
Due: none

Remove spatial elements prior to ingest
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

code-review feedback
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_flags.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_shape.py
  apis/python/tests/test_sparse_nd_array.py
Due: python_api

code-review feedback
  apis/r/DESCRIPTION
  apis/r/R/Init.R
Due: none

Use local tempdir for intermediate spatial files
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

[r] Remove core version check (#3006)
  apis/r/DESCRIPTION
  apis/r/R/Init.R
Due: none

[python] Move temporary feature flag into a module (#3005)
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_flags.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_shape.py
  apis/python/tests/test_sparse_nd_array.py
Due: python_api

Add support for ragged assays
  apis/r/R/SOMADataFrame.R
  apis/r/R/utils-seurat.R
  apis/r/R/write_seurat.R
  apis/r/tests/testthat/test-SeuratIngest.R
Due: none

[r] Add `axis` checks when initializing a sparse blockwise read Add checks to ensure that `axis` is a valid axis when initializing a sparse blockwise read
  apis/r/R/SOMASparseNDArrayRead.R
Due: none

Update changelog Bump develop version
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
