Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

(WIP) Add 10x HDF5 matrix reader test
  apis/python/tests/test_10x_reader.py
Due: none

Finish first read 10x test and fix types
  apis/python/src/tiledbsoma/io/spatial/_util.py
  apis/python/tests/test_10x_reader.py
Due: python_api

Add additional test and fix typos in reader
  apis/python/src/tiledbsoma/io/spatial/_util.py
  apis/python/tests/test_10x_reader.py
Due: python_api

Remove `from_anndata` call in `from_visium`
  apis/python/src/tiledbsoma/io/spatial/ingest.py
Due: python_api

Clean-up from_visium changes
  apis/python/src/tiledbsoma/io/spatial/ingest.py
Due: python_api

Start using class for reading SpaceRanger matrix
  apis/python/src/tiledbsoma/io/spatial/ingest.py
Due: python_api

Remove AnnData deduplication step
  apis/python/src/tiledbsoma/io/spatial/ingest.py
Due: python_api

Add more obs/var checks to `from_visium` test
  apis/python/tests/test_from_visium.py
Due: none

[python/c++] Allow GOW multi-submit for single commit
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_soma_array.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/managed_query.cc
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/test/unit_soma_array.cc
Due: python_api, libtiledbsoma

[python] Update docs
  apis/python/src/tiledbsoma/_soma_array.py
Due: python_api

Formatting
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

Avoid running GHAs on changes to other GHAs
  .github/workflows/libtiledb-ci.yml
  .github/workflows/libtiledbsoma-asan-ci.yml
  .github/workflows/python-ci-minimal.yml
  .github/workflows/python-ci-packaging.yml
  .github/workflows/python-dependency-variation.yml
  .github/workflows/python-remote-storage.yml
  .github/workflows/r-python-interop-testing.yml
Due: none

Example Dockerfiles install from source / PyPI
  .github/workflows/libtiledb-ci.yml
  .github/workflows/libtiledbsoma-asan-ci.yml
  .github/workflows/python-ci-minimal.yml
  .github/workflows/python-dependency-variation.yml
  .github/workflows/python-dockers.yml
  .github/workflows/r-ci.yml
  .github/workflows/r-python-interop-testing.yml
  docker/README.md
  docker/langchain.dockerfile
  docker/pypi.dockerfile
  docker/src.dockerfile
Due: none

Update apis/python/src/tiledbsoma/_soma_array.py
  apis/python/src/tiledbsoma/_soma_array.py
Due: python_api

Review changes
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

[python] Show DataFrame `.count` in `show_experiment_shapes`
  apis/python/notebooks/tutorial_soma_append_mode.ipynb
  apis/python/notebooks/tutorial_soma_shape.ipynb
  apis/python/src/tiledbsoma/io/shaping.py
Due: python_api

[python] Show DataFrame `.count` in `show_experiment_shapes` (#3765)
  apis/python/notebooks/tutorial_soma_append_mode.ipynb
  apis/python/notebooks/tutorial_soma_shape.ipynb
  apis/python/src/tiledbsoma/io/shaping.py
Due: python_api

[r] Remove calls to `tiledb::tiledb_object_type()` (#3648)
  apis/r/tests/testthat/test-04-TileDBGroup.R
  apis/r/tests/testthat/test-06-SOMACollection.R
  apis/r/tests/testthat/test-06-SOMADenseNDArray.R
  apis/r/tests/testthat/test-06-SOMASparseNDArray.R
  apis/r/tests/testthat/test-11-example-datasets.R
Due: none

[r] Remove `TileDBURI` Custom Class (#3689)
  apis/r/DESCRIPTION
  apis/r/NAMESPACE
  apis/r/R/TileDBObject.R
  apis/r/R/TileDBURI.R
  apis/r/tests/testthat/test-04-TileDBURI.R
Due: none

[r] Remove `arrow_*_from_tiledb_*()` Helpers (#3646)
  apis/r/R/utils-arrow.R
  apis/r/tests/testthat/test-01-Arrow-utils.R
  apis/r/tests/testthat/test-11-OrderedAndFactor.R
Due: none

[r] Remove calls to `tiledb::tiledb_version()` (#3649)
  apis/r/R/utils-tiledb.R
  apis/r/R/zzz.R
  apis/r/tests/testthat/test-12-SOMAExperiment-query-base.R
Due: none

Extend outline trnasformer to transform muliple columns
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/transformer.cc
  libtiledbsoma/src/soma/soma_transformers.cc
  libtiledbsoma/src/soma/soma_transformers.h
  libtiledbsoma/test/unit_soma_geometry_dataframe.cc
Due: python_api, libtiledbsoma

geometry only xenium ingestion implementation
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/io/spatial/__init__.py
  apis/python/src/tiledbsoma/io/spatial/_util.py
  apis/python/src/tiledbsoma/io/spatial/ingest.py
  apis/python/tests/test_from_xenium.py
Due: python_api

[r] Replace tiledb-r with SOMA for test helper Replace tiledb-r with SOMA for test helper function to create an empty sparse nd-array
  apis/r/tests/testthat/helper-test-soma-objects.R
Due: none

Add transcript ingestion
  apis/python/src/tiledbsoma/io/spatial/ingest.py
Due: python_api

Run `pip check` in CI
  .github/workflows/python-ci-single.yml
Due: none

_fastercsx.Format
  apis/python/src/tiledbsoma/_fastercsx.py
  apis/python/tests/ht/test_ht_fastercsx.py
  apis/python/tests/test_fastercsx.py
Due: python_api

prototype Dask export
  apis/python/src/tiledbsoma/_dask/README.md
  apis/python/src/tiledbsoma/_dask/__init__.py
  apis/python/src/tiledbsoma/_dask/load.py
  apis/python/src/tiledbsoma/_dask/util.py
  apis/python/src/tiledbsoma/_query.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/io/outgest.py
  apis/python/tests/_util.py
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

tutorial-scanpy-pca-dask.ipynb
  apis/python/notebooks/img/dask-dashboard.png
  apis/python/notebooks/tutorial_scanpy_pca_dask.ipynb
  apis/python/src/tiledbsoma/_dask/README.md
  doc/source/notebooks/tutorial_scanpy_pca_dask.ipynb
  doc/source/tutorials.rst
Due: python_api

rm dead code
  apis/python/tests/test_dataframe.py
Due: none

tutorial-scanpy-pca-dask.ipynb
  apis/python/notebooks/tutorial-scanpy-pca-dask.ipynb
Due: none

disable GHAs (draft PR / not intended for merge)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/backport.yml
  .github/workflows/daily-remote-tests-issue-template.md
  .github/workflows/daily-test-build-issue-template.md
  .github/workflows/libtiledb-ci.yml
  .github/workflows/libtiledbsoma-asan-ci.yml
  .github/workflows/pkgdown.yaml
  .github/workflows/python-ci-full.yml
  .github/workflows/python-ci-minimal.yml
  .github/workflows/python-ci-packaging.yml
  .github/workflows/python-ci-single.yml
  .github/workflows/python-dependency-variation.yml
  .github/workflows/python-packaging.yml
  .github/workflows/python-remote-storage.yml
  .github/workflows/r-ci.yml
  .github/workflows/r-python-interop-testing.yml
  .github/workflows/r-valgrind.yaml
Due: none

dask.md
  apis/python/dask.md
  apis/python/top-allocs.py
Due: none

dask hvg stats
  apis/python/out/.gitignore
  apis/python/out/hvg/blood/100k_4x4x4.json
  apis/python/out/hvg/blood/100k_4x4x4.stats.json
  apis/python/out/hvg/heart/100k_1x1x1.json
  apis/python/out/hvg/heart/100k_1x1x1.stats.json
  apis/python/out/hvg/heart/100k_2x2x2.json
  apis/python/out/hvg/heart/100k_2x2x2.stats.json
  apis/python/out/hvg/heart/100k_2x8x4.json
  apis/python/out/hvg/heart/100k_2x8x4.stats.json
  apis/python/out/hvg/heart/100k_4x2x8.json
  apis/python/out/hvg/heart/100k_4x2x8.stats.json
  apis/python/out/hvg/heart/100k_4x4x4.json
  apis/python/out/hvg/heart/100k_4x4x4.stats.json
  apis/python/out/hvg/heart/100k_8x2x4.json
  apis/python/out/hvg/heart/100k_8x2x4.stats.json
  apis/python/out/hvg/lung/100k_1x1x1.json
  apis/python/out/hvg/lung/100k_1x1x1.stats.json
  apis/python/out/hvg/lung/100k_2x2x2.json
  apis/python/out/hvg/lung/100k_2x2x2.stats.json
  apis/python/out/hvg/lung/100k_4x4x4.json
  apis/python/out/hvg/lung/100k_4x4x4.stats.json
Due: none

`dsk.py`: profile/benchmark dask support
  apis/python/dsk.py
Due: none

dsk.py: support h5ads
  apis/python/dsk.py
Due: none

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
