Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

(WIP) Add tests for deleting values from a dataframe
  apis/python/tests/test_dataframe.py
Due: none

More garbage collection
  apis/python/tests/test_registration_mappings.py
Due: none

[c++] Add/clean-up delete cells in C++ (#4193)
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/common/soma_column_selection.h
  libtiledbsoma/src/soma/coordinate_value_filters.cc
  libtiledbsoma/src/soma/coordinate_value_filters.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.cc
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.h
  libtiledbsoma/src/tiledb_adapter/value_filter.cc
  libtiledbsoma/src/tiledb_adapter/value_filter.h
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/test/test_coordinate_value_filter.cc
  libtiledbsoma/test/test_soma_column_selection.cc
  libtiledbsoma/test/test_soma_query_condition.cc
  libtiledbsoma/test/test_value_filter.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

Macos-15 for smoke tests on arm-64
  .github/workflows/python-packaging.yml
Due: none

Macos-13 for smoke tests on x86-64
  .github/workflows/python-packaging.yml
Due: none

[HOTFIX] Upgrading the xcode-pinned-version in CI (#4203)
  .github/workflows/python-ci-packaging.yml
  .github/workflows/python-ci-single.yml
  .github/workflows/python-dependency-variation.yml
  .github/workflows/python-packaging.yml
  .github/workflows/python-remote-storage.yml
  apis/python/tests/test_experiment_query.py
  apis/python/tests/test_registration_mappings.py
  apis/python/tests/test_soma_experiment_versions.py
Due: none

autoupdate all pre-commit repos (#4201)
  .pre-commit-config.yaml
Due: none

[python] add Ruff ERA rule (#4202)
  apis/python/pyproject.toml
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_funcs.py
  apis/python/src/tiledbsoma/io/conversions.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/io/outgest.py
  apis/python/src/tiledbsoma/io/shaping.py
  apis/python/src/tiledbsoma/options/_tiledb_create_write_options.py
Due: python_api

Attempt to make historical test garbage collection more aggressive
  apis/python/tests/test_experiment_query.py
Due: none

Make historical test garbage collection more aggressive (#4206)
  apis/python/tests/test_experiment_query.py
Due: none

Add point cloud dataframe delete tests
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/coordinate_selection.cc
  apis/python/src/tiledbsoma/soma_point_cloud_dataframe.cc
  apis/python/tests/test_point_cloud_dataframe.py
Due: python_api

Add delete platform config
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/options/__init__.py
  apis/python/src/tiledbsoma/options/_tiledb_create_write_options.py
Due: python_api

Add delete_cells checks for different dim types
  apis/python/tests/test_dataframe.py
Due: none

Test for not implemented errors
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_geometry_dataframe.py
Due: none

Add delete_cells to SOMA array-backed objects
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
Due: python_api

Simplify DataFrame.delete_cells and fix coords type
  apis/python/src/tiledbsoma/_dataframe.py
Due: python_api

Add some timestamp delete cell tests
  apis/python/tests/test_dataframe.py
Due: none

Update HISTORY
  apis/python/HISTORY.md
Due: none

Clean-up coord selection and arrow array support
  apis/python/src/tiledbsoma/_coordinate_selection.py
  apis/python/src/tiledbsoma/coordinate_selection.cc
  apis/python/tests/test_dataframe.py
Due: python_api

Add tests for deleting values from a dataframe
  apis/python/tests/test_dataframe.py
Due: none

Add Python interface to CoordinateValueFilters
  apis/python/setup.py
  apis/python/src/tiledbsoma/_coordinate_selection.py
  apis/python/src/tiledbsoma/coordinate_selection.cc
  apis/python/src/tiledbsoma/pytiledbsoma.cc
Due: python_api

Add tests for deletes on floating point index columns
  apis/python/tests/test_point_cloud_dataframe.py
Due: none

Fix and add tests for SparseNDArray delete cells
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/tests/test_sparse_nd_array.py
Due: python_api

Add errors for delete on DenseNDArray and GeometryDataFrame
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
Due: python_api

Add PR number to HISTORY
  apis/python/HISTORY.md
Due: none

Remove TODO comment
  apis/python/HISTORY.md
Due: none

Fix typo in method name
  apis/python/src/tiledbsoma/options/_tiledb_create_write_options.py
Due: python_api

Allow error on soma type to be RuntimeError
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_point_cloud_dataframe.py
  apis/python/tests/test_sparse_nd_array.py
Due: none

Apply requested changes related to def singature and doc strings
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
Due: python_api

Add more tests
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_point_cloud_dataframe.py
  apis/python/tests/test_sparse_nd_array.py
Due: none

[python] Add python implementation for delete cells (#4205)
  apis/python/HISTORY.md
  apis/python/setup.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_coordinate_selection.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/coordinate_selection.cc
  apis/python/src/tiledbsoma/options/__init__.py
  apis/python/src/tiledbsoma/options/_tiledb_create_write_options.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_point_cloud_dataframe.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_geometry_dataframe.py
  apis/python/tests/test_point_cloud_dataframe.py
  apis/python/tests/test_sparse_nd_array.py
Due: python_api

Don't run coverage on push - just on pull request
  .github/workflows/test-coverage.yaml
Due: none

Switch libtiledb coverage to use ubuntu instead of macos
  .github/workflows/libtiledb-ci.yml
Due: none

Make r-valgrind only manual trigger
  .github/workflows/r-valgrind.yaml
Due: none

Refine paths for libtiledb-ci and tiledbsoma-asan-ci
  .github/workflows/libtiledb-ci.yml
  .github/workflows/libtiledbsoma-asan-ci.yml
Due: none

Remove Python dependency variation checks from PRs
  .github/workflows/python-dependency-variation.yml
Due: none

Make python packaging test manual only
  .github/workflows/python-ci-packaging.yml
Due: none

Simplify path specification in python CI
  .github/workflows/python-ci-full.yml
  .github/workflows/python-ci-minimal.yml
  .github/workflows/python-remote-storage.yml
Due: none

Remove libtiledbsoma tests from Python runner (tested separately)
  .github/workflows/python-ci-single.yml
Due: none

Add init buffer bytes to libtiledbsoma env
  .github/workflows/libtiledb-ci.yml
Due: none
