Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

Add first pass at ShapesModel export for PointCloudDataFrame
  apis/python/requirements_spatial.txt
  apis/python/src/tiledbsoma/experimental/_outgest_util.py
Due: python_api

Fix point cloud exporter
  apis/python/src/tiledbsoma/experimental/_outgest_util.py
Due: python_api

Rename new helper functions
  apis/python/src/tiledbsoma/experimental/outgest.py
Due: python_api

Add unit test
  apis/python/tests/test_export_point_cloud_dataframe.py
Due: none

Rename point cloud exporter function name
  apis/python/src/tiledbsoma/experimental/outgest.py
  apis/python/tests/test_export_point_cloud_dataframe.py
Due: python_api

Rename outgest file
  apis/python/src/tiledbsoma/experimental/outgest.py
Due: python_api

[python] Add export for `PointCloudDataFrame` to `SpatialData` shapes (#3298)
  apis/python/requirements_spatial.txt
  apis/python/src/tiledbsoma/experimental/outgest.py
  apis/python/tests/test_export_point_cloud_dataframe.py
Due: python_api

cleanup size-based value templating
  apis/python/setup.py
  apis/python/src/tiledbsoma/fastercsx.cc
Due: python_api

Load SOMAColumns on array open
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

Add way to access URI of multiscale image levels
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/tests/test_multiscale_image.py
Due: python_api

Add method to get level URI to ``MultiscaleImage``
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/tests/test_multiscale_image.py
Due: python_api

Update return for MultiscaleImage transform to/from level 0
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/tests/test_multiscale_image.py
Due: python_api

[python] Use new shape in one more spot
  apis/python/src/tiledbsoma/io/outgest.py
Due: python_api

[python] Add `MultiscaleImage` methods to access level URI (#3322)
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/tests/test_multiscale_image.py
Due: python_api

Update return for MultiscaleImage transform to/from level 0 (#3323)
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/tests/test_multiscale_image.py
Due: python_api

[r/python] Note on dev installs and `spdlog` failures
  apis/python/README.md
  apis/r/README.md
Due: none

update a test case
  apis/python/tests/test_basic_anndata_io.py
Due: none

[r/python] Note on dev installs and `spdlog` failures (#3324)
  apis/python/README.md
  apis/r/README.md
Due: none

[python] Use new shape in one more spot (#3321)
  apis/python/src/tiledbsoma/io/outgest.py
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

[r] Two more compile-time warnings
  apis/r/src/rinterface.cpp
  apis/r/src/rutilities.cpp
  libtiledbsoma/test/common.cc
Due: none

code-review feedback [skip ci]
  apis/r/src/rinterface.cpp
  apis/r/src/rutilities.cpp
Due: none

Rewrite Xarray support to use dask arrays
  apis/python/src/tiledbsoma/experimental/_xarray_backend.py
  apis/python/tests/test_basic_xarray_io.py
Due: python_api

[r] Address two more compiler warnings (#3320)
  apis/r/src/rinterface.cpp
  apis/r/src/rutilities.cpp
  libtiledbsoma/test/common.cc
Due: none

Fix template specialization for SOMAColumn, migrate domain queries to use SOMAColumn
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

cleanup
  apis/python/src/tiledbsoma/_fastercsx.py
  apis/python/src/tiledbsoma/fastercsx.cc
  libtiledbsoma/src/utils/fastercsx.h
Due: python_api, libtiledbsoma

Update xarray chunksize
  apis/python/src/tiledbsoma/experimental/_xarray_backend.py
  apis/python/tests/test_basic_xarray_io.py
Due: python_api

Migrate point range selection and column name selection to use SOMAColumn
  libtiledbsoma/src/soma/enums.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_attribute.cc
  libtiledbsoma/src/soma/soma_attribute.h
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/src/soma/soma_geometry_dimension.cc
  libtiledbsoma/src/soma/soma_geometry_dimension.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

[python] Rewrite Xarray support to use dask arrays (#3325)
  apis/python/src/tiledbsoma/experimental/_xarray_backend.py
  apis/python/tests/test_basic_xarray_io.py
Due: python_api

Add arrow schema exporter to each SOMAColumn subclass
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_attribute.cc
  libtiledbsoma/src/soma/soma_attribute.h
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/src/soma/soma_geometry_dimension.cc
  libtiledbsoma/src/soma/soma_geometry_dimension.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

[python] Run `pre-commit autoupdate`
  .pre-commit-config.yaml
Due: none

partition sparse array reads
  apis/python/src/tiledbsoma/io/outgest.py
Due: python_api

try to fix lint
  apis/python/notebooks/tutorial_exp_query.ipynb
  apis/python/notebooks/tutorial_soma_append_mode.ipynb
  apis/python/notebooks/tutorial_soma_objects.ipynb
  apis/python/notebooks/tutorial_soma_reading.ipynb
  apis/python/notebooks/tutorial_soma_shape.ipynb
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/src/tiledbsoma/_util.py
Due: python_api

clean up C++ namespace
  apis/python/src/tiledbsoma/fastercsx.cc
  libtiledbsoma/src/utils/fastercsx.h
Due: python_api, libtiledbsoma

revert cleanup on request
  .github/workflows/r-python-interop-testing.yml
Due: none

PR feedback (thanks John!)
  apis/python/setup.py
  apis/python/src/tiledbsoma/_fastercsx.py
  apis/python/tests/test_fastercsx.py
Due: python_api

[python] Run `pre-commit autoupdate` (#3326)
  .pre-commit-config.yaml
  apis/python/notebooks/tutorial_exp_query.ipynb
  apis/python/notebooks/tutorial_soma_append_mode.ipynb
  apis/python/notebooks/tutorial_soma_objects.ipynb
  apis/python/notebooks/tutorial_soma_reading.ipynb
  apis/python/notebooks/tutorial_soma_shape.ipynb
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/src/tiledbsoma/_util.py
Due: python_api

incorporate more PR fb
  apis/python/src/tiledbsoma/_fastercsx.py
  apis/python/src/tiledbsoma/fastercsx.cc
  apis/python/src/tiledbsoma/io/conversions.py
  apis/python/tests/test_fastercsx.py
  apis/python/tests/test_libfastercsx.py
  libtiledbsoma/src/utils/fastercsx.h
Due: python_api, libtiledbsoma

lint
  libtiledbsoma/src/utils/fastercsx.h
Due: libtiledbsoma

comments
  apis/python/src/tiledbsoma/_fastercsx.py
Due: python_api

PR f/b
  apis/python/src/tiledbsoma/io/outgest.py
Due: python_api
