Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Move ExperimentAxisQuery spatialdata generation to helper function
  apis/python/src/tiledbsoma/_query.py
  apis/python/src/tiledbsoma/io/spatial/_spatialdata_util.py
Due: python_api

Move spatialdata helper functions to new file
  apis/python/src/tiledbsoma/_query.py
  apis/python/src/tiledbsoma/io/spatial/_spatialdata_util.py
  apis/python/src/tiledbsoma/io/spatial/outgest.py
Due: python_api

[python] Fix memory usage in `nnz_slow`
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Replace `std::format` with `fmt::format`
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/soma_vfs.cc
  libtiledbsoma/src/cli/cli.cc
  libtiledbsoma/src/reindexer/reindexer.cc
  libtiledbsoma/src/reindexer/reindexer.h
  libtiledbsoma/src/soma/array_buffers.cc
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_attribute.cc
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_context.cc
  libtiledbsoma/src/soma/soma_coordinates.cc
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_dataframe.cc
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/soma/soma_transformers.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/src/utils/fastercsx.h
  libtiledbsoma/src/utils/util.cc
  libtiledbsoma/src/utils/version.cc
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_column.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_geometry_dataframe.cc
  libtiledbsoma/test/unit_soma_point_cloud_dataframe.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

Remove std::format flag
  libtiledbsoma/CMakeLists.txt
Due: none

add more versions to docker-build CI matrix
  .github/workflows/python-dockers.yml
  docker/README.md
  docker/bookworm.dockerfile
  docker/langchain.dockerfile
  docker/ubuntu-src.dockerfile
  docker/ubuntu.dockerfile
Due: none

add TODO about x86 macOS docker build test
  .github/workflows/python-dockers.yml
Due: none

[ci] Example Dockerfiles install from source / PyPI (#3763)
  .github/workflows/libtiledb-ci.yml
  .github/workflows/libtiledbsoma-asan-ci.yml
  .github/workflows/python-ci-minimal.yml
  .github/workflows/python-ci-packaging.yml
  .github/workflows/python-dependency-variation.yml
  .github/workflows/python-dockers.yml
  .github/workflows/python-remote-storage.yml
  .github/workflows/r-ci.yml
  .github/workflows/r-python-interop-testing.yml
  docker/README.md
  docker/bookworm.dockerfile
  docker/langchain.dockerfile
  docker/ubuntu-src.dockerfile
  docker/ubuntu.dockerfile
Due: none

[python] Fix memory usage in `nnz_slow` (#3789)
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

[ci] Test both MacOS architectures with `fmt::format`
  .github/workflows/r-ci.yml
Due: none

[python] Fix appending enumerations to older experiments
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_soma_experiment_versions.py
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

Fix unit test; use std::exception instead of TileDBError
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

[r] TileDB-SOMA 1.16.1
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

Update test
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_registration_mappings.py
Due: none

[r] TileDB-SOMA 1.16.1 (#3795)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[python] Fix `to_anndata` with no `X` (#3772)
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/io/outgest.py
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

[python,c++] Fix `SOMAArray::reopen` (#3775)
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/tests/test_sparse_nd_array.py
  libtiledbsoma/src/soma/soma_array.cc
Due: python_api, libtiledbsoma

[python] Cast object to child class in pybind11 `SOMAArray.reopen` (#3776)
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/tests/test_sparse_nd_array.py
Due: python_api

[c++] Fix appending enumerations to older experiments (#3794)
  apis/python/tests/test_registration_mappings.py
  apis/python/tests/test_soma_experiment_versions.py
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

[python] Cast object to child class in pybind11 `SOMAArray.reopen` (#3776) (#3798)
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/tests/test_sparse_nd_array.py
Due: python_api

Update spdlog and rcppspdlog, call spdlog directly in R API C++ files
  apis/r/DESCRIPTION
  apis/r/src/Makevars.in
  apis/r/src/groups.cpp
  apis/r/src/metadata.cpp
  apis/r/src/query_condition.cpp
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
  apis/r/src/rutilities.cpp
  apis/r/src/rutilities.h
  libtiledbsoma/cmake/Modules/FindSpdlog_EP.cmake
Due: none

Add period at end of sentance in doc string
  apis/python/src/tiledbsoma/io/spatial/_spatialdata_util.py
Due: python_api

Apply typo fixes from code review
  apis/python/tests/test_10x_reader.py
Due: none

Revert GCC requirements
  libtiledbsoma/CMakeLists.txt
Due: none

Relax min macos version requirement
  apis/python/setup.py
  apis/r/configure
  apis/r/src/Makevars.in
Due: none

[python] Unify `to_spatialdata` methods (#3780)
  apis/python/pyproject.toml
  apis/python/src/tiledbsoma/_query.py
  apis/python/src/tiledbsoma/io/spatial/_spatialdata_util.py
  apis/python/src/tiledbsoma/io/spatial/outgest.py
  apis/python/tests/test_basic_spatialdata_io.py
  apis/python/tests/test_experiment_query_spatial.py
  apis/python/tests/test_export_multiscale_image.py
  apis/python/tests/test_export_point_cloud_dataframe.py
  apis/python/tests/test_spatial_outgest_util.py
Due: python_api

Rename `_expand_ptr` -> `_expand_compressed_index_pointers`
  apis/python/src/tiledbsoma/io/spatial/_util.py
Due: python_api

Skip {testthat} test if SeuratObject is not installed
  apis/r/tests/testthat/test-13-write-soma-objects.R
Due: none

[r] Skip {testthat} test if SeuratObject is not installed (#3804)
  apis/r/tests/testthat/test-13-write-soma-objects.R
Due: none

count cell on overlapping region only
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

[c++] Extract `get_enumeration` helper
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/utils/util.cc
  libtiledbsoma/src/utils/util.h
Due: libtiledbsoma

[c++] Extract `make_arrow_schema_child` method (#3783)
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

[c++] Extract `get_enumeration` helper (#3805)
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/utils/util.cc
  libtiledbsoma/src/utils/util.h
Due: libtiledbsoma

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
