Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Fix numpy typing in xarray backend
  apis/python/src/tiledbsoma/experimental/_xarray_backend.py
Due: python_api

(WIP) Create an Xarray `BackendArray` subclass for `DenseNDArray`
  apis/python/src/tiledbsoma/experimental/_xarray_backend.py
  apis/python/tests/test_basic_xarray_io.py
Due: python_api

Remove tiledb_timestamp from xarray datastore and update docstrings
  apis/python/src/tiledbsoma/experimental/_xarray_backend.py
Due: python_api

Update workflows to install spatial-io python deps
  .github/workflows/python-ci-single.yml
  .github/workflows/r-python-interop-testing.yml
Due: none

Import specific classes/functions from xr.backend and xr.core.indexing
  apis/python/src/tiledbsoma/experimental/_xarray_backend.py
Due: python_api

Update xarray test parameters
  apis/python/tests/test_basic_xarray_io.py
Due: none

Add and test DenseNDArrayDataStore
  apis/python/src/tiledbsoma/experimental/_xarray_backend.py
  apis/python/tests/test_basic_xarray_io.py
Due: python_api

Add vectorized xarray tests
  apis/python/tests/test_basic_xarray_io.py
Due: none

Rename test classes
  apis/python/tests/test_basic_xarray_io.py
Due: none

Make xarray tests Python 3.9 friendly
  apis/python/tests/test_basic_xarray_io.py
Due: none

Add xarray as a direct dependency for spatial-io
  apis/python/requirements_spatial.txt
Due: none

[python] Fix last 2.27+Python+dense failing test case (#3269)
  apis/python/src/tiledbsoma/_dense_nd_array.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: python_api, libtiledbsoma

[c++] Move casting from `SOMAArray` to `ManagedQuery`
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/unit_soma_array.cc
Due: libtiledbsoma

[c++] Move casting from `SOMAArray` to `ManagedQuery` (#3275)
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/unit_soma_array.cc
Due: libtiledbsoma

[python] Update spatial API to match somacore 1.0.23 (#3274)
  .pre-commit-config.yaml
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/setup.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_constants.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_spatial_util.py
  apis/python/src/tiledbsoma/experimental/ingest.py
  apis/python/tests/test_multiscale_image.py
  apis/python/tests/test_scene.py
Due: python_api

[c++] Use schema from `tiledb::Array` instead of `ManagedQuery`
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

Add documentation
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

Format
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

[c++] Use schema from `tiledb::Array` instead of `ManagedQuery` (#3277)
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

[c++] Add `ManagedQuery::set_layout`
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

[c++] Add `ManagedQuery::set_layout` (#3278)
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

[r] More fixes for unit-test cases with dense + core 2.27
  apis/r/tests/testthat/test-shape.R
Due: none

[c++] Add `ManagedQuery` constructor that takes `SOMAArray`
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

DESCRIPTION and NEWS.md [skip ci]
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[r] More fixes for unit-test cases with dense + core 2.27 (#3280)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/tests/testthat/test-shape.R
Due: none

[python] Add `ManagedQuery` bindings
  apis/python/setup.py
  apis/python/src/tiledbsoma/managed_query.cc
  apis/python/src/tiledbsoma/pytiledbsoma.cc
Due: python_api

Add new things to `.rst` files
  doc/source/python-tiledbsoma-io.rst
  doc/source/python-tiledbsoma-logging.rst
  doc/source/python-tiledbsoma.rst
Due: none

[python] More auto-detect of `function_name_for_messages`
  apis/python/src/tiledbsoma/_dataframe.py
Due: python_api

[python] Misc. formatting fix-ups
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_common_nd_array.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_indexer.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/io/outgest.py
  apis/python/src/tiledbsoma/io/shaping.py
  apis/python/src/tiledbsoma/stats.py
Due: python_api

[python] Include `tiledbsoma_upgrade_shape` for `DenseNDArray`
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/tests/test_shape.py
Due: python_api

[python] Support upgrade of even older experiments
  apis/python/notebooks/tutorial_exp_query.ipynb
  apis/python/notebooks/tutorial_soma_append_mode.ipynb
  apis/python/notebooks/tutorial_soma_objects.ipynb
  apis/python/src/tiledbsoma/io/shaping.py
Due: python_api

to-do items for R tests
  apis/python/src/tiledbsoma/io/shaping.py
  apis/r/tests/testthat/test-SOMADataFrame.R
  apis/r/tests/testthat/test-shape.R
  apis/r/tests/testthat/test-write-soma-objects.R
Due: python_api

Expose `shape` accessor for `DataFrame` [RFC]
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/io/shaping.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_shape.py
  apis/r/R/SOMADataFrame.R
Due: python_api

Add new things to `.rst` files (#3283)
  doc/source/python-tiledbsoma-io.rst
  doc/source/python-tiledbsoma-logging.rst
  doc/source/python-tiledbsoma.rst
Due: none

[python] More auto-detect of `function_name_for_messages` (#3286)
  apis/python/src/tiledbsoma/_dataframe.py
Due: python_api

Factor out `write_soma.Assay()` and `write_soma.Assay5()` into combined function, reduce code duplication
  apis/r/R/utils-seurat.R
  apis/r/R/write_seurat.R
Due: none

Code review feedback
  apis/r/tests/testthat/test-SeuratIngest.R
Due: none

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
