Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

Update NEWS
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

Add is_relative method to SOMACollection
  apis/r/R/RcppExports.R
  apis/r/R/SOMACollectionBase.R
  apis/r/src/RcppExports.cpp
  apis/r/src/groups.cpp
Due: none

Add with_tiledb_profile() to DRY out carrara/cloud helpers
  apis/r/tests/testthat/helper-carrara.R
  apis/r/tests/testthat/helper-cloud.R
  apis/r/tests/testthat/helper-remote.R
Due: none

Add helper to auto-cleanup arrays and groups created on cloud
  apis/r/tests/testthat/README-cloud.md
  apis/r/tests/testthat/helper-cloud.R
  apis/r/tests/testthat/test-cloud-01-create.R
  apis/r/tests/testthat/test-cloud-02-delete-io.R
  apis/r/tests/testthat/test-cloud-03-seurat-io.R
  apis/r/tests/testthat/test-cloud-04-error-handling.R
Due: none

Update carrara test helper to use default profile
  apis/r/tests/testthat/helper-carrara.R
Due: none

Ignore .Rcheck dirs
  .gitignore
Due: none

Roxygenize
  apis/r/man/EphemeralCollection.Rd
  apis/r/man/EphemeralCollectionBase.Rd
  apis/r/man/EphemeralExperiment.Rd
  apis/r/man/EphemeralMeasurement.Rd
  apis/r/man/SOMACollection.Rd
  apis/r/man/SOMACollectionBase.Rd
  apis/r/man/SOMAExperiment.Rd
  apis/r/man/SOMAMeasurement.Rd
Due: none

Add test coverage for SOMACollection$is_relative
  apis/r/tests/testthat/test-06-SOMACollection.R
Due: none

Update cloud tests to use profile-based authentication
  apis/r/tests/testthat/README-cloud.md
  apis/r/tests/testthat/helper-cloud.R
  apis/r/tests/testthat/test-cloud-01-create.R
  apis/r/tests/testthat/test-cloud-02-delete-io.R
  apis/r/tests/testthat/test-cloud-03-seurat-io.R
  apis/r/tests/testthat/test-cloud-04-error-handling.R
Due: none

[r] expose `is_relative()` method on collection classes (#4444)
  .gitignore
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/R/RcppExports.R
  apis/r/R/SOMACollectionBase.R
  apis/r/man/EphemeralCollection.Rd
  apis/r/man/EphemeralCollectionBase.Rd
  apis/r/man/EphemeralExperiment.Rd
  apis/r/man/EphemeralMeasurement.Rd
  apis/r/man/SOMACollection.Rd
  apis/r/man/SOMACollectionBase.Rd
  apis/r/man/SOMAExperiment.Rd
  apis/r/man/SOMAMeasurement.Rd
  apis/r/src/RcppExports.cpp
  apis/r/src/groups.cpp
  apis/r/tests/testthat/README-cloud.md
  apis/r/tests/testthat/helper-carrara.R
  apis/r/tests/testthat/helper-cloud.R
  apis/r/tests/testthat/helper-remote.R
  apis/r/tests/testthat/test-06-SOMACollection.R
  apis/r/tests/testthat/test-cloud-01-create.R
  apis/r/tests/testthat/test-cloud-02-delete-io.R
  apis/r/tests/testthat/test-cloud-03-seurat-io.R
  apis/r/tests/testthat/test-cloud-04-error-handling.R
Due: none

Update to somacore==2.0.0
  apis/python/requirements_dev.txt
Due: none

Document installing pbmc3k package from r-universe
  apis/r/README.md
Due: none

Remove outdated info from R README
  apis/r/README.md
Due: none

Improve formatting
  apis/r/README.md
Due: none

Update referenced g++ versions
  apis/r/README.md
Due: none

Update to somacore==2.0.0 (#4446)
  apis/python/requirements_dev.txt
Due: none

[r] Clean up and restructure apis/r README (#4447)
  apis/r/README.md
Due: none

[python] Remove deprecated resume ingest mode
  apis/python/HISTORY.md
  apis/python/devtools/ingestor
  apis/python/src/tiledbsoma/_types.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/io/spatial/ingest.py
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

[r] Move defunct items into a Defunct section in NEWS.md
  apis/r/NEWS.md
Due: none

Add metadata tests, explicilty chek for condition on metadata operations
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/test/test_metadata.cc
Due: libtiledbsoma

[python] Remove deprecated delete-in-write-mode behavior
  apis/python/HISTORY.md
  apis/python/src/tiledbsoma/_soma_group.py
Due: python_api

Add PR# to new HISTORY.md entries
  apis/python/HISTORY.md
Due: none

Remove unused param
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Bump codecov-action from v5 to v6
  .github/workflows/test-python.yml
Due: none

Update test to error instead of warn
  apis/python/tests/test_collection.py
Due: none

Add metadata edge case testing, add docstrings
  libtiledbsoma/src/common/metadata/metadata.cc
  libtiledbsoma/src/common/metadata/metadata.h
  libtiledbsoma/src/common/metadata/utils.cc
  libtiledbsoma/src/common/metadata/utils.h
  libtiledbsoma/src/soma/soma_collection_base.h
  libtiledbsoma/test/test_metadata.cc
Due: libtiledbsoma

Hide parent functions and remove erroneous override keyword
  libtiledbsoma/src/soma/soma_collection_base.h
Due: libtiledbsoma

Remove hidden functions
  libtiledbsoma/src/soma/soma_collection_base.h
Due: libtiledbsoma

[python] Additional deprecation removals schedules for the 3.0.0 release (#4448)
  .github/workflows/test-python.yml
  apis/python/HISTORY.md
  apis/python/devtools/ingestor
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_types.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/io/spatial/ingest.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_collection.py
  apis/r/NEWS.md
Due: python_api

Use new handle type in R `is_relative`
  apis/r/R/SOMACollectionBase.R
  apis/r/src/RcppExports.cpp
  apis/r/src/groups.cpp
Due: none

Lint fixes
  apis/python/src/tiledbsoma/_soma_group.py
Due: python_api

py: add warnings for updating obs and var after deletion
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

py: add warnings for updating obs and var after deletion (#4449)
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Close handle for the exp's ms collection on SE ingest
  apis/r/R/write_bioc.R
Due: none

Regression test for adding second ms via resume
  apis/r/tests/testthat/test-14-SummarizedExperimentIngest.R
Due: none

Bump dev version and update news
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[r] Close measurement collection handle in SummarizedExperiment ingest path (#4452)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/R/write_bioc.R
  apis/r/tests/testthat/test-14-SummarizedExperimentIngest.R
Due: none

Test that SummarizedExperiment X values round-trip
  apis/r/tests/testthat/test-14-SummarizedExperimentIngest.R
Due: none
