Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

add no-sign-request to S3 test cases
  apis/r/tests/testthat/test-contexts.R
Due: none

[r] Plumb old-style contexts to new libtiledbsoma contexts Allow plumbing tiledb-r contexts `SOMATileDBContext` objects into libtiledbsoma `soma_context()` objects
  apis/r/R/TileDBObject.R
  apis/r/tests/testthat/test-contexts.R
Due: none

Update changelog Bump develop version
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[r] Plumb old-style contexts to new `libtiledbsoma` contexts (#3252)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/R/TileDBObject.R
  apis/r/tests/testthat/test-contexts.R
Due: none

[r] Prepare for 1.15.0rc3
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

backport #3252
  apis/r/R/TileDBObject.R
Due: none

[r] Prepare for 1.15.0rc3 (#3257)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/R/TileDBObject.R
Due: none

apis/r/tests/testthat/test-contexts.R
  apis/r/tests/testthat/test-contexts.R
Due: none

two removes
  apis/python/tests/test_util_tiledb.py
  apis/system/tests/test_version_match.py
Due: none

Keep use-current-domain at true for libtiledbsoma
  apis/python/src/tiledbsoma/_flags.py
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/common.h
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_point_cloud_dataframe.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

python files
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_registration_mappings.py
  apis/python/tests/test_shape.py
  apis/python/tests/test_sparse_nd_array.py
Due: python_api

R files
  apis/r/R/Init.R
  apis/r/R/utils-arrow.R
  apis/r/R/write_soma.R
  apis/r/tests/testthat/test-SOMASparseNDArray.R
  apis/r/tests/testthat/test-shape.R
  apis/r/tests/testthat/test-write-soma-resume.R
Due: none

workflow YAML
  .github/workflows/python-ci-single.yml
  .github/workflows/r-ci.yml
  .github/workflows/r-python-interop-testing.yml
Due: none

File add/removes for bulk-sync from `main` to `release-1.15` (#3258)
  apis/python/tests/test_util_tiledb.py
  apis/r/tests/testthat/test-contexts.R
  apis/system/tests/test_version_match.py
Due: none

Save new-shape feature-flag enable for 1.15.0
  .github/workflows/python-ci-single.yml
  .github/workflows/r-ci.yml
  apis/python/src/tiledbsoma/_flags.py
  apis/r/R/Init.R
Due: python_api

Save new-shape feature-flag enable for 1.15.0 (#3260)
  .github/workflows/python-ci-single.yml
  .github/workflows/r-ci.yml
  apis/python/src/tiledbsoma/_flags.py
  apis/r/R/Init.R
Due: python_api

[python] Centralize sparse/dense `pybind11` shape methods
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
Due: python_api

Another logic-simplifier
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_flags.py
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

more
  apis/python/tests/test_shape.py
Due: none

fix write-side bug
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

[python] Fixes for dense shape with core 2.27/dev
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
Due: python_api

Fix read-side OOM bug
  apis/python/src/tiledbsoma/io/ingest.py
  libtiledbsoma/src/soma/managed_query.cc
Due: python_api, libtiledbsoma

sandbox fixes
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/r/R/RcppExports.R
  apis/r/R/SOMADenseNDArray.R
  apis/r/src/RcppExports.cpp
  apis/r/src/arrow.cpp
  libtiledbsoma/src/soma/managed_query.cc
Due: python_api, libtiledbsoma

iterating on R dense
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/tests/test_dense_nd_array.py
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMADenseNDArray.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/src/arrow.cpp
Due: python_api

[python] Centralize sparse/dense `pybind11` shape methods (#3261)
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_flags.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  apis/python/tests/test_shape.py
Due: python_api

Remove a tempfile
  apis/python/ff
Due: none

Fix for dense domain/maxdomain with core 2.27
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
Due: python_api

improve a comment
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Fix a one-off unit-test issue with dense + 2.27
  apis/python/tests/test_shape.py
Due: none

Make this file loggable via `$SPDLOG_LEVEL` like other files
  apis/r/R/SOMADenseNDArray.R
Due: none

misc neatens
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_io.py
Due: python_api

missed a spot
  apis/python/tests/test_shape.py
Due: none

spec-conformity
  apis/python/src/tiledbsoma/_dense_nd_array.py
Due: python_api

fix ci
  apis/python/src/tiledbsoma/_dense_nd_array.py
Due: python_api

[python] Fix some dense+2.27 failing test cases (#3265)
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_io.py
  apis/python/tests/test_shape.py
  apis/r/R/SOMADenseNDArray.R
Due: python_api

Hide tiledb internal spatial columns and replace them with soma_geometry
  libtiledbsoma/src/soma/soma_geometry_dataframe.cc
  libtiledbsoma/src/soma/soma_geometry_dataframe.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/unit_soma_geometry_dataframe.cc
Due: libtiledbsoma
