Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Correct _tiledb_object to _soma_object
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_collection.py
Due: none

Throw SOMAError for SOMGroup::create
  apis/python/src/tiledbsoma/soma_group.cc
Due: python_api

[c++] More `SOMAGroup` refinements
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_experiment.cc
  libtiledbsoma/src/soma/soma_experiment.h
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_measurement.cc
  libtiledbsoma/src/soma/soma_measurement.h
  libtiledbsoma/src/soma/soma_object.h
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_group.cc
Due: libtiledbsoma

[python] Add Pybind11 bindings for `SOMAGroup`
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/common.h
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/src/tiledbsoma/soma_group.cc
Due: python_api

[python] Rename `reader` to `array` in `clib.SOMAArray`
  apis/python/src/tiledbsoma/soma_array.cc
Due: python_api

[python] Work around pyarrow>=13 issue on MacOS
  apis/python/setup.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/tests/__init__.py
Due: none

[python] Use bindings for `SOMAGroup`
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_measurement.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/common.h
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_group.cc
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

[python] Replace `TileDBObject` with `SOMAObject`
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_exception.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_measurement.py
  apis/python/src/tiledbsoma/_soma_array.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_collection.py
Due: python_api

[python] Work around pyarrow>=13 issue on MacOS, 1.12 branch
  apis/python/setup.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/tests/__init__.py
Due: none

[python] Work around pyarrow>=13 issue on MacOS, 1.11 branch
  apis/python/setup.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/tests/__init__.py
Due: none

[python] Work around pyarrow>=13 issue on MacOS, 1.10 branch
  apis/python/setup.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/tests/__init__.py
Due: none

[python] Remove tiledb-py from top-level src (sans `io` and `options`)
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_arrow_types.py
  apis/python/src/tiledbsoma/_general_utilities.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/src/tiledbsoma/soma_group.cc
  apis/python/tests/test_query_condition.py
Due: python_api

[python] Add `VFS` bindings in Pybind11
  apis/python/setup.py
  apis/python/src/tiledbsoma/io/_util.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/vfs.cc
Due: python_api

[r] Connect re-indexer to blockwise iterator
  apis/r/R/BlockwiseIter.R
  apis/r/R/SOMASparseNDArrayRead.R
  apis/r/man/BlockwiseReadIterBase.Rd
  apis/r/man/BlockwiseSparseReadIter.Rd
  apis/r/man/BlockwiseTableReadIter.Rd
  apis/r/man/IntIndexer.Rd
  apis/r/man/SOMASparseNDArrayBlockwiseRead.Rd
  apis/r/man/SOMASparseNDArrayRead.Rd
  apis/r/man/roxygen/templates/param-blockwise-iter.R
  apis/r/man/roxygen/templates/param-repr-read.R
  apis/r/tests/testthat/test-Blockwise.R
Due: none

[python] Pin to numpy < 2.0 for 1.12 release
  apis/python/setup.py
Due: none

[python] Pin to numpy < 2.0 for 1.12 release (#2745)
  apis/python/setup.py
Due: none

[r] TileDB-SOMA 1.12
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[r] Connect re-indexer to blockwise iterator (#2742)
  apis/r/R/BlockwiseIter.R
  apis/r/R/SOMASparseNDArrayRead.R
  apis/r/man/BlockwiseReadIterBase.Rd
  apis/r/man/BlockwiseSparseReadIter.Rd
  apis/r/man/BlockwiseTableReadIter.Rd
  apis/r/man/IntIndexer.Rd
  apis/r/man/SOMASparseNDArrayBlockwiseRead.Rd
  apis/r/man/SOMASparseNDArrayRead.Rd
  apis/r/man/roxygen/templates/param-blockwise-iter.R
  apis/r/man/roxygen/templates/param-repr-read.R
  apis/r/tests/testthat/test-Blockwise.R
Due: none

update NEWS.md for blockwise + reindexed
  apis/r/NEWS.md
Due: none

[r] TileDB-SOMA 1.12 (#2747)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

cli-147-1098
  articles/soma-experiment-queries.html
  articles/soma-objects.html
  articles/soma-reading.html
  pkgdown.yml
  search.json
Due: none

`members` -> `members_map`
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_group.cc
Due: libtiledbsoma

Missing members_map
  libtiledbsoma/src/soma/soma_group.cc
Due: libtiledbsoma

[c++] More `SOMAGroup` refinements (#2731)
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_experiment.cc
  libtiledbsoma/src/soma/soma_experiment.h
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_measurement.cc
  libtiledbsoma/src/soma/soma_measurement.h
  libtiledbsoma/src/soma/soma_object.h
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_group.cc
Due: libtiledbsoma

[c++] More `SOMAGroup` refinements
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/test/unit_soma_collection.cc
Due: libtiledbsoma

Correct issues while merging
  apis/python/src/tiledbsoma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/test/unit_soma_collection.cc
Due: python_api, libtiledbsoma

run `make format`
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/common.h
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_group.cc
Due: python_api

[python] Add `pybind11` bindings for `SOMAGroup` (#2732)
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/common.h
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/src/tiledbsoma/soma_group.cc
  libtiledbsoma/test/unit_soma_collection.cc
Due: python_api

Support dense nd array write case
  apis/r/R/RcppExports.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMADenseNDArray.R
  apis/r/R/SOMANDArrayBase.R
  apis/r/R/TileDBArray.R
  apis/r/src/RcppExports.cpp
  apis/r/src/arrow.cpp
  apis/r/tests/testthat/test-Factory.R
  apis/r/tests/testthat/test-SOMADataFrame.R
  apis/r/tests/testthat/test-SOMADenseNDArray.R
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

[python] Use bindings for `SOMAGroup`
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_measurement.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/src/tiledbsoma/soma_group.cc
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

formatting
  apis/python/src/tiledbsoma/soma_group.cc
Due: python_api

[python] Use bindings for `SOMAGroup` 3/5 (#2735)
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_measurement.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/src/tiledbsoma/soma_group.cc
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
