Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

[c++] Make `SOMAColumn` metadata required only for `GeometryDataframe` (#3621)
  apis/r/tests/testthat/test-04-TileDBArray.R
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

[c++] Integrate `SOMAColumn`: Arrow adapter methods, part 1 (#3405)
  apis/r/tests/testthat/test-11-shape.R
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_attribute.cc
  libtiledbsoma/src/soma/soma_attribute.h
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
  libtiledbsoma/src/soma/soma_geometry_dataframe.cc
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/src/utils/common.h
  libtiledbsoma/src/utils/util.cc
  libtiledbsoma/src/utils/util.h
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_column.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: libtiledbsoma

Update libtiledbsoma/src/soma/soma_multiscale_image.cc
  libtiledbsoma/src/soma/soma_multiscale_image.cc
Due: libtiledbsoma

[c++] Fix offsets for nullable columns
  apis/python/src/tiledbsoma/managed_query.cc
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/utils/util.cc
  libtiledbsoma/src/utils/util.h
Due: python_api, libtiledbsoma

shift -> cast
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

format
  apis/python/tests/test_dataframe.py
Due: none

correct test
  apis/python/tests/test_dataframe.py
Due: none

[c++] Push-down spatial metadata in the `MultiscaleImage` class from Python to C++ (#3622)
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/soma_collection.cc
  libtiledbsoma/src/soma/soma_multiscale_image.cc
  libtiledbsoma/src/soma/soma_multiscale_image.h
  libtiledbsoma/test/unit_soma_multiscale_image.cc
Due: python_api, libtiledbsoma

error out if validity buffer passed for non-nullable columns
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_sparse_nd_array.py
  apis/r/src/Makevars.in
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/managed_query.cc
Due: python_api, libtiledbsoma

Remove unneeded methods and member variables
  libtiledbsoma/src/soma/soma_column.h
Due: libtiledbsoma

SOMAColumn abstract class definition
  libtiledbsoma/src/soma/soma_column.cc
Due: libtiledbsoma

Remove fmt::format
  libtiledbsoma/src/soma/soma_column.h
Due: libtiledbsoma

Add concrete class wrapper for TileDB dimension
  libtiledbsoma/src/soma/soma_dimension.cc
Due: libtiledbsoma

Add minimal testing for dimensions
  libtiledbsoma/src/tiledbsoma/tiledbsoma
Due: libtiledbsoma

Replace string_view with string when returning column name, add current domain checks, replace vector with span when selecting points
  libtiledbsoma/src/soma/soma_column.cc
Due: libtiledbsoma

Add concrete class wrapper for TileDB attribute
  libtiledbsoma/src/soma/soma_attribute.cc
Due: libtiledbsoma

Misc fixes
  libtiledbsoma/src/soma/soma_geometry_column.h
Due: libtiledbsoma

Add minimal testing for dimensions
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Update CMake files
  libtiledbsoma/src/tiledbsoma/tiledbsoma
Due: libtiledbsoma

Add read test case
  libtiledbsoma/test/unit_soma_column.cc
Due: none

Remove current_domain flag
  libtiledbsoma/test/unit_soma_column.cc
Due: none

Do not export soma column [skip ci]
  libtiledbsoma/src/tiledbsoma/tiledbsoma
Due: libtiledbsoma

Migrate array creation to SOMAColumn
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

[c++] SOMAColumn serialization/deserialization (#3599)
  apis/r/tests/testthat/test-04-TileDBArray.R
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_column.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: none

[c++] Make `SOMAColumn` metadata required only for `GeometryDataframe` (#3621)
  apis/r/tests/testthat/test-04-TileDBArray.R
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: none

Filter SOMAColumns when iterating to construct the domain
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

Fill SOMAColumn info on array open
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

Remove unsupported dimension datatypes
  libtiledbsoma/src/soma/soma_dimension.cc
Due: libtiledbsoma

MIgrate domain access methods to use SOMAColumns
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Add template-specialization guards
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_column.h
Due: libtiledbsoma

Replace optional non empty domain with the SOMAColumn implementation, update python bindings
  apis/python/src/tiledbsoma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: python_api, libtiledbsoma

Update old version of `fill_metadata_cache`
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

Add optional non empty domain method
  libtiledbsoma/src/soma/soma_attribute.cc
  libtiledbsoma/src/soma/soma_attribute.h
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
Due: libtiledbsoma

Fix serialized columns order
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

log type [skip ci]
  libtiledbsoma/src/soma/soma_column.h
Due: libtiledbsoma

Fix validity for soma_data in sparse arrays
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_sparse_nd_array.py
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

C++ casting
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

Revert Markvars.in
  apis/r/src/Makevars.in
Due: none

const
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/utils/util.cc
  libtiledbsoma/src/utils/util.h
Due: libtiledbsoma
