Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/python/devtools/"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

[python] Work around apparent AWS ABI clash with pyarrow on MacOS (#1938)
  apis/python/setup.py
Due: none

[python] Use `numba<0.58` on `release-1.6` branch
  apis/python/setup.py
Due: none

[python] Use `numba<0.58` on `release-1.6` branch (#1939)
  apis/python/setup.py
Due: none

Refactor
  apis/python/tests/test_experiment_query.py
Due: none

[python] Depend on `somacore` 1.0.6
  .pre-commit-config.yaml
  apis/python/setup.py
Due: none

[python] Depend on `somacore` 1.0.6 (#1940)
  .pre-commit-config.yaml
  apis/python/setup.py
Due: none

upgrade to somacore==1.0.6
  apis/python/setup.py
Due: none

Delete apis/python/src/tiledbsoma/tiledbsoma.dll
  apis/python/src/tiledbsoma/tiledbsoma.dll
Due: python_api

Add N_FEATURES constant
  apis/python/tests/test_experiment_query.py
Due: none

[python] Add unit tests for obsm, obsp, and to_anndata (#1934)
  apis/python/tests/test_experiment_query.py
Due: none

backport #1934 to `release-1.6`
  apis/python/tests/test_experiment_query.py
Due: none

backport #1934 to `release-1.6` (#1942)
  apis/python/tests/test_experiment_query.py
Due: none

Test for post-write state
  apis/r/tests/testthat/test-SOMADataFrame.R
  apis/r/tests/testthat/test-SOMADenseNDArray.R
  apis/r/tests/testthat/test-SOMASparseNDArray.R
Due: none

Manually reopen array objects post-write
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMADenseNDArray.R
  apis/r/R/SOMASparseNDArray.R
Due: none

Bump version
  apis/r/DESCRIPTION
Due: none

Write methods invisibly return the object
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMADenseNDArray.R
  apis/r/R/SOMASparseNDArray.R
Due: none

Update RcppExports
  apis/r/R/RcppExports.R
Due: none

Update news
  apis/r/NEWS.md
Due: none

Add missing `soma_object.cc` files
  apis/python/src/tiledbsoma/soma_object.cc
  libtiledbsoma/src/soma/soma_object.cc
Due: python_api, libtiledbsoma

Reduce Usage of TileDB ArraySchema in Favor in Pyarrow Schema
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tiledb_array.py
Due: python_api

Addition Of `DataFrameWrapper`
  apis/python/pyproject.toml
  apis/python/setup.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: python_api, libtiledbsoma

TileDB ArraySchema to ArrowSchema Should Not Hardcode String Dict
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Correct `exists` Method For macos
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/tests/test_platform_config.py
  libtiledbsoma/src/soma/soma_dataframe.cc
Due: python_api, libtiledbsoma

Add Methods to `DataFrameWrapper` and `ArrayWrapper`
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_array.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_dataframe.h
Due: python_api, libtiledbsoma

Support All Enumeration Value Types in `to_arrow`
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_platform_config.py
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: python_api, libtiledbsoma

Add `domain` for `SOMADataFrame`
  apis/python/pyproject.toml
  apis/python/setup.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/common.h
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

Replace with TPY_ERROR_LOC where necessary
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_object.cc
Due: python_api

Feedback
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

Use DTypeLike instead of np.dtype[Any]
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

Update according to review
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/tests/test_dataframe.py
Due: python_api

Refactor QueryCondition
  apis/python/setup.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_query_condition.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/query_condition.cc
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/test/test_query_condition.py
Due: python_api, libtiledbsoma

Add Dictionary Support For ArraySchema -> ArrowSchema
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/tests/test_update_dataframes.py
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: python_api, libtiledbsoma

Correct macos exception handling
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_object.cc
Due: python_api

Remove #include <tiledb/tiledb> from Array derived SOMAObjects
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
Due: libtiledbsoma

Do TileDB ArraySchema to ArrowSchema Converstion in C++
  apis/python/src/tiledbsoma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: python_api, libtiledbsoma

Create Factory in Pybind11, Bind `SOMAError`
  apis/python/setup.py
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/query_condition.cc
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_object.h
  libtiledbsoma/test/test_query_condition.py
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: python_api, libtiledbsoma

"Correct" typing
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
Due: python_api

Clean NED
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

Free Name in ArrowSchema
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma
