Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

Use sparse array schema directly instead of constructing it
  apis/r/R/SOMASparseNDArray.R
  apis/r/tests/testthat/test-11-shape.R
Due: none

Always copy buffers coming from python
  apis/python/src/tiledbsoma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: python_api, libtiledbsoma

Replace `ArrowBuffer` buffer vectors with smart pointer wrapped arrays
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Fix compiler warnings
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/utils/arrow/arrow_buffer.cc
  libtiledbsoma/src/utils/common.h
Due: libtiledbsoma

Migrate R to use multithreaded arrow conversion
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
Due: none

Read memory mode from config
  libtiledbsoma/src/soma/array_buffers.cc
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/column_buffer.h
Due: libtiledbsoma

Lint fix
  libtiledbsoma/src/utils/arrow/arrow_buffer.h
Due: libtiledbsoma

Add custom allocator for vector backed buffers, implement memory modes for TileDB to Arrow conversions
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/cli/cli.cc
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/utils/arrow/arrow_buffer.cc
  libtiledbsoma/src/utils/arrow/arrow_buffer.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/src/utils/common.h
Due: libtiledbsoma

Rebind buffers after each read operation
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

Fix python packaging CI failure
  .github/workflows/python-packaging.yml
  scripts/bld
Due: none

Update .github/workflows/python-packaging.yml
  .github/workflows/python-packaging.yml
Due: none

Raise NotImplementedError for 'batch_size'
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
Due: python_api

Fix python packaging on release-2.2 branch (#4347)
  .github/workflows/python-packaging.yml
  scripts/bld
Due: none

Consistently document batch_size parameter
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
Due: python_api

Update axis query test to verify batch_size raises NotImplementedError
  apis/python/tests/test_experiment_query.py
Due: none

Expand coverage for batch_size not implemented
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_geometry_dataframe.py
  apis/python/tests/test_point_cloud_dataframe.py
  apis/python/tests/test_sparse_nd_array.py
Due: none

Add fixture for creating GeometryDataFrame in tests
  apis/python/tests/test_geometry_dataframe.py
Due: none

Include Rcpp header before other headers
  apis/r/src/RcppExports.cpp
Due: none

Store object references when setting column data until write is submitted
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_managed_query.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/managed_query.cc
Due: python_api

Use GeometryDataFrame for batzh_size test
  apis/python/tests/test_geometry_dataframe.py
Due: none

Fix PointCloudDataFrame batch_size test
  apis/python/tests/test_point_cloud_dataframe.py
Due: none

Fix SparseNDArray batch_size test
  apis/python/tests/test_sparse_nd_array.py
Due: none

[python] Raise NotImplementedError for 'batch_size' (#4349)
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_experiment_query.py
  apis/python/tests/test_geometry_dataframe.py
  apis/python/tests/test_point_cloud_dataframe.py
  apis/python/tests/test_sparse_nd_array.py
Due: python_api

Store object references when setting column data until write is submitted (#4350)
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_managed_query.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/managed_query.cc
Due: python_api

Remove unused private tiledb_array member
  apis/r/R/SOMAArrayBase.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMADenseNDArray.R
  apis/r/tests/testthat/helper-test-tiledb-objects.R
  apis/r/tests/testthat/test-05-contexts.R
  apis/r/tests/testthat/test-06-SOMADataFrame.R
  apis/r/tests/testthat/test-06-SOMADenseNDArray.R
  apis/r/tests/testthat/test-06-SOMASparseNDArray.R
Due: none

Switch to std::format
  libtiledbsoma/CMakeLists.txt
  libtiledbsoma/src/cli/cli.cc
  libtiledbsoma/src/soma/array_buffers.cc
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_attribute.cc
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_context.cc
  libtiledbsoma/src/soma/soma_coordinates.cc
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_factory.cc
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_dataframe.cc
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/soma/soma_transformers.cc
  libtiledbsoma/src/tiledb_adapter/platform_config.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/util.cc
  libtiledbsoma/src/utils/version.cc
Due: libtiledbsoma

Restore ordered checks Change check condition to ensure we have a working version of tiledb-core
  apis/r/tests/testthat/test-06-SOMADataFrame.R
Due: none

[r] Remove unused private tiledb_array member (#4351)
  apis/r/R/SOMAArrayBase.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMADenseNDArray.R
  apis/r/tests/testthat/helper-test-tiledb-objects.R
  apis/r/tests/testthat/test-05-contexts.R
  apis/r/tests/testthat/test-06-SOMADataFrame.R
  apis/r/tests/testthat/test-06-SOMADenseNDArray.R
  apis/r/tests/testthat/test-06-SOMASparseNDArray.R
Due: none

Test macos arm64 wheels on macos-14
  .github/workflows/python-packaging.yml
Due: none

Remove unused private tiledb_ctx member
  apis/r/R/SOMAObject.R
  apis/r/R/ephemeral.R
Due: none

Rename createSOMAContext and move to soma_context.cpp
  apis/r/R/RcppExports.R
  apis/r/R/zzz.R
  apis/r/src/RcppExports.cpp
  apis/r/src/arrow.cpp
  apis/r/src/soma_context.cpp
Due: none

Remove tests for functions that do not act standalone
  apis/r/tests/testthat/test-06-SOMASparseNDArray.R
Due: none

replace `stringstream` with `format`
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/soma_vfs.cc
  apis/r/src/metadata.cpp
  apis/r/src/query_condition.cpp
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
  apis/r/src/rutilities.cpp
  apis/r/src/rutilities.h
  libtiledbsoma/src/common/soma_column_selection.h
  libtiledbsoma/src/reindexer/reindexer.cc
  libtiledbsoma/src/soma/coordinate_value_filters.cc
  libtiledbsoma/src/soma/coordinate_value_filters.h
  libtiledbsoma/src/tiledb_adapter/value_filter.h
  libtiledbsoma/src/utils/fastercsx.h
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: python_api, libtiledbsoma

Change way of setting min macOS version
  libtiledbsoma/CMakeLists.txt
Due: none

Create and use new SOMAContext R6 class
  apis/r/NAMESPACE
  apis/r/NEWS.md
  apis/r/R/Factory.R
  apis/r/R/SOMAArrayBase.R
  apis/r/R/SOMACollectionBase.R
  apis/r/R/SOMAContext.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMADenseNDArray.R
  apis/r/R/SOMANDArrayBase.R
  apis/r/R/SOMAObject.R
  apis/r/R/SOMAOpen.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/R/datasets.R
  apis/r/R/soma_array_reader.R
  apis/r/R/utils.R
  apis/r/R/write_seurat.R
  apis/r/R/write_soma.R
  apis/r/R/zzz.R
  apis/r/tests/testthat/test-05-contexts.R
  apis/r/tests/testthat/test-06-SOMACollection.R
  apis/r/tests/testthat/test-06-SOMADataFrame.R
  apis/r/tests/testthat/test-06-SOMADenseNDArray.R
  apis/r/tests/testthat/test-06-SOMASparseNDArray.R
  apis/r/tests/testthat/test-10-SOMAArrayReader-Iterated.R
  apis/r/tests/testthat/test-11-example-datasets.R
  apis/r/tests/testthat/test-11-query-condition.R
  apis/r/tests/testthat/test-11-shape.R
  apis/r/tests/testthat/test-13-write-soma-objects.R
Due: none

Add methods to SOMAContext
  apis/r/R/RcppExports.R
  apis/r/R/SOMAContext.R
  apis/r/src/RcppExports.cpp
  apis/r/src/soma_context.cpp
  apis/r/tests/testthat/test-03-SOMAContext.R
Due: none

Update block_size to use new context
  apis/r/R/utils.R
  apis/r/R/write_soma.R
  apis/r/tests/testthat/test-13-write-soma-objects.R
Due: none
