Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

[r] Min-sizing for dataframes/arrays with new shape feature (#3208)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/R/SOMACollectionBase.R
  apis/r/R/utils-arrow.R
  apis/r/tests/testthat/helper-test-data.R
  apis/r/tests/testthat/helper-test-soma-objects.R
  apis/r/tests/testthat/test-Factory.R
  apis/r/tests/testthat/test-OrderedAndFactor.R
  apis/r/tests/testthat/test-SOMACollection.R
  apis/r/tests/testthat/test-SOMADataFrame.R
  apis/r/tests/testthat/test-Timestamps.R
  apis/r/tests/testthat/test-query-condition.R
  apis/r/tests/testthat/test-reopen.R
  apis/r/tests/testthat/test-shape.R
Due: none

move more inits of _clib_handle
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
Due: python_api

split out _metadata_wrapper.py from _tdb_handles.py
  apis/python/src/tiledbsoma/_metadata_wrapper.py
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

run pre-commit to neaten imports
  apis/python/src/tiledbsoma/_metadata_wrapper.py
Due: python_api

remove opener callback in _factory.py
  apis/python/src/tiledbsoma/_factory.py
Due: python_api

Add support for WKB and WKT attributes and dimensions
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

[c++] `upgrade_domain` [WIP] [skip ci]
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

Add support for WKB and WKT attributes and dimensions (#3210)
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Geometry dataframe implementation, use spatial axes when available when creating schema
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/soma_geometry_dataframe.cc
  libtiledbsoma/src/soma/soma_geometry_dataframe.h
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/unit_soma_geometry_dataframe.cc
Due: libtiledbsoma

[python] Python 3.12 support
  .github/workflows/python-ci-full.yml
  .github/workflows/python-ci-minimal.yml
  .github/workflows/python-ci-single.yml
  .github/workflows/python-packaging.yml
  apis/python/requirements_dev.txt
Due: none

`python-ci-packaging`: consistent dep order
  .github/workflows/python-ci-packaging.yml
Due: none

use Typeguard@HEAD
  .github/workflows/python-ci-packaging.yml
  apis/python/requirements_dev.txt
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_sparse_nd_array.py
Due: none

rm `soma@kerl/python-3.12` CI pin
  .github/workflows/python-ci-single.yml
Due: none

[r] Add Arrow to R type mapper (#3161)
  apis/r/NAMESPACE
  apis/r/NEWS.md
  apis/r/R/utils-arrow.R
  apis/r/man/r_type_from_arrow_type.Rd
  apis/r/tests/testthat/test-r-arrow-types.R
Due: none

[r] Expose block/random writer for `SOMASparseNDArray` (#3204)
  apis/r/NAMESPACE
  apis/r/NEWS.md
  apis/r/R/SOMASparseNDArray.R
  apis/r/R/utils-arrow.R
  apis/r/R/utils.R
  apis/r/man/SOMADenseNDArray.Rd
  apis/r/man/SOMANDArrayBase.Rd
  apis/r/man/SOMASparseNDArray.Rd
  apis/r/tests/testthat/test-SOMASparseNDArray.R
  apis/r/tests/testthat/test-utils.R
Due: none

Update tests for tiledbsoma 1.14 - use old names for arrow schema helper - remove tests from non-backported functionality
  apis/r/tests/testthat/test-r-arrow-types.R
  apis/r/tests/testthat/test-utils.R
Due: none

[c++] Offer column name on a particular error message
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

[r] Backport sparse COO writer to 1.14 (#3217)
  apis/r/NAMESPACE
  apis/r/NEWS.md
  apis/r/R/SOMASparseNDArray.R
  apis/r/R/utils-arrow.R
  apis/r/R/utils.R
  apis/r/man/SOMADenseNDArray.Rd
  apis/r/man/SOMANDArrayBase.Rd
  apis/r/man/SOMASparseNDArray.Rd
  apis/r/man/r_type_from_arrow_type.Rd
  apis/r/tests/testthat/test-SOMASparseNDArray.R
  apis/r/tests/testthat/test-r-arrow-types.R
  apis/r/tests/testthat/test-utils.R
Due: none

[c++] Offer column name on a particular error message (#3218)
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

[python] Python 3.12 support (#3001)
  .github/workflows/python-ci-full.yml
  .github/workflows/python-ci-minimal.yml
  .github/workflows/python-ci-packaging.yml
  .github/workflows/python-packaging.yml
  apis/python/requirements_dev.txt
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_sparse_nd_array.py
Due: none

DESCRIPTION and NEWS.md
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

run `devtools::document()`
  apis/r/man/SOMADataFrameCreate.Rd
  apis/r/man/SOMADataFrameOpen.Rd
  apis/r/man/SOMADenseNDArray.Rd
  apis/r/man/SOMANDArrayBase.Rd
  apis/r/man/SOMASparseNDArray.Rd
  apis/r/man/TileDBObject.Rd
  apis/r/man/soma_context.Rd
Due: none

[r] Prep for 1.14.4 release (#3219)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/man/SOMADataFrameCreate.Rd
  apis/r/man/SOMADataFrameOpen.Rd
  apis/r/man/SOMADenseNDArray.Rd
  apis/r/man/SOMANDArrayBase.Rd
  apis/r/man/SOMASparseNDArray.Rd
  apis/r/man/TileDBObject.Rd
  apis/r/man/soma_context.Rd
Due: none

[python] Add support for transforms in the `Scene` `add_new_*` methods (#3206)
  apis/python/src/tiledbsoma/_scene.py
  apis/python/tests/_util.py
  apis/python/tests/test_scene.py
Due: python_api

Add tests for getting the transforms from the scene
  apis/python/tests/test_scene.py
Due: none

Implement `get_transform_from_*` methods
  apis/python/src/tiledbsoma/_scene.py
Due: python_api

[python] Implement `get_transform_from_*` methods in the `Scene` (#3207)
  apis/python/src/tiledbsoma/_scene.py
  apis/python/tests/test_scene.py
Due: python_api

[c++] `upgrade_domain`
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/common.h
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: libtiledbsoma

`python-packaging.yml`: add Python 3.12 wheels
  .github/workflows/python-packaging.yml
Due: none

`python-packaging.yml`: add Python 3.12 wheels (#3224)
  .github/workflows/python-packaging.yml
Due: none

unit-test neaten
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: none

[c++/python] Check `arrow_is_string_type` in `_update_dataframe` (#3111)
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: python_api, libtiledbsoma

[r] Prepare for 1.14.5
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

WIP
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: python_api, libtiledbsoma

[r] Prepare for 1.14.5 (#3226)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

revert breaking change to uns handling
  apis/python/src/tiledbsoma/io/outgest.py
Due: python_api

code-review feedback: comments [skip ci]
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma
