Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Rename `c_attribute_enumerated()` to `c_attributes_enumerated()` Add new `SOMADataFrame$levels()` method to fetch enumerated levels
  apis/r/R/RcppExports.R
  apis/r/R/SOMADataFrame.R
  apis/r/man/SOMADataFrame.Rd
  apis/r/src/RcppExports.cpp
  apis/r/src/rinterface.cpp
  apis/r/tests/testthat/test-06-SOMADataFrame.R
Due: none

[c++] Show errant value in not-array-not-group error messages
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/utils/util.cc
  libtiledbsoma/src/utils/util.h
Due: libtiledbsoma

typo
  apis/r/tests/testthat/test-06-SOMADataFrame.R
Due: none

Apply suggestions from code review
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

wip
  apis/python/src/tiledbsoma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: python_api, libtiledbsoma

some neatens for code-review feedback
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

neatens for code review
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

Apply suggestions from code review
  apis/python/src/tiledbsoma/_dataframe.py
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: python_api, libtiledbsoma

fix lint induced by code-review suggestions
  apis/python/src/tiledbsoma/_dataframe.py
  libtiledbsoma/src/soma/soma_array.h
Due: python_api, libtiledbsoma

const-refs for column name -- code-review feedback [skip ci]
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

some static_cast callsites [skip ci]
  apis/python/src/tiledbsoma/soma_dataframe.cc
Due: python_api

docblocks per code-review feedback [skip ci]
  apis/python/src/tiledbsoma/soma_dataframe.cc
  libtiledbsoma/src/soma/managed_query.h
Due: python_api, libtiledbsoma

docblocks per code-review feedback
  apis/python/src/tiledbsoma/soma_dataframe.cc
  libtiledbsoma/src/soma/managed_query.h
Due: python_api, libtiledbsoma

[ci] Remove ticket-cutter for no-longer-nightly job
  .github/workflows/python-remote-storage.yml
Due: none

try-catch solution; ScopedExecutor coming next
  apis/python/src/tiledbsoma/soma_dataframe.cc
Due: python_api

Try ScopedExecutor
  apis/python/src/tiledbsoma/soma_dataframe.cc
  libtiledbsoma/src/utils/common.h
Due: python_api, libtiledbsoma

fix
  apis/python/src/tiledbsoma/soma_dataframe.cc
Due: python_api

ScopedExecutor
  apis/python/src/tiledbsoma/soma_dataframe.cc
  libtiledbsoma/src/utils/common.h
Due: python_api, libtiledbsoma

[c++/python] Expose enumeration-extender (#3815)
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/utils/common.h
Due: python_api, libtiledbsoma

migrate to new enum API
  apis/python/src/tiledbsoma/io/_registration/enum.py
Due: python_api

`python-ci-packaging.yml`: only run on `push` events to `main` (#3895)
  .github/workflows/python-ci-packaging.yml
Due: none

Fix deallocation of arrow buffers, return raw pointer for all non parent arrow objects
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Release allocated memrory in unit tests
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/unit_arrow_adapter.cc
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_column.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_geometry_dataframe.cc
  libtiledbsoma/test/unit_soma_point_cloud_dataframe.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: none

Release allocated arrow objects
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
Due: libtiledbsoma

Accept const reference of unique pointers
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_collection.h
Due: libtiledbsoma

Pass raw pointers to `set_array_data`
  apis/python/src/tiledbsoma/managed_query.cc
  apis/r/src/arrow.cpp
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_geometry_dataframe.cc
Due: python_api, libtiledbsoma

[ci] Remove ticket-cutter for no-longer-nightly job (#3900)
  .github/workflows/python-remote-storage.yml
Due: none

[ci] Backport 3894
  .github/workflows/python-dockers.yml
  .github/workflows/python-packaging.yml
Due: none

bump typeguard version to work around typeguard#504
  apis/python/requirements_dev.txt
Due: none

`python-packaging`: rm `continue-on-error: true` from Test PyPI publish
  .github/workflows/python-packaging.yml
Due: none

Publish manylinux aarch64 wheels
  .github/workflows/python-packaging.yml
Due: none

fix dangling WIP bits
  libtiledbsoma/src/utils/util.cc
Due: libtiledbsoma

[ci] Backport 3894 (#3905)
  .github/workflows/python-dockers.yml
  .github/workflows/python-packaging.yml
Due: none

improve doctrings
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
  apis/python/src/tiledbsoma/io/_registration/enum.py
Due: python_api

code-review feedback
  libtiledbsoma/src/utils/util.cc
Due: libtiledbsoma

[python] More docstring content for `extend_enumeration_values`
  apis/python/src/tiledbsoma/_dataframe.py
Due: python_api

more cleanup
  apis/python/src/tiledbsoma/io/_registration/__init__.py
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
Due: python_api

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
