Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

doc nits
  .github/workflows/python-ci-single.yml
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/io/_registration/__init__.py
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

fix `pd.CategoricalDtype` check
  apis/python/src/tiledbsoma/io/conversions.py
Due: python_api

_ingest_obs_var_m_p helper
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

rm `@typeguard_ignore`s
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

rm unused `context` arg from `_write_matrix_to_{dense,sparse}NDArray`
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

`IngestionParams`: use `IngestMode`, `_IngestMode` (containing `update`)
  apis/python/src/tiledbsoma/_types.py
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

update comment re: _query_condition import / segfault
  apis/python/tests/__init__.py
Due: none

Use core 2.21.1
  .github/workflows/python-so-copying.yml
  apis/python/src/tiledbsoma/_arrow_types.py
  apis/python/src/tiledbsoma/_tiledb_array.py
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: python_api, libtiledbsoma

run `make format`
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Use core 2.21.1
  .github/workflows/python-so-copying.yml
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
Due: none

Factor `pytest.fixture`s, verify #1988 (#2299)
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/tests/_util.py
  apis/python/tests/conftest.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_experiment_query.py
  apis/python/tests/test_io.py
  apis/python/tests/test_notebook_sparse_dense.py
  apis/python/tests/test_platform_config.py
  apis/python/tests/test_registration_mappings.py
  apis/python/tests/test_registration_signatures.py
  apis/python/tests/test_update_dataframes.py
  apis/python/tests/test_update_matrix.py
Due: python_api

Make `_util.read_h5ad` a `@contextmanager` (#2291)
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
  apis/python/src/tiledbsoma/io/_registration/signatures.py
  apis/python/src/tiledbsoma/io/_util.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/__init__.py
Due: python_api

`ingest.py` cleanups, doc nits (#2256)
  .github/workflows/python-ci-single.yml
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_types.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/io/_registration/__init__.py
  apis/python/src/tiledbsoma/io/conversions.py
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Use core 2.21.1 (#2301)
  .github/workflows/python-so-copying.yml
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
Due: none

[c++] Fix display of Arrow schema for enum of bytes
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

bugfix per @nguyenv
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Undo unintended commit to main
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

more of same
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

skip test_empty_categorical_query
  apis/python/tests/test_experiment_query.py
Due: none

make test_empty_categorical_query work with TileDB<2.21
  apis/python/tests/test_experiment_query.py
Due: none

make test_empty_categorical_query work with TileDB<2.21 (#2308)
  apis/python/tests/test_experiment_query.py
Due: none

try 3 with help of @nguyenv
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

python unit-test case
  apis/python/tests/test_dataframe.py
Due: none

extend the unit-test case a bit
  apis/python/tests/test_dataframe.py
Due: none

Read in config
  apis/python/src/tiledbsoma/_dataframe.py
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: python_api, libtiledbsoma

pin `typeguard==4.1.5`
  .github/workflows/python-ci-single.yml
  .github/workflows/r-python-interop-testing.yml
  apis/python/requirements_dev.txt
  apis/python/setup.py
Due: none

pin `typeguard==4.1.5` (#2313)
  .github/workflows/python-ci-single.yml
  .github/workflows/r-python-interop-testing.yml
  apis/python/requirements_dev.txt
  apis/python/setup.py
Due: none

implement @nguyenv advice
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

[r] Add tests for enum value filters in `SOMAExperimentAxisQuery` Add a tests for doing value filters on enums in `SOMAExperimentAxisQuery`; test for levels both present and missing
  apis/r/tests/testthat/test-SOMAExperiment-query.R
Due: none

Add tests for handling missing levels Skip missing level tests for core < 2.21
  apis/r/tests/testthat/test-SOMAExperiment-query.R
Due: none

[r] Add tests for enum value filters in `SOMAExperimentAxisQuery ` (#2316)
  apis/r/tests/testthat/test-SOMAExperiment-query.R
Due: none

repro segfault in clib.SOMAObject.open
  apis/python/tests/__init__.py
Due: none
