Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

Remove unnecessary `std::string` conversion to `c_str`
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

lint fix
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Fix comments/docstring
  apis/python/src/tiledbsoma/io/spatial/outgest.py
  apis/python/tests/test_basic_spatialdata_io.py
Due: python_api

(WIP) Work on export for SOMAExperiment to SpatialData
  apis/python/src/tiledbsoma/io/spatial/outgest.py
  apis/python/tests/test_basic_spatialdata_io.py
Due: python_api

Finish test case and implement small fixes
  apis/python/src/tiledbsoma/io/spatial/outgest.py
  apis/python/tests/test_basic_spatialdata_io.py
Due: python_api

Add points/shapes to spatial data export test
  apis/python/tests/test_basic_spatialdata_io.py
Due: none

(WIP) Misc fixes to tests/impl
  apis/python/src/tiledbsoma/io/spatial/outgest.py
  apis/python/tests/test_basic_spatialdata_io.py
Due: python_api

Update test case
  apis/python/tests/test_basic_spatialdata_io.py
Due: none

Add SpatialData exporter with only tables implemented
  apis/python/src/tiledbsoma/io/spatial/outgest.py
  apis/python/tests/test_basic_spatialdata_io.py
Due: python_api

Add ability to filter on scene names
  apis/python/src/tiledbsoma/io/spatial/outgest.py
Due: python_api

Fix after rebase
  apis/python/src/tiledbsoma/io/spatial/outgest.py
Due: python_api

Create helper class for adding scene to spatial data export
  apis/python/src/tiledbsoma/io/spatial/outgest.py
Due: python_api

Add docstring
  apis/python/src/tiledbsoma/io/spatial/outgest.py
Due: python_api

Add to_spatial_data to __all__ in io.spatial
  apis/python/src/tiledbsoma/io/spatial/__init__.py
Due: python_api

[python] Export full experiment to SpatialData (#3409)
  apis/python/src/tiledbsoma/io/spatial/__init__.py
  apis/python/src/tiledbsoma/io/spatial/outgest.py
  apis/python/tests/test_basic_spatialdata_io.py
Due: python_api

Add spatial data export to experiment query object
  apis/python/src/tiledbsoma/_query.py
Due: python_api

Add unit tests
  apis/python/tests/test_experiment_query_spatial.py
Due: none

Fix var scene_id query and add spatial disclaimer
  apis/python/src/tiledbsoma/_query.py
Due: python_api

Add docstring
  apis/python/src/tiledbsoma/_query.py
Due: python_api

Requested changes (improve error/grammar fix)
  apis/python/src/tiledbsoma/_query.py
Due: python_api

Add description and license
  libtiledbsoma/src/soma/soma_attribute.cc
  libtiledbsoma/src/soma/soma_attribute.h
Due: libtiledbsoma

Add description and license
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
Due: libtiledbsoma

Add missing `override`
  libtiledbsoma/src/soma/soma_geometry_column.h
Due: libtiledbsoma

Address review comments
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
Due: libtiledbsoma

Add read test case
  libtiledbsoma/test/unit_soma_column.cc
Due: none

Add minimal testing for dimensions
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Replace string_view with string when returning column name, add current domain checks, replace vector with span when selecting points
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Misc fixes
  libtiledbsoma/src/soma/soma_geometry_column.h
Due: libtiledbsoma

lint fixes
  libtiledbsoma/test/unit_soma_column.cc
Due: none

Remove current_domain flag
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Add concrete class wrapper for indexable geometry column
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
Due: libtiledbsoma

Do not export soma column [skip ci]
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Add description and license
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
Due: libtiledbsoma

Fix string current domain in unit dataframe tests
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: none

Add function to extract data from ArrowTable into std::array
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Fix current domain unit test on string dimension
  apis/r/tests/testthat/test-11-shape.R
Due: none

Migrate array creation to SOMAColumn
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Remove unused methods
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Replace optional non empty domain with the SOMAColumn implementation, update python bindings
  apis/python/src/tiledbsoma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: python_api, libtiledbsoma
