Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Add helper methods for to and from arrow contructs
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Add read test case
  libtiledbsoma/test/unit_soma_column.cc
Due: none

Comply with C.128
  libtiledbsoma/src/soma/soma_geometry_column.h
Due: libtiledbsoma

Address review comments
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
Due: libtiledbsoma

SOMAColumn abstract class definition
  libtiledbsoma/src/soma/soma_column.cc
Due: libtiledbsoma

Replace string_view with string when returning column name, add current domain checks, replace vector with span when selecting points
  libtiledbsoma/src/soma/soma_attribute.cc
Due: libtiledbsoma

Remove current_domain flag
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Remove unneeded methods and member variables
  libtiledbsoma/src/soma/soma_column.h
Due: libtiledbsoma

Add concrete class wrapper for TileDB dimension
  libtiledbsoma/src/soma/soma_dimension.cc
Due: libtiledbsoma

Add minimal testing for dimensions
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Remove fmt::format
  libtiledbsoma/src/soma/soma_column.h
Due: libtiledbsoma

Fix unit test cases
  libtiledbsoma/test/unit_soma_column.cc
Due: none

Fix unit test
  libtiledbsoma/test/unit_soma_column.cc
Due: none

Add missing `override`
  libtiledbsoma/src/soma/soma_geometry_column.h
Due: libtiledbsoma

Remove duplicate declaration
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Do not export soma column [skip ci]
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Replace string_view with string when returning column name, add current domain checks, replace vector with span when selecting points
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_dimension.cc
Due: libtiledbsoma

Add concrete class wrapper for TileDB attribute
  libtiledbsoma/src/soma/soma_attribute.cc
Due: libtiledbsoma

Add description and license
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
Due: libtiledbsoma

Rename `dom` and `domain` variables
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
Due: libtiledbsoma

[c++] Column abstraction: `SOMAGeometryColumn`, part 3 (#3427)
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Inline SpatialData scene generation to ExperimentAxisQuery
  apis/python/src/tiledbsoma/_query.py
  apis/python/src/tiledbsoma/io/spatial/outgest.py
Due: python_api

[python] Account for missing end-rows in shape-upgrader
  apis/python/src/tiledbsoma/io/shaping.py
Due: python_api

(WIP) Add regions to spatialdata table
  apis/python/src/tiledbsoma/_query.py
Due: python_api

Add regions to table
  apis/python/src/tiledbsoma/_query.py
Due: python_api

(WIP) Fix tests to not have overlapping obs_id
  apis/python/tests/test_experiment_query_spatial.py
Due: none

Update spatialdata test so soma_joinid don't overlap
  apis/python/tests/test_experiment_query_spatial.py
Due: none

Test regions are correctly set when exporting to SpatialData
  apis/python/tests/test_experiment_query_spatial.py
Due: none

Use SOMA_JOINID constant and fix typo
  apis/python/src/tiledbsoma/_query.py
Due: python_api

[c++] Show which coordinate is out of range in `fastercsx`
  libtiledbsoma/src/utils/fastercsx.h
Due: libtiledbsoma

code-review feedback
  libtiledbsoma/src/utils/fastercsx.h
Due: libtiledbsoma

more
  libtiledbsoma/src/utils/fastercsx.h
Due: libtiledbsoma

[python] Account for missing end-rows in shape-upgrader (#3538)
  apis/python/src/tiledbsoma/io/shaping.py
Due: python_api

[c++] Show which coordinate is out of range in `fastercsx` error messages (#3539)
  libtiledbsoma/src/utils/fastercsx.h
Due: libtiledbsoma

`std::format` -> `fmt::format` for C++17 on `release-1.15` branch
  libtiledbsoma/src/utils/fastercsx.h
Due: libtiledbsoma

revert previous
  libtiledbsoma/src/utils/fastercsx.h
Due: libtiledbsoma

[c++] Fix backport on #3541
  libtiledbsoma/src/utils/fastercsx.h
Due: libtiledbsoma

fix weird include semantics
  libtiledbsoma/src/utils/fastercsx.h
Due: libtiledbsoma

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
