Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

[c++] Follow-up to #3873 and #3928 (#3937)
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

[python] Extend previous-versions testing
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_soma_experiment_versions.py
Due: none

[python] Improve UX for `extend_enumeration_values` with non-Arrow types
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/tests/test_dataframe.py
Due: python_api

extender
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_soma_experiment_versions.py
Due: none

[python] Remove some dead code
  apis/python/tests/test_experiment_query.py
Due: none

[python] Improve UX for `extend_enumeration_values` with non-Arrow types (#3939)
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/tests/test_dataframe.py
Due: python_api

[python] Previous-versions testing for enum getter/extender (#3940)
  apis/python/tests/test_dataframe.py
Due: none

Update setuptools.
  apis/python/pyproject.toml
Due: none

[python] Extend previous-version tests for experiment query
  apis/python/tests/test_experiment_query.py
Due: none

rm numcodecs<0.16 pin
  apis/python/requirements_spatial.txt
  doc/requirements_doc.txt
Due: none

python-uv.dockerfile
  .github/workflows/python-dockers.yml
  docker/python-uv.dockerfile
Due: none

[python] Extend previous-version tests for experiment query (#3945)
  apis/python/tests/test_experiment_query.py
Due: none

Update apis/r/src/rinterface.cpp
  apis/r/src/rinterface.cpp
Due: none

Remove unnecessary comments
  apis/r/src/rinterface.cpp
Due: none

notebook typo fix
  apis/python/notebooks/tutorial_scanpy_pca_dask.ipynb
Due: none

rm numcodecs<0.16 pin (#3946)
  apis/python/requirements_spatial.txt
  doc/requirements_doc.txt
Due: none

python-uv.dockerfile (#3948)
  .github/workflows/python-dockers.yml
  docker/python-uv.dockerfile
Due: none

Use `rbubley/mirrors-prettier` @ 3.5.3
  .pre-commit-config.yaml
Due: none

count cell on overlapping region only
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

Fix memory leak in unit test
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: none

Update libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Add unit test
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: none

Use count aggregate for slow nnz
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Add tracking issue
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Fix iteration
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Do not early fall back on `nnz_slow` in partial overlap/consolidated fragment
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Extract common logic to lambda function
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

cr
  apis/python/src/tiledbsoma/_dask/README.md
  apis/python/src/tiledbsoma/_dask/load.py
  apis/python/src/tiledbsoma/_dask/util.py
  apis/python/src/tiledbsoma/_query.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/io/outgest.py
Due: python_api

rm `prettier` pre-commit hook
  .pre-commit-config.yaml
Due: none

[python] Remove `pre-commit/mirrors-prettier` hook (#3952)
  .pre-commit-config.yaml
Due: none

[python] Ensure `SOMAArray.schema` matches read data's schema
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/managed_query.cc
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_shape.py
  apis/python/tests/test_sparse_nd_array.py
  apis/python/tests/test_unicode.py
  libtiledbsoma/src/soma/managed_query.h
Due: python_api, libtiledbsoma

format
  apis/python/tests/test_dataframe.py
Due: none

Remove unused func
  apis/python/src/tiledbsoma/common.cc
Due: python_api

Correct docs
  apis/python/src/tiledbsoma/common.cc
Due: python_api

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
