Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

[c++] Some `use_current_domain` teardown
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_geometry_dataframe.cc
  libtiledbsoma/test/unit_soma_point_cloud_dataframe.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

lint
  libtiledbsoma/test/common.cc
Due: none

iterating [skip ci]
  .github/workflows/libtiledb-ci.yml
  .github/workflows/python-ci-single.yml
  .github/workflows/r-python-interop-testing.yml
  libtiledbsoma/src/CMakeLists.txt
  scripts/bld
Due: none

more [skip ci]
  libtiledbsoma/src/CMakeLists.txt
Due: none

iterating [skip ci]
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
  libtiledbsoma/src/soma/soma_array.cc
  scripts/bld
Due: libtiledbsoma

[c++] Some `use_current_domain` unit-test/feature-flag teardown, part 1 of 4 (#3369)
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_geometry_dataframe.cc
  libtiledbsoma/test/unit_soma_point_cloud_dataframe.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

Remove stray print statements
  apis/python/src/tiledbsoma/experimental/_util.py
  apis/python/tests/test_export_multiscale_image.py
Due: python_api

[python/r] Remove 2.27-related feature flag (#3368)
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_flags.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_shape.py
  apis/r/R/SOMANDArrayBase.R
  apis/r/R/utils-arrow.R
  apis/r/R/zzz.R
  apis/r/tests/testthat/test-11-shape.R
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_geometry_dataframe.cc
  libtiledbsoma/test/unit_soma_point_cloud_dataframe.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

[c++] Some `use_current_domain` unit-test/feature-flag teardown, part 2/n
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

[c++] Some `use_current_domain` unit-test/feature-flag teardown, part 2/n (#3370)
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

[c++] Use valid ASCII for wide-as-possible string current domain (#3367)
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

[python] Outgest obsp/varp as sparse [WIP]
  apis/python/src/tiledbsoma/_query.py
Due: python_api

[c++] Some use_current_domain unit-test/feature-flag teardown, part 3/n
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/common.h
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_geometry_dataframe.cc
  libtiledbsoma/test/unit_soma_point_cloud_dataframe.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

clang-format with version 18
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

[c++] Some `use_current_domain` unit-test/feature-flag teardown, part 3 of 4 (#3371)
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/common.h
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_geometry_dataframe.cc
  libtiledbsoma/test/unit_soma_point_cloud_dataframe.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

[c++] Some use_current_domain unit-test/feature-flag teardown, part 4/n
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_geometry_dataframe.cc
  libtiledbsoma/test/unit_soma_point_cloud_dataframe.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: none

[python] Add export for `MultiscaleImage` to SpatialData (#3355)
  apis/python/requirements_spatial.txt
  apis/python/src/tiledbsoma/experimental/_util.py
  apis/python/src/tiledbsoma/experimental/_xarray_backend.py
  apis/python/src/tiledbsoma/experimental/outgest.py
  apis/python/tests/test_export_multiscale_image.py
Due: python_api

[c++] Some use_current_domain unit-test/feature-flag teardown, part 4/n (#3372)
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_geometry_dataframe.cc
  libtiledbsoma/test/unit_soma_point_cloud_dataframe.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: none

fix incorrect type handling
  apis/python/src/tiledbsoma/_query.py
Due: python_api

fix incorrect type handling (#3375)
  apis/python/src/tiledbsoma/_query.py
Due: python_api

[r] Prepare for 1.15.0rc4
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

Remove use of deprecated schema function.
  libtiledbsoma/test/unit_soma_group.cc
Due: none

[r] Prepare for 1.15.0rc4 (#3379)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

Fix typos and import order in the spatial outgest
  apis/python/src/tiledbsoma/experimental/_xarray_backend.py
  apis/python/src/tiledbsoma/experimental/outgest.py
Due: python_api

Remove use of deprecated schema-display function (#3380)
  libtiledbsoma/test/unit_soma_group.cc
Due: none

Fix typos and import order in the spatial outgest (#3381)
  apis/python/src/tiledbsoma/experimental/_xarray_backend.py
  apis/python/src/tiledbsoma/experimental/outgest.py
Due: python_api

Move `experimental` module to `io.spatial`
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/src/tiledbsoma/io/spatial/__init__.py
  apis/python/src/tiledbsoma/io/spatial/_util.py
  apis/python/src/tiledbsoma/io/spatial/_xarray_backend.py
  apis/python/src/tiledbsoma/io/spatial/ingest.py
  apis/python/src/tiledbsoma/io/spatial/outgest.py
  apis/python/tests/test_basic_xarray_io.py
  apis/python/tests/test_export_multiscale_image.py
  apis/python/tests/test_export_point_cloud_dataframe.py
Due: python_api

Move `experimental` module to `io.spatial` (#3384)
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/src/tiledbsoma/io/spatial/__init__.py
  apis/python/src/tiledbsoma/io/spatial/_util.py
  apis/python/src/tiledbsoma/io/spatial/_xarray_backend.py
  apis/python/src/tiledbsoma/io/spatial/ingest.py
  apis/python/src/tiledbsoma/io/spatial/outgest.py
  apis/python/tests/test_basic_xarray_io.py
  apis/python/tests/test_export_multiscale_image.py
  apis/python/tests/test_export_point_cloud_dataframe.py
Due: python_api

Deprecate `config_options_from_schema` in favor of new function
  apis/python/src/tiledbsoma/_soma_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/io/spatial/_xarray_backend.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_platform_config.py
  apis/python/tests/test_sparse_nd_array.py
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: python_api, libtiledbsoma

small performance improvement
  apis/python/src/tiledbsoma/io/outgest.py
Due: python_api

obsp/varp as sparse matrices
  apis/python/src/tiledbsoma/_query.py
  apis/python/tests/test_experiment_query.py
Due: python_api

[python] Re-introduce `tiledb_ctx` for `SOMATileDBContext`
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
  apis/python/src/tiledbsoma/soma_context.cc
Due: python_api

lint
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
Due: python_api

Reintroduce TYPE_CHECKING
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
Due: python_api

Feedback
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
Due: python_api

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
