Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Add support for not in query conditions
  apis/python/src/tiledbsoma/_query_condition.py
  apis/python/src/tiledbsoma/common.h
Due: python_api

Add test
  apis/python/tests/test_query_condition.py
Due: none

disable lint instead of changing variable name on unused args
  apis/python/src/tiledbsoma/_dask/util.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/io/conversions.py
Due: python_api

fix lint errors related to Pandas 2.3.0 release
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
  apis/python/src/tiledbsoma/io/_registration/id_mappings.py
Due: python_api

[python] Add Ruff lint rules ANN and ARG (#4158)
  apis/python/pyproject.toml
  apis/python/src/tiledbsoma/_arrow_types.py
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_dask/util.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_eager_iter.py
  apis/python/src/tiledbsoma/_indexer.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_query.py
  apis/python/src/tiledbsoma/_query_condition.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/io/_caching_reader.py
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
  apis/python/src/tiledbsoma/io/_registration/id_mappings.py
  apis/python/src/tiledbsoma/io/conversions.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/io/outgest.py
  apis/python/src/tiledbsoma/io/shaping.py
  apis/python/src/tiledbsoma/io/spatial/_util.py
  apis/python/src/tiledbsoma/io/spatial/_xarray_backend.py
  apis/python/src/tiledbsoma/io/spatial/ingest.py
  apis/python/src/tiledbsoma/io/update_uns.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
Due: python_api

reduce memory use
  apis/python/tests/test_experiment_query.py
Due: none

reduce memory use (#4161)
  apis/python/tests/test_experiment_query.py
Due: none

Use SOMAQueryCondition in SOMACoordQueryCondition
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.cc
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.h
  libtiledbsoma/test/test_soma_query_condition.cc
Due: none

Add sparse array delete method
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
Due: libtiledbsoma

Add tests for SOMACoordsQueryCondition
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.h
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/test/test_soma_query_condition.cc
Due: none

Add helper class for creating query condition from coords
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.cc
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.h
Due: none

(WIP) Add SOMAQueryCondition
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.cc
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.h
  libtiledbsoma/test/test_soma_query_condition.cc
Due: none

Add delete_cells method to SOMAArray
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

Add binding to `negate` member function
  apis/python/src/tiledbsoma/query_condition.cc
Due: python_api

Add initial sparse delete tests and fix to empty values
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.h
  libtiledbsoma/test/test_soma_query_condition.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: none

Remove unneeded functions and remove dead code
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.cc
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.h
  libtiledbsoma/test/test_soma_query_condition.cc
Due: none

Minimize re-opening of handle
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

Fix error handling when TileDB-Py is installed first
  apis/python/src/tiledbsoma/_exception.py
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/tests/test_clib.py
Due: python_api

Remove unnecessary extra opener for write mode
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

Small edit
  apis/python/src/tiledbsoma/_factory.py
Due: python_api

Fix linting error
  apis/python/src/tiledbsoma/_factory.py
Due: python_api

Fix docstring
  apis/python/src/tiledbsoma/_exception.py
Due: python_api

[python] Fixes for the factory `open` method (#4163)
  apis/python/src/tiledbsoma/_exception.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/tests/test_clib.py
Due: python_api

Add validity checks and additional tests
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.h
  libtiledbsoma/test/test_soma_query_condition.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

Add and clean-up tests
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

Convert delete cells to use std::variant
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.h
  libtiledbsoma/test/test_soma_query_condition.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

Use exposed `index_of` core function
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

Updates
  apis/r/R/write_seurat.R
  apis/r/man/write_soma.Seurat.Rd
  apis/r/man/write_soma_seurat_sub.Rd
Due: none

[c++] Add C++ SOMASparseNDArray method to delete cells (#4162)
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.cc
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.h
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/test/test_soma_query_condition.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

Attempt to build without deprecations
  apis/r/tools/build_libtiledbsoma.sh.in
Due: none

update register_h5ads docstring for clarity
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

update register_h5ads docstring for supported workflows
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

update docstring for register_anndatas function
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Error on ERRORs
  .github/workflows/R-CMD-check.yaml
Due: none

[r/ci] Use r-lib/actions for R CI (#4156)
  .github/actions/setup-r/action.yaml
  .github/workflows/R-CMD-check.yaml
  .github/workflows/r-ci.yml
  .github/workflows/test-coverage.yaml
  .gitignore
Due: none

Adding more C++ tests for managed queries and soma column
  libtiledbsoma/test/unit_managed_query.cc
  libtiledbsoma/test/unit_soma_column.cc
Due: none

Precommit fixes
  libtiledbsoma/test/unit_managed_query.cc
  libtiledbsoma/test/unit_soma_column.cc
Due: none

Update libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

lint fix
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
