Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Similarly update the CI checker
  .github/workflows/python-ci-single.yml
Due: none

Update `make format` to cover more directories
  Makefile
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/common.h
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/query_condition.cc
  apis/python/src/tiledbsoma/reindexer.cc
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/src/tiledbsoma/soma_context.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/soma_group.cc
  apis/python/src/tiledbsoma/soma_object.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  apis/r/src/RcppExports.cpp
  apis/r/src/nanoarrow.h
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
  apis/r/src/rutilities.cpp
  apis/r/src/rutilities.h
  apis/r/src/xptr-utils.h
Due: python_api

Exclude files as requested by @eddelbuettel
  .github/workflows/python-ci-single.yml
  Makefile
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/reindexer.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  apis/r/src/RcppExports.cpp
  apis/r/src/nanoarrow.h
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
  apis/r/src/rutilities.cpp
  apis/r/src/rutilities.h
  apis/r/src/xptr-utils.h
Due: python_api

[c++/ci] Update `make format` and CI format-checker to find more C++ files (#2168)
  .github/workflows/python-ci-single.yml
  Makefile
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/common.h
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/query_condition.cc
  apis/python/src/tiledbsoma/reindexer.cc
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/src/tiledbsoma/soma_context.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/soma_group.cc
  apis/python/src/tiledbsoma/soma_object.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
Due: python_api

[Backport release-1.7] [c++/ci] Update `make format` and CI format-checker to find more C++ files
  .github/workflows/python-ci-single.yml
  Makefile
Due: none

Run `make format`
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/common.h
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/query_condition.cc
  apis/python/src/tiledbsoma/reindexer.cc
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/src/tiledbsoma/soma_context.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/soma_group.cc
  apis/python/src/tiledbsoma/soma_object.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
Due: python_api

[python] Use bindings for `DenseNDArray` readpath
  apis/python/src/tiledbsoma/_arrow_types.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dense_nd_array.py
  libtiledbsoma/src/soma/soma_dense_ndarray.h
Due: python_api, libtiledbsoma

Update `DenseNDArray` with new `SOMAContext`
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
Due: python_api

Correct documentation
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

Add documentation for _opener virtual method
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

Pass in as kw args; replace virtual method
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/soma_object.cc
Due: python_api

Run formatting
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/soma_object.cc
Due: python_api

[Backport release-1.7] [c++/ci] Update `make format` and CI format-checker to find more C++ files (#2171)
  .github/workflows/python-ci-single.yml
  Makefile
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/common.h
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/query_condition.cc
  apis/python/src/tiledbsoma/reindexer.cc
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/src/tiledbsoma/soma_context.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/soma_group.cc
  apis/python/src/tiledbsoma/soma_object.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
Due: python_api

Correct soma_array.cc post-merge
  apis/python/src/tiledbsoma/soma_array.cc
Due: python_api

Changes according to review
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
Due: python_api

Move under _wrapper_type
  apis/python/src/tiledbsoma/_tiledb_object.py
Due: python_api

[python] Use bindings for `SparseNDArray` readpath
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  apis/python/tests/test_platform_config.py
  apis/python/tests/test_sparse_nd_array.py
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
Due: python_api, libtiledbsoma

WIP export to c
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_array.cc
  libtiledbsoma/src/soma/array_buffers.h
Due: python_api, libtiledbsoma

[python] Use bindings for `DenseNDArray` readpath (#2132)
  apis/python/src/tiledbsoma/_arrow_types.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/soma_object.cc
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dense_nd_array.py
  libtiledbsoma/src/soma/soma_dense_ndarray.h
Due: python_api, libtiledbsoma

[python] Use bindings for `SparseNDArray` readpath
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/soma_object.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  apis/python/tests/test_platform_config.py
  apis/python/tests/test_sparse_nd_array.py
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
Due: python_api, libtiledbsoma

WIP arrow type to tiledb type converter
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_array.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: python_api, libtiledbsoma

WIP create dimensions and attrs
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

WIP change SOMADataFrame to take ArrowSchema
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_experiment.cc
  libtiledbsoma/src/soma/soma_experiment.h
  libtiledbsoma/src/soma/soma_measurement.cc
  libtiledbsoma/src/soma/soma_measurement.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Use ArrowSchema instead of TileDB Schema to create
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_experiment.cc
  libtiledbsoma/src/soma/soma_experiment.h
  libtiledbsoma/src/soma/soma_measurement.cc
  libtiledbsoma/src/soma/soma_measurement.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: libtiledbsoma

WIP attach
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_array.cc
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

WIP replace with setup_write
  apis/python/src/tiledbsoma/soma_array.cc
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/unit_soma_array.cc
Due: python_api, libtiledbsoma

WIP create domain / extents
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_tiledb_array.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
Due: python_api

Use ColumnIndexInfo instead
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_experiment.cc
  libtiledbsoma/src/soma/soma_experiment.h
  libtiledbsoma/src/soma/soma_measurement.cc
  libtiledbsoma/src/soma/soma_measurement.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

Create clib.SOMADataFrame
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/soma_dataframe.cc
Due: python_api

WIP metadata issue unpacking values
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_array.cc
Due: python_api

Remove accidentally duplicated metadata methods
  apis/python/src/tiledbsoma/soma_array.cc
Due: python_api

Correct handle type
  apis/python/src/tiledbsoma/_sparse_nd_array.py
Due: python_api

Fix metadata
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.cc
Due: python_api, libtiledbsoma

WIP set_data takes in offsets and validity
  apis/python/src/tiledbsoma/soma_array.cc
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: python_api, libtiledbsoma

[python] Use somacore v1.0.8
  .pre-commit-config.yaml
  apis/python/setup.py
Due: none

WIP write with passed in offsets and validities
  apis/python/src/tiledbsoma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: python_api, libtiledbsoma

Update soma_object.cc with EOL
  apis/python/src/tiledbsoma/soma_object.cc
Due: python_api

debug
  apis/python/src/tiledbsoma/_general_utilities.py
Due: python_api

Lint
  apis/python/src/tiledbsoma/_read_iters.py
Due: python_api

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
