Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

[r] Improve test-case field names for `DataFrame` (#3067)
  apis/r/tests/testthat/helper-test-data.R
  apis/r/tests/testthat/helper-test-soma-objects.R
  apis/r/tests/testthat/test-Arrow-utils.R
  apis/r/tests/testthat/test-EphemeralCollection.R
  apis/r/tests/testthat/test-Factory.R
  apis/r/tests/testthat/test-SCEOutgest.R
  apis/r/tests/testthat/test-SOMAAxisQuery.R
  apis/r/tests/testthat/test-SOMACollection.R
  apis/r/tests/testthat/test-SOMADataFrame.R
  apis/r/tests/testthat/test-SOMAExperiment-query-m-p.R
  apis/r/tests/testthat/test-SOMAExperiment-query-matrix-outgest.R
  apis/r/tests/testthat/test-SOMAExperiment-query.R
  apis/r/tests/testthat/test-SOMAExperiment.R
  apis/r/tests/testthat/test-SeuratOutgest-assay.R
  apis/r/tests/testthat/test-SeuratOutgest-graph.R
  apis/r/tests/testthat/test-SeuratOutgest-object.R
  apis/r/tests/testthat/test-SeuratOutgest-reduction.R
  apis/r/tests/testthat/test-TileDBArray.R
  apis/r/tests/testthat/test-TileDBCreateOptions.R
  apis/r/tests/testthat/test-TileDBGroup.R
  apis/r/tests/testthat/test-shape.R
  apis/r/tests/testthat/test-utils-uris.R
  apis/r/tests/testthat/test-utils.R
Due: none

[r] Push `dimnames` down to C++ (#3065)
  apis/r/R/RcppExports.R
  apis/r/R/TileDBArray.R
  apis/r/src/RcppExports.cpp
  apis/r/src/rinterface.cpp
Due: none

[c++] Extend some unit-test cases
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

code-review feedback
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: none

complete connection to unit-test files
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/common.h
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: none

Fix Python tests, and straighten out logged method names
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

[c++] Expose custom domain for `libtiledbsoma` unit-test cases
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/unit_arrow_adapter.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: libtiledbsoma

Use pushdown domainish accessors at python UX level
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/r/R/RcppExports.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/TileDBArray.R
  apis/r/R/utils-arrow.R
  apis/r/src/RcppExports.cpp
  apis/r/src/rinterface.cpp
  apis/r/src/rutilities.cpp
  apis/r/src/rutilities.h
  apis/r/tests/testthat/test-shape.R
  libtiledbsoma/src/soma/soma_array.cc
Due: python_api, libtiledbsoma

code-review feedback
  apis/r/R/utils-arrow.R
  apis/r/tests/testthat/test-shape.R
Due: none

fix rebase
  apis/r/tests/testthat/test-shape.R
Due: none

[c++] Extend some unit-test cases for new shape (#3068)
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

[r] Address some pkgdown GHA warnings (#3077)
  .github/workflows/pkgdown.yaml
Due: none

add a helpful comment [skip ci]
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

[c++] Expose custom `DataFrame` domain for `libtiledbsoma` unit-test cases (#3069)
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/common.h
  libtiledbsoma/test/unit_arrow_adapter.cc
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

comment re code-review feedback [skip ci]
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Apply suggestions from code review
  apis/python/src/tiledbsoma/_constants.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_point_cloud.py
Due: python_api

Fix missing import
  apis/python/src/tiledbsoma/_multiscale_image.py
Due: python_api

Fix scene collection type in Experiment
  apis/python/src/tiledbsoma/_experiment.py
Due: python_api

Update somacore version for Python API and pre-commit
  .pre-commit-config.yaml
  apis/python/setup.py
Due: none

[python/r] Use pushdown domainish accessors at the Python/R UX level (#3027)
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/r/R/RcppExports.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/TileDBArray.R
  apis/r/R/utils-arrow.R
  apis/r/src/RcppExports.cpp
  apis/r/src/rinterface.cpp
  apis/r/src/rutilities.cpp
  apis/r/src/rutilities.h
  apis/r/tests/testthat/test-shape.R
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: python_api, libtiledbsoma

Apply suggestions from code review
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_point_cloud.py
  apis/python/src/tiledbsoma/_scene.py
Due: python_api

Better clarity in docstring
  apis/python/src/tiledbsoma/_multiscale_image.py
Due: python_api

Fix extra docstring start from suggested change
  apis/python/src/tiledbsoma/_multiscale_image.py
Due: python_api

Apply suggested updates to docstrings
  apis/python/src/tiledbsoma/_multiscale_image.py
Due: python_api

add `--maxfail=50` to GHA `pytest` (#3034)
  .github/workflows/python-ci-single.yml
Due: none

Apply suggestions from code review
  apis/python/src/tiledbsoma/_multiscale_image.py
Due: python_api

Update the spatial branch to work with somacore 1.0.18
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_point_cloud.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_spatial_dataframe.py
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

[r] Port `QueryCondition` from `tiledb-r` to `tiledbsoma-r`
  apis/r/R/TileDBQueryCondition.R
  apis/r/src/query_condition.cpp
Due: none

[python] Update TileDB-SOMA to use the `somacore` release with spatial datatypes (#3078)
  .pre-commit-config.yaml
  apis/python/setup.py
  apis/python/src/tiledbsoma/_constants.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_measurement.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_point_cloud.py
  apis/python/src/tiledbsoma/_scene.py
Due: python_api

Update the spatial branch to work with somacore==1.0.18 (#3082)
  .pre-commit-config.yaml
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/setup.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_point_cloud.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_spatial_dataframe.py
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

rcpp autogen
  apis/r/R/RcppExports.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/TileDBQueryCondition.R
  apis/r/src/RcppExports.cpp
Due: none

[r] Run `devtools::document()`
  apis/r/man/BlockwiseReadIterBase.Rd
  apis/r/man/BlockwiseSparseReadIter.Rd
  apis/r/man/BlockwiseTableReadIter.Rd
  apis/r/man/ConfigList.Rd
  apis/r/man/EphemeralCollection.Rd
  apis/r/man/EphemeralCollectionBase.Rd
  apis/r/man/EphemeralExperiment.Rd
  apis/r/man/EphemeralMeasurement.Rd
  apis/r/man/PlatformConfig.Rd
  apis/r/man/SOMAArrayBase.Rd
  apis/r/man/SOMACollection.Rd
  apis/r/man/SOMACollectionBase.Rd
  apis/r/man/SOMAContextBase.Rd
  apis/r/man/SOMADataFrame.Rd
  apis/r/man/SOMADenseNDArray.Rd
  apis/r/man/SOMAExperiment.Rd
  apis/r/man/SOMAMeasurement.Rd
  apis/r/man/SOMANDArrayBase.Rd
  apis/r/man/SOMASparseNDArray.Rd
  apis/r/man/SOMASparseNDArrayBlockwiseRead.Rd
  apis/r/man/SOMASparseNDArrayRead.Rd
  apis/r/man/SOMATileDBContext.Rd
  apis/r/man/ScalarMap.Rd
  apis/r/man/SparseReadIter.Rd
  apis/r/man/TableReadIter.Rd
  apis/r/man/TileDBArray.Rd
  apis/r/man/TileDBCreateOptions.Rd
  apis/r/man/TileDBGroup.Rd
Due: none

Re-run notebook
  apis/python/notebooks/tutorial_spatial.ipynb
Due: none

Update the encoding version to 1.1.0
  apis/python/src/tiledbsoma/_constants.py
  apis/python/src/tiledbsoma/_factory.py
  apis/r/R/utils.R
  libtiledbsoma/src/utils/common.h
Due: python_api, libtiledbsoma

[r] Run `devtools::document()` (#3084)
  apis/r/man/BlockwiseReadIterBase.Rd
  apis/r/man/BlockwiseSparseReadIter.Rd
  apis/r/man/BlockwiseTableReadIter.Rd
  apis/r/man/ConfigList.Rd
  apis/r/man/EphemeralCollection.Rd
  apis/r/man/EphemeralCollectionBase.Rd
  apis/r/man/EphemeralExperiment.Rd
  apis/r/man/EphemeralMeasurement.Rd
  apis/r/man/PlatformConfig.Rd
  apis/r/man/SOMAArrayBase.Rd
  apis/r/man/SOMACollection.Rd
  apis/r/man/SOMACollectionBase.Rd
  apis/r/man/SOMAContextBase.Rd
  apis/r/man/SOMADataFrame.Rd
  apis/r/man/SOMADenseNDArray.Rd
  apis/r/man/SOMAExperiment.Rd
  apis/r/man/SOMAMeasurement.Rd
  apis/r/man/SOMANDArrayBase.Rd
  apis/r/man/SOMASparseNDArray.Rd
  apis/r/man/SOMASparseNDArrayBlockwiseRead.Rd
  apis/r/man/SOMASparseNDArrayRead.Rd
  apis/r/man/SOMATileDBContext.Rd
  apis/r/man/ScalarMap.Rd
  apis/r/man/SparseReadIter.Rd
  apis/r/man/TableReadIter.Rd
  apis/r/man/TileDBArray.Rd
  apis/r/man/TileDBCreateOptions.Rd
  apis/r/man/TileDBGroup.Rd
Due: none

Update errors for valid soma types that are not yet implemented
  apis/python/src/tiledbsoma/_tdb_handles.py
  libtiledbsoma/src/soma/soma_object.cc
Due: python_api, libtiledbsoma
