Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

Update copyright header for pybind files
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/common.h
  apis/python/src/tiledbsoma/fastercsx.cc
  apis/python/src/tiledbsoma/managed_query.cc
  apis/python/src/tiledbsoma/query_condition.cc
  apis/python/src/tiledbsoma/reindexer.cc
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/src/tiledbsoma/soma_context.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/soma_group.cc
  apis/python/src/tiledbsoma/soma_object.cc
  apis/python/src/tiledbsoma/soma_point_cloud_dataframe.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  apis/python/src/tiledbsoma/soma_vfs.cc
Due: python_api

add string/binary columns to dataframe tests
  apis/python/tests/ht/_ht_test_config.py
  apis/python/tests/ht/_ht_util.py
  apis/python/tests/ht/conftest.py
  apis/python/tests/ht/test_ht_dataframe.py
Due: none

lint
  apis/python/tests/ht/test_ht_dataframe.py
Due: none

run `make format`
  apis/python/src/tiledbsoma/soma_vfs.cc
Due: python_api

[c++] Fix some build errors for Docker
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/utils/fastercsx.h
Due: libtiledbsoma

[c++] Fix some build errors for Docker (#3620)
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/utils/fastercsx.h
Due: libtiledbsoma

Push down coord space and spatial encoding metadata
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/soma_collection.cc
  libtiledbsoma/src/soma/soma_multiscale_image.cc
  libtiledbsoma/src/soma/soma_multiscale_image.h
  libtiledbsoma/test/unit_soma_multiscale_image.cc
Due: python_api, libtiledbsoma

Use `MultiscaleImage.create` instead of `Group.create`
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/soma_collection.cc
Due: python_api

Make coordinate space info const ref
  apis/python/src/tiledbsoma/soma_collection.cc
Due: python_api

Make SOMAColumn metadata only required by GeometryDataframe
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
Due: libtiledbsoma

Update tests
  apis/r/tests/testthat/test-04-TileDBArray.R
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: none

Remove fmt::format
  libtiledbsoma/src/soma/soma_column.h
Due: libtiledbsoma

Remove unneeded methods and member variables
  libtiledbsoma/src/soma/soma_column.h
Due: libtiledbsoma

Add read test case
  libtiledbsoma/test/unit_soma_column.cc
Due: none

Migrate array creation to SOMAColumn
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Fix current domain unit test on string dimension
  apis/r/tests/testthat/test-11-shape.R
Due: none

Address review comments
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/src/utils/util.cc
  libtiledbsoma/src/utils/util.h
Due: libtiledbsoma

Address review comment about unit test
  libtiledbsoma/test/unit_soma_column.cc
Due: none

Fix string current domain in unit dataframe tests
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: none

Misc fixes
  libtiledbsoma/src/soma/soma_geometry_column.h
Due: libtiledbsoma

Misc fixes
  libtiledbsoma/src/soma/soma_geometry_column.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Remove current_domain flag
  libtiledbsoma/test/unit_soma_column.cc
Due: none

Replace string_view with string when returning column name, add current domain checks, replace vector with span when selecting points
  libtiledbsoma/test/unit_soma_column.cc
Due: none

Add function to extract data from ArrowTable into std::array
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Do not export soma column [skip ci]
  libtiledbsoma/src/tiledbsoma/tiledbsoma
Due: libtiledbsoma

Replace string_view with string when returning column name, add current domain checks, replace vector with span when selecting points
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_dimension.cc
Due: libtiledbsoma

Add minimal testing for dimensions
  libtiledbsoma/src/tiledbsoma/tiledbsoma
Due: libtiledbsoma

Replace Skip template parameter with a function parameter
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Remove unused methods
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Add minimal testing for dimensions
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Replace string_view with string when returning column name, add current domain checks, replace vector with span when selecting points
  libtiledbsoma/src/soma/soma_attribute.cc
Due: libtiledbsoma

Update CMake files
  libtiledbsoma/src/tiledbsoma/tiledbsoma
Due: libtiledbsoma

[c++] SOMAColumn serialization/deserialization (#3599)
  apis/r/tests/testthat/test-04-TileDBArray.R
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_attribute.cc
  libtiledbsoma/src/soma/soma_attribute.h
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
  libtiledbsoma/src/soma/soma_geometry_dataframe.cc
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/src/utils/common.h
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_column.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

Apply suggestions from code review
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/src/utils/common.h
Due: libtiledbsoma

Rename constants
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_attribute.cc
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma
