Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

pr fb
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
Due: python_api

[python] Fix mishandling of join-ID column (#3970)
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
  apis/python/tests/test_registration_mappings.py
Due: python_api

[c++,python] Pass timestamp when creating `ArraySchema`
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_sparse_nd_array.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Use correct clang-format version
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Add more unicode sequences
  apis/python/tests/test_metadata.py
Due: none

Improve error messaging
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

Fix macos build issue
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

Use `bool_` instead of `bool`
  apis/python/tests/test_metadata.py
Due: none

update `python-dockers.yml` failure issue template
  .github/workflows/daily-python-dockers-issue-template.md
Due: none

Update apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

[python] Increase unit-test coverage for various metadata value-types (#3972)
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/tests/test_metadata.py
Due: python_api

Harmonize/GC daily-GHA-failure issue-templates
  .github/workflows/daily-python-dockers-issue-template.md
  .github/workflows/daily-python-packaging-issue-template.md
  .github/workflows/daily-test-build-issue-template.md
  .github/workflows/python-packaging.yml
Due: none

[python] Harmonize/GC daily-GHA-failure issue-templates (#3973)
  .github/workflows/daily-python-dockers-issue-template.md
  .github/workflows/daily-python-packaging-issue-template.md
  .github/workflows/daily-test-build-issue-template.md
  .github/workflows/python-packaging.yml
Due: none

[python] Correctly manage lifetime of `SOMAVFS` with `SOMAVFSFilebuf`
  apis/python/src/tiledbsoma/soma_vfs.cc
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

Update apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_basic_anndata_io.py
Due: none

collect vfs
  apis/python/tests/test_basic_anndata_io.py
Due: none

[python] Ensure `ndarray` byteorder is little-endian on matrix writes (#3963)
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

[python][c++] Correctly manage lifetime of `SOMAVFS` with `SOMAVFSFilebuf` (#3976)
  apis/python/src/tiledbsoma/soma_vfs.cc
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

[Backport release-1.16][python/ci] Harmonize/GC daily-GHA-failure issue-templates
  .github/workflows/daily-python-packaging-issue-template.md
  .github/workflows/daily-test-build-issue-template.md
  .github/workflows/python-packaging.yml
Due: none

[Backport release-1.16][python/ci] Harmonize/GC daily-GHA-failure issue-templates (#3978)
  .github/workflows/daily-python-packaging-issue-template.md
  .github/workflows/daily-test-build-issue-template.md
  .github/workflows/python-packaging.yml
Due: none

[python][c++] Correctly manage lifetime of `SOMAVFS` with `SOMAVFSFilebuf` (#3976) (#3979)
  apis/python/src/tiledbsoma/soma_vfs.cc
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

[python] Test `get_experiment_shapes` for underpopulated experiments (#3966)
  apis/python/src/tiledbsoma/io/shaping.py
  apis/python/tests/test_shape.py
Due: python_api

[python] `SOMAObject.open`: rm unused `clib_type` kwarg (#3954)
  apis/python/src/tiledbsoma/_soma_object.py
Due: python_api

Address code review feedback Update `SOMADataFrame$levels()` with new `simplify` paramter Default to `TRUE` to simplify the result into a vector or matrix
  apis/r/R/SOMADataFrame.R
  apis/r/man/SOMADataFrame.Rd
  apis/r/tests/testthat/test-06-SOMADataFrame.R
Due: none

[r] Replace tiledb-r enum accessors with libtiledb/Rcpp (#3855)
  apis/r/R/RcppExports.R
  apis/r/R/SOMADataFrame.R
  apis/r/man/SOMADataFrame.Rd
  apis/r/src/RcppExports.cpp
  apis/r/src/rinterface.cpp
  apis/r/tests/testthat/test-06-SOMADataFrame.R
Due: none

h5py cleanup race fix
  apis/python/src/tiledbsoma/io/_caching_reader.py
  apis/python/src/tiledbsoma/io/_util.py
Due: python_api

revert bug
  apis/python/src/tiledbsoma/io/_caching_reader.py
Due: python_api

h5py cleanup race fix (#3984)
  apis/python/src/tiledbsoma/io/_util.py
Due: python_api

[python] Hold `SOMAContext` smart pointer in `SOMAVFS`
  apis/python/src/tiledbsoma/soma_vfs.cc
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

[wip] Refactor SOMAVFS
  apis/python/src/tiledbsoma/io/_util.py
  apis/python/src/tiledbsoma/soma_vfs.cc
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

[wip] Rename to FileHandle and check if open
  apis/python/src/tiledbsoma/io/_util.py
  apis/python/src/tiledbsoma/soma_vfs.cc
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

[wip] Open in constructor
  apis/python/src/tiledbsoma/soma_vfs.cc
  apis/python/tests/test_basic_anndata_io.py
Due: python_api
