Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

restore `test_query_cleanup` sans threadpool checks
  apis/python/tests/test_experiment_query.py
Due: none

Update apis/python/src/tiledbsoma/_query.py
  apis/python/src/tiledbsoma/_query.py
Due: python_api

[r] TileDB-SOMA 1.15.2 [skip ci]
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[r] TileDB-SOMA 1.15.2 [skip ci] (#3497)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

`tiledbsoma.__init__.py`: restore lint checks (#3495)
  apis/python/src/tiledbsoma/__init__.py
Due: none

[python] Update `add_new_collection` method to support `Scene` collections (#3491)
  apis/python/src/tiledbsoma/_collection.py
  apis/python/tests/test_basic_spatialdata_io.py
  apis/python/tests/test_experiment_query_spatial.py
Due: python_api

[python] Make `ExperimentAxisQuery` inherit `somacore`, restore its `.close` (#3493)
  apis/python/src/tiledbsoma/_query.py
  apis/python/tests/test_experiment_query.py
Due: python_api

Remove CXX20 env variable
  apis/r/src/Makevars.in
Due: none

lint fix
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Switch C-style casts to named casts
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Add helper methods for to and from arrow contructs
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Remove unnecessary `std::string` conversion to `c_str`
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Replace string_view with string when returning column name, add current domain checks, replace vector with span when selecting points
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

SOMAColumn abstract class definition
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_column.h
Due: libtiledbsoma

Remove current_domain flag
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Add helper methods for to and from arrow contructs
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Add concrete class wrapper for TileDB dimension
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
Due: libtiledbsoma

Add description and license
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
Due: libtiledbsoma

Fix unit test
  libtiledbsoma/test/unit_soma_column.cc
Due: none

Remove fmt::format
  libtiledbsoma/src/soma/soma_column.h
Due: libtiledbsoma

Add minimal testing for dimensions
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/common.h
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Add missing `override`
  libtiledbsoma/src/soma/soma_dimension.h
Due: libtiledbsoma

Bump min macos version (Remove commit after merging 3361)
  apis/python/setup.py
Due: none

Add virtual destructor [skip ci]
  libtiledbsoma/src/soma/soma_column.h
Due: libtiledbsoma

Remove unneeded methods and member variables
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_column.h
Due: libtiledbsoma

Add better description to SOMACOlumn
  libtiledbsoma/src/soma/soma_column.h
Due: libtiledbsoma

Misc fixes
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_dimension.h
Due: libtiledbsoma

Add read test case
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Address review comments
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
Due: libtiledbsoma

Fix unit tests
  libtiledbsoma/test/unit_soma_column.cc
Due: none

Remove duplicate declaration
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Add CoordinateSpace class to libtiledbsoma
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/soma_metadata.cc
  libtiledbsoma/src/soma/soma_metadata.h
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/test/unit_soma_metadata.cc
Due: libtiledbsoma

Add coordinate space to SOMAScene
  libtiledbsoma/src/soma/soma_scene.cc
  libtiledbsoma/src/soma/soma_scene.h
  libtiledbsoma/src/utils/common.h
  libtiledbsoma/test/unit_soma_scene.cc
Due: libtiledbsoma

validate byteorder on argument arrays
  apis/python/src/tiledbsoma/fastercsx.cc
  apis/python/tests/test_libfastercsx.py
Due: python_api

Comply with C.128
  libtiledbsoma/src/soma/soma_dimension.h
Due: libtiledbsoma
