Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

test lint
  apis/python/tests/test_context.py
Due: none

final workaround
  apis/python/tests/test_context.py
Due: none

[python/r] Array-creation mods for new shape (#2962)
  .github/workflows/python-ci-single.yml
  .github/workflows/r-ci.yml
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_shape.py
  apis/python/tests/test_sparse_nd_array.py
  apis/r/R/Init.R
  apis/r/R/SOMANDArrayBase.R
  apis/r/R/utils-arrow.R
  apis/r/tests/testthat/test-SOMASparseNDArray.R
  apis/r/tests/testthat/test-shape.r
Due: python_api

code-review feedback
  apis/r/R/SOMASparseNDArray.R
Due: none

code-review feedback
  apis/r/R/Init.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/man/SOMADataFrame.Rd
  apis/r/man/SOMADenseNDArray.Rd
  apis/r/man/SOMANDArrayBase.Rd
  apis/r/man/SOMASparseNDArray.Rd
Due: none

[python/r] Iterative current-domain testing [skip ci]
  apis/python/src/tiledbsoma/_common_nd_array.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_shape.py
  apis/r/.Rbuildignore
  apis/r/R/Init.R
  apis/r/R/RcppExports.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMANDArrayBase.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/src/RcppExports.cpp
  apis/r/src/rinterface.cpp
  apis/r/src/rutilities.cpp
  apis/r/src/rutilities.h
  apis/r/tests/testthat/test-shape.R
  apis/r/tests/testthat/test-shape.r
Due: python_api

fix error
  apis/r/tests/testthat/test-SOMASparseNDArray.R
Due: none

[c++] Remove `ArrayBuffers` from `SOMAArray`
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

[c++/python] More exception-mapping fixes
  apis/python/src/tiledbsoma/common.h
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/reindexer.cc
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_indexer.py
Due: python_api

[c++/python] More exception-mapping fixes (#2980)
  apis/python/src/tiledbsoma/common.h
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/reindexer.cc
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_indexer.py
Due: python_api

remove macos work-around
  apis/python/tests/test_context.py
Due: none

Implement spatial read for PointCloud
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_point_cloud.py
  apis/python/src/tiledbsoma/_spatial_util.py
Due: python_api

Update notebook
  apis/python/notebooks/tutorial_spatial.ipynb
Due: none

Rename method `spatial_read` -> `read_region`
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/src/tiledbsoma/_point_cloud.py
  apis/python/src/tiledbsoma/_spatial_dataframe.py
Due: python_api

[c++] Remove `ArrayBuffers` from `SOMAArray` (#2979)
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

Update somacore version for Python API and pre-commit
  .pre-commit-config.yaml
  apis/python/setup.py
Due: none

[c++] Create specialized templates for `SOMAArray` casting helpers
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

Update spatial notebook
  apis/python/notebooks/tutorial_spatial.ipynb
Due: none

[c++] Support writes when attaching `Query` to `ColumnBuffer`
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/column_buffer.h
Due: libtiledbsoma

[c++] Create specialized templates for `SOMAArray` casting helpers (#2982)
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

correct doc
  libtiledbsoma/src/soma/column_buffer.cc
Due: libtiledbsoma

[python] Complete TileDB-Py 0.32.0 pin
  apis/python/setup.py
Due: none

Add spatial read support (#2981)
  .pre-commit-config.yaml
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/setup.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_point_cloud.py
  apis/python/src/tiledbsoma/_spatial_dataframe.py
  apis/python/src/tiledbsoma/_spatial_util.py
Due: python_api

[python] Complete TileDB-Py 0.32.0 pin (#2984)
  apis/python/setup.py
Due: none

format
  libtiledbsoma/src/soma/column_buffer.cc
Due: libtiledbsoma

[c++] Refine concurrency configuration (`soma.compute_concurrency_level`) (#2978)
  apis/python/tests/test_context.py
  libtiledbsoma/src/soma/soma_context.cc
  libtiledbsoma/src/soma/soma_context.h
Due: libtiledbsoma

next try
  apis/python/setup.py
  libtiledbsoma/CMakeLists.txt
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
  libtiledbsoma/src/CMakeLists.txt
  scripts/bld
Due: none

to be typed up
  apis/python/setup.py
  libtiledbsoma/CMakeLists.txt
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/test/unit_soma_group.cc
  scripts/bld
Due: libtiledbsoma

[python] Use `somacore` 1.0.15
  .pre-commit-config.yaml
  apis/python/setup.py
Due: none

DESCRIPTION/NEWS.md
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[python] Use `somacore` 1.0.15 (#2986)
  .pre-commit-config.yaml
  apis/python/setup.py
Due: none

[python/r] Implement `resize` and `tiledbsoma_upgrade_shape` (#2950)
  apis/python/src/tiledbsoma/_common_nd_array.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_shape.py
  apis/r/.Rbuildignore
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/R/Init.R
  apis/r/R/RcppExports.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMANDArrayBase.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/man/SOMADataFrame.Rd
  apis/r/man/SOMADenseNDArray.Rd
  apis/r/man/SOMANDArrayBase.Rd
  apis/r/man/SOMASparseNDArray.Rd
  apis/r/src/RcppExports.cpp
  apis/r/src/rinterface.cpp
  apis/r/src/rutilities.cpp
  apis/r/src/rutilities.h
  apis/r/tests/testthat/test-SOMASparseNDArray.R
  apis/r/tests/testthat/test-shape.R
  apis/r/tests/testthat/test-shape.r
Due: python_api

rebase and retry
  libtiledbsoma/CMakeLists.txt
  libtiledbsoma/src/CMakeLists.txt
Due: none

[c++] Support writes when attaching `Query` to `ColumnBuffer` (#2983)
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/column_buffer.h
Due: libtiledbsoma

[c++] Fix `ManagedQuery` usage in `SOMAArray` write path
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: libtiledbsoma
