Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

debug
  libtiledbsoma/src/utils/nanoarrow.c
Due: libtiledbsoma

[r/ci] Unbreak wheel builds
  libtiledbsoma/src/external/src/nanoarrow/nanoarrow.c
Due: none

merge (#2396)
  .github/workflows/r-ci.yml
  .github/workflows/r-python-interop-testing.yml
Due: none

[r] TileDB-SOMA-R 1.9.4
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

code-review feedback
  apis/r/NEWS.md
Due: none

[r] TileDB-SOMA-R 1.9.4 (#2399)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[r/ci] Unbreak wheel builds (#2398)
  libtiledbsoma/src/external/src/nanoarrow/nanoarrow.c
Due: none

[r/ci] Unbreak wheel builds (#2398)
  libtiledbsoma/src/utils/nanoarrow.c
Due: libtiledbsoma

Correct Boolean value writes for enum values
  apis/python/devtools/ingestor
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/tests/test_collection.py
Due: python_api

Push `TileDBArray$reopen()` down to `TileDBObject`
  apis/r/R/TileDBArray.R
  apis/r/R/TileDBObject.R
  apis/r/man/EphemeralCollection.Rd
  apis/r/man/EphemeralCollectionBase.Rd
  apis/r/man/EphemeralExperiment.Rd
  apis/r/man/EphemeralMeasurement.Rd
  apis/r/man/SOMAArrayBase.Rd
  apis/r/man/SOMACollection.Rd
  apis/r/man/SOMACollectionBase.Rd
  apis/r/man/SOMADataFrame.Rd
  apis/r/man/SOMADenseNDArray.Rd
  apis/r/man/SOMAExperiment.Rd
  apis/r/man/SOMAMeasurement.Rd
  apis/r/man/SOMANDArrayBase.Rd
  apis/r/man/SOMASparseNDArray.Rd
  apis/r/man/TileDBArray.Rd
  apis/r/man/TileDBGroup.Rd
  apis/r/man/TileDBObject.Rd
Due: none

Add tests for `$reopen()` on collections
  apis/r/tests/testthat/test-reopen.R
Due: none

Update changelog
  apis/r/NEWS.md
Due: none

[r] Add `$reopen()` to `TileDBObject` (#2372)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/R/SOMADataFrame.R
  apis/r/R/TileDBArray.R
  apis/r/R/TileDBObject.R
  apis/r/man/EphemeralCollection.Rd
  apis/r/man/EphemeralCollectionBase.Rd
  apis/r/man/EphemeralExperiment.Rd
  apis/r/man/EphemeralMeasurement.Rd
  apis/r/man/SOMAArrayBase.Rd
  apis/r/man/SOMACollection.Rd
  apis/r/man/SOMACollectionBase.Rd
  apis/r/man/SOMADataFrame.Rd
  apis/r/man/SOMADenseNDArray.Rd
  apis/r/man/SOMAExperiment.Rd
  apis/r/man/SOMAMeasurement.Rd
  apis/r/man/SOMANDArrayBase.Rd
  apis/r/man/SOMASparseNDArray.Rd
  apis/r/man/TileDBArray.Rd
  apis/r/man/TileDBGroup.Rd
  apis/r/man/TileDBObject.Rd
  apis/r/tests/testthat/test-SeuratIngest.R
  apis/r/tests/testthat/test-reopen.R
Due: none

Add in missing RuntimeError
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
Due: python_api

Release (default) allocation of private_data before point to ours
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Remove unnecessary buffer set up done by nanoarrow
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

White-space only commit because of clang-format
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

[c++] Address final `valgrind` issue (#2403)
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

[r] Check that library versions match
  apis/r/R/Init.R
Due: none

[python] Pass more context in registrar
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
Due: python_api

[c++] Refactor metadata
  apis/python/src/tiledbsoma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_experiment.cc
  libtiledbsoma/src/soma/soma_experiment.h
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_measurement.cc
  libtiledbsoma/src/soma/soma_measurement.h
  libtiledbsoma/src/soma/soma_object.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/src/utils/common.h
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_group.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

Add brackets
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Correct typo
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

[c++] Refactor `metadata` and `create` to respect timestamps (#2180)
  apis/python/src/tiledbsoma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_experiment.cc
  libtiledbsoma/src/soma/soma_experiment.h
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_measurement.cc
  libtiledbsoma/src/soma/soma_measurement.h
  libtiledbsoma/src/soma/soma_object.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/src/utils/common.h
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_group.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

Also enable .onAttach()
  apis/r/R/Init.R
Due: none

[r] Check that TileDB Core library versions match (#2410)
  apis/r/R/Init.R
Due: none

[r] Use `arrow` via `Suggests:` only easing the build requirements
  apis/r/DESCRIPTION
  apis/r/NAMESPACE
  apis/r/R/SOMAExperimentAxisQuery.R
  apis/r/R/utils.R
Due: none

[python] Pass more context in registrar (#2411)
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
Due: python_api

[c++] Use core 2.21.2 [WIP]
  .github/workflows/python-so-copying.yml
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
Due: none

Built site for tiledbsoma: 1.9.4@d425839
  articles/soma-experiment-queries.html
  articles/soma-objects.html
  articles/soma-reading.html
  pkgdown.yml
  search.json
Due: none

[r] TileDB-SOMA 1.9.5
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[r] TileDB-SOMA 1.9.5 (#2432)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

AlreadyExistsError; use for DataFrame in tiledbsoma.io
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_common_nd_array.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_exception.py
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

apply in `_create_or_open_collection`
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

apply in _create_from_matrix
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api
