Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Unconstrain matrix, add another exclude dir in codecov
  .github/workflows/r-ci.yml
  codecov.yml
Due: none

Adjust encoding of timestamps
  apis/r/R/utils.R
  apis/r/R/write_seurat.R
  apis/r/tests/testthat/test-SeuratIngest.R
Due: none

Update docs
  apis/r/R/write_soma.R
  apis/r/man/write_soma_objects.Rd
Due: none

Set wider coverage acceptance bands
  codecov.yml
Due: none

[r] Tweak coverage data generation (#1990)
  .github/workflows/r-ci.yml
  apis/r/R/SOMADataFrame.R
  apis/r/tests/testthat/test-SeuratIngest.R
  apis/r/tests/testthat/test-SummarizedExperimentIngest.R
  apis/r/tools/r-ci.sh
  codecov.yml
Due: none

Class errors
  apis/r/R/utils-assertions.R
Due: none

Adjust decoding numerics
  apis/r/R/utils.R
Due: none

Add ability to outgest `SeuratCommand` logs
  apis/r/NAMESPACE
  apis/r/R/SOMAExperimentAxisQuery.R
  apis/r/R/utils-seurat.R
  apis/r/tests/testthat/test-SeuratOutgest-command.R
Due: none

Integration with SOMA
  apis/python/setup.py
Due: none

C++ IntIndexer based on khash
  .github/workflows/python-ci-single.yml
  apis/python/setup.py
  apis/python/src/tiledbsoma/IntIndexer.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/external/include/thread_pool/producer_consumer_queue.h
  libtiledbsoma/src/external/khash/khash.h
  libtiledbsoma/src/external/khash/khashl.h
  libtiledbsoma/src/reindexer/reindexer.cc
  libtiledbsoma/src/reindexer/reindexer.h
  libtiledbsoma/test/test_indexer.py
Due: python_api

Also include soma/reindexer.h
  apis/python/src/tiledbsoma/_experiment.py
  apis/r/inst/include/tiledbsoma_types.h
  libtiledbsoma/src/reindexer/reindexer.cc
  libtiledbsoma/src/reindexer/reindexer.h
Due: python_api

Add include for stdexcept needed by runtime_error
  libtiledbsoma/src/reindexer/reindexer.h
Due: none

Also include soma/reindexer.h
  libtiledbsoma/src/tiledbsoma/tiledbsoma
Due: libtiledbsoma

Rebase re-indexer and a new example
  libtiledbsoma/src/reindexer/example.py
  libtiledbsoma/src/reindexer/reindexer.h
Due: none

Fix the ignore styling for external code and a small bug introduced by rebase
  .github/workflows/python-ci-single.yml
  libtiledbsoma/src/tiledbsoma/tiledbsoma
Due: libtiledbsoma

Minor fix to make CI pass
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/r/inst/include/tiledbsoma_types.h
  libtiledbsoma/src/CMakeLists.txt
Due: python_api

Various bug fixes
  apis/python/src/tiledbsoma/IntIndexer.py
  libtiledbsoma/src/reindexer/reindexer.cc
  libtiledbsoma/src/reindexer/reindexer.h
  libtiledbsoma/test/test_indexer.py
Due: python_api

[C++] Workflow fix to skip external files for reindexer and format fixesr
  .github/workflows/python-ci-single.yml
  apis/python/src/tiledbsoma/IntIndexer.py
  apis/python/src/tiledbsoma/_experiment.py
  libtiledbsoma/src/reindexer/example.py
  libtiledbsoma/test/test_indexer.py
Due: python_api

Moving CIndexer factory to _experiments
  apis/python/setup.py
  apis/python/src/tiledbsoma/IntIndexer.py
  apis/python/src/tiledbsoma/_experiment.py
  libtiledbsoma/src/reindexer/reindexer.cc
  libtiledbsoma/test/test_indexer.py
Due: python_api

Reusing the query context to avoid a new one
  apis/python/setup.py
  apis/python/src/tiledbsoma/_experiment.py
Due: python_api

Format fixes and code cleanup
  apis/python/src/tiledbsoma/IntIndexer.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  libtiledbsoma/src/reindexer/example.py
Due: python_api

Init
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
  apis/python/tests/test_sparse_nd_array.py
Due: python_api

Allow specification of X names on ingest [release-1.5]
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

Allow specification of X names on ingest [release-1.6]
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

Apply #1972 to `release-1.6`
  .github/workflows/r-ci.yml
  .github/workflows/r-python-interop-testing.yml
Due: none

code-review feedback
  .github/workflows/r-ci.yml
Due: none

revert previous commit
  .github/workflows/r-ci.yml
Due: none

undo previous erroneous commit
  .github/workflows/r-ci.yml
Due: none

code-review feedback
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Revert commit number 6, back to 2 and 4 (which are the same)
  .github/workflows/r-ci.yml
Due: none

Allow specification of X names on ingest [release-1.6] (#1996)
  .github/workflows/r-ci.yml
  .github/workflows/r-python-interop-testing.yml
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

XXX TEST check that all tests pass with new somacore
  apis/python/setup.py
Due: none

update online help
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

[python] Allow specification of X names on ingest [release-1.5] (#1995)
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

Update to use somacore==1.0.7.
  .pre-commit-config.yaml
  apis/python/setup.py
Due: none

Blockwise, tests
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
  apis/python/tests/test_experiment_query.py
  apis/python/tests/test_sparse_nd_array.py
Due: python_api

Depend on TileDB core 2.19, TileDB-Py 0.25, TileDB-R 0.23
  apis/python/setup.py
  apis/r/DESCRIPTION
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
  scripts/update-tiledb-version.py
Due: none

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/
