Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

Add specialized methods for handling byte arrays
  libtiledbsoma/src/soma/enums.h
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_dataframe.cc
Due: libtiledbsoma

Update python api to use byte specializations
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/soma_column.cc
Due: python_api

dask hvg stats
  apis/python/out/.gitignore
  apis/python/out/hvg/blood/100k_4x4x4.json
  apis/python/out/hvg/blood/100k_4x4x4.stats.json
  apis/python/out/hvg/heart/100k_1x1x1.json
  apis/python/out/hvg/heart/100k_1x1x1.stats.json
  apis/python/out/hvg/heart/100k_2x2x2.json
  apis/python/out/hvg/heart/100k_2x2x2.stats.json
  apis/python/out/hvg/heart/100k_2x8x4.json
  apis/python/out/hvg/heart/100k_2x8x4.stats.json
  apis/python/out/hvg/heart/100k_4x2x8.json
  apis/python/out/hvg/heart/100k_4x2x8.stats.json
  apis/python/out/hvg/heart/100k_4x4x4.json
  apis/python/out/hvg/heart/100k_4x4x4.stats.json
  apis/python/out/hvg/heart/100k_8x2x4.json
  apis/python/out/hvg/heart/100k_8x2x4.stats.json
  apis/python/out/hvg/lung/100k_1x1x1.json
  apis/python/out/hvg/lung/100k_1x1x1.stats.json
  apis/python/out/hvg/lung/100k_2x2x2.json
  apis/python/out/hvg/lung/100k_2x2x2.stats.json
  apis/python/out/hvg/lung/100k_4x4x4.json
  apis/python/out/hvg/lung/100k_4x4x4.stats.json
Due: none

`dsk.py`: profile/benchmark dask support
  apis/python/dsk.py
Due: none

disable GHAs (draft PR / not intended for merge)
  .github/workflows/libtiledb-ci.yml
  .github/workflows/libtiledbsoma-asan-ci.yml
  .github/workflows/python-dependency-variation.yml
  .github/workflows/r-python-interop-testing.yml
Due: none

[python/ci] Remove redundant step to prepare test data (#3744)
  .github/workflows/python-ci-single.yml
Due: none

Factor context `ConfigDict` / `ConfigVal` types (#3317)
  apis/python/src/tiledbsoma/options/__init__.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
Due: python_api

[python] Fix `make data` sandbox issue
  apis/python/tests/test_aaa_setup.py
Due: none

try 2
  apis/python/tests/test_aaa_setup.py
  scripts/prepare-test-data.sh
  test/README.md
Due: none

fix query conditions having both `attr` and `in`
  apis/python/src/tiledbsoma/_query_condition.py
Due: python_api

unit-test cases
  apis/python/tests/test_query_condition.py
Due: none

[python] Fix `make data` sandbox issue (#3748)
  scripts/prepare-test-data.sh
  test/README.md
Due: none

prototype Dask export
  apis/python/src/tiledbsoma/_dask.py
  apis/python/src/tiledbsoma/_query.py
  apis/python/src/tiledbsoma/io/outgest.py
  apis/python/tests/_util.py
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

disable GHAs (draft PR / not intended for merge)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/backport.yml
  .github/workflows/daily-remote-tests-issue-template.md
  .github/workflows/daily-test-build-issue-template.md
  .github/workflows/libtiledb-ci.yml
  .github/workflows/libtiledbsoma-asan-ci.yml
  .github/workflows/pkgdown.yaml
  .github/workflows/python-ci-full.yml
  .github/workflows/python-ci-minimal.yml
  .github/workflows/python-ci-packaging.yml
  .github/workflows/python-ci-single.yml
  .github/workflows/python-dependency-variation.yml
  .github/workflows/python-packaging.yml
  .github/workflows/python-remote-storage.yml
  .github/workflows/r-ci.yml
  .github/workflows/r-python-interop-testing.yml
  .github/workflows/r-valgrind.yaml
Due: none

dask.md
  apis/python/dask.md
  apis/python/top-allocs.py
Due: none

more heart/lung runs
  apis/python/out/hvg/heart/100k_2x8x4.json
  apis/python/out/hvg/heart/100k_8x2x4.stats.json
  apis/python/out/hvg/heart/200k_4x4x4.json
  apis/python/out/hvg/heart/200k_4x4x4.stats.json
  apis/python/out/hvg/heart/50k_4x4x4.json
  apis/python/out/hvg/heart/50k_4x4x4.stats.json
  apis/python/out/hvg/lung/200k_4x4x4.json
  apis/python/out/hvg/lung/200k_4x4x4.stats.json
Due: none

`hvg/{heart,lung}/h5ad*`
  apis/python/out/hvg/heart/h5ad_100k_4x4.json
  apis/python/out/hvg/heart/h5ad_100k_4x4.stats.json
  apis/python/out/hvg/heart/h5ad_200k_4x4.json
  apis/python/out/hvg/heart/h5ad_200k_4x4.stats.json
  apis/python/out/hvg/heart/h5ad_50k_4x4.json
  apis/python/out/hvg/heart/h5ad_50k_4x4.stats.json
  apis/python/out/hvg/lung/h5ad_100k_4x4.json
  apis/python/out/hvg/lung/h5ad_100k_4x4.stats.json
  apis/python/out/hvg/lung/h5ad_200k_4x4.json
  apis/python/out/hvg/lung/h5ad_200k_4x4.stats.json
  apis/python/out/hvg/lung/h5ad_50k_4x4.json
  apis/python/out/hvg/lung/h5ad_50k_4x4.stats.json
  apis/python/out/hvg/lung/h5ad_50k_8x8.json
  apis/python/out/hvg/lung/h5ad_50k_8x8.stats.json
Due: none

dsk.py: support h5ads
  apis/python/dsk.py
Due: none

rename hvg tdbs jsons
  apis/python/out/hvg/blood/tdbs_100k_4x4x4.json
  apis/python/out/hvg/blood/tdbs_100k_4x4x4.stats.json
  apis/python/out/hvg/heart/tdbs_100k_1x1x1.json
  apis/python/out/hvg/heart/tdbs_100k_1x1x1.stats.json
  apis/python/out/hvg/heart/tdbs_100k_2x2x2.json
  apis/python/out/hvg/heart/tdbs_100k_2x2x2.stats.json
  apis/python/out/hvg/heart/tdbs_100k_2x8x4.json
  apis/python/out/hvg/heart/tdbs_100k_2x8x4.stats.json
  apis/python/out/hvg/heart/tdbs_100k_4x2x8.json
  apis/python/out/hvg/heart/tdbs_100k_4x2x8.stats.json
  apis/python/out/hvg/heart/tdbs_100k_4x4x4.json
  apis/python/out/hvg/heart/tdbs_100k_4x4x4.stats.json
  apis/python/out/hvg/heart/tdbs_100k_8x2x4.json
  apis/python/out/hvg/heart/tdbs_100k_8x2x4.stats.json
  apis/python/out/hvg/heart/tdbs_200k_4x4x4.json
  apis/python/out/hvg/heart/tdbs_200k_4x4x4.stats.json
  apis/python/out/hvg/heart/tdbs_50k_4x4x4.json
  apis/python/out/hvg/heart/tdbs_50k_4x4x4.stats.json
  apis/python/out/hvg/lung/tdbs_100k_1x1x1.json
  apis/python/out/hvg/lung/tdbs_100k_1x1x1.stats.json
  apis/python/out/hvg/lung/tdbs_100k_2x2x2.json
  apis/python/out/hvg/lung/tdbs_100k_2x2x2.stats.json
  apis/python/out/hvg/lung/tdbs_100k_4x4x4.json
  apis/python/out/hvg/lung/tdbs_100k_4x4x4.stats.json
  apis/python/out/hvg/lung/tdbs_200k_4x4x4.json
  apis/python/out/hvg/lung/tdbs_200k_4x4x4.stats.json
Due: none

`pca/{heart,lung}/tdbs_*k_4x4x4`
  apis/python/out/pca/heart/tdbs_100k_4x4x4.json
  apis/python/out/pca/heart/tdbs_200k_4x4x4.json
  apis/python/out/pca/heart/tdbs_50k_4x4x4.json
  apis/python/out/pca/lung/tdbs_100k_4x4x4.json
  apis/python/out/pca/lung/tdbs_200k_4x4x4.json
  apis/python/out/pca/lung/tdbs_50k_4x4x4.json
Due: none

`pca/{heart,lung}/h5ad_*k_4x4x4`
  apis/python/out/pca/heart/h5ad_100k_4x4.json
  apis/python/out/pca/heart/h5ad_200k_4x4.json
  apis/python/out/pca/heart/h5ad_50k_4x4.json
  apis/python/out/pca/lung/h5ad_100k_4x4.json
  apis/python/out/pca/lung/h5ad_200k_4x4.json
  apis/python/out/pca/lung/h5ad_50k_4x4.json
Due: none

`pca/lung/{h5ad,tdbs}_*k_8x8`
  apis/python/out/pca/lung/h5ad_100k_8x8.json
  apis/python/out/pca/lung/h5ad_25k_8x8.json
  apis/python/out/pca/lung/h5ad_50k_8x8.json
  apis/python/out/pca/lung/tdbs_100k_8x8x4.json
  apis/python/out/pca/lung/tdbs_25k_8x8x4.json
  apis/python/out/pca/lung/tdbs_50k_8x8x4.json
Due: none

[python] Fix query condition for `in` operator combined with `attr(...)` (#3746)
  apis/python/src/tiledbsoma/_query_condition.py
  apis/python/tests/test_query_condition.py
Due: python_api

lung 8x8, blood
  apis/python/out/pca/blood/tdbs_200k_1x16x4.json
  apis/python/out/pca/blood/tdbs_200k_2x2x2.json
  apis/python/out/pca/blood/tdbs_200k_2x2x4.json
  apis/python/out/pca/blood/tdbs_200k_2x4x4.json
  apis/python/out/pca/blood/tdbs_200k_2x8x1.json
  apis/python/out/pca/blood/tdbs_200k_2x8x4.json
  apis/python/out/pca/blood/tdbs_200k_4x4x1.json
  apis/python/out/pca/lung/tdbs_100k_8x8x1.json
  apis/python/out/pca/lung/tdbs_25k_8x8x1.json
  apis/python/out/pca/lung/tdbs_50k_8x8x1.json
Due: none

kerl/read-outliers-debug
  Makefile
  apis/python/setup.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/managed_query.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: python_api, libtiledbsoma

Add transformer pipeline
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/utils/transformer.cc
  libtiledbsoma/src/utils/transformer.h
Due: libtiledbsoma

Add helper methods to manipulate arrow table children
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Update transformer implementation
  libtiledbsoma/src/utils/transformer.cc
  libtiledbsoma/src/utils/transformer.h
Due: libtiledbsoma

Use transformer in geometry dataframe
  libtiledbsoma/src/soma/soma_geometry_dataframe.cc
  libtiledbsoma/src/soma/soma_geometry_dataframe.h
  libtiledbsoma/src/utils/transformer.cc
  libtiledbsoma/src/utils/transformer.h
Due: libtiledbsoma

Change signature of helper methods, fix arrow release callbacks
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Fix memory leaks
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Update transformer implementation
  libtiledbsoma/src/soma/soma_transformers.cc
  libtiledbsoma/src/soma/soma_transformers.h
  libtiledbsoma/src/utils/transformer.cc
  libtiledbsoma/src/utils/transformer.h
Due: libtiledbsoma

Python implementation of transformers
  apis/python/setup.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/transformer.cc
Due: python_api

Apply suggestions from code review
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/transformer.cc
  apis/python/tests/test_geometry_dataframe.py
  libtiledbsoma/src/soma/soma_transformers.cc
  libtiledbsoma/src/soma/soma_transformers.h
  libtiledbsoma/src/utils/transformer.h
Due: python_api, libtiledbsoma

lint fixes
  apis/python/src/tiledbsoma/_geometry_dataframe.py
Due: python_api

lint fixes
  apis/python/src/tiledbsoma/transformer.cc
  libtiledbsoma/src/soma/soma_transformers.cc
  libtiledbsoma/src/utils/transformer.h
Due: python_api, libtiledbsoma

Remove duplicate function call
  apis/python/src/tiledbsoma/pytiledbsoma.cc
Due: python_api
