Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Fixing version with setuptools_scm
  apis/python/MANIFEST.in
  apis/python/_get_version.py
  apis/python/pyproject.toml
  apis/python/src/tiledbsoma/__version__.py
  apis/python/version.py
  scripts/test_build.sh
Due: python_api

Fixing version with setuptools_scm
  apis/python/.gitignore
  apis/python/src/tiledbsoma/__version__.py
Due: python_api

Fix packaging action
  .github/workflows/python-packaging.yml
  apis/python/CMakeLists.txt
Due: none

Replace wrapper_type in Group content entries
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_types.py
Due: python_api

Pass vcpkg path through cibuildwheel isolated env
  apis/python/pyproject.toml
Due: none

[r/ci] Replace P3M Bioc Mirror P3M's Bioc mirror is down and hasn't been restored; remove the part of `setup-r/action.yaml` that configures the P3M Bioc mirror and use the default mirror instead
  .github/actions/setup-r/action.yaml
Due: none

Configure Bioc repos
  .github/actions/setup-r/action.yaml
Due: none

Prefix with `utils::`
  .github/actions/setup-r/action.yaml
Due: none

Try to prevent overwriting R-universe repos
  .github/actions/setup-r/action.yaml
Due: none

[r/ci] Replace P3M Bioc Mirror (#4302)
  .github/actions/setup-r/action.yaml
Due: none

Include offset and validity buffers in memory budget, add expansion factor for variable size columns
  libtiledbsoma/src/soma/array_buffers.cc
Due: libtiledbsoma

Lint fixes
  apis/python/tests/test_dataframe.py
Due: none

Lint fixes
  libtiledbsoma/src/soma/array_buffers.cc
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Copy data to dedicated arrow buffers and reuse the managed query buffers for reading data
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Add experimental memory pool for reads
  libtiledbsoma/src/soma/array_buffers.cc
  libtiledbsoma/src/soma/array_buffers.h
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

Add a `name` property for arrow buffers
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Add some test with the experimental read enabled
  apis/python/tests/test_dataframe.py
Due: none

Fic compiler worning
  libtiledbsoma/src/soma/array_buffers.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Add optional flag to change buffer allocation method
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/column_buffer.h
Due: libtiledbsoma

Address review comments
  libtiledbsoma/src/soma/array_buffers.cc
  libtiledbsoma/src/soma/array_buffers.h
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Move encoding check to SOMAObject, remove redundant type check
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

Set image coord space at creation to address test failure
  apis/python/src/tiledbsoma/io/spatial/ingest.py
Due: python_api

Fix writing metadata when reopening
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/tests/test_reopen.py
Due: python_api

Move util functions to prevent circular dependency
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/options/_util.py
Due: python_api

Replace handle wrapper with handle in __init__
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_measurement.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
Due: python_api

Make SOMAObject no longer generic over wrapper type
  apis/python/HISTORY.md
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_measurement.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_soma_array.py
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/io/shaping.py
  apis/python/src/tiledbsoma/io/spatial/ingest.py
  apis/python/tests/test_collection.py
Due: python_api

Remove unused functions
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

Combine reify_handle and open_handle_wrapper into a single function
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

Move MetadataWrapper from HandleWrapper to SOMAObject
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_measurement.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/tests/test_metadata.py
Due: python_api

Remove handle_wrapper_ from SOMAOBject
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  libtiledbsoma/src/soma/soma_group.cc
Due: python_api, libtiledbsoma

Update metadata repr
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

Remove GroupEntry indirection
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

Move group initialization to group
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

Modify history entry
  apis/python/HISTORY.md
Due: none

Remove handle wrapper classes
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

Remove metadata wrapper dependency in reifying handle
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_group.cc
Due: python_api

typo
  apis/python/remote_tests/carrara/README.md
Due: none

Replace shared pointers with references
  libtiledbsoma/src/soma/array_buffers.cc
  libtiledbsoma/src/soma/array_buffers.h
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
