Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

Move `parse_query_condition_new` -> `parse_query_condition`
  apis/r/R/QueryCondition.R
  apis/r/R/SOMADataFrame.R
  apis/r/tests/testthat/test-SCEOutgest.R
  apis/r/tests/testthat/test-SOMAArrayReader-Arrow.R
  apis/r/tests/testthat/test-query-condition.R
Due: none

iterating on query-condition port
  apis/r/src/query_condition.cpp
  libtiledbsoma/test/common.cc
Due: none

[r] Move `parse_query_condition_new` -> `parse_query_condition` (#3174)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/R/QueryCondition.R
  apis/r/R/SOMADataFrame.R
  apis/r/src/query_condition.cpp
  apis/r/tests/testthat/test-SCEOutgest.R
  apis/r/tests/testthat/test-SOMAArrayReader-Arrow.R
  apis/r/tests/testthat/test-query-condition.R
Due: none

[r] Fix bad merge of #3174
  apis/r/R/QueryCondition.R
Due: none

[r] Fix bad merge of #3174 (#3177)
  apis/r/R/QueryCondition.R
Due: none

2.26 testing
  libtiledbsoma/test/unit_soma_collection.cc
Due: none

unit_soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
Due: python_api

fix up us-east-1 mod in pytest
  apis/python/tests/test_context.py
Due: none

Expose `embedded_version_triple` to `pybind11` layer
  apis/python/src/tiledbsoma/pytiledbsoma.cc
Due: python_api

unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_collection.cc
Due: none

move have_dense_current_domain_support to test/common.cc
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/common.h
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
Due: none

[python] Support for current domain on dense arrays
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/tests/test_shape.py
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
Due: python_api

DESCRIPTION NEWS.md
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

undo a debug mod
  apis/r/tests/testthat/test-SCEOutgest.R
Due: none

rename non_empty_domain_new -> non_empty_domain
  apis/r/R/RcppExports.R
  apis/r/R/SOMADenseNDArray.R
  apis/r/R/SOMAExperimentAxisQuery.R
  apis/r/R/TileDBArray.R
  apis/r/src/RcppExports.cpp
  apis/r/src/rinterface.cpp
  apis/r/tests/testthat/test-SOMASparseNDArray.R
  apis/r/tests/testthat/test-shape.R
Due: none

Flesh out features for `non_empty_domain_new`
  apis/r/R/SOMADenseNDArray.R
  apis/r/R/SOMAExperimentAxisQuery.R
  apis/r/R/TileDBArray.R
  apis/r/R/utils.R
  apis/r/tests/testthat/test-SCEOutgest.R
  apis/r/tests/testthat/test-SOMASparseNDArray.R
  apis/r/tests/testthat/test-shape.R
Due: none

run devtools::document()
  apis/r/NAMESPACE
  apis/r/man/SOMAArrayBase.Rd
  apis/r/man/SOMADataFrame.Rd
  apis/r/man/SOMADenseNDArray.Rd
  apis/r/man/SOMANDArrayBase.Rd
  apis/r/man/SOMASparseNDArray.Rd
  apis/r/man/TileDBArray.Rd
Due: none

code-review feedback [skip ci]
  apis/python/src/tiledbsoma/_dense_nd_array.py
Due: python_api

code-review feedback [skip ci]
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

neaten an unneeded export
  apis/r/NAMESPACE
  apis/r/R/QueryCondition.R
Due: none

[python] Support for current domain on dense arrays (#3179)
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/tests/test_shape.py
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
Due: python_api

[r] Rename `non_empty_domain_new` to `non_empty_domain` (#3176)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/R/QueryCondition.R
  apis/r/R/RcppExports.R
  apis/r/R/SOMADenseNDArray.R
  apis/r/R/SOMAExperimentAxisQuery.R
  apis/r/R/TileDBArray.R
  apis/r/R/utils.R
  apis/r/man/SOMAArrayBase.Rd
  apis/r/man/SOMADataFrame.Rd
  apis/r/man/SOMADenseNDArray.Rd
  apis/r/man/SOMANDArrayBase.Rd
  apis/r/man/SOMASparseNDArray.Rd
  apis/r/man/TileDBArray.Rd
  apis/r/src/RcppExports.cpp
  apis/r/src/rinterface.cpp
  apis/r/tests/testthat/test-SOMASparseNDArray.R
  apis/r/tests/testthat/test-shape.R
Due: none

more
  apis/r/R/TileDBArray.R
  apis/r/R/TileDBObject.R
Due: none

[r] Fix context-propagation issue
  apis/r/R/TileDBObject.R
Due: none

[ci] Try `macos-12` -> `macos-latest`
  .github/workflows/python-ci-full.yml
  .github/workflows/python-ci-minimal.yml
  .github/workflows/python-ci-packaging.yml
  .github/workflows/python-ci-single.yml
  .github/workflows/python-packaging.yml
Due: none

[c++/python] Updates for core 2.27 (#3178)
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/tests/test_context.py
  apis/python/tests/test_shape.py
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/common.h
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
Due: python_api

Fix `is_named_list` bug #3181
  apis/r/R/utils-assertions.R
  apis/r/tests/testthat/test-utils.R
Due: none

[WIP] Store ArraySchema in SOMAArray
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

fix unit-test cases
  apis/r/R/SOMANDArrayBase.R
  apis/r/tests/testthat/test-shape.R
Due: none

[r] Support for dense current domain with core 2.27
  apis/r/R/Init.R
  apis/r/R/SOMANDArrayBase.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/R/utils-arrow.R
  apis/r/tests/testthat/test-shape.R
Due: none

update xcode version
  .github/workflows/python-ci-single.yml
Due: none

fix macos arch in setuptools CI
  .github/workflows/python-ci-packaging.yml
Due: none

tests/test_registration_mappings.py WIP [skip ci]
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_registration_mappings.py
Due: none

Use correct shapes on ingest, when feature-flag enabled
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

[python/ci] Extend Python 3.12 CI coverage
  .github/workflows/python-ci-full.yml
  .github/workflows/python-ci-minimal.yml
  .github/workflows/python-packaging.yml
Due: none

[WIP] Move casting from SOMAArray to ManagedQuery
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/unit_soma_array.cc
Due: libtiledbsoma

[python] Python 3.12 support
  .github/workflows/python-ci-full.yml
  .github/workflows/python-ci-minimal.yml
  .github/workflows/python-ci-single.yml
  .github/workflows/python-packaging.yml
  apis/python/requirements_dev.txt
Due: none

[ci] Move CI workers from `macos-12` to `macos-latest` (#3182)
  .github/workflows/python-ci-full.yml
  .github/workflows/python-ci-minimal.yml
  .github/workflows/python-ci-packaging.yml
  .github/workflows/python-ci-single.yml
  .github/workflows/python-packaging.yml
Due: none

[ci/python] Use `ubuntu-latest` runners
  .github/workflows/python-ci-full.yml
  .github/workflows/python-ci-minimal.yml
  .github/workflows/python-ci-packaging.yml
  .github/workflows/python-ci-single.yml
  .github/workflows/python-packaging.yml
Due: none
