Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

[c++, python] Apply latest reviews for re-indexer
  .github/workflows/r-ci.yml
  apis/python/src/tiledbsoma/_experiment.py
  libtiledbsoma/src/reindexer/example.py
  libtiledbsoma/src/reindexer/reindexer.cc
  libtiledbsoma/src/reindexer/reindexer.h
  libtiledbsoma/test/test_indexer.cc
  libtiledbsoma/test/test_indexer.py
Due: python_api

Moving Indexer to utils submodule
  apis/__init__.py
  apis/python/__init__.py
  apis/python/src/__init__.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/utils/IntIndexer.py
  apis/python/src/tiledbsoma/utils/__init__.py
  libtiledbsoma/test/test_indexer.py
Due: python_api

Fix the ignore styling for external code and a small bug introduced by rebase
  .github/workflows/python-ci-single.yml
  libtiledbsoma/src/tiledbsoma/tiledbsoma
Due: libtiledbsoma

Reseting somacore version to the latest
  .github/workflows/r-python-interop-testing.yml
  apis/python/setup.py
  apis/python/src/tiledbsoma/_experiment.py
  libtiledbsoma/src/reindexer/example.py
Due: python_api

Minor fix to make CI pass
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/r/inst/include/tiledbsoma_types.h
  libtiledbsoma/src/CMakeLists.txt
Due: python_api

Remove extra __init__.py files
  apis/__init__.py
  apis/python/__init__.py
  apis/python/src/__init__.py
Due: none

Various bug fixes
  apis/python/src/tiledbsoma/IntIndexer.py
  libtiledbsoma/src/reindexer/reindexer.cc
  libtiledbsoma/src/reindexer/reindexer.h
  libtiledbsoma/test/test_indexer.py
Due: python_api

Moving CIndexer factory to _experiments
  apis/python/src/tiledbsoma/IntIndexer.py
  apis/python/src/tiledbsoma/_experiment.py
  libtiledbsoma/src/reindexer/reindexer.cc
  libtiledbsoma/test/test_indexer.py
Due: python_api

[python] Improving code qualityi for fast Reindexer
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/utils.py
  apis/python/src/tiledbsoma/utils/__init__.py
  libtiledbsoma/test/test_indexer.py
Due: python_api

Rebase re-indexer and a new example
  libtiledbsoma/src/reindexer/example.py
  libtiledbsoma/src/reindexer/reindexer.h
Due: none

Reusing the query context to avoid a new one
  apis/python/src/tiledbsoma/_experiment.py
Due: python_api

[C++] Workflow fix to skip external files for reindexer and format fixesr
  .github/workflows/python-ci-single.yml
  apis/python/src/tiledbsoma/IntIndexer.py
  apis/python/src/tiledbsoma/_experiment.py
  libtiledbsoma/src/reindexer/example.py
  libtiledbsoma/test/test_indexer.py
Due: python_api

Also include soma/reindexer.h
  apis/python/src/tiledbsoma/_experiment.py
  apis/r/inst/include/tiledbsoma_types.h
  libtiledbsoma/src/reindexer/reindexer.cc
  libtiledbsoma/src/reindexer/reindexer.h
Due: python_api

Fix for size 0 map map deletion
  libtiledbsoma/src/reindexer/reindexer.cc
  libtiledbsoma/src/reindexer/reindexer.h
Due: none

[c++] adding c++ unittest for reindexer
  apis/python/setup.py
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/test/test_indexer.cc
Due: none

Also include soma/reindexer.h
  libtiledbsoma/src/tiledbsoma/tiledbsoma
Due: libtiledbsoma

C++ IntIndexer based on khash
  .github/workflows/python-ci-single.yml
  apis/python/setup.py
  apis/python/src/tiledbsoma/IntIndexer.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/external/include/thread_pool/producer_consumer_queue.h
  libtiledbsoma/src/external/khash/khash.h
  libtiledbsoma/src/external/khash/khashl.h
  libtiledbsoma/src/reindexer/reindexer.cc
  libtiledbsoma/src/reindexer/reindexer.h
  libtiledbsoma/test/test_indexer.py
Due: python_api

Format fixes and code cleanup
  apis/python/src/tiledbsoma/IntIndexer.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  libtiledbsoma/src/reindexer/example.py
Due: python_api

[C++] Code improvement for fast Re-indexer
  apis/python/setup.py
  libtiledbsoma/src/reindexer/example.py
  libtiledbsoma/src/reindexer/reindexer.cc
  libtiledbsoma/test/test_indexer.py
Due: none

[R] Fixer to CI for R runs
  .github/workflows/r-ci.yml
  .github/workflows/r-python-interop-testing.yml
Due: none

Moving reindexer to build_index func under util
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/utils/IntIndexer.py
  libtiledbsoma/test/test_indexer.py
Due: python_api

Add include for stdexcept needed by runtime_error
  libtiledbsoma/src/reindexer/reindexer.h
Due: none

Addition Of `DataFrameWrapper`
  apis/python/pyproject.toml
  apis/python/setup.py
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_array.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: python_api, libtiledbsoma

Add Dictionary Support For ArraySchema -> ArrowSchema
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/tests/test_update_dataframes.py
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: python_api, libtiledbsoma

Refactor QueryCondition
  apis/python/setup.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_query_condition.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/query_condition.cc
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/tests/test_collection.py
  apis/python/tests/test_platform_config.py
  apis/python/tests/test_unicode.py
  apis/python/tests/test_update_dataframes.py
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/test/test_query_condition.py
Due: python_api, libtiledbsoma

Do TileDB ArraySchema to ArrowSchema Converstion in C++
  apis/python/src/tiledbsoma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: python_api, libtiledbsoma

Add `domain` for `SOMADataFrame`
  apis/python/pyproject.toml
  apis/python/setup.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/common.h
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

Remove #include <tiledb/tiledb> from Array derived SOMAObjects
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
Due: libtiledbsoma

Add Pybind11 Common Code
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/common.h
Due: python_api

Re-add SOMAArray::schema -> TileDB ArraySchema
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
Due: libtiledbsoma

Correct `exists` Method For macos
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/tests/test_platform_config.py
  libtiledbsoma/src/soma/soma_dataframe.cc
Due: python_api, libtiledbsoma

Reduce Usage of TileDB ArraySchema in Favor in Pyarrow Schema
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tiledb_array.py
Due: python_api

Use DTypeLike instead of np.dtype[Any]
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

TileDB ArraySchema to ArrowSchema Should Not Hardcode String Dict
  apis/python/setup.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_array.py
  libtiledbsoma/src/utils/arrow_adapter.h
Due: python_api, libtiledbsoma

Clean Up NED
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: python_api, libtiledbsoma

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/
