Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

Fix error introduced by renaming lambda
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Fix error introduced by renaming lambda (#4012)
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

formatting
  apis/python/src/tiledbsoma/_soma_array.py
Due: python_api

[c++,python] Add `ManagedQuery.submit_batch` for GOW
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_soma_array.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/managed_query.cc
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/test/unit_soma_array.cc
Due: python_api, libtiledbsoma

WIP
  apis/python/src/tiledbsoma/_soma_array.py
Due: python_api

Move constructor
  apis/python/src/tiledbsoma/_soma_array.py
Due: python_api

Remove mistakenly added py::call_guard<py::gil_scoped_release>()
  apis/python/src/tiledbsoma/managed_query.cc
Due: python_api

skip redundant metadata writes
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

skip redundant metadata writes (#4014)
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

[docs] Point readthedocs append-mode tutorial to Academy
  apis/python/notebooks/tutorial_soma_append_mode.ipynb
Due: none

Update R documents for release 1.16.2
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

Update R documents for release 1.16.2 (#4022)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[c++] Use nanoarrow `ArrowSchemaSetTypeDateTime` for datetime values
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Fix switch-case statements
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Change R maintainer to Paul Hoffman
  apis/r/DESCRIPTION
Due: none

[docs] Point readthedocs append-mode tutorial to Academy (#4021)
  apis/python/notebooks/tutorial_soma_append_mode.ipynb
Due: none

Change R maintainer to Paul Hoffman (#4024)
  apis/r/DESCRIPTION
Due: none

More user readable arrow type
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

[r] Move package startup messages to attach hook Package startup messages are not allowed in load hook; move them to the attach hook to follow CRAN's policies
  apis/r/R/zzz.R
Due: none

[c++] Use nanoarrow `ArrowSchemaSetTypeDateTime` for datetime values (#4023)
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

remove header
  apis/r/src/rutilities.h
Due: none

Extend outline trnasformer to transform muliple columns
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/transformer.cc
  libtiledbsoma/src/soma/soma_transformers.cc
  libtiledbsoma/src/soma/soma_transformers.h
  libtiledbsoma/test/unit_soma_geometry_dataframe.cc
Due: python_api, libtiledbsoma

geometry only xenium ingestion implementation
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/io/spatial/__init__.py
  apis/python/src/tiledbsoma/io/spatial/_util.py
  apis/python/src/tiledbsoma/io/spatial/ingest.py
  apis/python/tests/test_from_xenium.py
Due: python_api

Add transcript ingestion
  apis/python/src/tiledbsoma/io/spatial/ingest.py
Due: python_api

Use `TenXCountMatrixReader`
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/io/spatial/__init__.py
  apis/python/src/tiledbsoma/io/spatial/_util.py
  apis/python/src/tiledbsoma/io/spatial/ingest.py
  apis/python/tests/test_from_xenium.py
Due: python_api

Remove redefinitions
  apis/python/src/tiledbsoma/io/spatial/ingest.py
Due: python_api

Add subcollection type info
  apis/python/src/tiledbsoma/_scene.py
Due: python_api

lint fixes
  apis/python/src/tiledbsoma/io/spatial/_util.py
Due: python_api

Add metadata writing to ingest function
  apis/python/src/tiledbsoma/io/spatial/ingest.py
  apis/python/tests/test_from_xenium.py
Due: python_api

Patch after rebase
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_binary_column.cc
  libtiledbsoma/src/utils/common.h
Due: libtiledbsoma

Apply suggestions from code review
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_binary_column.cc
Due: libtiledbsoma

Add specializations for `hash` and `equal_to`
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/utils/common.h
Due: libtiledbsoma
