Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Make memory sanitizer a clang only option
  libtiledbsoma/CMakeLists.txt
Due: none

Misc. CMake clean-up and make docker CI build verbose
  .github/workflows/python-ci-packaging.yml
  libtiledbsoma/CMakeLists.txt
  libtiledbsoma/src/CMakeLists.txt
Due: none

Make link options private
  libtiledbsoma/src/CMakeLists.txt
Due: none

Try moving generator expression before catch2
  libtiledbsoma/CMakeLists.txt
  libtiledbsoma/test/CMakeLists.txt
Due: none

[wip] post-rebase changes
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_context.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_platform_config.py
Due: none

Use "\$<GENEX_EVAL<...>> to force generator expression resolution
  libtiledbsoma/CMakeLists.txt
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/test/CMakeLists.txt
Due: none

[python] New-shape testing for `tiledbsoma.io` [skip ci]
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/io/shaping.py
Due: python_api

[python] Complete 3140
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
Due: python_api

add unit-test case
  apis/python/tests/test_shape.py
Due: none

[python] Let registration provide new shapes for resize [skip ci]
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
Due: python_api

unit-test cases
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
  apis/python/tests/test_registration_mappings.py
Due: python_api

Bump C++ version
  libtiledbsoma/CMakeLists.txt
Due: none

Replace lambdas with struct overloading operator()
  libtiledbsoma/src/utils/geometry/operators/io/write.cc
Due: libtiledbsoma

temp
  apis/python/setup.py
  apis/r/configure
  apis/r/src/Makevars.in
  libtiledbsoma/CMakeLists.txt
Due: none

[python] Complete #3140 (#3151)
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  apis/python/tests/test_shape.py
Due: python_api

[python] Let registrar provide new shapes for resize (#3152)
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
  apis/python/tests/test_registration_mappings.py
Due: python_api

Revert C++ version bump
  libtiledbsoma/CMakeLists.txt
  libtiledbsoma/src/utils/geometry/operators/io/write.cc
Due: libtiledbsoma

clang-format src/rutilities.h
  apis/r/src/rutilities.h
Due: none

try a google hit
  apis/r/src/rutilities.h
Due: none

another try
  apis/r/src/groups.cpp
  apis/r/src/metadata.cpp
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
  apis/r/src/rutilities.cpp
  apis/r/src/rutilities.h
Due: none

Split write operator declaration
  libtiledbsoma/src/utils/geometry/operators/io/write.cc
  libtiledbsoma/src/utils/geometry/operators/io/write.h
Due: libtiledbsoma

undo previous commit
  apis/r/src/groups.cpp
  apis/r/src/metadata.cpp
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
  apis/r/src/rutilities.cpp
  apis/r/src/rutilities.h
Due: none

try -DSPDLOG_USE_STD_FORMAT in apis/r/src/Makevars.in
  apis/r/src/Makevars.in
Due: none

[c++] Fix an issue with some compilers
  libtiledbsoma/test/common.cc
Due: none

[c++] Fix an issue with some compilers (#3155)
  libtiledbsoma/test/common.cc
Due: none

unit testing
  apis/python/tests/test_shape.py
Due: none

remove tiledb-py from test_factory.py
  apis/python/src/tiledbsoma/_soma_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/common.h
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_group.cc
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_factory.py
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_object.h
Due: python_api, libtiledbsoma

[python/c++] Remove tiledb-py from `test_factory.py`
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/common.h
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_group.cc
  apis/python/tests/test_factory.py
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_object.h
Due: python_api, libtiledbsoma

Set warnings as errors to be off by default
  .github/workflows/libtiledb-ci.yml
  .github/workflows/python-ci-packaging.yml
  .github/workflows/r-python-interop-testing.yml
  libtiledbsoma/CMakeLists.txt
  scripts/bld
Due: none

Formatting
  apis/python/src/tiledbsoma/soma_group.cc
Due: python_api

unit-test cases
  apis/python/tests/test_shape.py
Due: none

[python] Experiment-level upgrader/resizer
  apis/python/src/tiledbsoma/io/__init__.py
  apis/python/src/tiledbsoma/io/shaping.py
Due: python_api

code-review feedback
  apis/python/src/tiledbsoma/io/shaping.py
Due: python_api

fixups
  apis/python/src/tiledbsoma/io/shaping.py
Due: python_api

Update apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/common.cc
Due: python_api

[python/c++] Remove tiledb-py from `test_factory.py` (#3158)
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/common.h
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_group.cc
  apis/python/tests/test_factory.py
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_object.h
Due: python_api, libtiledbsoma

[python] Experiment-level upgrader/resizer (#3157)
  apis/python/src/tiledbsoma/io/__init__.py
  apis/python/src/tiledbsoma/io/shaping.py
  apis/python/tests/test_shape.py
Due: python_api

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
