Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

RTD: use ubuntu-24.04 (#3339)
  .readthedocs.yml
Due: none

`ExperimentAxisQuery`: use `Experiment.context.threadpool`
  apis/python/src/tiledbsoma/_query.py
  apis/python/tests/test_experiment_query.py
Due: python_api

ingest `_{{test_,}eager_iter,fast_csr}.py` from SOMA core
  .pre-commit-config.yaml
  apis/python/setup.py
  apis/python/src/tiledbsoma/_eager_iter.py
  apis/python/src/tiledbsoma/_fast_csr.py
  apis/python/src/tiledbsoma/_query.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/_types.py
  apis/python/tests/test_eager_iter.py
Due: python_api

ingest somacore classes
  .pre-commit-config.yaml
  apis/python/setup.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_indexer.py
  apis/python/src/tiledbsoma/_query.py
  apis/python/tests/test_experiment_query.py
Due: python_api

use somacore==1.0.24
  .pre-commit-config.yaml
  apis/python/setup.py
Due: none

misc type-check fixes
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_fast_csr.py
  apis/python/src/tiledbsoma/_fastercsx.py
  apis/python/src/tiledbsoma/_indexer.py
  apis/python/src/tiledbsoma/_query.py
  apis/python/src/tiledbsoma/_types.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/experimental/_xarray_backend.py
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

Switch from tcb::span to std::span
  apis/python/src/tiledbsoma/fastercsx.cc
  apis/r/inst/AUTHORS
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/external/include/span/span.hpp
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/utils/fastercsx.h
  libtiledbsoma/src/utils/util.h
Due: python_api, libtiledbsoma

[python] Ingest `somacore` classes (#3307)
  .pre-commit-config.yaml
  apis/python/setup.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_eager_iter.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_fast_csr.py
  apis/python/src/tiledbsoma/_fastercsx.py
  apis/python/src/tiledbsoma/_indexer.py
  apis/python/src/tiledbsoma/_query.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/_types.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/experimental/_xarray_backend.py
  apis/python/src/tiledbsoma/experimental/ingest.py
  apis/python/tests/test_eager_iter.py
  apis/python/tests/test_experiment_query.py
Due: python_api

rm `tiledb_ctx` references from `_soma_tiledb_context.py`
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
Due: python_api

Update `Scene.create` API to match somacore
  apis/python/src/tiledbsoma/_scene.py
Due: python_api

Update spatial dataframes to match somacore changes
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/experimental/ingest.py
  apis/python/tests/test_point_cloud_dataframe.py
Due: python_api

Switch from tcb::span to std::span (#3340)
  apis/python/src/tiledbsoma/fastercsx.cc
  apis/r/inst/AUTHORS
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/external/include/span/span.hpp
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/utils/fastercsx.h
  libtiledbsoma/src/utils/util.h
Due: python_api, libtiledbsoma

Fix bad rebase
  apis/python/tests/test_export_point_cloud_dataframe.py
Due: none

[python] Spatial changes required for somacore 1.0.24 (#3333)
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/experimental/ingest.py
  apis/python/tests/test_export_point_cloud_dataframe.py
  apis/python/tests/test_point_cloud_dataframe.py
Due: python_api

Use std::format in spdlog to avoid warnings in gcc >13
  libtiledbsoma/CMakeLists.txt
Due: none

Add MultiscaleImage level SpatialData exporter
  apis/python/src/tiledbsoma/experimental/outgest.py
  apis/python/tests/test_export_multiscale_image.py
Due: python_api

release GIL in reindexer C++ code
  apis/python/src/tiledbsoma/reindexer.cc
Due: python_api

Use std::format in spdlog to avoid warnings in gcc >13 (#3343)
  libtiledbsoma/CMakeLists.txt
Due: none

[python] Update README.md to remove tiledb-py
  apis/python/README.md
Due: none

[python] Update README.md to remove tiledb-py (#3346)
  apis/python/README.md
Due: none

[python] Update `README.md` to remove `fmt` reference
  apis/python/README.md
Due: none

[python] Update `README.md` to remove `fmt` reference (#3347)
  apis/python/README.md
Due: none

release GIL in reindexer C++ code (#3344)
  apis/python/src/tiledbsoma/reindexer.cc
Due: python_api

[ci] Try newest `pypa/cibuildwheel`
  .github/workflows/python-packaging.yml
Due: none

[ci] Another try for sdist+wheels and C++ 20
  .github/workflows/python-packaging.yml
  apis/python/pyproject.toml
Due: none

Switch from manylinux2014 to manylinux_2_28
  .github/workflows/python-packaging.yml
Due: none

second try
  apis/python/pyproject.toml
Due: none

this plus #3351
  .github/workflows/python-packaging.yml
Due: none

Change CIBW_MANYLINUX_X86_64_IMAGE
  .github/workflows/python-packaging.yml
Due: none

more fold-in of #3351
  .github/workflows/python-packaging.yml
Due: none

more
  .github/workflows/python-packaging.yml
Due: none

try again -- builds hanging ...
  .github/workflows/python-packaging.yml
Due: none

another try
  .github/workflows/python-packaging.yml
Due: none

Set gcc version
  .github/workflows/python-packaging.yml
Due: none

iterating [skip ci]
  .github/workflows/python-packaging.yml
Due: none

more [skip ci]
  .github/workflows/python-packaging.yml
Due: none

fix typo [skip ci]
  .github/workflows/python-packaging.yml
Due: none
