Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

Inline _axisp_inner_sparray
  apis/python/src/tiledbsoma/_query.py
Due: python_api

Replace `getattr_from` with if/else in _read_axis_dataframe
  apis/python/src/tiledbsoma/_query.py
Due: python_api

Finish removing `getattr_from` from `AttrName`
  apis/python/src/tiledbsoma/_query.py
  apis/python/tests/test_experiment_query.py
Due: python_api

Combine `_convert_to_ndarray` and `_axism_inner_ndarray`
  apis/python/src/tiledbsoma/_query.py
Due: python_api

[python] Set `soma_joinid` to always be an index column in the `PointCloudDataFrame` class (#3563)
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/src/tiledbsoma/_constants.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/io/spatial/ingest.py
  apis/python/tests/test_basic_spatialdata_io.py
  apis/python/tests/test_experiment_query_spatial.py
  apis/python/tests/test_export_point_cloud_dataframe.py
  apis/python/tests/test_point_cloud_dataframe.py
Due: python_api

[python] Fix search in `readthedocs` (#3573)
  doc/requirements_doc.txt
  doc/source/conf.py
Due: none

[python] Remove `AxisName.getattr_from` from `ExperimentAxisQuery` (#3557)
  apis/python/src/tiledbsoma/_query.py
  apis/python/tests/test_experiment_query.py
Due: python_api

[python] More `readthedocs` search fix
  doc/requirements_doc.txt
Due: none

lint
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
Due: python_api

Pass Scene CoordinateSpace through pybind
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/tests/test_scene.py
Due: python_api

Add CoordinateSpace class to libtiledbsoma
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/soma_coordinates.cc
  libtiledbsoma/src/soma/soma_coordinates.h
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/test/unit_soma_coordinates.cc
Due: libtiledbsoma

Push Scene spatial encoding metadata down to C++
  apis/python/src/tiledbsoma/_scene.py
  libtiledbsoma/src/soma/soma_scene.cc
  libtiledbsoma/src/utils/common.h
  libtiledbsoma/test/unit_soma_scene.cc
Due: python_api, libtiledbsoma

Add coordinate space to SOMAScene
  apis/python/src/tiledbsoma/soma_collection.cc
  libtiledbsoma/src/soma/soma_scene.cc
  libtiledbsoma/src/soma/soma_scene.h
  libtiledbsoma/src/utils/common.h
  libtiledbsoma/test/unit_soma_scene.cc
Due: python_api, libtiledbsoma

[Backport release-1.15][python] Set `soma_joinid` to always be an index column in the `PointCloudDataFrame` class (#3575)
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/src/tiledbsoma/_constants.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/io/spatial/ingest.py
  apis/python/tests/test_basic_spatialdata_io.py
  apis/python/tests/test_experiment_query_spatial.py
  apis/python/tests/test_export_point_cloud_dataframe.py
  apis/python/tests/test_point_cloud_dataframe.py
Due: python_api

[python] More `readthedocs` search fix (#3578)
  doc/requirements_doc.txt
Due: none

remove sensitivity to another numeric precision corner case
  apis/python/tests/ht/_ht_test_config.py
  apis/python/tests/ht/test_ht_fastercsx.py
Due: none

[python] Pass more context in `io/shaping.py`
  apis/python/src/tiledbsoma/io/shaping.py
Due: python_api

[python] On is-not-context, show type
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
Due: python_api

[python] On is-not-context, show type (#3583)
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
Due: python_api

Change SOMAAxis constructors in unit test
  libtiledbsoma/test/unit_soma_coordinates.cc
Due: none

Change `from_visium` to create `obs` presence matrix by default
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/src/tiledbsoma/io/spatial/ingest.py
Due: python_api

[python] Pass more context in `io/shaping.py` (#3582)
  apis/python/src/tiledbsoma/io/shaping.py
Due: python_api

Make region_key a categorical when exporting to SpatialData
  apis/python/src/tiledbsoma/_query.py
Due: python_api

increase scope of fastercsx coords tested
  apis/python/tests/ht/test_ht_fastercsx.py
Due: none

Make region_key a categorical when exporting to SpatialData (#3588)
  apis/python/src/tiledbsoma/_query.py
Due: python_api

Change `from_visium` to create `obs` presence matrix by default (#3586)
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/src/tiledbsoma/io/spatial/ingest.py
Due: python_api

Update warning on unsupported version
  apis/python/src/tiledbsoma/_factory.py
Due: python_api

Fix copyright years and add nullptr check
  libtiledbsoma/src/soma/soma_coordinates.cc
  libtiledbsoma/src/soma/soma_coordinates.h
Due: libtiledbsoma

[python/cpp] Add C++ `SOMACoordinateSpace` and use it to push `Scene` metadata down to C++ (#3580)
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/tests/test_scene.py
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/soma_coordinates.cc
  libtiledbsoma/src/soma/soma_coordinates.h
  libtiledbsoma/src/soma/soma_scene.cc
  libtiledbsoma/src/soma/soma_scene.h
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/src/utils/common.h
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/test/unit_soma_coordinates.cc
  libtiledbsoma/test/unit_soma_scene.cc
Due: python_api, libtiledbsoma

Update warning on unsupported version (#3597)
  apis/python/src/tiledbsoma/_factory.py
Due: python_api
