Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Heeding time to the lord of linting is time well spent some say
  libtiledbsoma/src/utils/nanoarrow.h
Due: libtiledbsoma

Meh with version 14.0.0 and not 14.0.6 because ... sure
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Add more date and datetime support
  apis/r/R/utils-arrow.R
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Remove initialization setters covered by nanoarrow use
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Support TILEDB_DATETIME_DAY aka Date as well
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Ensure DATETIME columns get Arrow coltype reset
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Post-rebase change
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Additional test conditioner
  apis/r/tests/testthat/test-SOMADataFrame.R
Due: none

Heeding time to the lord of linting is time well spent some say
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

make format
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

WIP update enumeration index values when extending
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/tests/test_query_condition.py
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: python_api, libtiledbsoma

Correcting one buffer size selection
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

`from_h5ad`: document `additional_metadata` param
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

`from_h5ad`: document `additional_metadata` param (#2360)
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Remove carrow.h and reference to it
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/cli/cli.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/src/utils/carrow.h
Due: libtiledbsoma

Cleanups
  apis/r/src/riterator.cpp
  apis/r/tests/testthat/test-SCEOutgest.R
Due: none

Update github actions to include spatial branch in testing
  .github/workflows/libtiledb-ci.yml
  .github/workflows/python-ci-full.yml
  .github/workflows/python-ci-minimal.yml
  .github/workflows/r-ci.yml
  .github/workflows/r-python-interop-testing.yml
Due: none

Add experimental directory
  apis/python/src/tiledbsoma/experimental/__init__.py
Due: python_api

Use nanoarrow.{c,hpp} via tiledbsoma/utils/
  apis/r/inst/include/tiledbsoma_types.h
  apis/r/src/nanoarrow.c
  apis/r/src/nanoarrow.h
  apis/r/src/nanoarrow.hpp
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
  apis/r/src/rutilities.cpp
Due: none

Re-activate -Werror
  libtiledbsoma/CMakeLists.txt
Due: none

Chore
  .github/workflows/r-ci.yml
Due: none

High-productivity afternoon
  apis/r/src/RcppExports.cpp
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
  apis/r/src/rutilities.h
Due: none

Correct an format string error message
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

[c++, r] Update and refactor nanoarrow (#2188)
  .github/workflows/r-ci.yml
  apis/python/src/tiledbsoma/reindexer.cc
  apis/r/DESCRIPTION
  apis/r/NAMESPACE
  apis/r/R/RcppExports.R
  apis/r/R/utils-arrow.R
  apis/r/R/utils-readerTransformers.R
  apis/r/inst/include/tiledbsoma_types.h
  apis/r/src/RcppExports.cpp
  apis/r/src/nanoarrow.h
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
  apis/r/src/rutilities.cpp
  apis/r/src/rutilities.h
  apis/r/tests/testthat/helper-test-data.R
  apis/r/tests/testthat/test-Factory.R
  apis/r/tests/testthat/test-SOMAArrayReader-Iterated.R
  apis/r/tests/testthat/test-SOMADataFrame.R
  apis/r/tools/r-ci.sh
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/cli/cli.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/src/utils/carrow.h
  libtiledbsoma/src/utils/nanoarrow.c
  libtiledbsoma/src/utils/nanoarrow.h
  libtiledbsoma/src/utils/nanoarrow.hpp
Due: python_api, libtiledbsoma

Bind the dataframe.create with the timestamp
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/tests/test_collection.py
Due: python_api

more `nan_append` checks: not-all-nan, non-dupe IDs
  apis/python/tests/test_basic_anndata_io.py
Due: none

[Backport release-1.9] [r] Add `obsm`, `varm`, `obsp`, and `varp` to `SOMAExperimentAxisQuery`
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/R/SOMAExperimentAxisQuery.R
  apis/r/man/SOMAExperimentAxisQuery.Rd
  apis/r/tests/testthat/test-SOMAExperiment-query-m-p.R
Due: none

[Backport release-1.9] [r] Add `obsm`, `varm`, `obsp`, and `varp` to `SOMAExperimentAxisQuery` (#2365)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/R/SOMAExperimentAxisQuery.R
  apis/r/man/SOMAExperimentAxisQuery.Rd
  apis/r/tests/testthat/test-SOMAExperiment-query-m-p.R
Due: none

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
