Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

clang-format
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
Due: libtiledbsoma

expand test coverage
  apis/python/tests/test_pytorch.py
Due: none

rework io and shuffle buffer size params
  apis/python/src/tiledbsoma/ml/pytorch.py
Due: python_api

cleanup notebook
  apis/python/notebooks/turtorial_pytorch.ipynb
Due: none

Revert "[c++] Apply `ArraySchemaEvolution` to specified timestamp (#2895)" (#2921)
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

shellcheck `scripts/bld`
  scripts/bld
Due: none

Fix test after merge from main
  libtiledbsoma/test/unit_soma_point_cloud.cc
Due: none

Update axis and coordinate space, update coordinate transforms
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_coordinates.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/experimental/ingest.py
  apis/python/tests/test_coordinates.py
Due: python_api

Add coordinate_space property to Image2D and Scene
  apis/python/src/tiledbsoma/_images.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

Add image registery
  apis/python/src/tiledbsoma/_coordinates.py
  apis/python/src/tiledbsoma/_images.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/experimental/ingest.py
  apis/python/tests/test_coordinates.py
Due: python_api

Update somacore version for Python API and pre-commit
  .pre-commit-config.yaml
  apis/python/setup.py
Due: none

shellcheck `scripts/bld` (#2927)
  scripts/bld
Due: none

Replace `axis_names` with `coordinate_space` in PointCloud class
  apis/python/src/tiledbsoma/_constants.py
  apis/python/src/tiledbsoma/_images.py
  apis/python/src/tiledbsoma/_point_cloud.py
Due: python_api

lint
  apis/python/src/tiledbsoma/ml/encoders.py
Due: python_api

remove encoders; more perf work
  apis/python/notebooks/turtorial_pytorch.ipynb
  apis/python/setup.py
  apis/python/src/tiledbsoma/ml/encoders.py
  apis/python/src/tiledbsoma/ml/pytorch.py
  apis/python/tests/test_pytorch.py
Due: python_api

reorganize into separate python package
  .github/workflows/python-ci-single.yml
  .gitignore
  apis/python/pyproject.toml
  apis/python/setup.py
  other_packages/python/tiledbsoma_ml/CHANGELOG.md
  other_packages/python/tiledbsoma_ml/README.md
  other_packages/python/tiledbsoma_ml/pyproject.toml
  other_packages/python/tiledbsoma_ml/src/tiledbsoma_ml/__init__.py
  other_packages/python/tiledbsoma_ml/src/tiledbsoma_ml/pytorch.py
  other_packages/python/tiledbsoma_ml/tests/test_pytorch.py
Due: none

add CI
  .github/workflows/python-tiledbsoma-ml.yaml
Due: none

fix name
  .github/workflows/python-tiledbsoma-ml.yml
Due: none

add more paths to CI
  .github/workflows/python-tiledbsoma-ml.yml
Due: none

fix typo in ci
  .github/workflows/python-tiledbsoma-ml.yml
Due: none

fix a second typo in ci
  .github/workflows/python-tiledbsoma-ml.yml
Due: none

set working dir in CI
  .github/workflows/python-tiledbsoma-ml.yml
Due: none

make batched 3.12 compat
  other_packages/python/tiledbsoma_ml/src/tiledbsoma_ml/pytorch.py
  other_packages/python/tiledbsoma_ml/tests/test_pytorch.py
Due: none

debugging pre-commit failure
  .github/workflows/python-tiledbsoma-ml.yml
Due: none

lint, lint, lint
  .pre-commit-config.yaml
  other_packages/python/tiledbsoma_ml/pyproject.toml
  other_packages/python/tiledbsoma_ml/src/tiledbsoma_ml/pytorch.py
Due: none

more CI debugging
  .github/workflows/python-tiledbsoma-ml.yml
  .pre-commit-config.yaml
  apis/python/notebooks/tutorial_soma_append_mode.ipynb
Due: none

add build test to CI
  .github/workflows/python-tiledbsoma-ml.yml
Due: none

add code coverage
  .github/workflows/python-tiledbsoma-ml.yml
Due: none

update GHA
  .github/workflows/python-tiledbsoma-ml.yml
Due: none

test TypeAlias
  other_packages/python/tiledbsoma_ml/src/tiledbsoma_ml/pytorch.py
Due: none

add missing dependencies
  other_packages/python/tiledbsoma_ml/pyproject.toml
Due: none

extend tests
  other_packages/python/tiledbsoma_ml/tests/test_pytorch.py
Due: none

remove coverage reporting from CI for now
  .github/workflows/python-tiledbsoma-ml.yml
Due: none

docstrings
  other_packages/python/tiledbsoma_ml/src/tiledbsoma_ml/pytorch.py
Due: none

more file organization
  other_packages/python/tiledbsoma_ml/notebooks/turtorial_pytorch.ipynb
Due: none

add missing test
  other_packages/python/tiledbsoma_ml/tests/test_pytorch.py
Due: none

re-run notebook
  other_packages/python/tiledbsoma_ml/notebooks/turtorial_pytorch.ipynb
Due: none

revert change to type ignore statement
  apis/python/src/tiledbsoma/_experiment.py
Due: python_api

clarify comment
  apis/python/src/tiledbsoma/_experiment.py
Due: python_api

update changelog
  other_packages/python/tiledbsoma_ml/CHANGELOG.md
Due: none
