Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

Move linters out of python CI and into its own workflow
  .github/workflows/ci-full.yml
  .github/workflows/ci-linters.yml
  .github/workflows/ci-pr-python.yml
  .github/workflows/test-python.yml
Due: none

Update C++ workflows to match R/Python style
  .github/workflows/ci-full.yml
  .github/workflows/ci-pr-cpp.yml
  .github/workflows/ci-pr-r.yml
  .github/workflows/libtiledb-ci.yml
  .github/workflows/test-cpp.yml
Due: none

Force add failed-issue-template.md
  .github/workflows/failed-issue-template.md
Due: none

Fix typo
  .github/workflows/ci-full.yml
  .github/workflows/ci-pr-r.yml
Due: none

Fix typo
  .github/workflows/ci-full.yml
  .github/workflows/ci-pr-cpp.yml
Due: none

Add missing if statement
  .github/workflows/test-cpp.yml
Due: none

Update tiledb version script
  scripts/update-tiledb-version.py
Due: none

expose optional downcast of dict-of-large-var types in ArrowAdaptor::to_arrow
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
  apis/r/tests/testthat/test-14-SeuratOutgest-command.R
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

revert R changes in #4209, toggle dict-of-large handling by language
  apis/python/HISTORY.md
  apis/r/NEWS.md
  apis/r/src/rinterface.cpp
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_attribute.cc
  libtiledbsoma/src/soma/soma_attribute.h
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

further trim CI mem usage on MacOS
  apis/python/tests/conftest.py
  apis/python/tests/test_experiment_axis_delete.py
Due: none

Run Python PR CI on all branches
  .github/workflows/ci-pr-python.yml
Due: none

Fix typo
  .github/workflows/ci-pr-cpp.yml
Due: none

Fix typos, spacing, and names
  .github/workflows/ci-pr-cpp.yml
  .github/workflows/ci-pr-python.yml
  .github/workflows/ci-pr-r.yml
  .github/workflows/test-cpp.yml
Due: none

Add air.toml
  apis/r/air.toml
Due: none

Apply suggestions from code review
  .github/workflows/ci-pr-r.yml
  .github/workflows/test-cpp.yml
Due: none

Move test-coverage.yaml to a job in test-r.yml
  .github/workflows/ci-full.yml
  .github/workflows/ci-pr-r.yml
  .github/workflows/test-coverage.yaml
  .github/workflows/test-r.yml
Due: none

Update author list
  apis/r/DESCRIPTION
Due: none

bump R dev version
  apis/r/DESCRIPTION
Due: none

Apply suggestions from code review
  .github/workflows/ci-full.yml
  .github/workflows/ci-pr-r.yml
  .github/workflows/test-r.yml
Due: none

Update author list in R (#4227)
  apis/r/DESCRIPTION
Due: none

Fix input for R codecov to match what was provided
  .github/workflows/test-r.yml
Due: none

Add delete cells to docs
  doc/source/python-tiledbsoma-dataframe.rst
  doc/source/python-tiledbsoma-experiment.rst
  doc/source/python-tiledbsoma-pointclouddataframe.rst
  doc/source/python-tiledbsoma-sparsendarray.rst
Due: none

[python] return Arrow tables with dictionary of large_string, rather than string (#4220)
  apis/python/HISTORY.md
  apis/python/tests/conftest.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_experiment_axis_delete.py
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_attribute.cc
  libtiledbsoma/src/soma/soma_attribute.h
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Fixing shadowing logging.py module
  apis/python/remote_tests/test_02_analysis.py
  apis/python/src/tiledbsoma/_logging.py
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/io/outgest.py
  apis/python/src/tiledbsoma/io/spatial/ingest.py
  apis/python/src/tiledbsoma/io/update_uns.py
Due: python_api

Add delete cells to docs (#4228)
  doc/source/python-tiledbsoma-dataframe.rst
  doc/source/python-tiledbsoma-experiment.rst
  doc/source/python-tiledbsoma-pointclouddataframe.rst
  doc/source/python-tiledbsoma-sparsendarray.rst
Due: none

[ci] Reorganize CI workflows for more consistency between workflows (#4225)
  .github/workflows/R-CMD-check.yaml
  .github/workflows/ci-full.yml
  .github/workflows/ci-linters.yml
  .github/workflows/ci-pr-cpp.yml
  .github/workflows/ci-pr-python.yml
  .github/workflows/ci-pr-r.yml
  .github/workflows/ci-r-python-interop.yml
  .github/workflows/daily-python-dockers-issue-template.md
  .github/workflows/failed-issue-template.md
  .github/workflows/libtiledb-ci.yml
  .github/workflows/libtiledbsoma-asan-ci.yml
  .github/workflows/python-ci-full.yml
  .github/workflows/python-dockers.yml
  .github/workflows/python-packaging.yml
  .github/workflows/test-coverage.yaml
  .github/workflows/test-cpp.yml
  .github/workflows/test-python.yml
  .github/workflows/test-r.yml
  scripts/update-tiledb-version.py
Due: none

Make new constructor for SOMADimension
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/src/tiledb_adapter/platform_config.h
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/test/test_platform_config.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

Fix typos in CI
  .github/workflows/ci-full.yml
  .github/workflows/test-r.yml
Due: none

Fix typos in CI (#4231)
  .github/workflows/ci-full.yml
  .github/workflows/test-r.yml
Due: none

Make new constructor for SOMAGeometryColumn
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
Due: libtiledbsoma

Rename _handle -> _handle_wrapper
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_common_nd_array.py
  apis/python/src/tiledbsoma/_coordinate_selection.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_managed_query.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_query.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/_soma_array.py
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/io/outgest.py
  apis/python/tests/ht/test_ht_dataframe.py
  apis/python/tests/ht/test_ht_sparsendarray.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_factory.py
  apis/python/tests/test_metadata.py
  apis/python/tests/test_sparse_nd_array.py
Due: python_api

Add `_handle` directly to SOMAObjects
  apis/python/src/tiledbsoma/_coordinate_selection.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_managed_query.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_query.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/io/outgest.py
  apis/python/tests/ht/test_ht_dataframe.py
  apis/python/tests/ht/test_ht_sparsendarray.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_factory.py
  apis/python/tests/test_sparse_nd_array.py
Due: python_api

Inline functions from handle wrappers
  apis/python/src/tiledbsoma/_common_nd_array.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_soma_array.py
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Match descriptions for both register_ functions
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

update register_h5ads docstring for supported workflows
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Improve structure and readability of register_h5ads docstrings
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api
