Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

[c++] Another C++ 20 doc-spot
  libtiledbsoma/README.md
Due: none

Fix error message
  apis/python/src/tiledbsoma/experimental/outgest.py
Due: python_api

[c++] Another C++ 20 doc-spot (#3352)
  libtiledbsoma/README.md
Due: none

iterating [skip ci]
  .github/workflows/python-packaging.yml
Due: none

[python] Add MultiscaleImage level SpatialData exporter (#3342)
  apis/python/src/tiledbsoma/experimental/outgest.py
  apis/python/tests/test_export_multiscale_image.py
Due: python_api

display installed toolsets [skip ci]
  .github/workflows/python-packaging.yml
Due: none

[ci] Change `manylinux` version for sdist&wheels CI (C++ 20) (#3351)
  .github/workflows/python-packaging.yml
Due: none

Update Scene create method in the Python API.
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/tests/test_scene.py
  libtiledbsoma/src/soma/soma_scene.cc
  libtiledbsoma/src/soma/soma_scene.h
Due: python_api, libtiledbsoma

Add PointCloudDataFrame to SpatialData points model
  apis/python/src/tiledbsoma/experimental/outgest.py
  apis/python/tests/test_export_point_cloud_dataframe.py
Due: python_api

[r/python] Revert #3300
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/tests/test_dataframe.py
  apis/r/R/SOMADataFrame.R
  apis/r/tests/testthat/test-06-SOMADataFrame.R
Due: python_api

[r/python] Revert #3300 (#3358)
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/tests/test_dataframe.py
  apis/r/R/SOMADataFrame.R
  apis/r/tests/testthat/test-06-SOMADataFrame.R
Due: python_api

optimization of ExperimentAxisQuery to_anndata
  apis/python/setup.py
  apis/python/src/tiledbsoma/_fast_csr.py
  apis/python/src/tiledbsoma/_fastercsx.py
  apis/python/src/tiledbsoma/_query.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/io/outgest.py
Due: python_api

Update minimum macos version to 13.3
  apis/python/setup.py
  apis/r/src/Makevars.in
  libtiledbsoma/CMakeLists.txt
Due: none

[python] Outgest `obsp`/`varp` as dense [WIP]
  apis/python/src/tiledbsoma/io/outgest.py
Due: python_api

[packaging] More failure info in `update-tiledb-versions.py`
  scripts/update-tiledb-version.py
Due: none

More error handling
  scripts/update-tiledb-version.py
Due: none

[c++] Fix heap corruption in `fastercsx`
  libtiledbsoma/src/external/include/thread_pool/status.h
Due: none

[packaging] More failure info in `update-tiledb-versions.py` (#3363)
  scripts/update-tiledb-version.py
Due: none

switch from `malloc`/`free` to `new[]`/`delete[]`
  libtiledbsoma/src/external/include/thread_pool/status.h
Due: none

PR f/b
  apis/python/src/tiledbsoma/_query.py
Due: python_api

Fix grammar in test comments.
  apis/python/tests/test_export_point_cloud_dataframe.py
Due: none

[c++] Fix heap corruption in `fastercsx` (#3365)
  libtiledbsoma/src/external/include/thread_pool/status.h
Due: none

[python] Add export from `PointCloudDataFrame` to SpatialData points model (#3357)
  apis/python/src/tiledbsoma/experimental/outgest.py
  apis/python/tests/test_export_point_cloud_dataframe.py
Due: python_api

Export MultiscaleImage to SpatialData multiscale image
  apis/python/src/tiledbsoma/experimental/outgest.py
  apis/python/tests/test_export_multiscale_image.py
Due: python_api

Update spatial io dependencies
  apis/python/requirements_spatial.txt
Due: none

Update MultiscaleImage export to work with multiple SpatialData versions
  apis/python/src/tiledbsoma/experimental/_util.py
  apis/python/src/tiledbsoma/experimental/_xarray_backend.py
  apis/python/src/tiledbsoma/experimental/outgest.py
  apis/python/tests/test_export_multiscale_image.py
Due: python_api

Use core 2.27.0-rc3
  .github/workflows/python-ci-packaging.yml
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
Due: none

Use core 2.27.0-rc3 (#3366)
  .github/workflows/python-ci-packaging.yml
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
Due: none

[python] Optimization of `ExperimentAxisQuery` `to_anndata` (#3359)
  apis/python/setup.py
  apis/python/src/tiledbsoma/_fast_csr.py
  apis/python/src/tiledbsoma/_fastercsx.py
  apis/python/src/tiledbsoma/_query.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/io/outgest.py
Due: python_api

[c++] Use valid ASCII for wide-as-possible string current domain
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

lint
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

comment-neaten
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

next try
  apis/python/setup.py
  libtiledbsoma/CMakeLists.txt
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
  libtiledbsoma/src/CMakeLists.txt
  scripts/bld
Due: none

rebase and retry
  libtiledbsoma/CMakeLists.txt
  libtiledbsoma/src/CMakeLists.txt
Due: none

[python/r] Remove 2.27-related feature flag
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_shape.py
  apis/r/R/SOMANDArrayBase.R
  apis/r/R/utils-arrow.R
  apis/r/R/zzz.R
  apis/r/tests/testthat/test-11-shape.R
Due: python_api

more
  apis/python/src/tiledbsoma/_flags.py
Due: python_api

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
