Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/python/devtools/"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

[r] Arrays should remain open after write (#1947)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/R/RcppExports.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMADenseNDArray.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/tests/testthat/test-SOMADataFrame.R
  apis/r/tests/testthat/test-SOMADenseNDArray.R
  apis/r/tests/testthat/test-SOMASparseNDArray.R
Due: none

[r] tiledbsoma-r 1.6.0
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

Modify fs path string
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
Due: libtiledbsoma

Let `write_soma.data.frame()` add the `SOMADataFrame` to `soma_parent`
  apis/r/R/write_soma.R
Due: none

Enable outgestion of command logs
  apis/r/R/write_seurat.R
Due: none

Fix versions in news headers
  apis/r/NEWS.md
Due: none

[DONT MERGE] Test segfault fixes
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

Skip some tests
  .github/workflows/python-ci-full.yml
  .github/workflows/python-ci-minimal.yml
  .github/workflows/r-ci.yml
Due: none

[DONT MERGE] Test segfault fixes
  .github/workflows/python-ci-minimal.yml
  .github/workflows/r-ci.yml
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

try @nguyenv's #1953
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/test/unit_managed_query.cc
Due: libtiledbsoma

Addition of async queries
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/test/unit_managed_query.cc
Due: libtiledbsoma

rerun CI
  .github/workflows/python-ci-single.yml
Due: none

debug try 3
  .github/workflows/python-ci-single.yml
Due: none

Modify Python CI workflow
  .github/workflows/python-ci-single.yml
Due: none

Check validity of `query_future_`
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

[c++] Modify `ManagedQuery` to perform async queries (#1953)
  .github/workflows/python-ci-single.yml
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/test/unit_managed_query.cc
Due: libtiledbsoma

[r/ci] Show CPU info in R CI as well as Python CI
  .github/workflows/r-ci.yml
Due: none

code-review feedback
  .github/workflows/r-ci.yml
Due: none

[r] tiledbsoma-r 1.6.0 (#1943)
  .github/workflows/python-ci-single.yml
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[r] Apply 1943 to main
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[r/ci] Show CPU info in R CI as well as Python CI (#1956)
  .github/workflows/r-ci.yml
Due: none

[r] Apply 1943 to main (#1957)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

Add Windows support for the Python API (#1811)
  .github/workflows/python-ci-full.yml
  .github/workflows/python-ci-minimal.yml
  .github/workflows/python-ci-single.yml
  .gitignore
  apis/python/setup.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_general_utilities.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/_tiledb_array.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_factory.py
  apis/python/tests/test_metadata.py
  libtiledbsoma/cmake/Modules/FindSpdlog_EP.cmake
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
  libtiledbsoma/cmake/Superbuild.cmake
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/logger_public.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/common.h
  libtiledbsoma/test/CMakeLists.txt
  scripts/bld.ps1
Due: python_api, libtiledbsoma

Revert "Add Windows support for the Python API (#1811)"
  .github/workflows/python-ci-full.yml
  .github/workflows/python-ci-minimal.yml
  .github/workflows/python-ci-single.yml
  .gitignore
  apis/python/setup.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_general_utilities.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/_tiledb_array.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_factory.py
  apis/python/tests/test_metadata.py
  libtiledbsoma/cmake/Modules/FindSpdlog_EP.cmake
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
  libtiledbsoma/cmake/Superbuild.cmake
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/logger_public.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/common.h
  libtiledbsoma/test/CMakeLists.txt
  scripts/bld.ps1
Due: python_api, libtiledbsoma

Revert "Add Windows support for the Python API (#1811)" (#1959)
  .github/workflows/python-ci-full.yml
  .github/workflows/python-ci-minimal.yml
  .github/workflows/python-ci-single.yml
  .gitignore
  apis/python/setup.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_general_utilities.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/_tiledb_array.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_factory.py
  apis/python/tests/test_metadata.py
  libtiledbsoma/cmake/Modules/FindSpdlog_EP.cmake
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
  libtiledbsoma/cmake/Superbuild.cmake
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/logger_public.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/common.h
  libtiledbsoma/test/CMakeLists.txt
  scripts/bld.ps1
Due: python_api, libtiledbsoma

Revert "Revert "Add Windows support for the Python API (#1811)" (#1959)"
  .github/workflows/python-ci-full.yml
  .github/workflows/python-ci-minimal.yml
  .github/workflows/python-ci-single.yml
  .gitignore
  apis/python/setup.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_general_utilities.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/_tiledb_array.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_factory.py
  apis/python/tests/test_metadata.py
  libtiledbsoma/cmake/Modules/FindSpdlog_EP.cmake
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
  libtiledbsoma/cmake/Superbuild.cmake
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/logger_public.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/common.h
  libtiledbsoma/test/CMakeLists.txt
  scripts/bld.ps1
Due: python_api, libtiledbsoma

Roll back Windows CI.
  .github/workflows/python-ci-full.yml
  .github/workflows/python-ci-minimal.yml
Due: none

Add back Windows support for the Python API, but without CI. (#1961)
  .github/workflows/python-ci-full.yml
  .github/workflows/python-ci-minimal.yml
  .github/workflows/python-ci-single.yml
  .gitignore
  apis/python/setup.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_general_utilities.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/_tiledb_array.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_factory.py
  apis/python/tests/test_metadata.py
  libtiledbsoma/cmake/Modules/FindSpdlog_EP.cmake
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
  libtiledbsoma/cmake/Superbuild.cmake
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/logger_public.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/common.h
  libtiledbsoma/test/CMakeLists.txt
  scripts/bld.ps1
Due: python_api, libtiledbsoma

[python] Full Windows pre-push CI matrix
  .github/workflows/python-ci-minimal.yml
Due: none

from_anndata test for validating column set
  apis/python/tests/test_basic_anndata_io.py
Due: none

Respect from_anndata()'s var_id_name argument
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

run all
  .github/workflows/python-ci-minimal.yml
Due: none

[python] Fix `from_anndata()` to respect `var_id_name` (#1963)
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

Have tiledbsoma-cli link to tiledbsoma.
  libtiledbsoma/src/CMakeLists.txt
Due: none

Have tiledbsoma-cli link to tiledbsoma. (#1965)
  libtiledbsoma/src/CMakeLists.txt
Due: none
