Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

add_obs_layer helper function
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Fix sparse test
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_sparse_nd_array.py
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
Due: libtiledbsoma

Specify LIBCPP_TYPEINFO_COMPARISON_IMPLEMENTATION for clang
  apis/python/setup.py
  libtiledbsoma/CMakeLists.txt
  libtiledbsoma/src/soma/soma_column.h
Due: libtiledbsoma

format
  apis/python/tests/test_sparse_nd_array.py
Due: none

fix header
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  libtiledbsoma/src/soma/column_buffer.h
Due: python_api, libtiledbsoma

format
  apis/python/src/tiledbsoma/_sparse_nd_array.py
Due: python_api

Fix update_obs semantics for some remote configurations
  apis/python/src/tiledbsoma/_exception.py
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

neaten
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

[python] Fix `update_obs` semantics for some remote configurations (#3623)
  apis/python/src/tiledbsoma/_exception.py
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

[r] TileDB-SOMA 1.15.5
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[r] TileDB-SOMA 1.15.5 (#3628)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

Add metadata to the C++ SOMAPointCloudDataFrame
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.cc
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.h
  libtiledbsoma/test/unit_soma_point_cloud_dataframe.cc
Due: libtiledbsoma

Add protected _create method for SOMAArray
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

Update Python API to send PointCloudDataFrame metadata to C++
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/soma_point_cloud_dataframe.cc
Due: python_api

add enum/dict
  apis/python/tests/ht/_arrow_util.py
  apis/python/tests/ht/_ht_test_config.py
  apis/python/tests/ht/_ht_util.py
  apis/python/tests/ht/_ledger.py
  apis/python/tests/ht/test_ht_dataframe.py
  apis/python/tests/ht/test_ht_io_anndata.py
Due: none

disable io
  apis/python/tests/ht/test_ht_dataframe.py
  apis/python/tests/ht/test_ht_io_anndata.py
Due: none

fix padding required for arrow offset testing
  apis/python/tests/ht/_ht_test_config.py
  apis/python/tests/ht/_ht_util.py
  apis/python/tests/ht/test_ht_dataframe.py
Due: none

Add coordinate space metadata to SOMAGeometryDataFrame
  libtiledbsoma/src/soma/soma_geometry_dataframe.cc
  libtiledbsoma/src/soma/soma_geometry_dataframe.h
  libtiledbsoma/test/unit_soma_geometry_dataframe.cc
Due: libtiledbsoma

[c++] Push down `PointCloudDataFrame` spatial metadata from Python to C++ (#3630)
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/soma_point_cloud_dataframe.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.cc
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.h
  libtiledbsoma/test/unit_soma_point_cloud_dataframe.cc
Due: python_api, libtiledbsoma

[python] Deprecate `result_order='auto'` for `DenseNDArray` reads
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/tests/test_dense_nd_array.py
Due: python_api

[c++] Fix offsets for nullable columns (#3611)
  apis/python/src/tiledbsoma/managed_query.cc
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_sparse_nd_array.py
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/utils/util.cc
  libtiledbsoma/src/utils/util.h
Due: python_api, libtiledbsoma

[python] Deprecate `result_order='auto'` for `DenseNDArray` reads (#3632)
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/tests/test_dense_nd_array.py
Due: python_api

remove obsolete comment
  apis/python/tests/ht/test_ht_densendarray.py
Due: none

[python] Add spatial transforms to readthedocs
  doc/source/python-tiledbsoma-affine-transform.rst
  doc/source/python-tiledbsoma-identity-transform.rst
  doc/source/python-tiledbsoma-scale-transform.rst
  doc/source/python-tiledbsoma-uniform-scale-transform.rst
  doc/source/python-tiledbsoma.rst
Due: none

[c++] Integrate `SOMAColumn`: Update domain accessors inside `SOMAArray`, part 2 (#3407)
  apis/python/setup.py
  apis/python/src/tiledbsoma/soma_array.cc
  libtiledbsoma/CMakeLists.txt
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_attribute.cc
  libtiledbsoma/src/soma/soma_attribute.h
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: python_api, libtiledbsoma

[python] Add spatial transforms to readthedocs (#3634)
  doc/source/python-tiledbsoma-affine-transform.rst
  doc/source/python-tiledbsoma-identity-transform.rst
  doc/source/python-tiledbsoma-scale-transform.rst
  doc/source/python-tiledbsoma-uniform-scale-transform.rst
  doc/source/python-tiledbsoma.rst
Due: none

[python] Update `add_new_dataframe` doc re `domain=`
  apis/python/src/tiledbsoma/_collection.py
Due: python_api

[python] Update `add_new_dataframe` doc re `domain=` (#3636)
  apis/python/src/tiledbsoma/_collection.py
Due: python_api

fix overflow warning
  apis/python/tests/ht/test_ht_dataframe.py
Due: none

Remove verbose make option
  libtiledbsoma/CMakeLists.txt
Due: none

[c++] Write `GeometryDataFrame` spatial metadata in C++ (#3631)
  libtiledbsoma/CMakeLists.txt
  libtiledbsoma/src/soma/soma_geometry_dataframe.cc
  libtiledbsoma/src/soma/soma_geometry_dataframe.h
  libtiledbsoma/test/unit_soma_geometry_dataframe.cc
Due: libtiledbsoma

Add check for `soma_` prefix in axis names
  libtiledbsoma/src/soma/soma_coordinates.cc
  libtiledbsoma/test/unit_soma_coordinates.cc
Due: libtiledbsoma

Re-export a couple somacore classes
  apis/python/src/tiledbsoma/__init__.py
Due: none

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
