Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

temp
  apis/python/src/tiledbsoma/io/_util.py
Due: python_api

results of some googling
  apis/python/src/tiledbsoma/io/_util.py
Due: python_api

remove a line apparently no longer needed
  apis/python/src/tiledbsoma/io/_util.py
Due: python_api

[python/ci] Try Python 3.13 in CI
  .github/workflows/python-ci-full.yml
  .github/workflows/python-ci-minimal.yml
  .github/workflows/python-packaging.yml
  apis/python/setup.py
Due: none

try again
  apis/python/src/tiledbsoma/io/_util.py
Due: python_api

one more spot
  .github/workflows/python-ci-full.yml
Due: none

[python/ci] Try Python 3.13 in CI (#3703)
  .github/workflows/python-ci-full.yml
  .github/workflows/python-ci-minimal.yml
  .github/workflows/python-packaging.yml
  apis/python/setup.py
  apis/python/src/tiledbsoma/io/_util.py
Due: python_api

Fix memory deallocation of enumeration arrow buffers, optimize read for numeric enumerations
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

[c++] Use core 2.27.2
  .github/workflows/libtiledbsoma-asan-ci.yml
  .github/workflows/python-ci-packaging.yml
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
Due: none

[c++] Use core 2.27.2 (#3754)
  .github/workflows/libtiledbsoma-asan-ci.yml
  .github/workflows/python-ci-packaging.yml
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
Due: none

[wip] Separate submit and finalize
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_soma_array.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/managed_query.cc
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: python_api, libtiledbsoma

Add comment for buffer ownership
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

[python] Use `somacore` 1.0.28
  .pre-commit-config.yaml
  apis/python/setup.py
Due: none

[python] New PyPI uploader workflow
  .github/workflows/python-packaging.yml
Due: none

Update libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

[c++] Improve enumeration performance (#3749)
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

[python] New PyPI uploader workflow (#3757)
  .github/workflows/python-packaging.yml
Due: none

[python] Use `somacore` 1.0.28 (#3756)
  .pre-commit-config.yaml
  apis/python/setup.py
Due: none

Add 10x hdf5 reader
  apis/python/src/tiledbsoma/io/spatial/_util.py
Due: python_api

SOMABinaryColumn implementation
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_binary_column.cc
  libtiledbsoma/src/soma/soma_binary_column.h
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Separate `soma_column` python bindings
  apis/python/src/tiledbsoma/soma_column.cc
Due: python_api

Add specialized methods for handling byte arrays
  libtiledbsoma/src/soma/enums.h
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_dataframe.cc
Due: libtiledbsoma

Update python api to use byte specializations
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/soma_column.cc
Due: python_api

Add casting from indexes to values for binary attributes
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

Make `soma_schema` optional
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_geometry_dataframe.cc
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Update soma_binary_column current domain getter
  libtiledbsoma/src/soma/soma_binary_column.cc
Due: libtiledbsoma

Update python tests
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/tests/test_dataframe_index_columns.py
Due: python_api

Add specializations for `hash` and `equal_to`
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/utils/common.h
Due: libtiledbsoma

Add enumeration for WKB columns, apply enumeration extension optimization for binary column
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Fix casting
  apis/python/src/tiledbsoma/soma_column.cc
Due: python_api

Fix python 3.13 compatibility (#3728)
  apis/python/src/tiledbsoma/io/_util.py
Due: python_api

[Backport release-1.16] Fix python 3.13 compatibility
  apis/python/src/tiledbsoma/io/_util.py
Due: python_api

[Backport release-1.16] Fix python 3.13 compatibility (#3761)
  apis/python/src/tiledbsoma/io/_util.py
Due: python_api

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
