Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

Change wording using verbiage suggested in PR comments
  dev_docs/POLICIES.md
Due: none

Check for null bytes in column name (#4121)
  apis/python/src/tiledbsoma/_dataframe.py
Due: python_api

Add delete mode to R
  apis/r/R/SOMAArrayBase.R
  apis/r/R/SOMACollectionBase.R
  apis/r/R/SOMAObject.R
  apis/r/R/ephemeral.R
  apis/r/tests/testthat/test-05-contexts.R
  apis/r/tests/testthat/test-11-reopen.R
Due: none

Apply suggestions from code review
  dev_docs/POLICIES.md
Due: none

Address code-review feedback
  dev_docs/POLICIES.md
Due: none

Fix punctuation
  dev_docs/POLICIES.md
Due: none

Add policies around format changes (#4120)
  dev_docs/POLICIES.md
Due: none

Document row order assumptions for update_obs/var
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Add delete mode to python
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_group.cc
  apis/python/tests/test_collection.py
Due: python_api

Allow divide-by-zero when getting inverse transform in spatial query
  apis/python/src/tiledbsoma/_spatial_util.py
  apis/python/tests/test_point_cloud_dataframe.py
Due: python_api

Add delete mode to array state machine
  apis/python/tests/ht/_array_state_machine.py
Due: none

Fix mode in test
  apis/python/tests/test_collection.py
Due: none

Fix tests
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_sparse_nd_array.py
Due: none

Run clang-format-18
  libtiledbsoma/src/soma/soma_group.h
Due: libtiledbsoma

Update changelogs
  apis/python/HISTORY.md
  apis/r/NEWS.md
Due: none

Fix deleter
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/tests/test_collection.py
Due: python_api

copyediting
  dev_docs/POLICIES.md
Due: none

remove excess space
  dev_docs/POLICIES.md
Due: none

Add clarification about the defunct stage
  dev_docs/POLICIES.md
Due: none

add hook to determine link-time version of tiledb and use to perform import-time check
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_general_utilities.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/tests/test_context.py
  apis/python/tests/test_general_utilities.py
  libtiledbsoma/src/utils/version.cc
  libtiledbsoma/src/utils/version.h
Due: python_api, libtiledbsoma

improve warning; add history entry
  apis/python/HISTORY.md
  apis/python/src/tiledbsoma/_general_utilities.py
Due: python_api

Apply R fixes and suggestions from code review
  apis/r/NEWS.md
  apis/r/R/SOMACollectionBase.R
  apis/r/R/SOMAObject.R
  apis/r/tests/testthat/test-11-reopen.R
Due: none

Update somacore version
  .pre-commit-config.yaml
  apis/python/setup.py
Due: none

Fix typos in comments
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_group.cc
Due: libtiledbsoma

Allow divide-by-zero when getting inverse transform in spatial query (#4124)
  apis/python/src/tiledbsoma/_spatial_util.py
  apis/python/tests/test_point_cloud_dataframe.py
Due: python_api

add missing spaces in warning message
  apis/python/src/tiledbsoma/_general_utilities.py
Due: python_api

version mismatch generates exception, not warning
  apis/python/src/tiledbsoma/_general_utilities.py
  apis/python/tests/test_general_utilities.py
Due: python_api

Do not make `verify_open_reading` and `verify_open_deleting` public
  apis/python/HISTORY.md
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
Due: python_api

Standardize errors for unexpected mode from constructor
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_group.cc
Due: libtiledbsoma

Pull python->clib open mode into helper function
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

Bump the r development version
  apis/r/DESCRIPTION
Due: none

timestamp == 0 docstrings
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
  apis/python/tests/test_context.py
Due: python_api

import ExtensionDtype to suppress excessive warnings in pytest
  apis/python/src/tiledbsoma/io/conversions.py
Due: python_api

enable Ruff rules: bugbear, pycodestyle, isort and pyflakes
  apis/python/pyproject.toml
Due: none

lint
  apis/system/tests/test_character_write_python_read_r.py
Due: none

fix HISTORY.md
  apis/python/HISTORY.md
Due: none

remove redundant per-file-ignore in Ruff config
  apis/python/pyproject.toml
Due: none

timestamp == 0 docstrings (#4127)
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
  apis/python/tests/test_context.py
Due: python_api
