Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Fix test
  apis/python/tests/test_experiment_query.py
Due: none

[python] Use bindings for `SparseNDArray` readpath (#2133)
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_object.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  apis/python/tests/test_platform_config.py
  apis/python/tests/test_sparse_nd_array.py
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
Due: python_api, libtiledbsoma

WIP handle vars correctly
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/tests/test_basic_anndata_io.py
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

[python] Add default thread pool in `SOMATileDBContext` (#2001)
  .pre-commit-config.yaml
  apis/python/setup.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
  apis/python/tests/test_experiment_query.py
  apis/python/tests/test_sparse_nd_array.py
Due: python_api

WIP fix segfaults from var-sized writes and metadata
  apis/python/setup.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/tests/test_basic_anndata_io.py
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: python_api, libtiledbsoma

WIP create methods should be void
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_experiment.cc
  libtiledbsoma/src/soma/soma_experiment.h
  libtiledbsoma/src/soma/soma_measurement.cc
  libtiledbsoma/src/soma/soma_measurement.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/test/unit_soma_collection.cc
Due: python_api, libtiledbsoma

Use TileDB Core 2.20
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
  scripts/update-tiledb-version.py
Due: none

TileDB-Py 0.26 and TileDB-R 0.24
  apis/python/setup.py
  apis/r/DESCRIPTION
Due: none

Use core 2.20.1, which now exists
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
Due: none

tiledbsoma::show_package_versions() in r-ci.yml
  .github/workflows/r-ci.yml
Due: none

bugfix
  .github/workflows/r-ci.yml
Due: none

Use TileDB Core 2.20, TileDB-Py 0.26, TileDB-R 0.24 (#2150)
  .github/workflows/r-ci.yml
  apis/python/setup.py
  apis/r/DESCRIPTION
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
  scripts/update-tiledb-version.py
Due: none

scripts/update-tiledb-version.py
  scripts/update-tiledb-version.py
Due: none

Use core 2.19.2
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
Due: none

[r] Set `DESCRIPTION` version to 1.8.99
  apis/r/DESCRIPTION
Due: none

protect
  apis/python/tests/test_registration_mappings.py
Due: none

[python] Expose tiledbsoma.io.ExperimentAmbientLabelMapping
  apis/python/src/tiledbsoma/io/__init__.py
  apis/python/tests/test_registration_mappings.py
Due: python_api

code-review feedback
  apis/python/tests/test_registration_mappings.py
Due: none

[r] Set `DESCRIPTION` version to 1.8.99 (#2176)
  apis/r/DESCRIPTION
Due: none

[python] Expose `tiledbsoma.io.ExperimentAmbientLabelMapping` (#2175)
  apis/python/src/tiledbsoma/io/__init__.py
  apis/python/tests/test_registration_mappings.py
Due: python_api

Use core 2.19.2 for the `release-1.7` branch (#2177)
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
  scripts/update-tiledb-version.py
Due: none

WIP fix errors related to span indexing past length for offset
  apis/python/src/tiledbsoma/_dataframe.py
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/managed_query.cc
Due: python_api, libtiledbsoma

WIP add timestamps to create functions
  apis/python/src/tiledbsoma/_dataframe.py
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/test/unit_soma_array.cc
Due: python_api, libtiledbsoma

WIP correct metadata for soma array
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/utils/common.h
  libtiledbsoma/test/unit_soma_array.cc
Due: libtiledbsoma

[WIP] Refactor metadata
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_experiment.cc
  libtiledbsoma/src/soma/soma_experiment.h
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_measurement.cc
  libtiledbsoma/src/soma/soma_measurement.h
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/utils/common.h
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_group.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

[C++, python] Optimizing indexer for panda create and pyarrow lookup -Removed std::vector based lookup function to speedup panda's lookup -Add a speiclized lookup for pyarrow
  apis/python/src/tiledbsoma/reindexer.cc
  apis/python/tests/test_indexer.py
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/reindexer/test_indexer_dtatye_perf.py
Due: python_api

[C++, python] Optimizing indexer for panda create and pyarrow lookup (#2159)
  apis/python/src/tiledbsoma/reindexer.cc
  apis/python/tests/test_indexer.py
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/reindexer/test_indexer_dtatye_perf.py
Due: python_api

[c++] Refactor metadata
  apis/python/src/tiledbsoma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_experiment.cc
  libtiledbsoma/src/soma/soma_experiment.h
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_measurement.cc
  libtiledbsoma/src/soma/soma_measurement.h
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/soma/soma_object.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/src/utils/common.h
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_group.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

[python, C++] Re-indexer context thread pool Each C++ SOMAContext has it's own lazily created thread pool
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_index_util.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/reindexer.cc
  apis/python/tests/test_indexer.py
  apis/python/tests/test_reindexer_api.py
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/reindexer/reindexer.cc
  libtiledbsoma/src/reindexer/reindexer.h
  libtiledbsoma/src/reindexer/test_indexer_dtatye_perf.py
  libtiledbsoma/src/soma/soma_context.cc
  libtiledbsoma/src/soma/soma_context.h
  libtiledbsoma/test/test_indexer.cc
Due: python_api, libtiledbsoma

Correct typo
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

[python, C++] Re-indexer context thread pool (#2148)
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_index_util.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/reindexer.cc
  apis/python/tests/test_indexer.py
  apis/python/tests/test_reindexer_api.py
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/reindexer/reindexer.cc
  libtiledbsoma/src/reindexer/reindexer.h
  libtiledbsoma/src/reindexer/test_indexer_dtatye_perf.py
  libtiledbsoma/src/soma/soma_context.cc
  libtiledbsoma/src/soma/soma_context.h
  libtiledbsoma/test/test_indexer.cc
Due: python_api, libtiledbsoma

[python] Drop support for Python 3.7
  .github/workflows/python-ci-full.yml
  .github/workflows/python-ci-minimal.yml
  apis/python/setup.py
  apis/python/tests/test_soma_array.py
Due: none

[python] Drop support for Python 3.7 (#2181)
  .github/workflows/python-ci-full.yml
  .github/workflows/python-ci-minimal.yml
  apis/python/setup.py
  apis/python/tests/test_soma_array.py
Due: none

[C++] Addressing issues related to reindexer advanced features Addressing minor issues related to reindexer's shared threadpool and its optimization for pandas and pyarrow
  libtiledbsoma/src/reindexer/reindexer.h
  libtiledbsoma/src/reindexer/test_indexer_data_types_perf.py
  libtiledbsoma/src/soma/soma_context.cc
  libtiledbsoma/src/soma/soma_context.h
Due: libtiledbsoma

merge
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_index_util.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/reindexer.cc
  apis/python/tests/test_indexer.py
  apis/python/tests/test_reindexer_api.py
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/reindexer/reindexer.cc
  libtiledbsoma/src/reindexer/reindexer.h
  libtiledbsoma/src/reindexer/test_indexer_dtatye_perf.py
  libtiledbsoma/src/soma/soma_context.cc
  libtiledbsoma/src/soma/soma_context.h
  libtiledbsoma/test/test_indexer.cc
Due: python_api, libtiledbsoma

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
