Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

docstring typo, test-assertion msgs, parametrize_cases nits
  apis/python/src/tiledbsoma/io/outgest.py
  apis/python/tests/_util.py
  apis/python/tests/parametrize_cases.py
Due: python_api

[python] Docstring typo, test-assertion msgs, `maybe_raises` improvement, `verify_logs` helper (#2892)
  apis/python/src/tiledbsoma/io/outgest.py
  apis/python/tests/_util.py
  apis/python/tests/parametrize_cases.py
Due: python_api

[python] Unit-test helper `make_df` -> `make_pd_df`
  apis/python/tests/_util.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_dataframe_io_roundtrips.py
Due: none

Update somacore version for Python API and pre-commit
  .pre-commit-config.yaml
  apis/python/setup.py
Due: none

[python] Unit-test helper `make_df` -> `make_pd_df` (#2898)
  apis/python/tests/_util.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_dataframe_io_roundtrips.py
Due: none

Update Image2DCollection to match somacore changes
  apis/python/src/tiledbsoma/_images.py
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

Clean-up LevelProperties dataclass
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/src/tiledbsoma/_images.py
Due: python_api

[c++] WIP for Python/R metadata typing
  apis/python/src/tiledbsoma/common.cc
Due: python_api

Prototype 2D image collection (#2815)
  .pre-commit-config.yaml
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/setup.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_images.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/experimental/ingest.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/src/tiledbsoma/soma_object.cc
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/soma_image2d_collection.cc
  libtiledbsoma/src/soma/soma_image2d_collection.h
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/tiledbsoma/tiledbsoma
Due: python_api, libtiledbsoma

code-review feedback
  apis/python/src/tiledbsoma/common.cc
Due: python_api

[c++] Apply `ArraySchemaEvolution` to specified timestamp (#2895)
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

[c++] Corner-case bug in extend-enumeration logic
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

[c++] Final update for Python/R metadata typing (#2900)
  apis/python/src/tiledbsoma/common.cc
Due: python_api

lint
  apis/python/tests/test_dataframe.py
Due: none

[c++] Corner-case bug in extend-enumeration logic (#2897)
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

[r] TileDB-SOMA 1.13.1
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

Rename `[obs|var]_scene` -> `[obs|var]_spatial_presence`
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_measurement.py
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

Set `var_spatial_presence` generation off by default in cxg ingestor
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

[python] Use `somacore` 1.0.14 (#2878)
  .pre-commit-config.yaml
  apis/python/setup.py
Due: none

[r] TileDB-SOMA 1.13.1 (#2904)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

Remove extra columns from `obsl["loc"]` dataframe
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

[python] Trivial renames for some unit-test files
  apis/python/tests/test_dataframe_index_columns.py
Due: none

[c++] Methodize timestamped-schema-evolution factory
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

[c++] Trivial parameterize in `test/common.cc`
  libtiledbsoma/test/common.cc
Due: none

[c++] Fix typo in `test/unit_soma_dense_ndarray.cc`
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
Due: libtiledbsoma

[c++] Trivial name-neaten
  libtiledbsoma/src/soma/soma_object.cc
Due: libtiledbsoma

Small robustification
  apis/r/R/Init.R
  apis/r/R/RcppExports.R
  apis/r/src/RcppExports.cpp
  apis/r/src/rutilities.cpp
Due: none

Small robustification (#2914)
  apis/r/R/Init.R
  apis/r/R/RcppExports.R
  apis/r/src/RcppExports.cpp
  apis/r/src/rutilities.cpp
Due: none

dim-max argument as well
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/common.h
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: none

new-shape testing [skip ci]
  apis/python/src/tiledbsoma/_common_nd_array.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_dataframe_index_columns.py
  apis/python/tests/test_registration_mappings.py
  apis/python/tests/test_shape.py
  apis/python/tests/test_sparse_nd_array.py
  apis/r/tests/testthat/helper-test-data.R
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/src/utils/common.h
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/common.h
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma
