Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

MIgrate domain access methods to use SOMAColumns
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Add optional non empty domain method
  libtiledbsoma/src/soma/soma_attribute.cc
  libtiledbsoma/src/soma/soma_attribute.h
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
Due: libtiledbsoma

Remove unsupported dimension datatypes
  libtiledbsoma/src/soma/soma_dimension.cc
Due: libtiledbsoma

Fill SOMAColumn info on array open
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

Add template-specialization guards
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_column.h
Due: libtiledbsoma

Migrate shape setter function
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Migrate domain setters
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

Migrate shape check methods
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Fix current domain test for dimensions
  libtiledbsoma/src/soma/soma_dimension.cc
Due: libtiledbsoma

Migrate joinid check function
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

[python] Add `to_spatial_data` method to `ExperimentAxisQuery` (#3431)
  apis/python/src/tiledbsoma/_query.py
  apis/python/tests/test_experiment_query_spatial.py
Due: python_api

[c++] Fix bug with sliced Arrow-table writes, with string columns
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

Update Makefile and dev docs for ASAN, etc. builds
  Makefile
  libtiledbsoma/README.md
  scripts/bld
Due: none

Add weekly workflow for ASAN CI
  .github/workflows/libtiledbsoma-asan-ci.yml
Due: none

Deprecate `config_options_from_schema` in favor of new function
  apis/python/src/tiledbsoma/_soma_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/io/spatial/_xarray_backend.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_platform_config.py
  apis/python/tests/test_sparse_nd_array.py
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: python_api, libtiledbsoma

[c++] Fix bug with sliced Arrow-table writes, with string columns (#3433)
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

[c++] Fix bad merge of #3436
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

Clang format with clang-format-18
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Attempt to run workflow for PRs that modify workflow
  .github/workflows/libtiledbsoma-asan-ci.yml
Due: none

[c++] Match zero-basing for old/new sparse-array shapes
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

[c++] Match zero-basing for old/new sparse-array shapes (#3439)
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

improve error handling in reindexer/IntIndexr
  apis/python/src/tiledbsoma/_indexer.py
  apis/python/src/tiledbsoma/reindexer.cc
  libtiledbsoma/src/reindexer/reindexer.h
Due: python_api

improve error handling in reindexer/IntIndexr
  apis/python/tests/test_indexer.py
Due: none

refine exceptions
  apis/python/src/tiledbsoma/reindexer.cc
  apis/python/tests/test_indexer.py
Due: python_api

lint
  apis/python/src/tiledbsoma/reindexer.cc
Due: python_api

lint
  libtiledbsoma/src/reindexer/reindexer.h
Due: none

[c++] Fix merge of #3436
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

[c++] Fix merge of #3436 (#3442)
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

[python] Pre-emptively avoid scipy 1.15
  apis/python/setup.py
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

code-review feedback
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

[python] Fix conditional-fall through in `SOMAObject.open`
  apis/python/src/tiledbsoma/soma_object.cc
Due: python_api

[python] Pre-emptively avoid SciPy 1.15, pending a bugfix (#3445)
  apis/python/setup.py
Due: none

fix mishandling of arrow array input
  apis/python/src/tiledbsoma/reindexer.cc
Due: python_api

add test
  apis/python/tests/test_indexer.py
Due: none

Use correct clang-format version
  apis/python/src/tiledbsoma/soma_object.cc
Due: python_api

Use try-catch
  apis/python/src/tiledbsoma/soma_object.cc
Due: python_api

[python,c++] Improve error handling in `IntIndexer` (#3441)
  apis/python/src/tiledbsoma/_indexer.py
  apis/python/src/tiledbsoma/reindexer.cc
  apis/python/tests/test_indexer.py
Due: python_api

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
