Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Create helper function for filling metadata cache without side-effects
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

Directly use deserialize columns
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_column.h
Due: libtiledbsoma

Use R action in r/python interop and update paths to run on
  .github/workflows/R-CMD-check.yaml
  .github/workflows/r-python-interop-testing.yml
Due: none

Remove redundant git log commands
  .github/workflows/R-CMD-check.yaml
  .github/workflows/libtiledb-ci.yml
  .github/workflows/libtiledbsoma-asan-ci.yml
  .github/workflows/python-ci-single.yml
  .github/workflows/python-dependency-variation.yml
Due: none

Apply suggestions from code review
  dev_docs/POLICIES.md
Due: none

Add error style guide to policies (#4196)
  dev_docs/POLICIES.md
Due: none

[c++] Clean-up SOMAArray construction (#4207)
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_column.h
Due: libtiledbsoma

Fix R-CMD files to run on
  .github/workflows/R-CMD-check.yaml
Due: none

fix incorrect schema property for dict dataframe attributes
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_registration_mappings.py
  apis/python/tests/test_type_system.py
  apis/python/tests/test_update_dataframes.py
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

debugging
  apis/r/R/utils-arrow.R
Due: none

more debugging
  apis/r/R/utils-arrow.R
Due: none

add to changelog
  apis/python/HISTORY.md
  apis/r/NEWS.md
Due: none

Fix mypy issues
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
  apis/python/src/tiledbsoma/io/conversions.py
Due: python_api

[ci] Various modifications to the existing GitHub actions (#4208)
  .github/workflows/R-CMD-check.yaml
  .github/workflows/libtiledb-ci.yml
  .github/workflows/libtiledbsoma-asan-ci.yml
  .github/workflows/python-ci-full.yml
  .github/workflows/python-ci-minimal.yml
  .github/workflows/python-ci-packaging.yml
  .github/workflows/python-ci-single.yml
  .github/workflows/python-dependency-variation.yml
  .github/workflows/python-remote-storage.yml
  .github/workflows/r-python-interop-testing.yml
  .github/workflows/r-valgrind.yaml
  .github/workflows/test-coverage.yaml
Due: none

Fix mypy issues (#4213)
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
  apis/python/src/tiledbsoma/io/conversions.py
Due: python_api

Adding .type property for Sparse/DenseNDArrays
  apis/python/src/tiledbsoma/_common_nd_array.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_sparse_nd_array.py
Due: python_api

Add entry in changelog
  apis/python/HISTORY.md
Due: none

suggestions from PR review
  apis/r/NEWS.md
  apis/r/R/utils-arrow.R
Due: none

Move a couple more ArrowAdapter functions out of header
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Remove unused code
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Move function out of header to simplify templating
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Move PlatformConfig classes/functions out of arrow_adapter
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_attribute.h
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/src/soma/soma_experiment.h
  libtiledbsoma/src/soma/soma_geometry_column.h
  libtiledbsoma/src/soma/soma_geometry_dataframe.h
  libtiledbsoma/src/soma/soma_measurement.h
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/src/tiledb_adapter/platform_config.cc
  libtiledbsoma/src/tiledb_adapter/platform_config.h
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Fix datetime domain regression
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Adding `.type` property for Sparse/DenseNDArrays (#4212)
  apis/python/HISTORY.md
  apis/python/src/tiledbsoma/_common_nd_array.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_sparse_nd_array.py
Due: python_api

bump R version
  apis/r/DESCRIPTION
Due: none

[python, R] fix incorrect schema property for dict dataframe attributes (#4209)
  apis/python/HISTORY.md
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_registration_mappings.py
  apis/python/tests/test_type_system.py
  apis/python/tests/test_update_dataframes.py
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/R/utils-arrow.R
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

[c++] Re-organization of some methods/structs in the arrow adapter files (#4214)
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_attribute.h
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/src/soma/soma_experiment.h
  libtiledbsoma/src/soma/soma_geometry_column.h
  libtiledbsoma/src/soma/soma_geometry_dataframe.h
  libtiledbsoma/src/soma/soma_measurement.h
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/src/tiledb_adapter/platform_config.cc
  libtiledbsoma/src/tiledb_adapter/platform_config.h
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

update docstring for register_anndatas function
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

update register_h5ads docstring for clarity
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

update register_h5ads docstring for supported workflows
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

first pass at axis delete
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/tests/test_experiment_axis_delete.py
Due: python_api

Restructure update_obs docstrings
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

change log entry
  apis/python/HISTORY.md
Due: none

Make update_obs/var summary lines consistent
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

add var axis test; fix bugs found in TDD
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/tests/test_experiment_axis_delete.py
Due: python_api

Improve clarity of update_obs docstrings
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

cleanup
  apis/python/src/tiledbsoma/_experiment.py
Due: python_api

Deduplicate update_obs/update_var docstrings
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Align docstring params for update_obs/var
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
