Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

code-review feedback
  apis/r/R/SOMADataFrame.R
Due: none

DESCRIPTION and NEWS.md [skip ci]
  apis/r/NEWS.md
Due: none

one more spot
  apis/r/R/SOMADenseNDArray.R
Due: none

rebase
  apis/r/DESCRIPTION
Due: none

Add ingestor script and sample spatial notebook
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/experimental/__init__.py
  apis/python/src/tiledbsoma/experimental/_util.py
  apis/python/src/tiledbsoma/experimental/ingest.py
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Explicitly set coord space after transform for tissue and loc
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

[r] Push `schema` accessor down to `libtiledbsoma` (#3079)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/R/RcppExports.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMADenseNDArray.R
  apis/r/R/TileDBArray.R
  apis/r/src/RcppExports.cpp
  apis/r/src/rinterface.cpp
  apis/r/tests/testthat/test-SOMADataFrame.R
Due: none

[c++] Trivial name-shortens in unit-test code
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: none

parallelize to_anndata
  apis/python/src/tiledbsoma/io/outgest.py
Due: python_api

another rename
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

Add Visium ingestor and sample spatial notebook (#3123)
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/experimental/__init__.py
  apis/python/src/tiledbsoma/experimental/_util.py
  apis/python/src/tiledbsoma/experimental/ingest.py
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Fix MultiscaleImage.read_spatial_region full region read
  apis/python/src/tiledbsoma/_spatial_util.py
  apis/python/tests/test_multiscale_image.py
Due: python_api

[r] Remove last `tiledb_array` and `self$object` from R classes [skip ci]
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMADenseNDArray.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/R/TileDBArray.R
  apis/r/tests/testthat/test-SOMADenseNDArray.R
Due: none

[c++] Trivial name-shortens in unit-test code (#3125)
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

Fix MultiscaleImage.read_spatial_region full region read (#3128)
  apis/python/src/tiledbsoma/_spatial_util.py
  apis/python/tests/test_multiscale_image.py
Due: python_api

Rename a helper function
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/tests/test_shape.py
  apis/r/R/RcppExports.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/write_soma.R
  apis/r/man/SOMADataFrame.Rd
  apis/r/src/RcppExports.cpp
  apis/r/src/rinterface.cpp
  apis/r/tests/testthat/test-shape.R
  apis/r/tests/testthat/test-write-soma-resume.R
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: python_api, libtiledbsoma

Rename a helper function (#3127)
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/tests/test_shape.py
  apis/r/R/RcppExports.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/write_soma.R
  apis/r/man/SOMADataFrame.Rd
  apis/r/src/RcppExports.cpp
  apis/r/src/rinterface.cpp
  apis/r/tests/testthat/test-shape.R
  apis/r/tests/testthat/test-write-soma-resume.R
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: python_api, libtiledbsoma

mark to-do items [skip ci]
  apis/r/tests/testthat/helper-test-soma-objects.R
  apis/r/tests/testthat/helper-test-tiledb-objects.R
  apis/r/tests/testthat/test-Arrow-utils.R
  apis/r/tests/testthat/test-OrderedAndFactor.R
  apis/r/tests/testthat/test-SOMACollection.R
  apis/r/tests/testthat/test-SOMADataFrame.R
  apis/r/tests/testthat/test-SOMADenseNDArray.R
  apis/r/tests/testthat/test-SOMAExperiment-query.R
  apis/r/tests/testthat/test-SOMASparseNDArray.R
  apis/r/tests/testthat/test-SOMATileDBContext.R
  apis/r/tests/testthat/test-TileDBArray.R
  apis/r/tests/testthat/test-TileDBGroup.R
  apis/r/tests/testthat/test-example-datasets.R
Due: none

_can_set_shape_domainish_helper -> _can_set_shape_domainish_subhelper
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

can_upgrade_shape take function_name_for_messages argument
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

_can_set_shape_helper take function_name_for_messages argument
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: libtiledbsoma

resize take function_name_for_messages argument
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  apis/r/R/RcppExports.R
  apis/r/src/RcppExports.cpp
  apis/r/src/rinterface.cpp
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

resize_soma_joinid_shape take function_name_for_messages argument
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/r/src/rinterface.cpp
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

upgrade_shape take function_name_for_messages argument
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  apis/r/src/rinterface.cpp
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

can_resize take function_name_for_messages argument
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

can_resize_soma_joinid_shape take function_name_for_messages argument
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: libtiledbsoma

misc. neatens
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: libtiledbsoma

[c++] Propagate Python/R function names to C++ for upgrade/resize methods (#3130)
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  apis/r/R/RcppExports.R
  apis/r/src/RcppExports.cpp
  apis/r/src/rinterface.cpp
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

complete the square by implementing `can_upgrade_soma_joinid_shape`
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

code-dedupe resize and upgrade_shape
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

code-dedupe can_resize_soma_joinid_shape and can_upgrade_soma_joinid_shape
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: libtiledbsoma

code-dedupe resize_soma_joinid_shape and upgrade_soma_joinid_shape
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

unit-test cases
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: libtiledbsoma

[r] `main` version now that `release-1.15` branch exists
  apis/r/DESCRIPTION
Due: none

[r] 1.15.0rc0
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[r] `main` version now that `release-1.15` branch exists (#3133)
  apis/r/DESCRIPTION
Due: none

[c++] Dataframe-sizing helpers (#3132)
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

Do not fatal on 1.15-related assertions
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
Due: python_api

Do not fatal on 1.15-related assertions (#3137)
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
Due: python_api

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
