Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Fix rebase errors
  apis/r/DESCRIPTION
  apis/r/src/riterator.cpp
Due: none

expanded test_nan_append sweep
  apis/python/tests/test_basic_anndata_io.py
Due: none

`# fmt: off` around some pytest parameteres
  apis/python/tests/test_basic_anndata_io.py
Due: none

[r/ci] Controlled downgrade for TileDB-R 0.25 (#2373)
  .github/workflows/r-ci.yml
  .github/workflows/r-python-interop-testing.yml
Due: none

Remove three now superfluous declarations, remove src/borrowed.c
  apis/r/src/borrowed.c
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
  apis/r/src/rutilities.cpp
Due: none

Remove three now superfluous declarations, remove src/borrowed.c (#2376)
  apis/r/src/borrowed.c
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
  apis/r/src/rutilities.cpp
Due: none

Update changelog Bump develop version
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[r] Port blockwise iterator/reader to R (#2152)
  apis/r/DESCRIPTION
  apis/r/NAMESPACE
  apis/r/NEWS.md
  apis/r/R/BlockwiseIter.R
  apis/r/R/CoordsStrider.R
  apis/r/R/RcppExports.R
  apis/r/R/ReadIter.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/R/SOMASparseNDArrayRead.R
  apis/r/R/SparseReadIter.R
  apis/r/R/TableReadIter.R
  apis/r/R/utils-readerTransformers.R
  apis/r/man/BlockwiseReadIterBase.Rd
  apis/r/man/BlockwiseSparseReadIter.Rd
  apis/r/man/BlockwiseTableReadIter.Rd
  apis/r/man/CoordsStrider.Rd
  apis/r/man/SOMASparseNDArrayBlockwiseRead.Rd
  apis/r/man/SOMASparseNDArrayRead.Rd
  apis/r/man/SOMASparseNDArrayReadBase.Rd
  apis/r/man/roxygen/templates/param-blockwise-iter.R
  apis/r/man/roxygen/templates/param-coords-iter.R
  apis/r/man/roxygen/templates/param-coords-read.R
  apis/r/man/roxygen/templates/param-repr-read.R
  apis/r/src/RcppExports.cpp
  apis/r/src/riterator.cpp
  apis/r/tests/testthat/test-Blockwise.R
  apis/r/tests/testthat/test-CoordsStrider.R
Due: none

[python] More `nan_append` checks: not-all-NaN, non-dupe IDs (#2364)
  apis/python/tests/test_basic_anndata_io.py
Due: none

[c++,r] Move `nanoarrow` to `src/external`
  apis/r/inst/include/tiledbsoma_types.h
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
  apis/r/src/rutilities.cpp
  libtiledbsoma/CMakeLists.txt
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/external/include/nanoarrow/nanoarrow.h
  libtiledbsoma/src/external/include/nanoarrow/nanoarrow.hpp
  libtiledbsoma/src/external/src/nanoarrow/nanoarrow.c
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Slight tweak to CMakeLists, adjustment for vendoring
  apis/r/src/borrowed.c
  libtiledbsoma/src/CMakeLists.txt
Due: none

Un-clang-format files restoring release 0.4.0 copies
  libtiledbsoma/src/external/include/nanoarrow/nanoarrow.h
  libtiledbsoma/src/external/src/nanoarrow/nanoarrow.c
Due: none

Re-adjust after rebase
  apis/r/src/borrowed.c
  libtiledbsoma/src/CMakeLists.txt
Due: none

[python] Respect import-ordering
  apis/python/devtools/ingestor
  apis/python/devtools/outgestor
  scripts/show-versions.py
Due: none

Path adjustment for nanoarrow include, pkg-config update
  apis/r/inst/include/tiledbsoma_types.h
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
  apis/r/src/rutilities.cpp
  apis/r/src/xptr-utils.h
  libtiledbsoma/cmake/inputs/tiledbsoma.pc.in
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Adjusting Python too
  apis/python/setup.py
Due: none

[python] Check for uniqueness of registration obs/var field-name inputs
  apis/python/src/tiledbsoma/io/_registration/id_mappings.py
  apis/python/tests/test_registration_mappings.py
Due: python_api

isort: tiledbsoma before tiledb
  .pre-commit-config.yaml
  apis/python/devtools/desc-array-fragments
  apis/python/devtools/ingestor
  apis/python/devtools/outgestor
  apis/python/devtools/peek-exp.py
  apis/python/pyproject.toml
  apis/python/src/tiledbsoma/_arrow_types.py
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_common_nd_array.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_array.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/io/_util.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
  apis/python/src/tiledbsoma/options/_tiledb_create_options.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_collection.py
  apis/python/tests/test_context.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dataframe_index_columns.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_experiment_query.py
  apis/python/tests/test_factory.py
  apis/python/tests/test_metadata.py
  apis/python/tests/test_notebook_sparse_dense.py
  apis/python/tests/test_platform_config.py
  apis/python/tests/test_query_condition.py
  apis/python/tests/test_sparse_nd_array.py
  apis/python/tests/test_tiledbobject.py
  apis/python/tests/test_util_tiledb.py
  data/simple/ij_test1/gen.py
  scripts/show-versions.py
Due: python_api

Adjusting Python too, once more
  apis/python/setup.py
Due: none

isort: tiledbsoma before tiledb (#2381)
  .pre-commit-config.yaml
  apis/python/devtools/desc-array-fragments
  apis/python/devtools/ingestor
  apis/python/devtools/outgestor
  apis/python/devtools/peek-exp.py
  apis/python/pyproject.toml
  apis/python/src/tiledbsoma/_arrow_types.py
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_common_nd_array.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_array.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/io/_util.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
  apis/python/src/tiledbsoma/options/_tiledb_create_options.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_collection.py
  apis/python/tests/test_context.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dataframe_index_columns.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_experiment_query.py
  apis/python/tests/test_factory.py
  apis/python/tests/test_metadata.py
  apis/python/tests/test_notebook_sparse_dense.py
  apis/python/tests/test_platform_config.py
  apis/python/tests/test_query_condition.py
  apis/python/tests/test_sparse_nd_array.py
  apis/python/tests/test_tiledbobject.py
  apis/python/tests/test_util_tiledb.py
  data/simple/ij_test1/gen.py
  scripts/show-versions.py
Due: python_api

conditional contextmanager for boilerplate reduction
  apis/python/tests/test_registration_mappings.py
Due: none

Adjust include path for R for the non pkg-config case too
  apis/r/configure
Due: none

[python] Enforce if-not-exists semantics for append/registration
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
  apis/python/tests/test_registration_mappings.py
Due: python_api

[python] Check for uniqueness of registration obs/var field-name inputs (#2380)
  apis/python/src/tiledbsoma/io/_registration/id_mappings.py
  apis/python/tests/test_registration_mappings.py
Due: python_api

(WIP) Ingest high and low resolution images from Visium
  apis/python/setup.py
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

[python] Enforce if-not-exists semantics for append/registration (#2384)
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
  apis/python/tests/test_registration_mappings.py
Due: python_api

[ci] Debug wheel-build failure
  scripts/bld
Due: none

The Python installation for 'interop' needs another includes case
  apis/python/setup.py
Due: none

WIP fix several errors for macos
  apis/python/devtools/ingestor
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: python_api, libtiledbsoma

[c++,r,python] Move `nanoarrow` to `src/external` (#2383)
  apis/python/setup.py
  apis/r/configure
  apis/r/inst/include/tiledbsoma_types.h
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
  apis/r/src/rutilities.cpp
  apis/r/src/xptr-utils.h
  libtiledbsoma/CMakeLists.txt
  libtiledbsoma/cmake/inputs/tiledbsoma.pc.in
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/external/include/nanoarrow/nanoarrow.h
  libtiledbsoma/src/external/include/nanoarrow/nanoarrow.hpp
  libtiledbsoma/src/external/src/nanoarrow/nanoarrow.c
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/src/utils/nanoarrow.h
Due: libtiledbsoma

[r/ci] Continue #2275
  .github/workflows/r-ci.yml
  .github/workflows/r-python-interop-testing.yml
Due: none

[r/ci] Continue #2275 (#2395)
  .github/workflows/r-ci.yml
  .github/workflows/r-python-interop-testing.yml
Due: none

Remove unused code
  apis/r/R/TileDBArray.R
Due: none

merge
  .github/workflows/r-ci.yml
  .github/workflows/r-python-interop-testing.yml
Due: none

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
