Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

More clean-up
  apis/r/R/Factory.R
  apis/r/R/SOMAContext.R
  apis/r/R/SOMAObject.R
  apis/r/R/datasets.R
  apis/r/R/utils-seurat.R
  apis/r/R/write_bioc.R
  apis/r/R/write_seurat.R
Due: none

Update documentation
  apis/r/NAMESPACE
  apis/r/man/SOMACollectionCreate.Rd
  apis/r/man/SOMACollectionOpen.Rd
  apis/r/man/SOMAContext.Rd
  apis/r/man/SOMADataFrame.Rd
  apis/r/man/SOMADataFrameCreate.Rd
  apis/r/man/SOMADataFrameOpen.Rd
  apis/r/man/SOMADenseNDArrayCreate.Rd
  apis/r/man/SOMADenseNDArrayOpen.Rd
  apis/r/man/SOMAExperimentCreate.Rd
  apis/r/man/SOMAExperimentOpen.Rd
  apis/r/man/SOMAMeasurementCreate.Rd
  apis/r/man/SOMAMeasurementOpen.Rd
  apis/r/man/SOMAObject.Rd
  apis/r/man/SOMAOpen.Rd
  apis/r/man/SOMASparseNDArrayCreate.Rd
  apis/r/man/SOMASparseNDArrayOpen.Rd
  apis/r/man/example-datasets.Rd
  apis/r/man/soma_context.Rd
  apis/r/man/write_soma.Rd
  apis/r/man/write_soma.Seurat.Rd
  apis/r/man/write_soma.SingleCellExperiment.Rd
  apis/r/man/write_soma.SummarizedExperiment.Rd
  apis/r/man/write_soma_objects.Rd
  apis/r/man/write_soma_seurat_sub.Rd
Due: none

Testing and fixes
  apis/r/NEWS.md
  apis/r/R/SOMAContext.R
  apis/r/R/SOMATileDBContext.R
  apis/r/tests/testthat/test-03-SOMAContext.R
Due: none

[r] Remove unused private tiledb_array member (#4351)
  apis/r/R/SOMAArrayBase.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMADenseNDArray.R
  apis/r/tests/testthat/helper-test-tiledb-objects.R
  apis/r/tests/testthat/test-05-contexts.R
  apis/r/tests/testthat/test-06-SOMADataFrame.R
  apis/r/tests/testthat/test-06-SOMADenseNDArray.R
  apis/r/tests/testthat/test-06-SOMASparseNDArray.R
Due: none

Add soma_context to more places and update tests
  apis/r/R/SOMACollectionBase.R
  apis/r/R/utils.R
  apis/r/R/write_soma.R
  apis/r/tests/testthat/test-05-contexts.R
  apis/r/tests/testthat/test-06-SOMACollection.R
  apis/r/tests/testthat/test-10-SOMAArrayReader-Iterated.R
Due: none

Update news
  apis/r/NEWS.md
Due: none

Update docs
  apis/r/man/write_soma.Rd
  apis/r/man/write_soma.Seurat.Rd
  apis/r/man/write_soma.SingleCellExperiment.Rd
  apis/r/man/write_soma.SummarizedExperiment.Rd
  apis/r/man/write_soma_objects.Rd
  apis/r/man/write_soma_seurat_sub.Rd
Due: none

Deprecate SOMATileDBContext and check in tests
  apis/r/R/SOMATileDBContext.R
  apis/r/R/zzz.R
  apis/r/tests/testthat/test-03-SOMAContext.R
  apis/r/tests/testthat/test-05-contexts.R
Due: none

Remove `std::format` call
  libtiledbsoma/src/soma/soma_context.cc
Due: libtiledbsoma

Remove `std::format` call (#4357)
  libtiledbsoma/src/soma/soma_context.cc
Due: libtiledbsoma

Update apis/r/R/SOMAObject.R
  apis/r/R/SOMAObject.R
Due: none

Apply suggestions from code review
  apis/r/R/SOMAContext.R
  apis/r/tests/testthat/test-05-contexts.R
Due: none

Update apis/r/R/Factory.R
  apis/r/R/Factory.R
Due: none

Install old version of numba on intel macOS
  .github/workflows/python-packaging.yml
Due: none

[c++] Provide different modes of handling memory when converting to Arrow objects (#4334)
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_managed_query.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/managed_query.cc
  apis/r/src/RcppExports.cpp
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/cli/cli.cc
  libtiledbsoma/src/soma/array_buffers.cc
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/utils/arrow/arrow_buffer.cc
  libtiledbsoma/src/utils/arrow/arrow_buffer.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/src/utils/common.h
Due: python_api, libtiledbsoma

(WIP) Safe-cast pyarrow tables on write
  apis/python/src/tiledbsoma/_soma_array.py
  apis/python/tests/test_dataframe.py
Due: python_api

Fix casting for geometry dataframe outlines
  apis/python/src/tiledbsoma/_geometry_dataframe.py
Due: python_api

Update history
  apis/python/HISTORY.md
Due: none

Switch from deprecated `field_by_name` to `field`
  apis/python/src/tiledbsoma/_soma_array.py
Due: python_api

Update error message and remove unneeded type declaration
  apis/python/src/tiledbsoma/_geometry_dataframe.py
Due: python_api

Take tests from PR #4311
  apis/python/tests/test_dataframe.py
Due: none

Add xfail to uncovered bug
  apis/python/tests/test_update_dataframes.py
Due: none

Remove test that is checking for unsafe cast
  apis/python/tests/test_sparse_nd_array.py
Due: none

Fix syntax for xfail
  apis/python/tests/test_update_dataframes.py
Due: none

Add new SOMAContext
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_soma_context.py
  apis/python/tests/test_soma_context.py
Due: python_api

Deprecate to SOMATileDBContext
  apis/python/HISTORY.md
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
  apis/python/tests/test_context.py
Due: python_api

(WIP) Use SOMAContext for context
  apis/python/HISTORY.md
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_common_nd_array.py
  apis/python/src/tiledbsoma/_dask/load.py
  apis/python/src/tiledbsoma/_dask/util.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_fastercsx.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_indexer.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_soma_context.py
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
  apis/python/src/tiledbsoma/io/_util.py
  apis/python/src/tiledbsoma/io/conversions.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/io/shaping.py
  apis/python/src/tiledbsoma/io/spatial/_xarray_backend.py
  apis/python/src/tiledbsoma/io/spatial/ingest.py
  apis/python/src/tiledbsoma/io/update_uns.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
  apis/python/tests/test_indexer.py
Due: python_api

Update hypothesis tests to use SOMAContext
  apis/python/tests/conftest.py
  apis/python/tests/ht/_array_state_machine.py
  apis/python/tests/ht/conftest.py
  apis/python/tests/ht/test_ht_dataframe.py
  apis/python/tests/ht/test_ht_densendarray.py
  apis/python/tests/ht/test_ht_fastercsx.py
  apis/python/tests/ht/test_ht_indexer.py
  apis/python/tests/ht/test_ht_io_anndata.py
  apis/python/tests/ht/test_ht_sparsendarray.py
Due: none

(WIP) Switch tests to use SOMAContext
  apis/python/tests/conftest.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_clib.py
  apis/python/tests/test_collection.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_experiment_query.py
  apis/python/tests/test_fastercsx.py
  apis/python/tests/test_indexer.py
  apis/python/tests/test_registration_mappings.py
  apis/python/tests/test_reindexer_api.py
  apis/python/tests/test_sparse_nd_array.py
Due: none

Fix a couple tests
  apis/python/tests/test_collection.py
  apis/python/tests/test_registration_mappings.py
  apis/python/tests/test_sparse_nd_array.py
Due: none

Update pre-commit
  .pre-commit-config.yaml
  apis/python/HISTORY.md
  apis/python/remote_tests/test_03_versions.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_query.py
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/io/spatial/ingest.py
  apis/python/tests/ht/_arrow_util.py
  apis/python/tests/test_experiment_axis_delete.py
  apis/python/tests/test_sparse_nd_array.py
  apis/python/tests/test_update_uns.py
  apis/r/NEWS.md
  apis/r/vignettes/soma-experiment-queries.Rmd
  dev_docs/POLICIES.md
Due: python_api

[python] Use arrow API to cast python tables before sending to C++ (#4359)
  apis/python/HISTORY.md
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_soma_array.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_sparse_nd_array.py
  apis/python/tests/test_update_dataframes.py
Due: python_api

Temporarily disable remote storage workflow
  .github/workflows/python-remote-storage.yml
Due: none
