Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

resolve https://github.com/single-cell-data/TileDB-SOMA/pull/3815#discussion_r2021094356
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

Merge in #3845
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

temp/wip [skip ci]
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

https://github.com/single-cell-data/TileDB-SOMA/pull/3815#discussion_r2021089516
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

wip
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: python_api, libtiledbsoma

add a helpful comment
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

resolve https://github.com/single-cell-data/TileDB-SOMA/pull/3815#discussion_r2021359913
  apis/python/tests/test_dataframe.py
Due: none

Improve structuring
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: python_api, libtiledbsoma

RAII-related code-review feedback
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

iterating on code-review feedback
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

Constraints testing against old pandas/numpy versions
  apis/python/tests/test_dataframe.py
Due: none

resolve https://github.com/single-cell-data/TileDB-SOMA/pull/3815#discussion_r2019980139 [skip ci]
  apis/python/tests/test_dataframe.py
Due: none

code-review feedback
  apis/python/src/tiledbsoma/_dataframe.py
Due: python_api

fix for older numpy
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

null-checking
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

ordered flag
  apis/python/tests/test_dataframe.py
Due: none

try to be even more clear
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

check nan bits
  apis/python/tests/test_dataframe.py
Due: none

geometry only xenium ingestion implementation
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/io/spatial/__init__.py
  apis/python/src/tiledbsoma/io/spatial/_util.py
  apis/python/src/tiledbsoma/io/spatial/ingest.py
  apis/python/tests/test_from_xenium.py
Due: python_api

Add metadata writing to ingest function
  apis/python/src/tiledbsoma/io/spatial/ingest.py
  apis/python/tests/test_from_xenium.py
Due: python_api

Remove redefinitions
  apis/python/src/tiledbsoma/io/spatial/ingest.py
Due: python_api

Use `TenXCountMatrixReader`
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/io/spatial/__init__.py
  apis/python/src/tiledbsoma/io/spatial/_util.py
  apis/python/src/tiledbsoma/io/spatial/ingest.py
  apis/python/tests/test_from_xenium.py
Due: python_api

Add transcript ingestion
  apis/python/src/tiledbsoma/io/spatial/ingest.py
Due: python_api

Add subcollection type info
  apis/python/src/tiledbsoma/_scene.py
Due: python_api

Extend outline trnasformer to transform muliple columns
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/transformer.cc
  libtiledbsoma/src/soma/soma_transformers.cc
  libtiledbsoma/src/soma/soma_transformers.h
  libtiledbsoma/test/unit_soma_geometry_dataframe.cc
Due: python_api, libtiledbsoma

pip constraint `cmake<4` in ARM Linux docker builds
  docker/bookworm.dockerfile
  docker/langchain.dockerfile
  docker/ubuntu.dockerfile
Due: none

`python-dockers.yml`: improve job names
  .github/workflows/python-dockers.yml
Due: none

`python-dockers.yml`: `fail-fast: false`
  .github/workflows/python-dockers.yml
Due: none

[c++] Placeholder for a question on templates
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

Thanks Xanthos!
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

Advice from #3888 thanks to Xanthos
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

Improve `python-dockers` issue template
  .github/workflows/daily-python-dockers-issue-template.md
  .github/workflows/python-dockers.yml
Due: none

gha wiki link update
  .github/workflows/python-packaging.yml
Due: none

`python-ci-packaging.yml`: only run on `push` events to `main`
  .github/workflows/python-ci-packaging.yml
Due: none

[python] Pin `build-system.requires`, ARM Linux Docker-builds to `cmake<4` (#3891)
  .github/workflows/python-dockers.yml
  apis/python/pyproject.toml
  docker/bookworm.dockerfile
  docker/langchain.dockerfile
  docker/ubuntu.dockerfile
Due: none

[r] Replace tiledb-r enum accessors with libtiledb/Rcpp Replace tiledb-r enum accessors with new libtiledb/Rcpp accessors
  apis/r/src/RcppExports.cpp
  apis/r/src/rinterface.cpp
Due: none

Forgot files
  apis/r/R/RcppExports.R
  apis/r/tests/testthat/test-06-SOMADataFrame.R
Due: none

Update apis/r/src/rinterface.cpp
  apis/r/src/rinterface.cpp
Due: none

[ci/python] `python-dockers.yml`: improve issue template (#3894)
  .github/workflows/daily-python-dockers-issue-template.md
  .github/workflows/python-dockers.yml
  .github/workflows/python-packaging.yml
Due: none

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
