Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

apply in _ingest_uns_ndarray
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

lint
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Run SO copying workflow on macos-13 to avoid SIP
  .github/workflows/python-so-copying.yml
Due: none

Run SO copying workflow on macos-13 to avoid SIP (#2435)
  .github/workflows/python-so-copying.yml
Due: none

verify_core_versions() during `import tiledbsoma`
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_general_utilities.py
Due: python_api

AlreadyExistsError; use for DataFrame in tiledbsoma.io
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_common_nd_array.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_exception.py
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

apply in `_create_or_open_collection`
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

apply in _create_from_matrix
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

neaten
  apis/python/src/tiledbsoma/_exception.py
Due: python_api

Update raises-notes
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_common_nd_array.py
  apis/python/src/tiledbsoma/_dataframe.py
Due: python_api

code-review feedback
  apis/python/src/tiledbsoma/_exception.py
Due: python_api

[python] Ingestion performance (#2434)
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_common_nd_array.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_exception.py
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

[Backport release-1.9] [python/cip] Run SO copying workflow on macos-13 to avoid SIP
  .github/workflows/python-so-copying.yml
Due: none

code-review feedback
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

[Backport release-1.9] [python/cip] Run SO copying workflow on macos-13 to avoid SIP (#2440)
  .github/workflows/python-so-copying.yml
Due: none

code-review feedback (#2441)
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

add comment
  apis/python/src/tiledbsoma/__init__.py
Due: none

[python] `verify_core_versions()` during `import tiledbsoma` (#2437)
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_general_utilities.py
Due: python_api

Fix Windows build regressions.
  libtiledbsoma/src/reindexer/reindexer.cc
  libtiledbsoma/src/reindexer/reindexer.h
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_experiment.h
  libtiledbsoma/src/soma/soma_measurement.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/test/test_indexer.cc
Due: libtiledbsoma

Fix experiment and measurement tests to not call the base `open` method.
  libtiledbsoma/test/unit_soma_collection.cc
Due: none

Stop using deprecated TileDB APIs in tests.
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_group.cc
Due: none

Use core 2.22.0, TileDB-Py 0.28.0, TileDB-R 0.26.0
  .github/workflows/python-so-copying.yml
  apis/python/setup.py
  apis/r/DESCRIPTION
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
Due: none

Use core 2.22.0, TileDB-Py 0.28.0, TileDB-R 0.26.0 (#2448)
  .github/workflows/python-so-copying.yml
  apis/python/setup.py
  apis/r/DESCRIPTION
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
Due: none

[r] Experiment with bidirectional-pin syntax
  apis/r/DESCRIPTION
Due: none

Update apis/r/DESCRIPTION
  apis/r/DESCRIPTION
Due: none

experimental commit to look for green CI with new technique
  .github/workflows/r-ci.yml
  .github/workflows/r-python-interop-testing.yml
Due: none

neaten
  .github/workflows/r-ci.yml
  .github/workflows/r-python-interop-testing.yml
Due: none

Add missing comma
  apis/r/DESCRIPTION
Due: none

Do not include nanoarrow files in clang-format
  Makefile
Due: none

Required changes to r-ci.yml, plus simplifications
  .github/workflows/r-ci.yml
Due: none

Idem for r-python-interop-testing
  .github/workflows/r-python-interop-testing.yml
Due: none

Do not include nanoarrow files in clang-format (#2449)
  Makefile
Due: none

[r/ci] Required changes to `r-ci.yml`, plus simplifications (#2450)
  .github/workflows/r-ci.yml
  .github/workflows/r-python-interop-testing.yml
Due: none
