Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Add trailing periods for style
  apis/r/R/Factory.R
  apis/r/R/SOMAArrayBase.R
  apis/r/R/SOMACollection.R
  apis/r/R/SOMACollectionBase.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMADenseNDArray.R
  apis/r/R/SOMAExperiment.R
  apis/r/R/SOMAMeasurement.R
  apis/r/R/SOMANDArrayBase.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/R/TileDBArray.R
  apis/r/R/TileDBGroup.R
  apis/r/R/TileDBObject.R
  apis/r/man/SOMAArrayBase.Rd
  apis/r/man/SOMACollection.Rd
  apis/r/man/SOMACollectionBase.Rd
  apis/r/man/SOMACollectionCreate.Rd
  apis/r/man/SOMACollectionOpen.Rd
  apis/r/man/SOMADataFrame.Rd
  apis/r/man/SOMADataFrameCreate.Rd
  apis/r/man/SOMADataFrameOpen.Rd
  apis/r/man/SOMADenseNDArray.Rd
  apis/r/man/SOMADenseNDArrayCreate.Rd
  apis/r/man/SOMADenseNDArrayOpen.Rd
  apis/r/man/SOMAExperiment.Rd
  apis/r/man/SOMAExperimentCreate.Rd
  apis/r/man/SOMAExperimentOpen.Rd
  apis/r/man/SOMAMeasurement.Rd
  apis/r/man/SOMAMeasurementCreate.Rd
  apis/r/man/SOMAMeasurementOpen.Rd
  apis/r/man/SOMANDArrayBase.Rd
  apis/r/man/SOMASparseNDArray.Rd
  apis/r/man/SOMASparseNDArrayCreate.Rd
  apis/r/man/SOMASparseNDArrayOpen.Rd
  apis/r/man/TileDBArray.Rd
  apis/r/man/TileDBGroup.Rd
  apis/r/man/TileDBObject.Rd
Due: none

Add trailing periods for style
  apis/r/R/utils-matrixZeroBasedView.R
  apis/r/R/utils-tiledb.R
  apis/r/man/matrixZeroBasedView.Rd
  apis/r/man/show_package_versions.Rd
Due: none

Add trailing periods for style
  apis/r/R/BlockwiseIter.R
  apis/r/R/ReadIter.R
  apis/r/R/SparseReadIter.R
  apis/r/R/TableReadIter.R
  apis/r/man/BlockwiseReadIterBase.Rd
  apis/r/man/BlockwiseSparseReadIter.Rd
  apis/r/man/BlockwiseTableReadIter.Rd
  apis/r/man/ReadIter.Rd
  apis/r/man/SparseReadIter.Rd
  apis/r/man/TableReadIter.Rd
Due: none

[r] Add examples for the core object classes and factories (#4094)
  apis/r/NAMESPACE
  apis/r/R/Factory.R
  apis/r/R/SOMAArrayBase.R
  apis/r/R/SOMACollection.R
  apis/r/R/SOMACollectionBase.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMADenseNDArray.R
  apis/r/R/SOMAExperiment.R
  apis/r/R/SOMAMeasurement.R
  apis/r/R/SOMANDArrayBase.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/R/TileDBArray.R
  apis/r/R/TileDBGroup.R
  apis/r/R/TileDBObject.R
  apis/r/man/SOMAArrayBase.Rd
  apis/r/man/SOMACollection.Rd
  apis/r/man/SOMACollectionBase.Rd
  apis/r/man/SOMACollectionCreate.Rd
  apis/r/man/SOMACollectionOpen.Rd
  apis/r/man/SOMADataFrame.Rd
  apis/r/man/SOMADataFrameCreate.Rd
  apis/r/man/SOMADataFrameOpen.Rd
  apis/r/man/SOMADenseNDArray.Rd
  apis/r/man/SOMADenseNDArrayCreate.Rd
  apis/r/man/SOMADenseNDArrayOpen.Rd
  apis/r/man/SOMAExperiment.Rd
  apis/r/man/SOMAExperimentCreate.Rd
  apis/r/man/SOMAExperimentOpen.Rd
  apis/r/man/SOMAMeasurement.Rd
  apis/r/man/SOMAMeasurementCreate.Rd
  apis/r/man/SOMAMeasurementOpen.Rd
  apis/r/man/SOMANDArrayBase.Rd
  apis/r/man/SOMASparseNDArray.Rd
  apis/r/man/SOMASparseNDArrayCreate.Rd
  apis/r/man/SOMASparseNDArrayOpen.Rd
  apis/r/man/TileDBArray.Rd
  apis/r/man/TileDBGroup.Rd
  apis/r/man/TileDBObject.Rd
Due: none

[r] Add examples for exported `utils-*.R` objects (#4093)
  apis/r/R/utils-matrixZeroBasedView.R
  apis/r/R/utils-tiledb.R
  apis/r/man/matrixZeroBasedView.Rd
  apis/r/man/show_package_versions.Rd
Due: none

[r] Add examples for read iterators (#4088)
  apis/r/R/BlockwiseIter.R
  apis/r/R/ReadIter.R
  apis/r/R/SparseReadIter.R
  apis/r/R/TableReadIter.R
  apis/r/man/BlockwiseReadIterBase.Rd
  apis/r/man/BlockwiseSparseReadIter.Rd
  apis/r/man/BlockwiseTableReadIter.Rd
  apis/r/man/ReadIter.Rd
  apis/r/man/SparseReadIter.Rd
  apis/r/man/TableReadIter.Rd
Due: none

Switch QueryCondition combination to use the C++ API
  apis/python/src/tiledbsoma/common.h
Due: python_api

Use cell-level metadata from `pbmc_small` instead of `mtcars` for `write_soma.data.frame()` and `write_soma.DataFrame()` examples
  apis/r/R/write_bioc.R
  apis/r/R/write_soma.R
  apis/r/man/write_soma.Rd
  apis/r/man/write_soma_objects.Rd
Due: none

[r] Add examples for `write_soma()` and methods (#4095)
  apis/r/R/write_bioc.R
  apis/r/R/write_seurat.R
  apis/r/R/write_soma.R
  apis/r/man/write_soma.Rd
  apis/r/man/write_soma.Seurat.Rd
  apis/r/man/write_soma.SingleCellExperiment.Rd
  apis/r/man/write_soma.SummarizedExperiment.Rd
  apis/r/man/write_soma_objects.Rd
  apis/r/man/write_soma_seurat_sub.Rd
Due: none

Revert change to C++ API, remove unnecessary allocation
  apis/python/src/tiledbsoma/common.h
Due: python_api

[python] Remove unnecessary query condition allocation (#4098)
  apis/python/src/tiledbsoma/common.h
Due: python_api

Move constructor
  apis/python/src/tiledbsoma/_soma_array.py
Due: python_api

[c++,python] Add `ManagedQuery.submit_batch` for GOW
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_soma_array.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/managed_query.cc
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/test/unit_soma_array.cc
Due: python_api, libtiledbsoma

formatting
  apis/python/src/tiledbsoma/_soma_array.py
Due: python_api

format
  apis/python/src/tiledbsoma/_soma_array.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
Due: python_api

Remove mistakenly added py::call_guard<py::gil_scoped_release>()
  apis/python/src/tiledbsoma/managed_query.cc
Due: python_api

WIP
  apis/python/src/tiledbsoma/_soma_array.py
Due: python_api

format
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
Due: python_api

[c++,python] Pass timestamp when creating `ArraySchema`
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_sparse_nd_array.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Use correct clang-format version
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Switch to using unique_ptr with custom deleter for Arrow structs
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_experiment.cc
  libtiledbsoma/src/soma/soma_experiment.h
  libtiledbsoma/src/soma/soma_geometry_dataframe.cc
  libtiledbsoma/src/soma/soma_geometry_dataframe.h
  libtiledbsoma/src/soma/soma_measurement.cc
  libtiledbsoma/src/soma/soma_measurement.h
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.cc
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/src/soma/soma_transformers.cc
  libtiledbsoma/src/soma/soma_transformers.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/src/utils/transformer.cc
  libtiledbsoma/src/utils/transformer.h
Due: libtiledbsoma

Migrate C++ unit tests to use pointer with custom deleter
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/common.h
  libtiledbsoma/test/unit_arrow_adapter.cc
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_geometry_dataframe.cc
Due: none

Migrate python C++ binding to use pointer with custom deleter
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/soma_geometry_dataframe.cc
  apis/python/src/tiledbsoma/soma_point_cloud_dataframe.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  apis/python/src/tiledbsoma/transformer.cc
Due: python_api

[r] [WIP] Replace `TileDB*` base classes with `SOMA*` base classes Replace the various tiledb-r wrapper base classes with new and expanded SOMA base classes:
  apis/r/NAMESPACE
  apis/r/R/SOMAArrayBase.R
  apis/r/R/SOMAObject.R
  apis/r/man/SOMAArrayBase.Rd
  apis/r/man/SOMADataFrame.Rd
  apis/r/man/SOMADenseNDArray.Rd
  apis/r/man/SOMANDArrayBase.Rd
  apis/r/man/SOMAObject.Rd
  apis/r/man/SOMASparseNDArray.Rd
Due: none

Flesh out the SOMAObject ABC
  apis/r/R/SOMAObject.R
  apis/r/man/SOMAObject.Rd
Due: none

Update docs
  apis/r/man/SOMAArrayBase.Rd
  apis/r/man/SOMADataFrame.Rd
  apis/r/man/SOMADenseNDArray.Rd
  apis/r/man/SOMANDArrayBase.Rd
  apis/r/man/SOMASparseNDArray.Rd
Due: none

Improve handling of nested `$new()` and `$open()` calls
  apis/r/R/SOMACollectionBase.R
  apis/r/R/SOMAObject.R
Due: none

More factory fixes
  apis/r/R/Factory.R
  apis/r/tests/testthat/test-09-Factory.R
Due: none

Cleanup
  apis/r/R/SOMACollectionBase.R
Due: none

More improvements to SOMACollectionBase/SOMAObject ABC
  apis/r/R/SOMACollectionBase.R
  apis/r/R/SOMAObject.R
Due: none

Update factory methods
  apis/r/R/Factory.R
Due: none

Port SOMACollection to new SOMAObject ABC
  apis/r/R/Factory.R
  apis/r/R/SOMACollectionBase.R
  apis/r/R/SOMAObject.R
  apis/r/man/SOMACollection.Rd
  apis/r/man/SOMACollectionBase.Rd
  apis/r/man/SOMAExperiment.Rd
  apis/r/man/SOMAMeasurement.Rd
  apis/r/tests/testthat/test-06-SOMACollection.R
Due: none

Update member cache on open
  apis/r/R/SOMACollectionBase.R
Due: none

Port ephemeral collections to SOMAObject ABC
  apis/r/R/ephemeral.R
  apis/r/man/EphemeralCollection.Rd
  apis/r/man/EphemeralCollectionBase.Rd
  apis/r/man/EphemeralExperiment.Rd
  apis/r/man/EphemeralMeasurement.Rd
Due: none

Silence unnecessary warnings
  apis/r/tests/testthat/test-14-SummarizedExperimentIngest.R
  apis/r/tests/testthat/test-15-SingleCellExperimentIngest.R
Due: none

Push structures common between arrays and groups to object ABC Use factories where possible
  apis/r/R/SOMACollectionBase.R
  apis/r/R/SOMAObject.R
Due: none

Update tests
  apis/r/tests/testthat/test-06-SOMADataFrame.R
  apis/r/tests/testthat/test-06-SOMASparseNDArray.R
  apis/r/tests/testthat/test-09-Factory.R
Due: none

Use SOMAObject ABC for arrays
  apis/r/R/SOMAArrayBase.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMADenseNDArray.R
  apis/r/R/SOMANDArrayBase.R
  apis/r/R/SOMASparseNDArray.R
Due: none

Update factory functions
  apis/r/R/Factory.R
Due: none

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
