Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

WIP clears buffers after running
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Update changelog Bump develop version
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[r] Add `obsm`, `varm`, `obsp`, and `varp` to `SOMAExperimentAxisQuery` (#2351)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/R/SOMAExperimentAxisQuery.R
  apis/r/man/SOMAExperimentAxisQuery.Rd
  apis/r/tests/testthat/test-SOMAExperiment-query-m-p.R
Due: none

WIP
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_measurement.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
Due: python_api

Pass in `SOMAGroup` for all Collection types
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_measurement.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/soma_object.cc
Due: python_api

Pass in `SOMAArray` for all Array types
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_measurement.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_array.py
Due: python_api

Run formatter
  apis/python/src/tiledbsoma/_dataframe.py
Due: python_api

Run C++ formatter
  apis/python/src/tiledbsoma/soma_object.cc
Due: python_api

memory management
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

[c++/python] Add `soma_type` argument for `SOMAObject::open` (#2350)
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_array.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/soma_object.cc
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/soma/soma_object.h
Due: python_api, libtiledbsoma

second try
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

experimental
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

[r] TileDB-SOMA 1.9.3
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[r] TileDB-SOMA 1.9.3 (#2355)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

initial repro
  apis/python/tests/test_string_nan_append.py
Due: none

pbmc_small repro
  apis/python/tests/test_string_nan_append.py
Due: none

WIP
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: python_api, libtiledbsoma

fix comment typos
  apis/python/src/tiledbsoma/_arrow_types.py
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

test_string_nan_append: {3k,small} x {rename obs vs. not}
  apis/python/tests/test_string_nan_append.py
Due: none

more string_nan_append tests
  apis/python/tests/test_string_nan_append.py
Due: none

mv string_nan_append test into test_basic_anndata_io
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_string_nan_append.py
Due: none

skip writing empty `arrow_table`s
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

rm rename_obs_index test case param
  apis/python/tests/test_basic_anndata_io.py
Due: none

fmt
  apis/python/tests/test_basic_anndata_io.py
Due: none

[python] Skip writing empty `arrow_table`s [WIP] (#2357)
  apis/python/src/tiledbsoma/_arrow_types.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

Additional non-nullptr protection
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

WIP changes expanding type map, suppressing schema release
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Additional conversion
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Meh
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Correct another delete to free
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

No longer to protect one statement
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
