Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

Adding shape validation for add_matrix_to_collection
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

Minor fixes for PR
  apis/python/HISTORY.md
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

Adding test for add_X_layer
  apis/python/tests/test_basic_anndata_io.py
Due: none

Adding all versions in tests
  apis/python/tests/test_basic_anndata_io.py
Due: none

Schema validation optional default False
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

PR fixes vol 2
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Add entry in HISTORY.md
  apis/python/HISTORY.md
Due: none

Add context to the validation function
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

PR fixes
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

update to Core 2.29.1
  .github/workflows/python-ci-packaging.yml
  .github/workflows/test-cpp.yml
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
Due: none

initial pass at Carrara support
  apis/python/pyproject.toml
  apis/python/remote_tests/carrara/__init__.py
  apis/python/remote_tests/carrara/conftest.py
  apis/python/remote_tests/carrara/test_01_create.py
  apis/python/remote_tests/carrara/test_02_delete.py
  apis/python/remote_tests/carrara/test_03_io.py
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/tests/test_collection.py
  apis/python/tests/test_util.py
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/soma/soma_object.h
Due: python_api, libtiledbsoma

more test refinement
  apis/python/remote_tests/carrara/conftest.py
  apis/python/remote_tests/carrara/test_01_create.py
  apis/python/remote_tests/carrara/test_02_delete.py
  apis/python/remote_tests/carrara/test_03_io.py
Due: none

Update script for updating TileDB core version
  scripts/update-tiledb-version.py
Due: none

Update TileDB core to 2.29.1
  .github/workflows/test-cpp.yml
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
Due: none

Update R dev version, TileDB-R dependency, and R NEWS
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

Update Python version
  apis/python/HISTORY.md
Due: none

do not import tiledb.client until needed
  apis/python/remote_tests/carrara/conftest.py
Due: none

PR fixes - timestamp, closed property
  apis/python/HISTORY.md
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Update TileDB Arrays to version 2.29.1 (#4284)
  .github/workflows/test-cpp.yml
  apis/python/HISTORY.md
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
  scripts/update-tiledb-version.py
Due: none

lint
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_util.py
Due: python_api

Throw error for unsupported filters
  libtiledbsoma/src/tiledb_adapter/platform_config.cc
Due: none

Throw error for unsupported filters (#4285)
  libtiledbsoma/src/tiledb_adapter/platform_config.cc
Due: none

more tests
  apis/python/remote_tests/carrara/_util.py
  apis/python/remote_tests/carrara/conftest.py
  apis/python/remote_tests/carrara/test_02_delete.py
Due: none

port from #4283
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/tests/test_collection.py
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/soma/soma_object.h
Due: python_api, libtiledbsoma

Initial memory test bench
  apis/python/setup.py
  apis/python/src/tiledbsoma/bench.cc
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/bench.cc
  libtiledbsoma/src/soma/bench.h
  libtiledbsoma/src/tiledbsoma/tiledbsoma
Due: python_api, libtiledbsoma

catch import error
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
Due: python_api

do not import tiledb.client until used
  apis/python/remote_tests/carrara/_util.py
Due: none

Add unit tests for previous versions
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

catch import error (#4287)
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
Due: python_api

port from #4283 (#4286)
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/tests/test_collection.py
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/soma/soma_object.h
Due: python_api, libtiledbsoma

Use include instead of lists for suboptions
  .github/workflows/python-packaging.yml
Due: none

Bump TileDB-R lower bound to 0.33.1
  apis/r/DESCRIPTION
Due: none

[ci] Fix errors and warnings from nightly failure (#4281)
  .github/workflows/python-packaging.yml
  .github/workflows/test-python.yml
Due: none

Bump TileDB-R lower bound to 0.33.1 (#4288)
  apis/r/DESCRIPTION
Due: none

Update HISTORY/NEWS and R version for 2.1.0 release
  apis/python/HISTORY.md
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

parameterize carrara tests and add README
  apis/python/remote_tests/carrara/README.md
  apis/python/remote_tests/carrara/conftest.py
Due: none

Add fake release for current minor release if needed Allows deprecations to occur during release process
  apis/r/R/utils-deprecations.R
Due: none

Get around lifecycle trying to be clever, because it's not
  apis/r/R/utils-deprecations.R
Due: none

Change wording in comment
  apis/r/R/utils-deprecations.R
Due: none

Prioritize arg paths over env paths for libraries
  apis/python/setup.py
Due: none
