Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

[Backport release-1.7] [ci] Only run build tests when build files are modified
  .github/workflows/python-so-copying.yml
Due: none

docstr/typo fixes
  apis/python/setup.py
  apis/python/src/tiledbsoma/_common_nd_array.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
Due: python_api

fix readme quick-start link
  README.md
Due: none

rm dupe dtype
  apis/python/tests/__init__.py
Due: none

WIP add enumerations to ArraySchema
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: python_api, libtiledbsoma

Typo fixes, broken README link (#2235)
  README.md
  apis/python/setup.py
  apis/python/src/tiledbsoma/_common_nd_array.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/tests/__init__.py
Due: python_api

attempt to repro #1565
  apis/python/tests/test_io.py
Due: none

WIP check that column to write is enum
  apis/python/src/tiledbsoma/soma_array.cc
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: python_api, libtiledbsoma

[Backport release-1.8] [ci] Only run build tests when build files are modified (#2232)
  .github/workflows/python-so-copying.yml
Due: none

[Backport release-1.7] [ci] Only run build tests when build files are modified (#2233)
  .github/workflows/python-so-copying.yml
Due: none

attempt to repro #1565 (#2236)
  apis/python/tests/test_io.py
Due: none

WIP extend enumerations on write
  apis/python/src/tiledbsoma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: python_api, libtiledbsoma

WIP only extend enmr when present
  apis/python/src/tiledbsoma/soma_array.cc
Due: python_api

WIP do not extend if no values present
  apis/python/src/tiledbsoma/soma_array.cc
Due: python_api

Needed changes for census profiling
  profiler/__init__.py
  profiler/setup.py
  profiler/src/profiler/__init__.py
  profiler/src/profiler/__main__.py
  profiler/src/profiler/context_generator.py
  profiler/src/profiler/data.py
  profiler/src/profiler/profiler.py
  profiler/src/profiler/report.py
Due: none

An S3 based Database implementation
  profiler/src/profiler/data.py
  profiler/src/profiler/profiler.py
Due: none

Needed changes for census profiling (#2074)
  profiler/__init__.py
  profiler/data.py
  profiler/setup.py
  profiler/src/profiler/__init__.py
  profiler/src/profiler/__main__.py
  profiler/src/profiler/context_generator.py
  profiler/src/profiler/data.py
  profiler/src/profiler/profiler.py
  profiler/src/profiler/report.py
Due: none

[r] Correct parenthesis in covr() call activate quiet=FALSE
  apis/r/tools/r-ci.sh
Due: none

[r] Correct parenthesis in covr() call activate quiet=FALSE (#2243)
  apis/r/tools/r-ci.sh
Due: none

Add sparse matrix support
  apis/r/R/Factory.R
  apis/r/R/write_soma.R
  apis/r/man/SOMASparseNDArrayCreate.Rd
  apis/r/tests/testthat/test-write-soma-objects.R
Due: none

Remove a spurious debug line
  apis/r/R/write_soma.R
Due: none

Updated help pages
  apis/r/man/SOMADataFrameCreate.Rd
  apis/r/man/SOMADenseNDArrayCreate.Rd
  apis/r/man/write_soma.Rd
  apis/r/man/write_soma_objects.Rd
Due: none

Use `array$uri` instead of `uri` for resume checking
  apis/r/R/write_soma.R
Due: none

Protect one more write
  apis/r/R/write_soma.R
Due: none

Support mode="resume"
  apis/r/DESCRIPTION
  apis/r/R/Factory.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/write_soma.R
  apis/r/tests/testthat/test-write-soma-objects.R
Due: none

WIP
  apis/python/src/tiledbsoma/_dataframe.py
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: python_api, libtiledbsoma

attempt to trigger typeguard in a SparseNDArray method
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/tests/test_typeguard.py
Due: python_api

update pre-merge checks to run lint
  .github/workflows/python-ci-minimal.yml
Due: none

pre-commit fixes
  apis/python/tests/test_io.py
  profiler/src/profiler/data.py
  profiler/src/profiler/profiler.py
Due: none

Refactor is_dir
  apis/r/R/Factory.R
  apis/r/R/RcppExports.R
  apis/r/R/write_soma.R
  apis/r/src/RcppExports.cpp
  apis/r/src/rutilities.cpp
Due: none

Fix building TileDB if a CMake toolchain is not specified. (#2244)
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
Due: none

add pa.chunked_array / pa.array test to sparse nd array slice test (#2234)
  apis/python/tests/test_sparse_nd_array.py
Due: none

Restore pre-merge lint checks (#2247)
  .github/workflows/python-ci-minimal.yml
  apis/python/tests/test_io.py
  profiler/src/profiler/data.py
  profiler/src/profiler/profiler.py
Due: none

Further refactor is_dir using local VFS object
  apis/r/R/Factory.R
  apis/r/R/RcppExports.R
  apis/r/R/SOMATileDBContext.R
  apis/r/R/write_soma.R
  apis/r/src/RcppExports.cpp
  apis/r/src/rutilities.cpp
Due: none

Add common unit test file
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/common.h
Due: none

factor io/ingest.py, create io/{_common,outgest}.py
  apis/python/src/tiledbsoma/io/__init__.py
  apis/python/src/tiledbsoma/io/_common.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/io/outgest.py
Due: python_api

bump somacore to 1.0.9
  .pre-commit-config.yaml
  apis/python/setup.py
Due: none

factor io/ingest.py, create io/{_common,outgest}.py (#2246)
  apis/python/src/tiledbsoma/io/__init__.py
  apis/python/src/tiledbsoma/io/_common.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/io/outgest.py
Due: python_api

WIP pass domain and extents as StructArray
  apis/python/src/tiledbsoma/_dataframe.py
Due: python_api
