Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Disable metrics and file path
  .github/workflows/build-cpp.yml
  doc/build.sh
Due: none

rollback commit
  .github/workflows/build-cpp.yml
  doc/build.sh
Due: none

Readthedocs fix
  .readthedocs.yml
  doc/build.sh
Due: none

Add vcpkg in docs build
  doc/build.sh
Due: none

Fix CI builds
  .github/workflows/build-cpp.yml
  scripts/bld
Due: none

Filter type warnings about likely forward declarations
  apis/python/pyproject.toml
Due: none

Check for warning if ``None`` in shape for ht SparseNDArray
  apis/python/tests/ht/test_ht_sparsendarray.py
Due: none

Use vcpkg in place of superbuild (#4294)
  .github/workflows/build-cpp.yml
  .github/workflows/ci-full.yml
  .github/workflows/ci-pr-cpp.yml
  .github/workflows/ci-pr-python.yml
  .github/workflows/ci-pr-r.yml
  .github/workflows/ci-r-python-interop.yml
  .github/workflows/python-remote-storage.yml
  .github/workflows/test-cpp.yml
  .github/workflows/test-python.yml
  .github/workflows/test-r.yml
  .readthedocs.yml
  apis/python/HISTORY.md
  apis/r/configure
  apis/r/tools/build_libtiledbsoma.sh.in
  dev_docs/README.md
  doc/build.sh
  libtiledbsoma/CMakeLists.txt
  libtiledbsoma/CMakePresets.json
  libtiledbsoma/cmake/Modules/FindSpdlog_EP.cmake
  libtiledbsoma/cmake/Superbuild.cmake
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/vcpkg-configuration.json
  libtiledbsoma/vcpkg.json
  scripts/bld
Due: none

Fix python-dependency-variation with vcpkg addition
  .github/workflows/python-dependency-variation.yml
Due: none

Fix python-dependency-variation with vcpkg addition (#4304)
  .github/workflows/python-dependency-variation.yml
Due: none

Fix or check for domain deprecation warnings
  apis/python/tests/test_collection.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_experiment_basic.py
  apis/python/tests/test_factory.py
  apis/python/tests/test_geometry_dataframe.py
  apis/python/tests/test_metadata.py
  apis/python/tests/test_point_cloud_dataframe.py
  apis/python/tests/test_scene.py
  apis/python/tests/test_stats.py
  apis/python/tests/test_tiledbobject.py
  apis/python/tests/test_type_system.py
  apis/python/tests/test_unicode.py
Due: none

Remove llvm from brew install on CI
  .github/workflows/python-packaging.yml
  .github/workflows/test-python.yml
Due: none

checkpoint
  apis/python/remote_tests/carrara/_util.py
  apis/python/remote_tests/carrara/conftest.py
  apis/python/remote_tests/carrara/test_01_create.py
Due: none

Remove the ubuntu-src dockerfile
  .github/workflows/python-dockers.yml
  docker/README.md
  docker/ubuntu-src.dockerfile
Due: none

[python] Fix, catch, or ignore many of the warnings in pytest (#4305)
  apis/python/pyproject.toml
  apis/python/tests/ht/test_ht_sparsendarray.py
  apis/python/tests/test_collection.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_experiment_basic.py
  apis/python/tests/test_factory.py
  apis/python/tests/test_geometry_dataframe.py
  apis/python/tests/test_metadata.py
  apis/python/tests/test_point_cloud_dataframe.py
  apis/python/tests/test_scene.py
  apis/python/tests/test_stats.py
  apis/python/tests/test_tiledbobject.py
  apis/python/tests/test_type_system.py
  apis/python/tests/test_unicode.py
Due: none

Add different ColumnBuffer implementation for different use cases
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/column_buffer.h
Due: libtiledbsoma

Use new column buffers in ArrayBuffers
  libtiledbsoma/src/soma/array_buffers.cc
  libtiledbsoma/src/soma/array_buffers.h
  libtiledbsoma/src/utils/common.h
Due: libtiledbsoma

Make ManagedQuery zero copy when writing data to TileDB if possible
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

Update all components to use new ColumnBuffer
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/managed_query.cc
  libtiledbsoma/src/cli/cli.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/src/utils/util.cc
  libtiledbsoma/src/utils/util.h
  libtiledbsoma/test/unit_column_buffer.cc
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_geometry_dataframe.cc
Due: python_api, libtiledbsoma

Update TileDB core to 2.29.2
  .github/workflows/test-cpp.yml
  apis/r/DESCRIPTION
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
Due: none

Update history/news
  apis/python/HISTORY.md
  apis/r/NEWS.md
Due: none

Integrating scikit-core-build with vcpkg
  .github/workflows/python-dependency-variation.yml
  .github/workflows/python-packaging.yml
  apis/python/CMakeLists.txt
  apis/python/MANIFEST.in
  apis/python/_get_version.py
  apis/python/pyproject.toml
  apis/python/scripts/setup_build_env.ps1
  apis/python/scripts/setup_build_env.sh
Due: none

Fix relative path
  apis/python/pyproject.toml
Due: none

Remove build options
  .github/workflows/ci-r-python-interop.yml
  .github/workflows/python-dependency-variation.yml
  .github/workflows/python-remote-storage.yml
  .github/workflows/test-python.yml
Due: none

Always copy buffers coming from python
  apis/python/src/tiledbsoma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: python_api, libtiledbsoma

Update TileDB core to 2.29.2 (#4309)
  .github/workflows/test-cpp.yml
  apis/python/HISTORY.md
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
Due: none

Backport update to TileDB core 2.29.2
  .github/workflows/test-cpp.yml
  apis/python/HISTORY.md
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
Due: none

Rollback dependency in pyproject.toml
  .github/workflows/ci-r-python-interop.yml
  .github/workflows/python-packaging.yml
  .github/workflows/python-remote-storage.yml
  .github/workflows/test-python.yml
  apis/python/CMakeLists.txt
  apis/python/MANIFEST.in
  apis/python/pyproject.toml
  apis/python/requirements_dev.txt
  apis/python/requirements_spatial.txt
  apis/python/scripts/setup_build_env.sh
  dev_docs/README.md
  libtiledbsoma/cmake/Superbuild.cmake
Due: none

Fix R column buffer type
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
Due: none

Fix C++ tests
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

Fix bool dist to values casting
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

Remove the ubuntu-src dockerfile (#4308)
  .github/workflows/python-dockers.yml
  docker/README.md
  docker/ubuntu-src.dockerfile
Due: none

Improve docstring for from_anndata function
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Re-write dev docs
  dev_docs/README.md
Due: none

Remove copy-paste error
  libtiledbsoma/CMakeLists.txt
Due: none

Improve docstring for from_anndata function (#4312)
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Correctly set the validity buffer when castin dictionary to values
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

Replace `ArrowBuffer` buffer vectors with smart pointer wrapped arrays
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
