Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

remove to_string calls [skip ci]
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Do not export soma column [skip ci]
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Add missing `override`
  libtiledbsoma/src/soma/soma_attribute.h
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/src/soma/soma_geometry_column.h
Due: libtiledbsoma

code-review feedback
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

[c++] `ManagedQuery::set_condition` should not reset entire instance state (#3418)
  apis/python/src/tiledbsoma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: python_api, libtiledbsoma

Add helper methods for to and from arrow contructs
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Remove unneeded methods and member variables
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_column.h
Due: libtiledbsoma

Remove fmt::format
  libtiledbsoma/src/soma/soma_column.h
Due: libtiledbsoma

SOMAColumn abstract class definition
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_column.h
Due: libtiledbsoma

Add concrete class wrapper for TileDB dimension
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
Due: libtiledbsoma

Add minimal testing for dimensions
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/common.h
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Misc fixes
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_dimension.h
Due: libtiledbsoma

Add read test case
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Add missing `override`
  libtiledbsoma/src/soma/soma_dimension.h
Due: libtiledbsoma

Remove current_domain flag
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Add virtual destructor [skip ci]
  libtiledbsoma/src/soma/soma_column.h
Due: libtiledbsoma

Bump min macos version (Remove commit after merging 3361)
  apis/python/setup.py
Due: none

Replace string_view with string when returning column name, add current domain checks, replace vector with span when selecting points
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

[c++] Use core 2.27.0
  .github/workflows/python-ci-packaging.yml
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
Due: none

code-review feedback
  apis/python/src/tiledbsoma/io/conversions.py
Due: python_api

[c++] Use core 2.27.0 (#3421)
  .github/workflows/python-ci-packaging.yml
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
Due: none

[python] Extend #3354 to categoricals of arbitrary value type (#3415)
  apis/python/src/tiledbsoma/io/conversions.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

Check type of SOMA object in open
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_soma_array.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/tests/test_collection.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_experiment_basic.py
  apis/python/tests/test_multiscale_image.py
  apis/python/tests/test_platform_config.py
  apis/python/tests/test_point_cloud_dataframe.py
  apis/python/tests/test_scene.py
  apis/python/tests/test_sparse_nd_array.py
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_experiment.cc
  libtiledbsoma/src/soma/soma_measurement.cc
  libtiledbsoma/src/soma/soma_multiscale_image.cc
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/soma/soma_object.h
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.cc
  libtiledbsoma/src/soma/soma_scene.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

Fix unit test
  libtiledbsoma/test/unit_soma_column.cc
Due: none

Add better description to SOMACOlumn
  libtiledbsoma/src/soma/soma_column.h
Due: libtiledbsoma

Correct R non_empty_domain
  apis/r/src/rinterface.cpp
Due: none

Rethrow as SOMAError
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

Add concrete class wrapper for TileDB attribute
  libtiledbsoma/src/soma/soma_attribute.cc
  libtiledbsoma/src/soma/soma_attribute.h
Due: libtiledbsoma

Misc fixes
  libtiledbsoma/src/soma/soma_attribute.h
Due: libtiledbsoma

Add missing `override`
  libtiledbsoma/src/soma/soma_attribute.h
Due: libtiledbsoma

Remove current_domain flag
  libtiledbsoma/test/unit_soma_column.cc
Due: none

Replace string_view with string when returning column name, add current domain checks, replace vector with span when selecting points
  libtiledbsoma/src/soma/soma_attribute.cc
  libtiledbsoma/src/soma/soma_attribute.h
Due: libtiledbsoma

Update CMake files
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/tiledbsoma/tiledbsoma
Due: libtiledbsoma

[python, c++] Fix misleading `DoesNotExistErrors` in `open` factory (#3402)
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_exception.py
  apis/python/src/tiledbsoma/_soma_array.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/src/tiledbsoma/soma_object.cc
  apis/python/tests/test_collection.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_experiment_basic.py
  apis/python/tests/test_multiscale_image.py
  apis/python/tests/test_platform_config.py
  apis/python/tests/test_point_cloud_dataframe.py
  apis/python/tests/test_scene.py
  apis/python/tests/test_sparse_nd_array.py
  apis/r/src/rinterface.cpp
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_experiment.cc
  libtiledbsoma/src/soma/soma_measurement.cc
  libtiledbsoma/src/soma/soma_multiscale_image.cc
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/soma/soma_object.h
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.cc
  libtiledbsoma/src/soma/soma_scene.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma
