Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

Do not fatal on 1.15-related assertions (#3137)
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
Due: python_api

[c++] Unit-test dataframe upgraders
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: libtiledbsoma

[python] Connect resizers to Python API
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  apis/python/tests/test_shape.py
Due: python_api

[c++,python] Fix default reads on unwritten dense arrays
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/tests/test_dense_nd_array.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/soma_array.h
Due: python_api, libtiledbsoma

Update test to reflect fix
  apis/python/tests/test_basic_anndata_io.py
Due: none

[c++,python] Fix default reads on unwritten dense arrays (#3136)
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_dense_nd_array.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/soma_array.h
Due: python_api, libtiledbsoma

[python] Drop `anndata` version pin
  apis/python/setup.py
Due: none

SparseDataset -> CSCDataset, CSRDataset
  apis/python/src/tiledbsoma/io/_common.py
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

[python] Avoid RCs of dependent packages for our RC
  apis/python/setup.py
Due: none

[python] Extend `MultiscaleImage` testing
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/tests/test_multiscale_image.py
Due: python_api

WIP
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/tests/test_multiscale_image.py
Due: python_api

update
  apis/python/tests/test_multiscale_image.py
Due: none

[python] Drop `anndata` version pin; use `CSCDataset`/`CSRDataset` (#3141)
  apis/python/setup.py
  apis/python/src/tiledbsoma/io/_common.py
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

code-review feedback
  apis/python/setup.py
Due: none

Fix missing link option for sanitizers
  libtiledbsoma/CMakeLists.txt
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/test/CMakeLists.txt
Due: none

[python] Avoid RCs of dependent packages for our RC (#3142)
  apis/python/setup.py
Due: none

Update changelog Bump develop version
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[r] Handle numeric `coords` better in `SOMASparseNDArray$read()` (#3145)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/R/SOMANDArrayBase.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/tests/testthat/test-SOMADenseNDArray.R
  apis/r/tests/testthat/test-SOMASparseNDArray.R
Due: none

[c++] Add `SOMAArray::config_options` getter
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: libtiledbsoma

[r] Backport #3145 to `release-1.14`; 1.14.3
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/R/SOMANDArrayBase.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/tests/testthat/test-SOMADenseNDArray.R
  apis/r/tests/testthat/test-SOMASparseNDArray.R
Due: none

[r] Backport #3145 to `release-1.14`; 1.14.3 (#3147)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/R/SOMANDArrayBase.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/tests/testthat/test-SOMADenseNDArray.R
  apis/r/tests/testthat/test-SOMASparseNDArray.R
Due: none

[python] Extend `MultiscaleImage` testing (#3143)
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/tests/test_multiscale_image.py
Due: python_api

code-review feedback
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Rename getter according to feedback
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

Remove errant test print statement
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: none

code-review feedback
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_types.py
Due: python_api

[c++] Unit-test the dataframe upgrader (#3139)
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: libtiledbsoma

Correct unit test with rename
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: none

Add serialization/deserialization support for geometry entities
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/utils/geometry/base.h
  libtiledbsoma/src/utils/geometry/geometry.h
  libtiledbsoma/src/utils/geometry/linestring.cc
  libtiledbsoma/src/utils/geometry/linestring.h
  libtiledbsoma/src/utils/geometry/multilinestring.cc
  libtiledbsoma/src/utils/geometry/multilinestring.h
  libtiledbsoma/src/utils/geometry/multipoint.cc
  libtiledbsoma/src/utils/geometry/multipoint.h
  libtiledbsoma/src/utils/geometry/multipolygon.cc
  libtiledbsoma/src/utils/geometry/multipolygon.h
  libtiledbsoma/src/utils/geometry/operators/io.h
  libtiledbsoma/src/utils/geometry/point.cc
  libtiledbsoma/src/utils/geometry/point.h
  libtiledbsoma/src/utils/geometry/polygon.cc
  libtiledbsoma/src/utils/geometry/polygon.h
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/test/unit_geometry_roundtrip.cc
Due: libtiledbsoma

Add default constructors
  libtiledbsoma/src/utils/geometry/linestring.h
  libtiledbsoma/src/utils/geometry/multilinestring.h
  libtiledbsoma/src/utils/geometry/multipoint.h
  libtiledbsoma/src/utils/geometry/multipolygon.h
  libtiledbsoma/src/utils/geometry/polygon.h
Due: libtiledbsoma

Extract geometry utilities into separate namespace Move template function implementation outside of header files
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/utils/geometry/base.h
  libtiledbsoma/src/utils/geometry/geometry.h
  libtiledbsoma/src/utils/geometry/linestring.cc
  libtiledbsoma/src/utils/geometry/linestring.h
  libtiledbsoma/src/utils/geometry/multilinestring.cc
  libtiledbsoma/src/utils/geometry/multilinestring.h
  libtiledbsoma/src/utils/geometry/multipoint.cc
  libtiledbsoma/src/utils/geometry/multipoint.h
  libtiledbsoma/src/utils/geometry/multipolygon.cc
  libtiledbsoma/src/utils/geometry/multipolygon.h
  libtiledbsoma/src/utils/geometry/operators/io.h
  libtiledbsoma/src/utils/geometry/operators/io/read.cc
  libtiledbsoma/src/utils/geometry/operators/io/read.h
  libtiledbsoma/src/utils/geometry/operators/io/write.cc
  libtiledbsoma/src/utils/geometry/operators/io/write.h
  libtiledbsoma/src/utils/geometry/point.cc
  libtiledbsoma/src/utils/geometry/point.h
  libtiledbsoma/src/utils/geometry/polygon.cc
  libtiledbsoma/src/utils/geometry/polygon.h
  libtiledbsoma/src/utils/geometry/utils.h
  libtiledbsoma/test/unit_geometry_roundtrip.cc
Due: libtiledbsoma

[python] Connect resizers to the Python API (#3140)
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_types.py
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  apis/python/tests/test_shape.py
Due: python_api

[python] Experiment-level shaping [WIP]
  apis/python/src/tiledbsoma/io/__init__.py
  apis/python/src/tiledbsoma/io/shaping.py
Due: python_api

lint format
  libtiledbsoma/src/utils/geometry/base.h
  libtiledbsoma/src/utils/geometry/geometry.h
  libtiledbsoma/src/utils/geometry/linestring.cc
  libtiledbsoma/src/utils/geometry/linestring.h
  libtiledbsoma/src/utils/geometry/multilinestring.cc
  libtiledbsoma/src/utils/geometry/multilinestring.h
  libtiledbsoma/src/utils/geometry/multipoint.cc
  libtiledbsoma/src/utils/geometry/multipoint.h
  libtiledbsoma/src/utils/geometry/multipolygon.cc
  libtiledbsoma/src/utils/geometry/multipolygon.h
  libtiledbsoma/src/utils/geometry/operators/io/read.cc
  libtiledbsoma/src/utils/geometry/operators/io/read.h
  libtiledbsoma/src/utils/geometry/operators/io/write.cc
  libtiledbsoma/src/utils/geometry/operators/io/write.h
  libtiledbsoma/src/utils/geometry/point.cc
  libtiledbsoma/src/utils/geometry/point.h
  libtiledbsoma/src/utils/geometry/polygon.cc
  libtiledbsoma/src/utils/geometry/polygon.h
  libtiledbsoma/src/utils/geometry/utils.h
  libtiledbsoma/test/unit_geometry_roundtrip.cc
Due: libtiledbsoma

Make sanitizers a build type instead of option
  libtiledbsoma/CMakeLists.txt
  libtiledbsoma/cmake/Superbuild.cmake
Due: none

[c++] Add `SOMAArray::config_options_from_schema ` getter (#3146)
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: libtiledbsoma
