Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Make ManagedQuery zero copy when writing data to TileDB if possible
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

Fix bool dist to values casting
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

Fix R column buffer type
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
Due: none

Use new column buffers in ArrayBuffers
  libtiledbsoma/src/soma/array_buffers.cc
  libtiledbsoma/src/soma/array_buffers.h
  libtiledbsoma/src/utils/common.h
Due: libtiledbsoma

Add different ColumnBuffer implementation for different use cases
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/column_buffer.h
Due: libtiledbsoma

Fix C++ tests
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

Always copy buffers coming from python
  apis/python/src/tiledbsoma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: python_api, libtiledbsoma

Update all components to use new ColumnBuffer
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/managed_query.cc
  libtiledbsoma/src/cli/cli.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/src/utils/util.cc
  libtiledbsoma/src/utils/util.h
  libtiledbsoma/test/unit_column_buffer.cc
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_geometry_dataframe.cc
Due: python_api, libtiledbsoma

Correctly set the validity buffer when castin dictionary to values
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

Add bitmap converter function
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/column_buffer.h
Due: libtiledbsoma

Remove TileDB core option for disabling vcpkg (#4314)
  libtiledbsoma/CMakeLists.txt
Due: none

Re-write dev docs (#4313)
  dev_docs/README.md
Due: none

Use global buffer for each column buffers when translating to arrow
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Use importlib.metadata.version instead of __version__
  apis/python/src/tiledbsoma/io/__init__.py
Due: python_api

Fix null count calculation
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Use importlib.metadata.version instead of __version__ (#4316)
  apis/python/src/tiledbsoma/io/__init__.py
Due: python_api

Integrating scikit-core-build with vcpkg
  .github/workflows/python-dependency-variation.yml
  .github/workflows/python-packaging.yml
  apis/python/CMakeLists.txt
  apis/python/MANIFEST.in
  apis/python/_get_version.py
  apis/python/pyproject.toml
  apis/python/scripts/setup_build_env.ps1
  apis/python/scripts/setup_build_env.sh
Due: none

Remove build options
  .github/workflows/ci-r-python-interop.yml
  .github/workflows/python-dependency-variation.yml
  .github/workflows/python-remote-storage.yml
  .github/workflows/test-python.yml
Due: none

Fix relative path
  apis/python/pyproject.toml
Due: none

Rollback dependency in pyproject.toml
  .github/workflows/ci-r-python-interop.yml
  .github/workflows/python-packaging.yml
  .github/workflows/python-remote-storage.yml
  .github/workflows/test-python.yml
  apis/python/CMakeLists.txt
  apis/python/MANIFEST.in
  apis/python/pyproject.toml
  apis/python/requirements_dev.txt
  apis/python/requirements_spatial.txt
  apis/python/scripts/setup_build_env.sh
  dev_docs/README.md
  libtiledbsoma/cmake/Superbuild.cmake
Due: none

Fix errors with the build
  .github/workflows/python-packaging.yml
  .github/workflows/test-python.yml
  apis/python/CMakeLists.txt
  apis/python/MANIFEST.in
  apis/python/pyproject.toml
  apis/python/scripts/setup_build_env.ps1
  apis/python/scripts/setup_build_env.sh
  libtiledbsoma/src/CMakeLists.txt
Due: none

Fix version
  .github/workflows/python-packaging.yml
  apis/python/pyproject.toml
Due: none

Cmake sdist aware
  apis/python/CMakeLists.txt
Due: none

Add vcpkg to sdist
  .github/workflows/python-packaging.yml
Due: none

Debug jobs
  .github/workflows/python-packaging.yml
Due: none

CIBuildwheel isolation
  .github/workflows/python-packaging.yml
  apis/python/CMakeLists.txt
  apis/python/pyproject.toml
Due: none

Debug path
  .github/workflows/python-packaging.yml
Due: none

Cleaning jobs and cmake files
  .github/workflows/python-packaging.yml
  libtiledbsoma/CMakeLists.txt
Due: none

Adding CIBW vars
  .github/workflows/python-packaging.yml
Due: none

Forwarding compiler
  apis/python/CMakeLists.txt
Due: none

Fix paths in pyproject.toml
  .github/workflows/python-packaging.yml
  apis/python/pyproject.toml
Due: none

Add triplets
  .github/workflows/python-packaging.yml
  apis/python/CMakeLists.txt
  apis/python/pyproject.toml
  apis/python/vcpkg_triplets/README.md
  apis/python/vcpkg_triplets/arm64-linux-release.cmake
  apis/python/vcpkg_triplets/arm64-osx-release.cmake
  apis/python/vcpkg_triplets/x64-linux-release.cmake
  apis/python/vcpkg_triplets/x64-osx-release.cmake
Due: none

Fix test version
  apis/python/remote_tests/test_01_setup.py
Due: none

Forward passing and debugging
  apis/python/CMakeLists.txt
  apis/python/pyproject.toml
Due: none

Fix version
  apis/python/pyproject.toml
Due: none

Forward variables
  apis/python/CMakeLists.txt
Due: none

Fix weird dir in linux wheels
  apis/python/pyproject.toml
Due: none

Fix version vol2
  apis/python/pyproject.toml
Due: none

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
