Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

[c++] Extract `get_enumeration` helper (#3805)
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/utils/util.cc
  libtiledbsoma/src/utils/util.h
Due: libtiledbsoma

Fix grammar
  encoding_specification.md
Due: none

Add link to SOMA abstract specification
  encoding_specification.md
Due: none

Address PR feedback
  apis/python/src/tiledbsoma/io/spatial/_util.py
  apis/python/tests/test_10x_reader.py
Due: python_api

Run prettier
  encoding_specification.md
Due: none

[python] Reader for 10x HDF5 matrix file (#3762)
  apis/python/src/tiledbsoma/io/spatial/_util.py
  apis/python/tests/test_10x_reader.py
Due: python_api

first cut at ingest tuning
  apis/python/setup.py
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
  apis/python/src/tiledbsoma/io/_registration/enum.py
  apis/python/src/tiledbsoma/io/_registration/id_mappings.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_dataframe_io_roundtrips.py
  apis/python/tests/test_registration_mappings.py
Due: python_api

[docs] Add a document with the current and past encoding specifications (#3724)
  .pre-commit-config.yaml
  encoding_specification.md
Due: none

[c++] Fix some compiler warnings
  libtiledbsoma/src/soma/soma_transformers.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

[c++] Fix some compiler warnings (#3813)
  libtiledbsoma/src/soma/soma_transformers.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

[c++] Pass `Enumeration` through `_extend_enumeration`
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

Add back gcc check but relax version
  libtiledbsoma/CMakeLists.txt
Due: none

mp optional param
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

[c++] Pass `Enumeration` through `_extend_enumeration` (#3812)
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

[Backport release-1.16][ci] Example Dockerfiles install from source / PyPI
  .github/workflows/libtiledb-ci.yml
  .github/workflows/libtiledbsoma-asan-ci.yml
  .github/workflows/python-ci-minimal.yml
  .github/workflows/python-ci-packaging.yml
  .github/workflows/python-dependency-variation.yml
  .github/workflows/python-remote-storage.yml
  .github/workflows/r-ci.yml
  .github/workflows/r-python-interop-testing.yml
Due: none

new files
  .github/workflows/python-dockers.yml
  docker/README.md
  docker/bookworm.dockerfile
  docker/langchain.dockerfile
  docker/ubuntu-src.dockerfile
  docker/ubuntu.dockerfile
Due: none

[python] Unify `to_spatialdata` methods (#3780)
  apis/python/pyproject.toml
  apis/python/src/tiledbsoma/_query.py
  apis/python/src/tiledbsoma/io/spatial/_spatialdata_util.py
  apis/python/src/tiledbsoma/io/spatial/outgest.py
  apis/python/tests/test_basic_spatialdata_io.py
  apis/python/tests/test_experiment_query_spatial.py
  apis/python/tests/test_export_multiscale_image.py
  apis/python/tests/test_export_point_cloud_dataframe.py
  apis/python/tests/test_spatial_outgest_util.py
Due: python_api

[c++/python/r] Relax GCC13 build requirements (#3802)
  apis/python/setup.py
  apis/r/configure
  apis/r/src/Makevars.in
  libtiledbsoma/CMakeLists.txt
Due: none

GHAs: don't file issues on re-run failures
  .github/workflows/python-dockers.yml
  .github/workflows/python-packaging.yml
  .github/workflows/python-remote-storage.yml
Due: none

Remove some copyright year ranges
  LICENSE
  apis/r/R/QueryCondition.R
  doc/source/conf.py
  libtiledbsoma/CMakeLists.txt
Due: none

GHAs: don't file issues on re-run failures (#3820)
  .github/workflows/python-dockers.yml
  .github/workflows/python-packaging.yml
  .github/workflows/python-remote-storage.yml
Due: none

Remove some copyright year ranges (#3821)
  LICENSE
  apis/r/R/QueryCondition.R
  doc/source/conf.py
  libtiledbsoma/CMakeLists.txt
Due: none

[c++] Some name-clarifies in `managed_query.cc`
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

Put enum-related `std::string` specializations before generic
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

[Backport release-1.16][ci] Example Dockerfiles install from source / PyPI (#3817)
  .github/workflows/libtiledb-ci.yml
  .github/workflows/libtiledbsoma-asan-ci.yml
  .github/workflows/python-ci-minimal.yml
  .github/workflows/python-ci-packaging.yml
  .github/workflows/python-dependency-variation.yml
  .github/workflows/python-dockers.yml
  .github/workflows/python-remote-storage.yml
  .github/workflows/r-ci.yml
  .github/workflows/r-python-interop-testing.yml
  docker/README.md
  docker/bookworm.dockerfile
  docker/langchain.dockerfile
  docker/ubuntu-src.dockerfile
  docker/ubuntu.dockerfile
Due: none

Remove extra open and read back step
  apis/python/src/tiledbsoma/io/spatial/ingest.py
Due: python_api

Clean-up and re-arrange `from_visium`
  apis/python/src/tiledbsoma/io/spatial/ingest.py
Due: python_api

Inline `from_anndata` call directly in `from_visium`
  apis/python/src/tiledbsoma/io/spatial/ingest.py
Due: python_api

Replace _write_dataframe with direct arrow writes
  apis/python/src/tiledbsoma/io/spatial/ingest.py
Due: python_api

Improve and merge `from_visium` tests
  apis/python/src/tiledbsoma/io/spatial/ingest.py
  apis/python/tests/test_from_visium.py
Due: python_api

Add more obs/var checks to `from_visium` test
  apis/python/tests/test_from_visium.py
Due: none

Remove AnnData deduplication step
  apis/python/src/tiledbsoma/io/spatial/ingest.py
Due: python_api

Get data directly from Visium HDF5
  apis/python/src/tiledbsoma/io/spatial/ingest.py
Due: python_api

[c++] Some name-clarifies in `managed_query.cc` (#3823)
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma
