Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Change iteration order or attributes
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Update somacore version for Python API and pre-commit
  .pre-commit-config.yaml
  apis/python/setup.py
Due: none

Update Scene subcollection API
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/experimental/ingest.py
  apis/python/tests/test_scene.py
Due: python_api

managed-query mods [WIP] [skip ci]
  apis/python/src/tiledbsoma/_flags.py
  apis/r/R/Init.R
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: python_api, libtiledbsoma

subarray_range_set_ bool -> dict
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

Improved flags for testing
  apis/python/src/tiledbsoma/_flags.py
  apis/r/R/Init.R
Due: python_api

iterating on managed query
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

updates for setting all dim-slot subarray ranges for dense with 2.27
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

code-review feedback [skip ci]
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

code-review feedback [skip ci]
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

[c++] Apply subarrays for dense reads and writes (#3263)
  apis/python/src/tiledbsoma/_flags.py
  apis/r/R/Init.R
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

[python] Fix 3D/4D cases with core 2.27
  apis/python/src/tiledbsoma/_common_nd_array.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/tests/test_dense_nd_array.py
Due: python_api

Update args in Scene add_multiscale_image tests
  apis/python/tests/test_scene.py
Due: none

(WIP) Update the multiscale image
  apis/python/src/tiledbsoma/_constants.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_spatial_util.py
Due: python_api

Update spatial notebook
  apis/python/notebooks/tutorial_spatial.ipynb
Due: none

(WIP) Update/fix multiscale image tests
  apis/python/tests/test_multiscale_image.py
Due: none

Add error messages and additional tests
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/tests/test_multiscale_image.py
Due: python_api

Fix type ignore comments and get transform methods
  apis/python/src/tiledbsoma/_multiscale_image.py
Due: python_api

Fix process_image_region coord construction
  apis/python/src/tiledbsoma/_spatial_util.py
Due: python_api

(WIP) More work on the multiscale image
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_constants.py
  apis/python/src/tiledbsoma/_multiscale_image.py
Due: python_api

Update Visium ingestion MultiscaleImage
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

Clean-up and fix tests
  apis/python/tests/test_multiscale_image.py
Due: none

lint
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

[python] Fix 3D/4D cases with core 2.27 (#3268)
  apis/python/src/tiledbsoma/_common_nd_array.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/tests/test_dense_nd_array.py
  libtiledbsoma/src/soma/managed_query.h
Due: python_api, libtiledbsoma

[python] Fix last 2.27+Python+dense failing test case
  apis/python/src/tiledbsoma/_dense_nd_array.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: python_api, libtiledbsoma

[r] Fixes for dense+2.27
  apis/r/tests/testthat/test-shape.R
Due: none

Swap shared_ptr with const reference, hide internal columns when opening an array for read unless explicity specify them
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/unit_soma_geometry_dataframe.cc
Due: libtiledbsoma

Change the way to obtain attributes and dimensions
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Move internal dimension filtering to ManagedQuery
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

[python] Update the `MultiscaleImage` to match `somacore` API changes (#3262)
  .pre-commit-config.yaml
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/setup.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_constants.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_spatial_util.py
  apis/python/src/tiledbsoma/experimental/ingest.py
  apis/python/tests/test_multiscale_image.py
  apis/python/tests/test_scene.py
Due: python_api

code-review feedback
  apis/r/tests/testthat/test-shape.R
Due: none

DESCRIPTION and NEWS.md [skip ci]
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[r] Fixes for dense+2.27 (#3270)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/tests/testthat/test-shape.R
Due: none

add tracking link in comment
  apis/python/src/tiledbsoma/_dense_nd_array.py
Due: python_api

fix link [skip ci]
  apis/python/src/tiledbsoma/_dense_nd_array.py
Due: python_api

Geometry dataframe implementation allowing read and spatial region read operations
  apis/python/setup.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_spatial_util.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/soma_geometry_dataframe.cc
  apis/python/src/tiledbsoma/soma_object.cc
Due: python_api

Run linters
  apis/python/tests/test_basic_xarray_io.py
Due: none

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
