Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

Add back soma_joinid to PointCloudDataFrame
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/tests/test_basic_spatialdata_io.py
  apis/python/tests/test_experiment_query_spatial.py
  apis/python/tests/test_export_point_cloud_dataframe.py
  apis/python/tests/test_point_cloud_dataframe.py
Due: python_api

Update ingestion for `PointCloudDataFrame`
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/src/tiledbsoma/io/spatial/ingest.py
Due: python_api

Update SOMA version number
  apis/python/src/tiledbsoma/_constants.py
  apis/python/src/tiledbsoma/_multiscale_image.py
Due: python_api

[python] Release GIL in VFS bindings (#3553)
  apis/python/src/tiledbsoma/soma_vfs.cc
Due: python_api

[python] Throw error in `SOMAVFSFilebuf.open` if file DNE
  apis/python/src/tiledbsoma/soma_vfs.cc
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

WIP working enumerations
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/utils/util.cc
Due: libtiledbsoma

Remove comment from unused code path
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
Due: python_api

Update apis/python/src/tiledbsoma/soma_vfs.cc
  apis/python/src/tiledbsoma/soma_vfs.cc
Due: python_api

[python] Correct Arrow offsets for Enumeration and Boolean columns
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/utils/util.cc
Due: libtiledbsoma

Add doc
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Fix formatting
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

remove metadata work-arounds
  apis/python/tests/ht/_array_state_machine.py
  apis/python/tests/ht/_ht_test_config.py
Due: none

[c++] Handle add/drop/re-add of enumerated types
  libtiledbsoma/src/soma/soma_dataframe.cc
Due: libtiledbsoma

add unit-test case
  apis/python/tests/test_update_dataframes.py
Due: none

Update test_basic_anndata_io.py
  apis/python/tests/test_basic_anndata_io.py
Due: none

fix CI
  libtiledbsoma/src/soma/soma_dataframe.cc
Due: libtiledbsoma

[python] Throw error in `SOMAVFSFilebuf.open` on file-not-found (#3565)
  apis/python/src/tiledbsoma/soma_vfs.cc
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

fix CI
  apis/python/tests/test_update_dataframes.py
  libtiledbsoma/src/soma/soma_dataframe.cc
Due: libtiledbsoma

Refactor bool casting
  libtiledbsoma/src/utils/util.cc
Due: libtiledbsoma

Fix #3569 backport to `release-1.15`
  apis/python/src/tiledbsoma/soma_vfs.cc
Due: python_api

Revert 8fcf89bb in favor of 3571
  apis/python/src/tiledbsoma/soma_vfs.cc
Due: python_api

add metadata time travel ledger
  apis/python/tests/ht/_array_state_machine.py
  apis/python/tests/ht/_ledger.py
Due: none

add readme
  apis/python/tests/ht/README.md
Due: none

fix CI
  apis/python/src/tiledbsoma/soma_vfs.cc
Due: python_api

Fix #3569 backport to `release-1.15` (#3571)
  apis/python/src/tiledbsoma/soma_vfs.cc
Due: python_api

[c++] Handle add/drop/re-add of enumerated types (#3567)
  apis/python/tests/test_update_dataframes.py
  libtiledbsoma/src/soma/soma_dataframe.cc
Due: libtiledbsoma

C++ 17 for `release-1.15` branch
  libtiledbsoma/src/soma/soma_dataframe.cc
Due: libtiledbsoma

Use `ArrowBitsUnpackInt8`
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/utils/util.cc
Due: libtiledbsoma

[python] Fix search in `readthedocs`
  doc/requirements_doc.txt
  doc/source/conf.py
Due: none

fix numeric overflow in fastercsx test
  apis/python/tests/ht/README.md
  apis/python/tests/ht/test_ht_fastercsx.py
  apis/python/tests/ht/test_ht_indexer.py
Due: none

Merge `_axisp_get_array` and `_axism_get_array` (#3554)
  apis/python/src/tiledbsoma/_query.py
Due: python_api

[python] Set `soma_joinid` to always be an index column in the `PointCloudDataFrame` class (#3563)
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/src/tiledbsoma/_constants.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/io/spatial/ingest.py
  apis/python/tests/test_basic_spatialdata_io.py
  apis/python/tests/test_experiment_query_spatial.py
  apis/python/tests/test_export_point_cloud_dataframe.py
  apis/python/tests/test_point_cloud_dataframe.py
Due: python_api

[c++] Correct Arrow offsets for enumeration and boolean columns (#3566)
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/utils/util.cc
Due: libtiledbsoma

Access `self._joinids` attributes directly
  apis/python/src/tiledbsoma/_query.py
Due: python_api

Replace `getattr_from` with if/else in _convert_to_ndarray
  apis/python/src/tiledbsoma/_query.py
Due: python_api
