Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Provide alternative implementation for non GCC compilers
  libtiledbsoma/src/common/common.cc
  libtiledbsoma/src/common/common.h
Due: none

Apply suggestions from code review
  apis/python/src/tiledbsoma/_soma_context.py
Due: python_api

Add missing header
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Lint fix
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

update small_pbmc fixture to include bool column (#4404)
  apis/python/remote_tests/carrara/conftest.py
Due: none

[c++] Move `ColumnBuffer` to separate object library (#4400)
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/common/arrow/arrow_buffer.cc
  libtiledbsoma/src/common/arrow/arrow_buffer.h
  libtiledbsoma/src/common/arrow/exporter.cc
  libtiledbsoma/src/common/arrow/exporter.h
  libtiledbsoma/src/common/arrow/interface.h
  libtiledbsoma/src/common/arrow/utils.cc
  libtiledbsoma/src/common/arrow/utils.h
  libtiledbsoma/src/common/common.cc
  libtiledbsoma/src/common/common.h
  libtiledbsoma/src/common/query/column_buffer.cc
  libtiledbsoma/src/common/query/column_buffer.h
  libtiledbsoma/src/soma/array_buffers.cc
  libtiledbsoma/src/soma/array_buffers.h
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_attribute.cc
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/unit_column_buffer.cc
  libtiledbsoma/test/unit_managed_query.cc
  libtiledbsoma/test/unit_soma_geometry_dataframe.cc
Due: libtiledbsoma

Move ArrayBuffers and related classes to separate object library
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/common.h
  apis/python/src/tiledbsoma/managed_query.cc
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/common/query/array_buffers.cc
  libtiledbsoma/src/common/query/array_buffers.h
  libtiledbsoma/src/common/query/column_buffer.cc
  libtiledbsoma/src/common/query/column_buffer.h
  libtiledbsoma/src/common/query/column_buffer_strategies.cc
  libtiledbsoma/src/common/query/column_buffer_strategies.h
  libtiledbsoma/src/soma/array_buffers.cc
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/unit_column_buffer.cc
Due: python_api, libtiledbsoma

Remove external includes from ArrayBuffers
  libtiledbsoma/src/common/arrow/utils.h
  libtiledbsoma/src/common/query/array_buffers.cc
  libtiledbsoma/src/common/query/array_buffers.h
  libtiledbsoma/src/common/query/column_buffer_strategies.cc
  libtiledbsoma/src/common/query/column_buffer_strategies.h
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

Update namespace in R bindings
  apis/r/src/arrow.cpp
  apis/r/src/rinterface.cpp
  apis/r/src/rutilities.cpp
  apis/r/src/rutilities.h
Due: none

Remove std::format and unused param
  libtiledbsoma/src/common/arrow/arrow_buffer.cc
  libtiledbsoma/src/common/arrow/utils.cc
Due: none

Pin pre-commit to use pandas-stub<3
  .pre-commit-config.yaml
Due: none

[c++] Remove std::format and unused param (#4405)
  .pre-commit-config.yaml
  libtiledbsoma/src/common/arrow/arrow_buffer.cc
  libtiledbsoma/src/common/arrow/utils.cc
Due: none

Update Carrara tests to use new SOMAContext
  apis/python/remote_tests/carrara/conftest.py
  apis/python/remote_tests/carrara/test_01_create.py
  apis/python/remote_tests/carrara/test_02_delete.py
  apis/python/remote_tests/carrara/test_03_io.py
  apis/python/remote_tests/carrara/test_04_misc.py
Due: none

Update Cloud tests to use SOMAContext
  apis/python/remote_tests/conftest.py
Due: none

Fix rebase errors
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/utils/common.h
Due: libtiledbsoma

Remove another <format>
  libtiledbsoma/src/common/arrow/utils.cc
Due: none

Run linters
  apis/python/remote_tests/carrara/conftest.py
  apis/python/remote_tests/carrara/test_02_delete.py
  apis/python/remote_tests/carrara/test_03_io.py
Due: none

[c++] Remove another <format> (#4408)
  libtiledbsoma/src/common/arrow/utils.cc
Due: none

Update Cloud tests to use SOMAContext (#4407)
  apis/python/remote_tests/conftest.py
Due: none

[python] Update Carrara tests to use new SOMAContext (#4406)
  apis/python/remote_tests/carrara/conftest.py
  apis/python/remote_tests/carrara/test_01_create.py
  apis/python/remote_tests/carrara/test_02_delete.py
  apis/python/remote_tests/carrara/test_03_io.py
  apis/python/remote_tests/carrara/test_04_misc.py
Due: none

Remove unused include
  libtiledbsoma/src/common/arrow/utils.h
Due: none

Remove external dependencies form ColumnBuffer
  libtiledbsoma/src/common/query/column_buffer.cc
  libtiledbsoma/src/common/query/column_buffer.h
Due: none

Migrate ManagedQuery
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/common/arrow/utils.h
  libtiledbsoma/src/common/common.cc
  libtiledbsoma/src/common/common.h
  libtiledbsoma/src/common/concepts.h
  libtiledbsoma/src/common/query/column_buffer.h
  libtiledbsoma/src/common/query/managed_query.cc
  libtiledbsoma/src/common/query/managed_query.h
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
Due: libtiledbsoma

Remove old ManagedQuery
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

Use new ManagedQuery
  libtiledbsoma/src/cli/cli.cc
  libtiledbsoma/src/common/arrow/arrow_buffer.cc
  libtiledbsoma/src/common/arrow/exporter.cc
  libtiledbsoma/src/common/arrow/utils.cc
  libtiledbsoma/src/common/concepts.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_attribute.cc
  libtiledbsoma/src/soma/soma_attribute.h
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/test/unit_column_buffer.cc
  libtiledbsoma/test/unit_managed_query.cc
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
Due: libtiledbsoma

Add missing methods
  libtiledbsoma/src/common/query/managed_query.cc
  libtiledbsoma/src/common/query/managed_query.h
Due: none

Add extra tests
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_io.py
Due: python_api

Fix geometry type handling
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/common/query/column_buffer_strategies.cc
  libtiledbsoma/src/common/query/column_buffer_strategies.h
  libtiledbsoma/src/common/query/managed_query.cc
Due: none

Correctly handle array offset and extension semantics
  libtiledbsoma/src/common/arrow/utils.cc
  libtiledbsoma/src/common/arrow/utils.h
  libtiledbsoma/src/common/query/managed_query.cc
  libtiledbsoma/src/common/query/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Switch python API to use new ManagedQuery
  apis/python/src/tiledbsoma/managed_query.cc
  apis/python/src/tiledbsoma/soma_column.cc
  libtiledbsoma/src/common/query/managed_query.cc
  libtiledbsoma/src/common/query/managed_query.h
Due: python_api

Remove unused header
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/common/arrow/utils.cc
  libtiledbsoma/src/common/arrow/utils.h
  libtiledbsoma/src/common/query/managed_query.cc
Due: none

Fix types
  libtiledbsoma/src/common/query/managed_query.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

Move SOMA type check to constructor for arrays
  encoding_specification.md
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_geometry_dataframe.h
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.cc
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
Due: libtiledbsoma

Add new SOMACollectionBase type with constructor check for groups
  apis/python/src/tiledbsoma/soma_collection.cc
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_collection_base.cc
  libtiledbsoma/src/soma/soma_collection_base.h
  libtiledbsoma/src/soma/soma_experiment.cc
  libtiledbsoma/src/soma/soma_experiment.h
  libtiledbsoma/src/soma/soma_measurement.cc
  libtiledbsoma/src/soma/soma_measurement.h
  libtiledbsoma/src/soma/soma_multiscale_image.cc
  libtiledbsoma/src/soma/soma_multiscale_image.h
  libtiledbsoma/src/soma/soma_scene.cc
  libtiledbsoma/src/soma/soma_scene.h
  libtiledbsoma/src/tiledbsoma/tiledbsoma
Due: python_api, libtiledbsoma

Replace `select_columns` with lambda to fix pybind11 span incompatibility
  apis/python/src/tiledbsoma/managed_query.cc
Due: python_api

Update R bindings
  apis/r/src/RcppExports.cpp
  apis/r/src/arrow.cpp
  apis/r/src/riterator.cpp
  apis/r/src/rutilities.cpp
  apis/r/src/rutilities.h
Due: none

Move SOMA encoding check to C++
  apis/python/src/tiledbsoma/_exception.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/tests/test_factory.py
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_collection_base.cc
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/soma/soma_object.h
Due: python_api, libtiledbsoma

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
