Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

bump somacore to 1.0.9 (#2251)
  .pre-commit-config.yaml
  apis/python/setup.py
Due: none

WIP correct offset buffer
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

Throw TileDBErrors as TileDBSOMAErrors
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

WIP use ASCII for string dims
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Use Python 3.11 for single version CI runs
  .github/workflows/python-ci-full.yml
  .github/workflows/python-packaging.yml
  .github/workflows/r-python-interop-testing.yml
Due: none

Handle extending enumerations for non-var attrs
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

[r/ci] Set `options(pkgType = "binary")` for macOS
  .github/workflows/r-ci.yml
Due: none

Install dataset packages from source
  .github/workflows/r-ci.yml
Due: none

Bioconductor sucks
  .github/workflows/r-ci.yml
Due: none

remotes is being stupid
  .github/workflows/r-ci.yml
Due: none

syntax issue
  .github/workflows/r-ci.yml
Due: none

Unsupport arrow types should throw TypeError
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: python_api, libtiledbsoma

Cast domains and extents to correct types
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/soma_dataframe.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: python_api, libtiledbsoma

Move install pytest after Python setup
  .github/workflows/r-python-interop-testing.yml
Due: none

Bioconductor really sucks
  .github/workflows/r-ci.yml
  apis/r/tools/install_missing_deps.R
Due: none

more bioc finagling
  apis/r/tools/install_missing_deps.R
Due: none

Use R-universe for pbmc3k.sce
  apis/r/DESCRIPTION
  apis/r/tools/install_missing_deps.R
Due: none

Forgot to include recursive dependencies
  apis/r/DESCRIPTION
  apis/r/tools/install_missing_deps.R
Due: none

Fix id10t error
  apis/r/tools/install_missing_deps.R
Due: none

Put additional dependencies first
  apis/r/tools/install_missing_deps.R
Due: none

[c++] Match `delete[]` with `new[]`
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

make format
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

[r/ci] Set `options(pkgType = "binary")` for MacOS (#2257)
  .github/workflows/r-ci.yml
  apis/r/tools/install_missing_deps.R
Due: none

[ci/python] Use Python 3.11 for single version CI runs (#2255)
  .github/workflows/python-ci-full.yml
  .github/workflows/python-packaging.yml
  .github/workflows/r-python-interop-testing.yml
Due: none

[c++] Match `delete[]` with `new[]` (#2259)
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Needed changes for census profiling (#2074)
  profiler/__init__.py
  profiler/data.py
  profiler/setup.py
  profiler/src/profiler/__init__.py
  profiler/src/profiler/__main__.py
  profiler/src/profiler/context_generator.py
  profiler/src/profiler/data.py
  profiler/src/profiler/profiler.py
  profiler/src/profiler/report.py
Due: none

[r] Correct parenthesis in covr() call activate quiet=FALSE (#2243)
  apis/r/tools/r-ci.sh
Due: none

add pa.chunked_array / pa.array test to sparse nd array slice test (#2234)
  apis/python/tests/test_sparse_nd_array.py
Due: none

factor io/ingest.py, create io/{_common,outgest}.py (#2246)
  apis/python/src/tiledbsoma/io/__init__.py
  apis/python/src/tiledbsoma/io/_common.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/io/outgest.py
Due: python_api

merge
  .github/workflows/python-ci-minimal.yml
  apis/python/tests/test_io.py
  profiler/src/profiler/data.py
  profiler/src/profiler/profiler.py
Due: none

Remove deprecated Python 3.7 ast types
  apis/python/src/tiledbsoma/_query_condition.py
Due: python_api

Remove deprecated Python 3.7 ast types (#2271)
  apis/python/src/tiledbsoma/_query_condition.py
Due: python_api

merge (#2268)
  .github/workflows/python-ci-minimal.yml
  apis/python/tests/test_io.py
  profiler/src/profiler/data.py
  profiler/src/profiler/profiler.py
Due: none

Typo fixes, broken README link (#2235)
  README.md
  apis/python/setup.py
  apis/python/src/tiledbsoma/_common_nd_array.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/tests/__init__.py
Due: python_api

[Backport release-1.8] [c++] Fix building TileDB if a CMake toolchain is not specified
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
Due: none

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
