Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

[r] Remove two more `tiledb::schema` callsites
  apis/r/R/SOMADenseNDArray.R
  apis/r/R/SOMASparseNDArray.R
Due: none

Undo test code
  libtiledbsoma/CMakeLists.txt
Due: none

tests/test_registration_mappings.py WIP [skip ci]
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_registration_mappings.py
Due: none

Use correct shapes on ingest, when feature-flag enabled
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Add named constants
  libtiledbsoma/src/utils/geometry/operators/io/write.cc
  libtiledbsoma/src/utils/geometry/operators/io/write.h
Due: libtiledbsoma

Add all configuration options to config types
  libtiledbsoma/CMakeLists.txt
Due: none

DESCRIPTION NEWS.md [skip ci]
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[r] Remove two more `tiledb::schema` callsites (#3160)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/R/SOMADenseNDArray.R
  apis/r/R/SOMASparseNDArray.R
Due: none

Use `link_options` instead of `link_libraries` for options
  libtiledbsoma/CMakeLists.txt
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/test/CMakeLists.txt
Due: none

Update docs
  apis/r/R/utils-arrow.R
  apis/r/man/r_type_from_arrow_type.Rd
Due: none

[r] Add Arrow to R type mapper
  apis/r/NAMESPACE
  apis/r/R/TileDBArray.R
  apis/r/R/utils-arrow.R
  apis/r/man/r_type_from_arrow_type.Rd
  apis/r/tests/testthat/test-r-arrow-types.R
Due: none

Update changelog Bump develop version
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[r] Add Arrow to R type mapper (#3161)
  apis/r/DESCRIPTION
  apis/r/NAMESPACE
  apis/r/NEWS.md
  apis/r/R/TileDBArray.R
  apis/r/R/utils-arrow.R
  apis/r/man/r_type_from_arrow_type.Rd
  apis/r/tests/testthat/test-r-arrow-types.R
Due: none

Add environment variable for enabling WERROR
  libtiledbsoma/CMakeLists.txt
Due: none

iterating on query-condition port
  apis/r/R/QueryCondition.R
  apis/r/R/RcppExports.R
  apis/r/src/RcppExports.cpp
  apis/r/src/query_condition.cpp
  libtiledbsoma/test/common.cc
Due: none

[c++] Set warnings-as-errors to be off by default (#3159)
  .github/workflows/libtiledb-ci.yml
  .github/workflows/python-ci-packaging.yml
  .github/workflows/r-python-interop-testing.yml
  libtiledbsoma/CMakeLists.txt
  scripts/bld
Due: none

Implement add_point_cloud_dataframe and add_multiscale_image to Scene
  apis/python/src/tiledbsoma/_scene.py
Due: python_api

tests/testthat/test-query-condition.R
  apis/r/R/QueryCondition.R
  apis/r/tests/testthat/test-query-condition.R
  libtiledbsoma/test/common.cc
Due: none

Moved geometry out of source directory Address PR comments
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/geometry/base.h
  libtiledbsoma/src/geometry/geometry.h
  libtiledbsoma/src/geometry/linestring.cc
  libtiledbsoma/src/geometry/linestring.h
  libtiledbsoma/src/geometry/multilinestring.cc
  libtiledbsoma/src/geometry/multilinestring.h
  libtiledbsoma/src/geometry/multipoint.cc
  libtiledbsoma/src/geometry/multipoint.h
  libtiledbsoma/src/geometry/multipolygon.cc
  libtiledbsoma/src/geometry/multipolygon.h
  libtiledbsoma/src/geometry/operators/io/read.cc
  libtiledbsoma/src/geometry/operators/io/read.h
  libtiledbsoma/src/geometry/operators/io/write.cc
  libtiledbsoma/src/geometry/operators/io/write.h
  libtiledbsoma/src/geometry/point.cc
  libtiledbsoma/src/geometry/point.h
  libtiledbsoma/src/geometry/polygon.cc
  libtiledbsoma/src/geometry/polygon.h
  libtiledbsoma/src/utils/geometry/utils.h
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/test/unit_geometry_roundtrip.cc
Due: libtiledbsoma

[python/c++] Use `config_options_from_schema` in pytest
  apis/python/src/tiledbsoma/_soma_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_platform_config.py
  apis/python/tests/test_sparse_nd_array.py
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: python_api, libtiledbsoma

Expand docstring
  apis/python/src/tiledbsoma/_soma_array.py
Due: python_api

[python,c++] Add `SOMAGroup::is_relative` and use in pytest unit tests
  apis/python/src/tiledbsoma/soma_group.cc
  apis/python/tests/test_basic_anndata_io.py
  libtiledbsoma/src/soma/soma_group.h
Due: python_api, libtiledbsoma

[python] Consolidate `test_util_tiledb.py` into `test_stats.py`
  apis/python/tests/test_stats.py
  apis/python/tests/test_util_tiledb.py
Due: none

[python/c++] Use `config_options_from_schema` in pytest unit tests (#3165)
  apis/python/src/tiledbsoma/_soma_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_platform_config.py
  apis/python/tests/test_sparse_nd_array.py
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: python_api, libtiledbsoma

[python] Correct `consolidate_and_vacuum` default `modes`
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/tests/test_dataframe.py
Due: python_api

[python] Consolidate `test_util_tiledb.py` into `test_stats.py` (#3167)
  apis/python/tests/test_stats.py
  apis/python/tests/test_util_tiledb.py
Due: none

[python,c++] Add `SOMAGroup::is_relative` and use in pytest unit tests (#3166)
  apis/python/src/tiledbsoma/soma_group.cc
  apis/python/tests/test_basic_anndata_io.py
  libtiledbsoma/src/soma/soma_group.h
Due: python_api, libtiledbsoma

[python] Use `pathlib.Path.iterdir` to count fragments
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_dataframe.py
Due: none

[python] Correct `consolidate_and_vacuum` default `modes` (#3169)
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/tests/test_dataframe.py
Due: python_api

[python] Use `pathlib.Path.iterdir` to count fragments (#3168)
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_dataframe.py
Due: none

[python/c++] Remove tiledb-py from unit tests
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_dataframe.py
Due: none

[wip] post-rebase changes
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_context.py
  apis/python/tests/test_dense_nd_array.py
Due: none

Remove from test_dense_nd_array.py
  apis/python/tests/test_dense_nd_array.py
Due: none

remove tiledb-py from test_factory.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_factory.py
Due: none

[python] Skip tests that use tiledb-py if not installed
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_context.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dataframe_index_columns.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_experiment_query.py
  apis/python/tests/test_factory.py
  apis/python/tests/test_sparse_nd_array.py
Due: none

Rename filter_list -> filters
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_sparse_nd_array.py
Due: none

[python] Various tiledb-py removals from pytest
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dataframe_index_columns.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_experiment_query.py
Due: none

[c++] WKB geometry utilities (#3149)
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/geometry/base.h
  libtiledbsoma/src/geometry/geometry.h
  libtiledbsoma/src/geometry/linestring.cc
  libtiledbsoma/src/geometry/linestring.h
  libtiledbsoma/src/geometry/multilinestring.cc
  libtiledbsoma/src/geometry/multilinestring.h
  libtiledbsoma/src/geometry/multipoint.cc
  libtiledbsoma/src/geometry/multipoint.h
  libtiledbsoma/src/geometry/multipolygon.cc
  libtiledbsoma/src/geometry/multipolygon.h
  libtiledbsoma/src/geometry/operators/io/read.cc
  libtiledbsoma/src/geometry/operators/io/read.h
  libtiledbsoma/src/geometry/operators/io/write.cc
  libtiledbsoma/src/geometry/operators/io/write.h
  libtiledbsoma/src/geometry/point.cc
  libtiledbsoma/src/geometry/point.h
  libtiledbsoma/src/geometry/polygon.cc
  libtiledbsoma/src/geometry/polygon.h
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/test/unit_geometry_roundtrip.cc
Due: none
