Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

[ci] Remove errant '-' from github action (#4188)
  .github/workflows/python-dependency-variation.yml
Due: none

Fix
  apis/python/tests/test_query_condition.py
Due: none

Fix bad address access in C++ unit tests
  libtiledbsoma/test/test_soma_query_condition.cc
Due: none

Fix extra - in R-CMD CI yaml
  .github/workflows/R-CMD-check.yaml
Due: none

Fix extra - in R-CMD CI yaml (#4190)
  .github/workflows/R-CMD-check.yaml
Due: none

Move query condition construction to SOMAArray
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: libtiledbsoma

Add delete_cells method to SOMADataframe
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

Clean-up string writes for tests
  libtiledbsoma/test/test_soma_query_condition.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: none

Add string support to SOMAQueryCondition and SOMACoordQueryCondition
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.cc
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.h
  libtiledbsoma/test/test_soma_query_condition.cc
Due: none

Add value filter to dataframe delete_cells
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: libtiledbsoma

Add alias for any of type of SOMAColumnSelection
  libtiledbsoma/src/common/soma_column_selection.h
Due: none

(WIP) Add IndexQueryCondition to python
  apis/python/src/tiledbsoma/_column_selection.py
  apis/python/src/tiledbsoma/soma_index_value_filter.cc
Due: python_api

Remove fmt from soma_query_condition.h header
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.cc
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.h
Due: none

Rename query condition objects to SOMA names
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.cc
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.h
  libtiledbsoma/test/test_soma_query_condition.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: libtiledbsoma

Rename classes/methods to be closer to SOMA spec naming
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.cc
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.h
  libtiledbsoma/test/test_soma_query_condition.cc
Due: libtiledbsoma

(WIP) Create python interface to coordinate value selection
  apis/python/src/tiledbsoma/_coordinate_selection.py
  apis/python/src/tiledbsoma/coordinate_selection.cc
  libtiledbsoma/src/tiledbsoma/tiledbsoma
Due: python_api, libtiledbsoma

Add direct point/slice methods to CoordinateValueFilter
  libtiledbsoma/src/common/soma_column_selection.h
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.cc
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.h
Due: none

Move domain tests inside of CoordinateValueFilter
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.cc
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.h
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/test/test_coordinate_value_filter.cc
  libtiledbsoma/test/test_soma_query_condition.cc
Due: libtiledbsoma

Add optional end points to slice
  libtiledbsoma/src/common/soma_column_selection.h
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.cc
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.h
  libtiledbsoma/test/test_soma_column_selection.cc
  libtiledbsoma/test/test_soma_query_condition.cc
Due: none

Add initial pybind for constructing selection
  apis/python/setup.py
  apis/python/src/tiledbsoma/_coordinate_selection.py
  apis/python/src/tiledbsoma/coordinate_selection.cc
  apis/python/src/tiledbsoma/pytiledbsoma.cc
Due: python_api

Switch SparseNDArray to use new delete cells
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

(WIP) Switch DataFrame to use new delete cells
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/test/test_coordinate_value_filter.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: libtiledbsoma

[python] Add support for `not` in query conditions (#4159)
  apis/python/src/tiledbsoma/_query_condition.py
  apis/python/src/tiledbsoma/common.h
  apis/python/src/tiledbsoma/query_condition.cc
  apis/python/tests/test_query_condition.py
Due: python_api

Update TileDB version to 2.29.0rc0
  .github/workflows/libtiledbsoma-asan-ci.yml
  .github/workflows/python-ci-packaging.yml
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
Due: none

Switch DataFrame to use new delete cells
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.cc
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.h
  libtiledbsoma/test/test_coordinate_value_filter.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

Rename value filter classes and split into two separate headers
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/coordinate_value_filters.cc
  libtiledbsoma/src/soma/coordinate_value_filters.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/tiledb_adapter/soma_query_condition.h
  libtiledbsoma/src/tiledb_adapter/value_filter.cc
  libtiledbsoma/src/tiledb_adapter/value_filter.h
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/test/test_coordinate_value_filter.cc
  libtiledbsoma/test/test_value_filter.cc
Due: libtiledbsoma

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
