Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

Update geometry dataframe unit tests
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/soma_geometry_dataframe.cc
  libtiledbsoma/src/soma/soma_geometry_dataframe.h
  libtiledbsoma/test/unit_soma_geometry_dataframe.cc
Due: libtiledbsoma

[c++] Update to core 2.27.1
  .github/workflows/libtiledbsoma-asan-ci.yml
  .github/workflows/python-ci-packaging.yml
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
Due: none

[c++] Update to core 2.27.1 (#3719)
  .github/workflows/libtiledbsoma-asan-ci.yml
  .github/workflows/python-ci-packaging.yml
  apis/r/tools/get_tarball.R
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
Due: none

Check array open for write at write time
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

C++ unit-test coverage
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: none

python unit-test coverage
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_sparse_nd_array.py
Due: none

R unit-test coverage
  apis/r/tests/testthat/test-06-SOMADataFrame.R
  apis/r/tests/testthat/test-06-SOMADenseNDArray.R
  apis/r/tests/testthat/test-06-SOMASparseNDArray.R
Due: none

[c++] Check arrays are open for write at write time (#3722)
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_sparse_nd_array.py
  apis/r/tests/testthat/test-06-SOMADataFrame.R
  apis/r/tests/testthat/test-06-SOMADenseNDArray.R
  apis/r/tests/testthat/test-06-SOMASparseNDArray.R
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

[python] `tiledbsoma.io.{to,from}_anndata` round-trip test (#3710)
  apis/python/requirements_dev.txt
  apis/python/tests/ht/_ht_test_config.py
  apis/python/tests/ht/_ht_util.py
  apis/python/tests/ht/conftest.py
  apis/python/tests/ht/test_ht_io_anndata.py
Due: none

Remove `used_shape`, which deprecated in 1.15 with scheduled removal in 1.16
  apis/python/notebooks/tutorial_soma_append_mode.ipynb
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/io/outgest.py
  apis/python/src/tiledbsoma/io/shaping.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_registration_mappings.py
  apis/python/tests/test_sparse_nd_array.py
  apis/r/R/TileDBArray.R
  apis/r/man/SOMAArrayBase.Rd
  apis/r/man/SOMADataFrame.Rd
  apis/r/man/SOMADenseNDArray.Rd
  apis/r/man/SOMANDArrayBase.Rd
  apis/r/man/SOMASparseNDArray.Rd
  apis/r/man/TileDBArray.Rd
  apis/r/tests/testthat/test-06-SOMASparseNDArray.R
  apis/r/tests/testthat/test-16-write-soma-resume.R
  doc/source/python-tiledbsoma-sparsendarray.rst
Due: python_api

apis/python/notebooks/tutorial_soma_append_mode.ipynb
  apis/python/notebooks/tutorial_soma_append_mode.ipynb
Due: none

code-review feedback
  apis/python/src/tiledbsoma/io/outgest.py
Due: python_api

Add more details to encoding specification and slight reformat
  encoding_specification.md
Due: none

Use markdown for title
  encoding_specification.md
Due: none

apis/r/NEWS.md apis/r/DESCRIPTION [skip ci]
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[python/r] Remove `used_shape`, which was deprecated in 1.15 with scheduled removal in 1.16 (#3723)
  apis/python/notebooks/tutorial_soma_append_mode.ipynb
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/io/outgest.py
  apis/python/src/tiledbsoma/io/shaping.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_registration_mappings.py
  apis/python/tests/test_sparse_nd_array.py
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/R/TileDBArray.R
  apis/r/man/SOMAArrayBase.Rd
  apis/r/man/SOMADataFrame.Rd
  apis/r/man/SOMADenseNDArray.Rd
  apis/r/man/SOMANDArrayBase.Rd
  apis/r/man/SOMASparseNDArray.Rd
  apis/r/man/TileDBArray.Rd
  apis/r/tests/testthat/test-06-SOMASparseNDArray.R
  apis/r/tests/testthat/test-16-write-soma-resume.R
  doc/source/python-tiledbsoma-sparsendarray.rst
Due: python_api

[r] Update `DESCRIPTION` for `main`
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

TileDB-SOMA-R 1.16.0
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

complete NEWS.md [skip ci]
  apis/r/NEWS.md
Due: none

[r] Update `DESCRIPTION` for `main`, post 1.16.0 (#3725)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

TileDB-SOMA-R 1.16.0 (#3726)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

Apply suggestions from code review
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/transformer.cc
  apis/python/tests/test_geometry_dataframe.py
  libtiledbsoma/src/soma/soma_transformers.cc
  libtiledbsoma/src/soma/soma_transformers.h
  libtiledbsoma/src/utils/transformer.h
Due: python_api, libtiledbsoma

lint fixes
  apis/python/src/tiledbsoma/transformer.cc
  libtiledbsoma/src/soma/soma_transformers.cc
  libtiledbsoma/src/utils/transformer.h
Due: python_api, libtiledbsoma

Update soma column signatures
  libtiledbsoma/src/soma/soma_attribute.cc
  libtiledbsoma/src/soma/soma_attribute.h
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
Due: libtiledbsoma

Update test and misc edits
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Export SOMAColumn to python, intagrate SOMAColumn into read code path
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/managed_query.cc
  apis/python/src/tiledbsoma/soma_array.cc
Due: python_api

Replace managed query dimension setters with soma column
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/soma_column.cc
Due: python_api

Pass correct handle to soma column dimension setters
  apis/python/src/tiledbsoma/_util.py
Due: python_api

Separate `soma_column` python bindings
  apis/python/setup.py
  apis/python/src/tiledbsoma/managed_query.cc
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_column.cc
Due: python_api

Export dim point setter from soma_column
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/managed_query.cc
Due: python_api

[python] correctly fix the _FSWrapper hack for python>=3.13
  apis/python/setup.py
  apis/python/src/tiledbsoma/io/_util.py
Due: python_api

[ci] run ci against 3.13
  .github/workflows/python-ci-minimal.yml
  .github/workflows/python-packaging.yml
Due: none

Respond to feedback part 1
  apis/python/tests/test_aaa_setup.py
  apis/python/tests/test_query_condition.py
  apis/python/tests/test_soma_array.py
  libtiledbsoma/src/cli/cli.cc
  scripts/clean-test-data.sh
  scripts/prepare-test-data.sh
Due: none

Apply suggestions from code review
  .github/workflows/python-ci-single.yml
  Makefile
Due: none

Improve instructions, link instructions, fix typos
  data/README.md
  scripts/clean-test-data.sh
  scripts/prepare-test-data.sh
Due: none

Remove markdown formatting from comments in bash scripts
  scripts/clean-test-data.sh
  scripts/prepare-test-data.sh
Due: none

Clean-up script headers
  scripts/clean-test-data.sh
  scripts/prepare-test-data.sh
Due: none
