Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

handle minus signs in RHS, e.g. `foo == MT-ND2`
  apis/python/src/tiledbsoma/_query_condition.py
Due: python_api

unit-test coverage
  apis/python/src/tiledbsoma/_query_condition.py
  apis/python/tests/test_query_condition.py
Due: python_api

neaten
  apis/python/src/tiledbsoma/_query_condition.py
Due: python_api

[r] Expose object type getter
  apis/r/R/RcppExports.R
  apis/r/src/RcppExports.cpp
  apis/r/src/soma.cpp
  apis/r/tests/testthat/test-write-soma-objects.R
Due: none

[r/python] Deprecation notices for `used_shape`
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/r/R/TileDBArray.R
Due: python_api

lint
  apis/python/src/tiledbsoma/_types.py
Due: python_api

Generalize to SOMA and TileDB type getters
  apis/r/R/RcppExports.R
  apis/r/R/TileDBObject.R
  apis/r/src/RcppExports.cpp
  apis/r/src/soma.cpp
  apis/r/tests/testthat/test-write-soma-objects.R
Due: none

roxygen2::roxygenise()
  apis/r/man/TileDBArray.Rd
Due: none

[r] Expose object-type getter (#2833)
  apis/r/R/RcppExports.R
  apis/r/R/TileDBObject.R
  apis/r/src/RcppExports.cpp
  apis/r/src/soma.cpp
  apis/r/tests/testthat/test-write-soma-objects.R
Due: none

[python] Improve error message on non-constant query-condition RHS (#2831)
  apis/python/src/tiledbsoma/_query_condition.py
  apis/python/tests/test_query_condition.py
Due: python_api

incorporate code-review feedback about message-text matching
  apis/python/tests/test_query_condition.py
Due: none

code-review feedback
  apis/python/tests/test_query_condition.py
Due: none

[r/python] Deprecation notices for `used_shape` (#2834)
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_types.py
  apis/r/R/TileDBArray.R
  apis/r/man/TileDBArray.Rd
Due: python_api

[r] Use `.Deprecated` for `used_shape` in R
  apis/r/R/TileDBArray.R
Due: none

code-review feedback
  apis/r/R/TileDBArray.R
Due: none

[python] More gracefully handle invalid operators in query-condition parser (#2830)
  apis/python/src/tiledbsoma/_query_condition.py
  apis/python/tests/test_query_condition.py
Due: python_api

Suppress warnings in tests to prevent weird testthat output
  apis/r/tests/testthat/test-SOMASparseNDArray.R
  apis/r/tests/testthat/test-write-soma-resume.R
Due: none

[r] Use `.Deprecated` for `used_shape` in R (#2835)
  apis/r/R/TileDBArray.R
  apis/r/tests/testthat/test-SOMASparseNDArray.R
  apis/r/tests/testthat/test-write-soma-resume.R
Due: none

[r] Metadata read/write support via libtiledbsoma
  apis/r/NAMESPACE
  apis/r/R/RcppExports.R
  apis/r/man/delete_metadata.Rd
  apis/r/man/get_all_metadata.Rd
  apis/r/man/get_metadata.Rd
  apis/r/man/get_metadata_num.Rd
  apis/r/man/has_metadata.Rd
  apis/r/man/set_metadata.Rd
  apis/r/src/RcppExports.cpp
  apis/r/src/metadata.cpp
Due: none

get_all_metadata() now return a list
  apis/r/R/RcppExports.R
  apis/r/src/RcppExports.cpp
  apis/r/src/metadata.cpp
Due: none

Add 'factory' to work on either array or group
  apis/r/R/RcppExports.R
  apis/r/src/RcppExports.cpp
  apis/r/src/metadata.cpp
Due: none

Small cleanup
  apis/r/R/SOMAOpen.R
Due: none

Removing temp skip on resuming dense writes
  apis/r/tests/testthat/test-write-soma-resume.R
Due: none

Use SOMA*::create
  apis/r/src/arrow.cpp
Due: none

Now with set_metadata including small libtiledbsoma update
  apis/r/R/RcppExports.R
  apis/r/R/TileDBArray.R
  apis/r/src/RcppExports.cpp
  apis/r/src/metadata.cpp
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_object.h
Due: libtiledbsoma

[r] R `DESCRIPTION` bump in prep for 1.13
  apis/r/DESCRIPTION
Due: none

[r] Prep for TileDB-SOMA 1.13
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[r] Undo unintentional commit to `release-1.13`
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

keep NEWS.md alive with recent releases
  apis/r/NEWS.md
Due: none

anndata-based dataframe round-trip tests
  apis/python/tests/test_dataframe_io_roundtrips.py
Due: none

factor+document {in,out}gest DF logic
  apis/python/src/tiledbsoma/io/_registration/signatures.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/io/outgest.py
Due: python_api

anndata- and df-based dataframe round-trip tests
  apis/python/tests/test_dataframe_io_roundtrips.py
Due: none

[python] Ingest/outgest round-trip improvements (#2804)
  apis/python/src/tiledbsoma/io/_registration/signatures.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/io/outgest.py
  apis/python/tests/test_dataframe_io_roundtrips.py
Due: python_api

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
