Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Add experimental ingestor for Visium data
  apis/python/setup.py
  apis/python/src/tiledbsoma/experimental/__init__.py
  apis/python/src/tiledbsoma/experimental/ingest.py
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Update github actions to include spatial branch in testing
  .github/workflows/libtiledb-ci.yml
  .github/workflows/python-ci-full.yml
  .github/workflows/python-ci-minimal.yml
  .github/workflows/r-ci.yml
  .github/workflows/r-python-interop-testing.yml
Due: none

Add experimental directory
  apis/python/src/tiledbsoma/experimental/__init__.py
Due: python_api

[python][spatial] Implement Scene class in Python (#2485)
  .github/workflows/python-ci-packaging.yml
  .pre-commit-config.yaml
  apis/python/setup.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/experimental/ingest.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_experiment_basic.py
  libtiledbsoma/src/soma/soma_experiment.cc
  libtiledbsoma/src/soma/soma_experiment.h
Due: python_api, libtiledbsoma

Update scene component names
  .pre-commit-config.yaml
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

Update scene component names (again)
  .pre-commit-config.yaml
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

Set somacore by commit instead of branch
  apis/python/setup.py
Due: none

Update spatial to match redesign
  .pre-commit-config.yaml
  apis/python/setup.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_measurement.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

Add coordinate transform classes
  .pre-commit-config.yaml
  apis/python/setup.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_coordinates.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/tests/test_coordinates.py
Due: python_api

[python] Add functionality to read cellxgene spatial h5ad files (#2577)
  apis/python/src/tiledbsoma/experimental/__init__.py
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

(WIP) Update ingest to use coordinate system metadata
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

Add minor typo related bug fixes (#2559)
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

Roll-back reference commit for somacore
  .pre-commit-config.yaml
  apis/python/setup.py
Due: none

lint/typecheck fixes (#2706)
  apis/python/src/tiledbsoma/_coordinates.py
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

add `tutorial_spatial.ipynb` (#2705)
  apis/python/notebooks/tutorial_spatial.ipynb
  doc/source/notebooks/tutorial_spatial.ipynb
Due: none

Small updates to match somacore (#2712)
  .pre-commit-config.yaml
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/setup.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_measurement.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

fix unit-test case
  apis/python/tests/test_basic_anndata_io.py
Due: none

[python] Augment unit-testing for enumeration extensions
  apis/python/tests/test_dataframe.py
Due: none

lint
  apis/python/tests/test_dataframe.py
Due: none

[c++] Fix enum-of-bool leveling
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

[python] Augment unit-testing for enumeration extensions (#2722)
  apis/python/tests/test_dataframe.py
Due: none

[python] Deprecate `tiledb_ctx` usage in `TileDBSOMAContext` (#2693)
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_general_utilities.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
  apis/python/src/tiledbsoma/soma_context.cc
  apis/python/tests/test_context.py
Due: python_api

[c++] Fix a nightly-build issue (#2718)
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

[c++] Fix enum-of-bool leveling (#2723)
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

[python] Support `tiledbsoma.io.update_obs` with post-nullable non-string attributes (#2719)
  apis/python/src/tiledbsoma/_arrow_types.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_update_dataframes.py
Due: python_api

[python] Deprecate `tiledb.Filter` getters in `PlatformConfig` (#2720)
  apis/python/src/tiledbsoma/options/_tiledb_create_options.py
Due: python_api

Add presence matrices to experimental ingestor
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

Add documentation about shared_ptr usage
  libtiledbsoma/src/soma/soma_collection.cc
Due: libtiledbsoma

Formatting
  libtiledbsoma/src/soma/soma_collection.cc
Due: libtiledbsoma

[c++] Add missing `SOMACollection` getters and setters (#2508)
  apis/python/src/tiledbsoma/_dense_nd_array.py
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_experiment.cc
  libtiledbsoma/src/soma/soma_experiment.h
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_measurement.cc
  libtiledbsoma/src/soma/soma_measurement.h
  libtiledbsoma/test/unit_soma_collection.cc
Due: python_api, libtiledbsoma

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
