Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

PRovide timestamp conversion workaround
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/tests/test_io.py
Due: python_api

Add recursive close option Add unit tests
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/tests/test_collection.py
Due: python_api

[python] Fix old `pyarrow` bug triggers (#4433)
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/tests/test_io.py
Due: python_api

Initial pushdown of member management
  apis/python/setup.py
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/soma_geometry_dataframe.cc
  apis/python/src/tiledbsoma/soma_group.cc
  apis/python/src/tiledbsoma/soma_object.cc
  apis/python/src/tiledbsoma/soma_point_cloud_dataframe.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_experiment.cc
  libtiledbsoma/src/soma/soma_experiment.h
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_measurement.cc
  libtiledbsoma/src/soma/soma_measurement.h
  libtiledbsoma/src/soma/soma_scene.cc
  libtiledbsoma/src/soma/soma_scene.h
Due: python_api, libtiledbsoma

Simplify named member access, pushdown member mutation checks
  libtiledbsoma/src/soma/soma_collection_base.cc
  libtiledbsoma/src/soma/soma_collection_base.h
  libtiledbsoma/src/soma/soma_experiment.cc
  libtiledbsoma/src/soma/soma_experiment.h
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_measurement.cc
  libtiledbsoma/src/soma/soma_measurement.h
  libtiledbsoma/src/soma/soma_scene.cc
  libtiledbsoma/src/soma/soma_scene.h
Due: libtiledbsoma

Remove mutated keys cache
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_soma_object.py
Due: python_api

Detect when running under a ContextManager
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_soma_object.py
Due: python_api

Move member management to `SOMACollectionBase`
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/src/tiledbsoma/soma_group.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_collection_base.cc
  libtiledbsoma/src/soma/soma_collection_base.h
  libtiledbsoma/src/soma/soma_experiment.cc
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_measurement.cc
  libtiledbsoma/src/soma/soma_object.h
  libtiledbsoma/src/soma/soma_scene.cc
Due: python_api, libtiledbsoma

Update github actions
  .github/workflows/build-cpp.yml
  .github/workflows/ci-linters.yml
  .github/workflows/ci-r-python-interop.yml
  .github/workflows/pkgdown.yaml
  .github/workflows/python-dependency-variation.yml
  .github/workflows/python-dockers.yml
  .github/workflows/python-packaging.yml
  .github/workflows/python-remote-storage.yml
  .github/workflows/r-valgrind.yaml
  .github/workflows/test-cpp.yml
  .github/workflows/test-python.yml
  .github/workflows/test-r.yml
Due: none

Fix member uri access, pass pointer to coordinate selection constructor
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/coordinate_selection.cc
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/tests/test_dataframe_io_roundtrips.py
Due: python_api

FIx metadata handling bug
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/io/ingest.py
  libtiledbsoma/src/common/metadata/types.h
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_coordinates.cc
Due: python_api, libtiledbsoma

Use C++ member management for R objects
  apis/python/src/tiledbsoma/soma_group.cc
  apis/r/R/Factory.R
  apis/r/R/RcppExports.R
  apis/r/R/SOMAArrayBase.R
  apis/r/R/SOMACollectionBase.R
  apis/r/R/SOMAObject.R
  apis/r/inst/include/tiledbsoma_types.h
  apis/r/src/RcppExports.cpp
  apis/r/src/arrow.cpp
  apis/r/src/groups.cpp
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
  apis/r/src/soma_object.cpp
  apis/r/src/soma_open.cpp
  apis/r/src/xptr-utils.h
Due: python_api

Pushdown Python metadata operations to C++
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/common.h
  apis/python/tests/test_collection.py
  apis/python/tests/test_metadata.py
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/common/metadata/metadata.cc
  libtiledbsoma/src/common/metadata/metadata.h
  libtiledbsoma/src/common/metadata/types.h
  libtiledbsoma/src/common/metadata/utils.cc
  libtiledbsoma/src/common/metadata/utils.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_attribute.cc
  libtiledbsoma/src/soma/soma_attribute.h
  libtiledbsoma/src/soma/soma_collection_base.cc
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_coordinates.cc
  libtiledbsoma/src/soma/soma_coordinates.h
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/soma/soma_object.h
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/src/utils/common.h
  libtiledbsoma/src/utils/util.cc
  libtiledbsoma/src/utils/util.h
  libtiledbsoma/test/unit_soma_coordinates.cc
Due: python_api, libtiledbsoma

Correctly handle mutated keys
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/tests/test_collection.py
  libtiledbsoma/src/soma/soma_collection_base.cc
  libtiledbsoma/src/soma/soma_collection_base.h
  libtiledbsoma/src/soma/soma_group.cc
Due: python_api, libtiledbsoma

Use new metadata cache implementation
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/common.h
  apis/python/src/tiledbsoma/soma_group.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_attribute.cc
  libtiledbsoma/src/soma/soma_attribute.h
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_coordinates.cc
  libtiledbsoma/src/soma/soma_coordinates.h
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
  libtiledbsoma/src/soma/soma_geometry_dataframe.cc
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/soma/soma_object.h
  libtiledbsoma/src/soma/soma_scene.cc
  libtiledbsoma/src/utils/common.h
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_coordinates.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_group.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

Add experimental decoded metadata API for SOMAObjects
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/src/tiledbsoma/soma_group.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_collection_base.cc
  libtiledbsoma/src/soma/soma_collection_base.h
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_object.h
  libtiledbsoma/src/utils/common.h
  libtiledbsoma/src/utils/util.cc
  libtiledbsoma/src/utils/util.h
Due: python_api, libtiledbsoma

Push serialization to C++
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/soma_object.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_collection_base.cc
  libtiledbsoma/src/soma/soma_collection_base.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_experiment.cc
  libtiledbsoma/src/soma/soma_experiment.h
  libtiledbsoma/src/soma/soma_geometry_dataframe.cc
  libtiledbsoma/src/soma/soma_geometry_dataframe.h
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_measurement.cc
  libtiledbsoma/src/soma/soma_measurement.h
  libtiledbsoma/src/soma/soma_multiscale_image.cc
  libtiledbsoma/src/soma/soma_multiscale_image.h
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/soma/soma_object.h
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.cc
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.h
  libtiledbsoma/src/soma/soma_scene.cc
  libtiledbsoma/src/soma/soma_scene.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
Due: python_api, libtiledbsoma

Make object creation using move semantics Tie metadata lifetime with C++ handle
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/managed_query.cc
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_group.cc
  apis/python/src/tiledbsoma/soma_object.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_collection_base.cc
  libtiledbsoma/src/soma/soma_collection_base.h
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_experiment.h
  libtiledbsoma/src/soma/soma_geometry_dataframe.h
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_measurement.h
  libtiledbsoma/src/soma/soma_multiscale_image.h
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/soma/soma_object.h
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.h
  libtiledbsoma/src/soma/soma_scene.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
Due: python_api, libtiledbsoma

MIgrate R metadata operations to new C++ metadata API
  apis/r/R/RcppExports.R
  apis/r/R/SOMAArrayBase.R
  apis/r/R/SOMAObject.R
  apis/r/src/RcppExports.cpp
  apis/r/src/groups.cpp
  apis/r/src/metadata.cpp
  apis/r/src/metadata.h
  apis/r/src/rutilities.cpp
  apis/r/src/rutilities.h
  apis/r/src/soma_object.cpp
  apis/r/src/xptr-utils.h
Due: none

Fix missing dependency from somacore port
  apis/python/setup.py
Due: none

Disable linting error in setup.py
  apis/python/setup.py
Due: none

Make pybind11 count methods standard defs to support gil release
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_geometry_dataframe.cc
  apis/python/src/tiledbsoma/soma_point_cloud_dataframe.cc
Due: python_api

Fix rebase issues
  apis/r/R/RcppExports.R
  apis/r/src/RcppExports.cpp
  apis/r/src/xptr-utils.h
Due: none

Fix C++ tests
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Fix rest of rebasing errors
  apis/r/R/RcppExports.R
  apis/r/R/SOMAArrayBase.R
  apis/r/R/SOMACollection.R
  apis/r/R/SOMACollectionBase.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMADenseNDArray.R
  apis/r/R/SOMAExperiment.R
  apis/r/R/SOMAMeasurement.R
  apis/r/R/SOMAObject.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/R/ephemeral.R
  apis/r/R/write_soma.R
  apis/r/inst/include/tiledbsoma_types.h
  apis/r/src/RcppExports.cpp
  apis/r/src/groups.cpp
  apis/r/src/metadata.cpp
  apis/r/src/rinterface.cpp
  apis/r/src/soma_object.cpp
  libtiledbsoma/src/soma/soma_collection_base.cc
  libtiledbsoma/src/soma/soma_collection_base.h
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/test/unit_soma_group.cc
Due: libtiledbsoma

[pre-commit][python] Update pre-commit (#4430)
  .pre-commit-config.yaml
  apis/python/remote_tests/__init__.py
  apis/python/remote_tests/conftest.py
  apis/python/setup.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_coordinate_space.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_managed_query.py
  apis/python/src/tiledbsoma/io/__init__.py
  apis/python/src/tiledbsoma/io/_util.py
  apis/python/src/tiledbsoma/io/spatial/_spatialdata_util.py
  apis/python/src/tiledbsoma/options/_util.py
  apis/python/tests/__init__.py
  apis/python/tests/_util.py
  apis/python/tests/conftest.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_point_cloud_dataframe.py
  apis/python/tests/test_sparse_nd_array.py
Due: python_api

Fix reopen semantics
  apis/python/setup.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/src/tiledbsoma/soma_group.cc
  apis/r/R/RcppExports.R
  apis/r/R/SOMACollectionBase.R
  apis/r/src/RcppExports.cpp
  apis/r/src/soma_object.cpp
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_experiment.h
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_measurement.h
  libtiledbsoma/src/soma/soma_multiscale_image.h
  libtiledbsoma/src/soma/soma_object.h
  libtiledbsoma/src/soma/soma_scene.h
Due: python_api, libtiledbsoma

[ci] Update github actions (#4434)
  .github/workflows/build-cpp.yml
  .github/workflows/ci-linters.yml
  .github/workflows/ci-r-python-interop.yml
  .github/workflows/pkgdown.yaml
  .github/workflows/python-dependency-variation.yml
  .github/workflows/python-dockers.yml
  .github/workflows/python-packaging.yml
  .github/workflows/python-remote-storage.yml
  .github/workflows/r-valgrind.yaml
  .github/workflows/test-cpp.yml
  .github/workflows/test-python.yml
  .github/workflows/test-r.yml
  apis/python/setup.py
Due: none

On open reset auxiliary bookeeping structures
  libtiledbsoma/src/soma/soma_collection_base.cc
  libtiledbsoma/src/soma/soma_collection_base.h
Due: libtiledbsoma

Remove debug print
  apis/r/R/SOMACollectionBase.R
Due: none

Implement delete metadata in R API
  apis/r/R/SOMAObject.R
  apis/r/tests/testthat/test-06-SOMACollection.R
  apis/r/tests/testthat/test-06-SOMADataFrame.R
  apis/r/tests/testthat/test-12-SOMAExperiment-query-base.R
Due: none

Skip reopen if the mode is the same
  apis/r/R/SOMAObject.R
Due: none

Push reopen to C++ layer
  apis/r/R/RcppExports.R
  apis/r/R/SOMANDArrayBase.R
  apis/r/R/SOMAObject.R
  apis/r/src/RcppExports.cpp
  apis/r/src/soma_object.cpp
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_collection_base.cc
  libtiledbsoma/src/soma/soma_collection_base.h
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_object.h
Due: libtiledbsoma

Export reopen to SOMAObject derived classes
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_experiment.h
  libtiledbsoma/src/soma/soma_geometry_dataframe.h
  libtiledbsoma/src/soma/soma_measurement.h
  libtiledbsoma/src/soma/soma_multiscale_image.h
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.h
  libtiledbsoma/src/soma/soma_scene.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
Due: libtiledbsoma

Fix: set context if not already set
  apis/python/src/tiledbsoma/io/spatial/ingest.py
Due: python_api

Update/reduce docker CI
  .github/workflows/python-dockers.yml
Due: none

Fix: set context if not already set (#4440)
  apis/python/src/tiledbsoma/io/spatial/ingest.py
Due: python_api

[r] Update SCE Outgest tests to `sparseMatrix` (#4441)
  apis/r/tests/testthat/test-15-SCEOutgest.R
Due: none

Add tests for deprecations
  apis/r/tests/testthat/test-03-SOMAContext.R
  apis/r/tests/testthat/test-06-SOMACollection.R
Due: none

Remove defunct tests
  apis/r/tests/testthat/test-03-SOMAContext.R
Due: none

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
