Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

[python/ci] Unbreak wheel builds (#2339)
  apis/python/MANIFEST.in
Due: none

[python/ci] Unbreak wheel builds, `main`
  apis/python/MANIFEST.in
Due: none

[python/ci] Unbreak wheel builds, `main` (#2341)
  apis/python/MANIFEST.in
Due: none

merge (#2327)
  .pre-commit-config.yaml
  apis/python/setup.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_index_util.py
  apis/python/src/tiledbsoma/_indexer.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/reindexer.cc
  apis/python/tests/test_indexer.py
  apis/python/tests/test_reindexer_api.py
  libtiledbsoma/src/reindexer/reindexer.h
Due: python_api

[r] tiledbsoma 1.9.1
  apis/r/DESCRIPTION
Due: none

news
  apis/r/NEWS.md
Due: none

code-review feedback
  apis/r/NEWS.md
Due: none

[r] tiledbsoma-r 1.9.1 (#2342)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

Add more date and datetime support
  apis/r/R/utils-arrow.R
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Meh with version 14.0.0 and not 14.0.6 because ... sure
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Support TILEDB_DATETIME_DAY aka Date as well
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Ensure DATETIME columns get Arrow coltype reset
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Additional conversion
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Post-rebase change
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Correct another delete to free
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Heeding time to the lord of linting is time well spent some say
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Remove initialization setters covered by nanoarrow use
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

No longer to protect one statement
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Meh
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Heeding time to the lord of linting is time well spent some say
  libtiledbsoma/src/utils/nanoarrow.h
Due: libtiledbsoma

WIP changes expanding type map, suppressing schema release
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Add back deprecated function `tiledbsoma_build_index`
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_indexer.py
Due: python_api

Add function to __all__
  apis/python/src/tiledbsoma/__init__.py
Due: none

Fix writes when using slice of arrow table
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/tests/test_io.py
  libtiledbsoma/src/soma/soma_array.cc
Due: python_api, libtiledbsoma

Add back deprecated function `tiledbsoma_build_index` (#2344)
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_indexer.py
Due: python_api

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
