Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Update docs for `soma_context()`
  apis/r/R/zzz.R
Due: none

Restore license for copied code
  apis/r/R/QueryCondition.R
Due: none

Add links for derived classes
  apis/r/R/BlockwiseIter.R
  apis/r/R/MappingBase.R
  apis/r/man/BlockwiseReadIterBase.Rd
  apis/r/man/MappingBase.Rd
Due: none

Update docs for `soma_context()`
  apis/r/man/soma_context.Rd
Due: none

Add examples for arrays Export ABC to avoid CRAN nags
  apis/r/NAMESPACE
  apis/r/R/SOMAArrayBase.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMADenseNDArray.R
  apis/r/R/SOMANDArrayBase.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/man/SOMAArrayBase.Rd
  apis/r/man/SOMADataFrame.Rd
  apis/r/man/SOMADenseNDArray.Rd
  apis/r/man/SOMANDArrayBase.Rd
  apis/r/man/SOMASparseNDArray.Rd
Due: none

Add links for derived classes
  apis/r/R/ephemeral.R
  apis/r/man/EphemeralCollectionBase.Rd
Due: none

Add examples for collections
  apis/r/R/SOMACollection.R
  apis/r/R/SOMACollectionBase.R
  apis/r/R/SOMAExperiment.R
  apis/r/R/SOMAMeasurement.R
  apis/r/man/SOMACollection.Rd
  apis/r/man/SOMACollectionBase.Rd
  apis/r/man/SOMAExperiment.Rd
  apis/r/man/SOMAMeasurement.Rd
Due: none

Add examples for contexts
  apis/r/R/SOMAContextBase.R
  apis/r/R/SOMATileDBContext.R
  apis/r/man/SOMAContextBase.Rd
  apis/r/man/SOMATileDBContext.Rd
Due: none

Add examples for create options
  apis/r/R/MappingBase.R
  apis/r/R/TileDBCreateOptions.R
  apis/r/man/MappingBase.Rd
  apis/r/man/TileDBCreateOptions.Rd
Due: none

Add examples for zero-based matrices
  apis/r/R/utils-matrixZeroBasedView.R
  apis/r/man/matrixZeroBasedView.Rd
Due: none

Add examples for versions
  apis/r/R/utils-tiledb.R
  apis/r/man/show_package_versions.Rd
Due: none

Add examples for `SOMAOpen()`
  apis/r/R/SOMAOpen.R
  apis/r/man/SOMAOpen.Rd
Due: none

Add links for TileDB virtual classes
  apis/r/R/TileDBArray.R
  apis/r/R/TileDBGroup.R
  apis/r/R/TileDBObject.R
  apis/r/man/TileDBArray.Rd
  apis/r/man/TileDBGroup.Rd
  apis/r/man/TileDBObject.Rd
Due: none

Add examples for `write_soma()` and its methods
  apis/r/R/write_bioc.R
  apis/r/R/write_seurat.R
  apis/r/R/write_soma.R
  apis/r/man/write_soma.Rd
  apis/r/man/write_soma.Seurat.Rd
  apis/r/man/write_soma.SingleCellExperiment.Rd
  apis/r/man/write_soma.SummarizedExperiment.Rd
  apis/r/man/write_soma_objects.Rd
  apis/r/man/write_soma_seurat_sub.Rd
Due: none

`python-dockers`: bump 1.16.x builds (to pick up ARM wheels)
  .github/workflows/python-dockers.yml
Due: none

change python line length to 120
  apis/python/pyproject.toml
Due: none

deprecate io.append_ functions
  apis/python/setup.py
  apis/python/src/tiledbsoma/_soma_array.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_registration_mappings.py
Due: python_api

changelog entry
  apis/python/HISTORY.md
Due: none

mark previously deprecated functions with decorator
  apis/python/src/tiledbsoma/_indexer.py
Due: python_api

clean up whitespace
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

deprecate tiledbsoma.io.create_from_matrix
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_io.py
Due: python_api

add change log entry
  apis/python/HISTORY.md
Due: none

Test macos-15 clang bad_cast
  .github/workflows/python-ci-minimal.yml
Due: none

add deprecation for ingest resume mode
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

add docstring
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

draft policy on versioning
  dev_docs/POLICIES.md
Due: none

[python] deprecate tiledbsoma.io resume mode (#4083)
  apis/python/HISTORY.md
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

[python] deprecate tiledbsoma.io.create_from_matrix (#4082)
  apis/python/HISTORY.md
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_io.py
Due: python_api

[python] deprecate tiledbsoma.io.append_ functions (#4081)
  apis/python/HISTORY.md
  apis/python/setup.py
  apis/python/src/tiledbsoma/_indexer.py
  apis/python/src/tiledbsoma/_soma_array.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_io.py
  apis/python/tests/test_registration_mappings.py
Due: python_api

Add export directives to soma classes
  libtiledbsoma/src/soma/array_buffers.h
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/logger_public.h
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_attribute.h
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_context.h
  libtiledbsoma/src/soma/soma_coordinates.h
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/src/soma/soma_experiment.h
  libtiledbsoma/src/soma/soma_geometry_column.h
  libtiledbsoma/src/soma/soma_geometry_dataframe.h
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_measurement.h
  libtiledbsoma/src/soma/soma_multiscale_image.h
  libtiledbsoma/src/soma/soma_object.h
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.h
  libtiledbsoma/src/soma/soma_scene.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/src/soma/soma_transformers.h
  libtiledbsoma/src/utils/transformer.h
Due: libtiledbsoma

PR f/b
  dev_docs/POLICIES.md
Due: none

Add export directives to geometry classes
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/geometry/base.h
  libtiledbsoma/src/geometry/geometry.h
  libtiledbsoma/src/geometry/linestring.h
  libtiledbsoma/src/geometry/multilinestring.h
  libtiledbsoma/src/geometry/multipoint.h
  libtiledbsoma/src/geometry/multipolygon.h
  libtiledbsoma/src/geometry/operators/envelope.h
  libtiledbsoma/src/geometry/operators/io/read.h
  libtiledbsoma/src/geometry/operators/io/write.h
  libtiledbsoma/src/geometry/point.h
  libtiledbsoma/src/geometry/polygon.h
  libtiledbsoma/src/reindexer/reindexer.h
  libtiledbsoma/src/utils/common.h
Due: libtiledbsoma

Export util functions
  libtiledbsoma/src/geometry/base.h
  libtiledbsoma/src/geometry/geometry.h
  libtiledbsoma/src/geometry/operators/io/write.h
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/src/utils/common.h
  libtiledbsoma/src/utils/util.h
Due: libtiledbsoma

`python-dockers`: bump 1.16.x builds (to pick up ARM wheels) (#4079)
  .github/workflows/python-dockers.yml
Due: none

Update wrapper reopen to return handle wrapper
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
