Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Update HISTORY with PR number
  apis/python/HISTORY.md
Due: none

Remove lazy loading from context and rename `_native_context` -> `_handle`
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_dask/util.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_fastercsx.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_indexer.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_soma_context.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/io/_util.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
  apis/python/tests/conftest.py
  apis/python/tests/ht/conftest.py
  apis/python/tests/ht/test_ht_fastercsx.py
  apis/python/tests/ht/test_ht_indexer.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_clib.py
  apis/python/tests/test_context.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_experiment_query.py
  apis/python/tests/test_fastercsx.py
  apis/python/tests/test_indexer.py
  apis/python/tests/test_registration_mappings.py
  apis/python/tests/test_reindexer_api.py
  apis/python/tests/test_soma_context.py
  apis/python/tests/test_sparse_nd_array.py
Due: python_api

Fix a couple tests
  apis/python/tests/test_collection.py
  apis/python/tests/test_registration_mappings.py
  apis/python/tests/test_sparse_nd_array.py
Due: none

Dry out remote tests
  apis/r/tests/testthat/README-carrara.md
  apis/r/tests/testthat/README-cloud.md
  apis/r/tests/testthat/helper-carrara.R
  apis/r/tests/testthat/helper-cloud.R
  apis/r/tests/testthat/helper-remote.R
  apis/r/tests/testthat/test-carrara-04-error-handling.R
Due: none

Add carrara seurat i/o tests
  apis/r/tests/testthat/test-carrara-05-seurat-io.R
Due: none

Improve docs for .register_soma_object()
  apis/r/R/write_soma.R
Due: none

Implement buffer resize for incomplete queries
  libtiledbsoma/src/soma/array_buffers.cc
  libtiledbsoma/src/soma/array_buffers.h
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

Add tests for buffer resizing
  libtiledbsoma/src/soma/array_buffers.h
  libtiledbsoma/test/unit_soma_array.cc
Due: libtiledbsoma

Restore existingKeyWarning on duplicate keys
  apis/r/R/write_soma.R
Due: none

Simplify carrara test setup for Seurat
  apis/r/tests/testthat/test-carrara-05-seurat-io.R
Due: none

Remove hardcoded cloud config test defaults
  apis/r/tests/testthat/helper-cloud.R
Due: none

Use more specific message to detect existing member
  apis/r/R/write_soma.R
Due: none

Refactor different allocation schemes into strategies
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/array_buffers.cc
  libtiledbsoma/src/soma/array_buffers.h
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/column_buffer_strategies.cc
  libtiledbsoma/src/soma/column_buffer_strategies.h
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

Switch to uint64
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/column_buffer.h
Due: libtiledbsoma

Remove copy constructor
  libtiledbsoma/src/soma/array_buffers.h
Due: libtiledbsoma

Remove unnecessary map of column buffer from enumerations
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Switch allocation strategy to shared ptr, add default size for memory pool
  libtiledbsoma/src/soma/array_buffers.cc
  libtiledbsoma/src/soma/array_buffers.h
  libtiledbsoma/src/soma/column_buffer_strategies.cc
  libtiledbsoma/src/soma/column_buffer_strategies.h
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

Make ArrayBuffers non-copyable
  libtiledbsoma/src/soma/array_buffers.cc
  libtiledbsoma/src/soma/array_buffers.h
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

Change max_num_cells computation
  libtiledbsoma/src/soma/column_buffer.cc
Due: libtiledbsoma

Test write_soma throws existingKeyWarning
  apis/r/tests/testthat/test-13-write-soma-objects.R
Due: none

Fix copy range for validity buffer
  libtiledbsoma/src/soma/column_buffer.cc
Due: libtiledbsoma

Set correct buffer for validity
  libtiledbsoma/src/soma/column_buffer.cc
Due: libtiledbsoma

SOMACollection tests for duplicate key handling
  apis/r/tests/testthat/test-06-SOMACollection.R
Due: none

Remove commented out code
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Update expected error for duplicate key handling
  apis/r/tests/testthat/test-06-SOMACollection.R
Due: none

Verify original child wasn't replaced
  apis/r/tests/testthat/test-06-SOMACollection.R
Due: none

Add tests for duplicate handling across sessions
  apis/r/tests/testthat/test-06-SOMACollection.R
Due: none

Preserve all enum values for bool enumerations
  libtiledbsoma/src/utils/arrow/arrow_buffer.cc
Due: libtiledbsoma

Prevent replacing existing keys across write sessions
  apis/r/R/SOMACollectionBase.R
  apis/r/tests/testthat/test-06-SOMACollection.R
Due: none

Update NEWS.md
  apis/r/NEWS.md
Due: none

Update SOMACollection docs
  apis/r/R/SOMACollectionBase.R
  apis/r/man/SOMACollectionBase.Rd
Due: none

Remove empty line
  apis/r/R/SOMACollectionBase.R
Due: none

[r] Test coverage for duplicate key behavior in SOMA collections (#4378)
  apis/r/NEWS.md
  apis/r/R/SOMACollectionBase.R
  apis/r/man/SOMACollectionBase.Rd
  apis/r/tests/testthat/test-06-SOMACollection.R
  apis/r/tests/testthat/test-13-write-soma-objects.R
Due: none

Add readme for cloud tests
  apis/r/tests/testthat/README-cloud.md
  apis/r/tests/testthat/helper-cloud.R
Due: none

add register_object method for SOMA collections
  apis/r/R/SOMACollectionBase.R
  apis/r/R/write_soma.R
Due: none

Simplify collection registration
  apis/r/R/SOMACollectionBase.R
  apis/r/R/write_soma.R
Due: none

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
