Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

[python] Append-mode enum bit-width mods (#2455)
  apis/python/src/tiledbsoma/_arrow_types.py
  apis/python/tests/test_registration_mappings.py
  apis/python/tests/test_update_dataframes.py
Due: python_api

[python/c++] Use C++ bindings for `SparseNDArray` write path
  apis/python/src/tiledbsoma/_arrow_types.py
Due: python_api

Make edits according to review comments
  apis/python/src/tiledbsoma/_arrow_types.py
Due: python_api

Check numpy array for fortran ordering for query ordering
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Cast csr to csc
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tiledb_array.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_io.py
Due: python_api

Typing
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_io.py
Due: python_api

Remove errant print debug statement
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

Remove check for dims in dense arrays
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
Due: none

Remove duplicate `_PYARROW_TO_CARROW`
  apis/python/src/tiledbsoma/_arrow_types.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
Due: python_api

[python,c++] Use C++ `DenseNDArray` bindings in Python API (#2494)
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_array.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/tests/test_dense_nd_array.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

[c++,python] Remove tiledb-py import for all arrays
  apis/python/src/tiledbsoma/_common_nd_array.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_soma_array.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_array.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/soma_array.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: python_api, libtiledbsoma

[c++,python] Remove tiledb-py import for all arrays (#2498)
  apis/python/src/tiledbsoma/_common_nd_array.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_soma_array.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_array.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/soma_array.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: python_api, libtiledbsoma

[python] Fix unbound-local error
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

[python] Fix unbound-local error (#2516)
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

[python/ci] Add CI job to test building wheel from sdist (#2506)
  .github/workflows/python-ci-packaging.yml
  CONTRIBUTING.md
  scripts/update-tiledb-version.py
Due: none

[python] Continue #2516
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

[ci] Test CI re `_index_util`
  libtiledbsoma/src/reindexer/test_indexer_data_types_perf.py
Due: none

[python] Continue #2516 (#2522)
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

sandbox bugfix
  libtiledbsoma/src/reindexer/test_indexer_data_types_perf.py
Due: none

[python] Clarify `test_update_dataframe.py`
  apis/python/src/tiledbsoma/_arrow_types.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/tests/conftest.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_experiment_query.py
  apis/python/tests/test_io.py
  apis/python/tests/test_platform_config.py
  apis/python/tests/test_registration_mappings.py
  apis/python/tests/test_registration_signatures.py
  apis/python/tests/test_update_dataframes.py
  apis/python/tests/test_update_matrix.py
Due: python_api

[c++] Explicitly set `ArrowSchema` flag to 0
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_sparse_nd_array.py
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
Due: libtiledbsoma

Update tests
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_sparse_nd_array.py
Due: none

sandbox bugfix
  apis/python/tests/test_basic_anndata_io.py
  libtiledbsoma/src/reindexer/test_indexer_data_types_perf.py
Due: none

[c++] Remove extraneous print statements
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

[c++] Remove extraneous print statements (#2527)
  libtiledbsoma/src/reindexer/test_indexer_data_types_perf.py
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

[c++] Explicitly set `ArrowSchema` flag to 0 (#2525)
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_sparse_nd_array.py
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
Due: libtiledbsoma

neaten
  apis/python/tests/test_basic_anndata_io.py
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

test fixture/helper cleanup
  apis/python/src/tiledbsoma/_util.py
  apis/python/tests/_util.py
  apis/python/tests/conftest.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_experiment_query.py
  apis/python/tests/test_io.py
  apis/python/tests/test_platform_config.py
  apis/python/tests/test_registration_mappings.py
  apis/python/tests/test_registration_signatures.py
  apis/python/tests/test_update_dataframes.py
  apis/python/tests/test_update_matrix.py
Due: python_api

test fixture/helper cleanup (#2529)
  apis/python/src/tiledbsoma/_util.py
  apis/python/tests/_util.py
  apis/python/tests/conftest.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_experiment_query.py
  apis/python/tests/test_io.py
  apis/python/tests/test_platform_config.py
  apis/python/tests/test_registration_mappings.py
  apis/python/tests/test_registration_signatures.py
  apis/python/tests/test_update_dataframes.py
  apis/python/tests/test_update_matrix.py
Due: python_api

pbmc_3k -> pbmc3k
  apis/python/tests/conftest.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_update_matrix.py
Due: none

neaten
  apis/python/tests/_util.py
  apis/python/tests/conftest.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_experiment_query.py
  apis/python/tests/test_io.py
  apis/python/tests/test_platform_config.py
  apis/python/tests/test_registration_mappings.py
  apis/python/tests/test_registration_signatures.py
  apis/python/tests/test_update_dataframes.py
  apis/python/tests/test_update_matrix.py
Due: none

[python] Clarify `test_update_dataframe.py` and `_arrow_types.py` (#2521)
  apis/python/src/tiledbsoma/_arrow_types.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/tests/_util.py
  apis/python/tests/conftest.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_experiment_query.py
  apis/python/tests/test_io.py
  apis/python/tests/test_platform_config.py
  apis/python/tests/test_registration_mappings.py
  apis/python/tests/test_registration_signatures.py
  apis/python/tests/test_update_dataframes.py
  apis/python/tests/test_update_matrix.py
Due: python_api

[python] Fix `failed to convert buffer` on `update_obs`/`update_var`
  apis/python/src/tiledbsoma/_arrow_types.py
Due: python_api

[c++] Add `SOMABaseNDArray::shape`
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_base_ndarray.cc
  libtiledbsoma/src/soma/soma_base_ndarray.h
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/test/unit_soma_array.cc
Due: python_api, libtiledbsoma

debug [skip-ci]
  apis/python/src/tiledbsoma/_arrow_types.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/tests/test_update_dataframes.py
Due: python_api

first green
  apis/python/src/tiledbsoma/_arrow_types.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_update_dataframes.py
Due: python_api

remove debug prints, now that they have done their job
  apis/python/src/tiledbsoma/_arrow_types.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/tests/test_update_dataframes.py
Due: python_api

comment-neaten
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api
