Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

Python unit-test cases
  apis/python/tests/test_shape.py
Due: none

Connect `resize_soma_joinid` at the `pybind11` layer
  apis/python/src/tiledbsoma/soma_dataframe.cc
Due: python_api

Connect to R Rcpp and UX layers
  apis/r/R/RcppExports.R
  apis/r/R/SOMADataFrame.R
  apis/r/src/RcppExports.cpp
  apis/r/src/rinterface.cpp
Due: none

fix bad rebase
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: libtiledbsoma

[python/r] `DataFrame` resizer (#3091)
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/tests/test_shape.py
  apis/r/R/RcppExports.R
  apis/r/R/SOMADataFrame.R
  apis/r/src/RcppExports.cpp
  apis/r/src/rinterface.cpp
  apis/r/tests/testthat/test-shape.R
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: python_api, libtiledbsoma

can_resize_soma_joinid
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

can_resize/can_upgrade_shape
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

[c++] Add `SOMAPointCloudDataFrame` class (#3092)
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.cc
  libtiledbsoma/src/soma/soma_point_cloud_dataframe.h
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/test/unit_soma_point_cloud_dataframe.cc
Due: libtiledbsoma

[c++] Fix a minor typo in logging statements
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

[c++] Add can-resize helpers in prep for experiment-level resize (#3095)
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

[r] Make `DataFrame` objects shapeable at ingest
  apis/r/R/write_soma.R
  apis/r/tests/testthat/test-write-soma-resume.R
Due: none

[r] Make `DataFrame` objects shapeable at ingest (#3089)
  apis/r/R/write_soma.R
  apis/r/tests/testthat/test-write-soma-resume.R
Due: none

Minor update to `.gitignore`
  .gitignore
Due: none

Fix dropped line in setup.py
  apis/python/setup.py
Due: none

Minor update to `.gitignore` (#3103)
  .gitignore
Due: none

`setuptools>=70.1` in sdist GHA
  .github/workflows/python-packaging.yml
Due: none

[c++] Fail earlier if `n_buffers` is not as expeced
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

`setuptools>=70.1` in sdist GHA (#3106)
  .github/workflows/python-packaging.yml
Due: none

Add Python implementation of the `PointCloudDataFrame` class
  apis/python/setup.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_constants.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_spatial_dataframe.py
  apis/python/src/tiledbsoma/_spatial_util.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/soma_object.cc
  apis/python/src/tiledbsoma/soma_point_cloud_dataframe.cc
  apis/python/tests/test_coordinates.py
  apis/python/tests/test_point_cloud_dataframe.py
Due: python_api

Fix typos in docstrings
  apis/python/src/tiledbsoma/_scene.py
Due: python_api

Apply suggestions from code review
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_spatial_dataframe.py
Due: python_api

Add Python implementation of the `PointCloudDataFrame` class (#3109)
  apis/python/setup.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_constants.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_spatial_dataframe.py
  apis/python/src/tiledbsoma/_spatial_util.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/soma_object.cc
  apis/python/src/tiledbsoma/soma_point_cloud_dataframe.cc
  apis/python/tests/test_coordinates.py
  apis/python/tests/test_point_cloud_dataframe.py
Due: python_api

[c++/python] Rename isvar to arrow_is_string_type; Use in _update_dataframe
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: python_api, libtiledbsoma

[python] Update coordinate space <-> JSON converters
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_spatial_util.py
Due: python_api

[python] Add `Scene` tests
  apis/python/tests/test_scene.py
Due: none

[python] Add test
  apis/python/tests/test_dataframe.py
Due: none

[python] Majorly condense down tests
  apis/python/tests/test_scene.py
Due: none

[python] Add GeometryDataFrame Tests But Skip
  apis/python/tests/test_scene.py
Due: none

[c++/python] Check `arrow_is_string_type` in `_update_dataframe` (#3111)
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: python_api, libtiledbsoma

[c++] Fail earlier if `n_buffers` is not as expeced (#3107)
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Add MultiscaleImage to Python
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_constants.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_spatial_util.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/src/tiledbsoma/soma_object.cc
Due: python_api

Replace dataclass with attrs
  apis/python/src/tiledbsoma/_multiscale_image.py
Due: python_api

Add initial multiscale image test
  apis/python/tests/test_multiscale_image.py
Due: none

[c++/python] Push `update_dataframe_schema` down to `libtiledbsoma`
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
Due: python_api, libtiledbsoma

[python] Add `Scene` tests (#3110)
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_spatial_util.py
  apis/python/tests/test_scene.py
Due: python_api

[c++] Fix a minor typo in logging statements (#3099)
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Warn on PIL import error
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

code-review feedback
  apis/python/src/tiledbsoma/pytiledbsoma.cc
Due: python_api
