Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

Add `register_point_cloud` method to the Scene class
  apis/python/src/tiledbsoma/_images.py
  apis/python/src/tiledbsoma/_point_cloud.py
  apis/python/src/tiledbsoma/_scene.py
Due: python_api

`_write_dataframe_impl` docstring
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

move `AdditionalMetadata` to `_common`
  apis/python/src/tiledbsoma/io/_common.py
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

_ingest_uns_array
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

uns types
  apis/python/src/tiledbsoma/io/_common.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/io/outgest.py
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

add `_update_uns`, `update_uns_by_uri`
  apis/python/src/tiledbsoma/io/update_uns.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_update_uns.py
Due: python_api

add collate unit test
  other_packages/python/tiledbsoma_ml/tests/test_pytorch.py
Due: none

clean up experiment_dataloader function
  other_packages/python/tiledbsoma_ml/src/tiledbsoma_ml/pytorch.py
Due: none

Micro-fix following code review
  apis/r/R/SOMAArrayBase.R
Due: none

Update changelog Bump develop version
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[r] Timestamp write and read of data frame and array objects (#2926)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/R/Factory.R
  apis/r/R/RcppExports.R
  apis/r/R/SOMAArrayBase.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMADenseNDArray.R
  apis/r/R/SOMANDArrayBase.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/R/SOMASparseNDArrayRead.R
  apis/r/R/TileDBArray.R
  apis/r/R/TileDBGroup.R
  apis/r/R/TileDBObject.R
  apis/r/R/soma_array_reader.R
  apis/r/R/utils.R
  apis/r/R/write_soma.R
  apis/r/man/SOMADataFrame.Rd
  apis/r/man/SOMANDArrayBase.Rd
  apis/r/man/TileDBArray.Rd
  apis/r/man/TileDBObject.Rd
  apis/r/man/delete_metadata.Rd
  apis/r/man/get_all_metadata.Rd
  apis/r/man/get_metadata.Rd
  apis/r/man/get_metadata_num.Rd
  apis/r/man/has_metadata.Rd
  apis/r/man/set_metadata.Rd
  apis/r/src/RcppExports.cpp
  apis/r/src/arrow.cpp
  apis/r/src/metadata.cpp
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
  apis/r/src/rutilities.cpp
  apis/r/src/rutilities.h
  apis/r/tests/testthat/test-SOMACollection.R
  apis/r/tests/testthat/test-SOMASparseNDArray.R
  apis/r/tests/testthat/test-TileDBArray.R
  apis/r/tests/testthat/test-Timestamps.R
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
Due: libtiledbsoma

Timestamp range support for dataframe
  apis/r/.Rproj.user/317C10F4/cpp-compilation-config
  apis/r/.Rproj.user/317C10F4/persistent-state
  apis/r/.Rproj.user/317C10F4/sources/s-7a15e560/lock_file
  apis/r/.Rproj.user/shared/notebooks/patch-chunk-names
  apis/r/.history/R/SOMAArrayBase_20240826161851.R
  apis/r/.history/R/SOMAArrayBase_20240826161936.R
  apis/r/.history/R/SOMADataFrame_20240826143054.R
  apis/r/.history/R/SOMADataFrame_20240826154701.R
  apis/r/.history/R/SOMADataFrame_20240826161952.R
  apis/r/.history/R/TileDBArray_20240826161851.R
  apis/r/.history/R/TileDBArray_20240826162027.R
  apis/r/.history/R/TileDBObject_20240822170214.R
  apis/r/.history/R/TileDBObject_20240822171553.R
  apis/r/.history/src/rutilities_20240826161851.cpp
  apis/r/.history/src/rutilities_20240826162138.cpp
  apis/r/r.Rproj
Due: none

Extended support
  apis/r/.history/R/SOMADataFrame_20240826162200.R
  apis/r/.history/R/SOMANDArrayBase_20240826162143.R
  apis/r/.history/R/SOMANDArrayBase_20240826162220.R
Due: none

(First half) new timestamp test for SOMADataFrame
  apis/r/.history/tests/testthat/test-Timestamps_20240826162225.R
  apis/r/.history/tests/testthat/test-Timestamps_20240826162241.R
Due: none

Second half of new timestamp passing all but three reopen tests
  apis/r/tests/testthat/test-Timestamps.R
Due: none

[r] Expose `tiledb_timestamp` parameter to `$reopen()` (#2866)
  apis/r/.history/R/SOMADataFrame_20240826162259.R
  apis/r/.history/R/SOMASparseNDArray_20240826162244.R
  apis/r/.history/R/SOMASparseNDArray_20240826162312.R
  apis/r/.history/R/TileDBArray_20240826162325.R
  apis/r/.history/R/TileDBObject_20240826162336.R
  apis/r/.history/R/TileDBObject_20240826162411.R
  apis/r/.history/R/utils_20240826162244.R
  apis/r/.history/R/utils_20240826162345.R
  apis/r/.history/tests/testthat/test-Timestamps_20240826162351.R
Due: none

(First half) new timestamp test for SOMADataFrame
  apis/r/tests/testthat/test-Timestamps.R
Due: none

[r] [NO BACKPORT] Expose timestamps publicly and plumb through for resume-mode (#2871)
  apis/r/.history/R/SOMASparseNDArray_20240826162424.R
  apis/r/.history/R/SOMASparseNDArray_20240826162432.R
Due: none

Test can now use factor
  apis/r/tests/testthat/test-Timestamps.R
Due: none

Read and write DataFrame and {Dense,Sparse}Array under timestamps
  apis/r/src/arrow.cpp
Due: none

Quieter warnings
  apis/r/src/arrow.cpp
Due: none

What just happend?
  apis/r/.history/R/SOMAArrayBase_20240826161851.R
  apis/r/.history/R/SOMAArrayBase_20240826161936.R
  apis/r/.history/R/SOMADataFrame_20240826143054.R
  apis/r/.history/R/SOMADataFrame_20240826154701.R
  apis/r/.history/R/SOMADataFrame_20240826161952.R
  apis/r/.history/R/SOMADataFrame_20240826162200.R
  apis/r/.history/R/SOMADataFrame_20240826162259.R
  apis/r/.history/R/SOMANDArrayBase_20240826162143.R
  apis/r/.history/R/SOMANDArrayBase_20240826162220.R
  apis/r/.history/R/SOMASparseNDArray_20240826162244.R
  apis/r/.history/R/SOMASparseNDArray_20240826162312.R
  apis/r/.history/R/SOMASparseNDArray_20240826162424.R
  apis/r/.history/R/SOMASparseNDArray_20240826162432.R
  apis/r/.history/R/TileDBArray_20240826161851.R
  apis/r/.history/R/TileDBArray_20240826162027.R
  apis/r/.history/R/TileDBArray_20240826162325.R
  apis/r/.history/R/TileDBObject_20240822170214.R
  apis/r/.history/R/TileDBObject_20240822171553.R
  apis/r/.history/R/TileDBObject_20240826162336.R
  apis/r/.history/R/TileDBObject_20240826162411.R
  apis/r/.history/R/utils_20240826162244.R
  apis/r/.history/R/utils_20240826162345.R
  apis/r/.history/src/rutilities_20240826161851.cpp
  apis/r/.history/src/rutilities_20240826162138.cpp
  apis/r/.history/tests/testthat/test-Timestamps_20240826162225.R
  apis/r/.history/tests/testthat/test-Timestamps_20240826162241.R
  apis/r/.history/tests/testthat/test-Timestamps_20240826162351.R
Due: none

Use `as.POSIXct(0, tz = 'UTC', origin = '1970-01-01')` as t0 in `TileDBObject$tiledb_timestamp_range`
  apis/r/R/TileDBObject.R
Due: none

Replace additional uses of `c(self$tiledb_timestamp, self$tiledb_timestamp)` with `self$tiledb_timestamp_range`
  apis/r/R/SOMAArrayBase.R
  apis/r/R/SOMADenseNDArray.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/R/TileDBArray.R
  apis/r/tests/testthat/test-SOMASparseNDArray.R
Due: none

Change `TileDBObject$tiledb_timestamp_range` to `TileDBObject$.tiledb_timestamp_range` with leading dot to indicate developer-oriented binding (thanks @johnkerl for catching!)
  apis/r/R/SOMAArrayBase.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMADenseNDArray.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/R/TileDBObject.R
  apis/r/R/utils.R
  apis/r/man/TileDBObject.Rd
Due: none

Adjust timestamp tests to reflect timestamp being "read up to this point in time" (<0, time>)
  apis/r/tests/testthat/test-Timestamps.R
Due: none

[r] Expose timestamp ranges for libtiledbsoma (#2929)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/R/SOMAArrayBase.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMADenseNDArray.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/R/TileDBArray.R
  apis/r/R/TileDBObject.R
  apis/r/R/utils.R
  apis/r/man/TileDBObject.Rd
  apis/r/tests/testthat/test-SOMASparseNDArray.R
  apis/r/tests/testthat/test-Timestamps.R
Due: none

Remove `timestamps` from `$create()` and `$write_object_type_metadata()`
  apis/r/R/Factory.R
  apis/r/R/SOMAArrayBase.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMANDArrayBase.R
  apis/r/man/SOMADataFrame.Rd
  apis/r/man/SOMANDArrayBase.Rd
Due: none

[r] Use cached timestamp in `$create()` and `$write()` (#2930)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/R/Factory.R
  apis/r/R/SOMAArrayBase.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMANDArrayBase.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/R/TileDBArray.R
  apis/r/man/SOMADataFrame.Rd
  apis/r/man/SOMANDArrayBase.Rd
  apis/r/man/TileDBArray.Rd
  apis/r/tests/testthat/test-Timestamps.R
Due: none

docstrings
  other_packages/python/tiledbsoma_ml/src/tiledbsoma_ml/pytorch.py
Due: none

[python] `update_uns_by_uri`, `_update_uns` (#2876)
  apis/python/src/tiledbsoma/io/_common.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/io/outgest.py
  apis/python/src/tiledbsoma/io/update_uns.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_update_uns.py
Due: python_api

Signal script failure to calling script, polish messages
  apis/r/configure
  apis/r/tools/check_cmake_and_git.R
Due: none

Convert another stop() to q() with error status
  apis/r/tools/get_tarball.R
Due: none

Update/extend coordinate transforms
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_coordinates.py
  apis/python/src/tiledbsoma/experimental/ingest.py
  apis/python/tests/test_coordinates.py
Due: python_api

[r] Signal script failure to calling script, polish messages (#2932)
  apis/r/configure
  apis/r/tools/check_cmake_and_git.R
  apis/r/tools/get_tarball.R
Due: none

Add __repr__ to CoordinateSpace
  apis/python/src/tiledbsoma/_coordinates.py
Due: python_api

Remove deleters for coordinate_space
  apis/python/src/tiledbsoma/_images.py
  apis/python/src/tiledbsoma/_scene.py
Due: python_api
