Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

Remove current_domain flag
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Add concrete class wrapper for indexable geometry column
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
Due: libtiledbsoma

[c++] Column abstraction: `SOMAAttribute`, part 2 (#3426)
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/soma_attribute.cc
  libtiledbsoma/src/soma/soma_attribute.h
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Downgrade min macos version [skip ci]
  apis/python/setup.py
  libtiledbsoma/CMakeLists.txt
Due: none

[python] Add support for Visium v1 (#3510)
  apis/python/src/tiledbsoma/io/spatial/ingest.py
Due: python_api

Clean-up basic scene test
  apis/python/tests/test_scene.py
Due: none

[python] Link lifetime of `SOMAArray` to `ManagedQuery`
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/tests/test_sparse_nd_array.py
Due: python_api

Use `clib_handle`
  apis/python/src/tiledbsoma/_read_iters.py
Due: python_api

Format
  apis/python/src/tiledbsoma/_read_iters.py
Due: python_api

[python] Link lifetimes of `SOMAArray` and `ManagedQuery` (#3516)
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/tests/test_sparse_nd_array.py
Due: python_api

[python] Check for list/tuple arguments in registrars
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_registration_mappings.py
Due: python_api

[python] Check for list/tuple arguments in registrars (#3518)
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_registration_mappings.py
Due: python_api

Clean-up basic scene test (#3515)
  apis/python/tests/test_scene.py
Due: none

[python] Unpin `scipy`
  apis/python/setup.py
Due: none

fix casting bug
  apis/python/src/tiledbsoma/_indexer.py
  apis/python/tests/test_indexer.py
Due: python_api

fix casting bug (#3525)
  apis/python/src/tiledbsoma/_indexer.py
  apis/python/tests/test_indexer.py
Due: python_api

[python] Unpin `scipy` (#3526)
  apis/python/setup.py
Due: none

Bump spdlog to 1.15 and remove patch
  libtiledbsoma/cmake/Modules/FindSpdlog_EP.cmake
  libtiledbsoma/cmake/patches/spdlog.patch
Due: none

temp
  libtiledbsoma/src/soma/soma_object.cc
Due: libtiledbsoma

Bump spdlog to 1.15 and remove patch (#3529)
  libtiledbsoma/cmake/Modules/FindSpdlog_EP.cmake
  libtiledbsoma/cmake/patches/spdlog.patch
Due: none

temp (#3530)
  libtiledbsoma/src/soma/soma_object.cc
Due: libtiledbsoma

Fix up C++20 -> 17 on `release-1.15` branch
  libtiledbsoma/src/soma/soma_object.cc
Due: libtiledbsoma

run make format with clang-format 18.1.3
  libtiledbsoma/src/soma/soma_object.cc
Due: libtiledbsoma

Bump min macos version
  .github/workflows/python-packaging.yml
  apis/r/src/Makevars.in
  libtiledbsoma/CMakeLists.txt
  libtiledbsoma/src/CMakeLists.txt
Due: none

again ...
  libtiledbsoma/src/soma/soma_object.cc
Due: libtiledbsoma

Update CI
  .github/workflows/python-packaging.yml
  apis/r/src/Makevars.in
  libtiledbsoma/CMakeLists.txt
  libtiledbsoma/src/reindexer/reindexer.h
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

lint fixes
  libtiledbsoma/src/reindexer/reindexer.h
Due: none

[c++] Update minimum macOS deployment target (#3534)
  .github/workflows/python-packaging.yml
  apis/r/src/Makevars.in
  libtiledbsoma/CMakeLists.txt
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/reindexer/reindexer.h
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Replace string_view with string when returning column name, add current domain checks, replace vector with span when selecting points
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Misc fixes
  libtiledbsoma/src/soma/soma_geometry_column.h
Due: libtiledbsoma

lint fixes
  libtiledbsoma/test/unit_soma_column.cc
Due: none

Remove virtual inheritance
  libtiledbsoma/src/soma/soma_geometry_column.h
Due: libtiledbsoma
