Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

std::format -> fmt::format for C++17
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

remove extraneous files that were pulled into the backport
  libtiledbsoma/src/soma/enums.h
  libtiledbsoma/src/soma/soma_attribute.cc
  libtiledbsoma/src/soma/soma_attribute.h
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

[Backport release-1.15][c++] Fix offsets for nullable columns (#3659)
  apis/python/src/tiledbsoma/managed_query.cc
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_sparse_nd_array.py
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/utils/util.cc
  libtiledbsoma/src/utils/util.h
Due: python_api, libtiledbsoma

[r] TileDB-SOMA 1.15.6
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[python] Replace `SOMAArray.write` with `ManagedQuery.write` (#3647)
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/managed_query.cc
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_query_condition.py
  apis/python/tests/test_soma_array.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: python_api, libtiledbsoma

[r] TileDB-SOMA 1.15.6 (#3661)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

ArrowSchema generation improvement
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

factor README link
  apis/python/tests/ht/README.md
Due: none

add missing `self` params
  apis/python/tests/ht/_array_state_machine.py
  apis/python/tests/ht/test_ht_dataframe.py
  apis/python/tests/ht/test_ht_densendarray.py
  apis/python/tests/ht/test_ht_sparsendarray.py
Due: none

rm unused `SOMAArrayStateMachine._reopen`
  apis/python/tests/ht/_array_state_machine.py
Due: none

use `mode: OpenMode` instead of `mode: str`
  apis/python/tests/ht/_array_state_machine.py
  apis/python/tests/ht/test_ht_dataframe.py
  apis/python/tests/ht/test_ht_densendarray.py
  apis/python/tests/ht/test_ht_sparsendarray.py
Due: none

OpenMode
  apis/python/tests/ht/_array_state_machine.py
  apis/python/tests/ht/test_ht_dataframe.py
  apis/python/tests/ht/test_ht_densendarray.py
  apis/python/tests/ht/test_ht_sparsendarray.py
Due: none

`s/work-arounds/workarounds/`
  apis/python/tests/ht/_ht_test_config.py
Due: none

parameterize `Ledger` with a `LedgerEntryType`
  apis/python/tests/ht/_ledger.py
Due: none

rm unused imports
  apis/python/tests/ht/test_ht_dataframe.py
  apis/python/tests/ht/test_ht_densendarray.py
  apis/python/tests/ht/test_ht_sparsendarray.py
Due: none

add/tweak type annotations
  apis/python/tests/ht/_array_state_machine.py
  apis/python/tests/ht/_ht_util.py
  apis/python/tests/ht/test_ht_dataframe.py
  apis/python/tests/ht/test_ht_densendarray.py
  apis/python/tests/ht/test_ht_sparsendarray.py
Due: none

rm unused `concurrency` fixture
  apis/python/tests/ht/conftest.py
Due: none

`get_entries`: return `set[str]`
  apis/python/tests/ht/_ledger.py
Due: none

avoid `st` shadowing
  apis/python/tests/ht/test_ht_dataframe.py
Due: none

[c++] Migrate current domain resize to use `SOMAColumn` (#3643)
  apis/python/tests/test_shape.py
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/src/utils/common.h
  libtiledbsoma/test/unit_soma_geometry_dataframe.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

#3560 review (#3663)
  apis/python/tests/ht/README.md
  apis/python/tests/ht/_array_state_machine.py
  apis/python/tests/ht/_ht_test_config.py
  apis/python/tests/ht/_ht_util.py
  apis/python/tests/ht/_ledger.py
  apis/python/tests/ht/conftest.py
  apis/python/tests/ht/test_ht_dataframe.py
  apis/python/tests/ht/test_ht_densendarray.py
  apis/python/tests/ht/test_ht_sparsendarray.py
Due: none

debug
  apis/python/src/tiledbsoma/_dataframe.py
Due: python_api

debug
  libtiledbsoma/src/soma/column_buffer.cc
Due: libtiledbsoma

[python] Resolve issue with #3611 and `pyarrow<17`
  libtiledbsoma/src/soma/column_buffer.cc
Due: libtiledbsoma

[r] TileDB-SOMA 1.15.7
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

[c++] Move re-open array from `SOMAArray::write` to `ManagedQuery::write`
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

[r] TileDB-SOMA 1.15.7 (#3670)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Due: none

unit-test case
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_sparse_nd_array.py
Due: none

[python] Resolve issue with #3611 and `pyarrow<17` (#3669)
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_sparse_nd_array.py
  libtiledbsoma/src/soma/column_buffer.cc
Due: libtiledbsoma

[c++] Move re-open array from `SOMAArray::write` to `ManagedQuery::write` (#3668)
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

[Backport release-1.15] [python] Resolve issue with #3611 and `pyarrow<17`
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_sparse_nd_array.py
  libtiledbsoma/src/soma/column_buffer.cc
Due: libtiledbsoma

Fix issue with pyarrow<17
  libtiledbsoma/src/soma/column_buffer.cc
Due: libtiledbsoma

[Backport release-1.15] [python] Resolve issue with #3611 and `pyarrow<17` (#3671)
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_sparse_nd_array.py
  libtiledbsoma/src/soma/column_buffer.cc
Due: libtiledbsoma

[c++] Robustify detection of insufficient compiler version
  libtiledbsoma/src/tiledbsoma/tiledbsoma
Due: libtiledbsoma

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
