Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Add test verifying resume mode handles an empty ndarray
  apis/r/tests/testthat/test-16-write-soma-resume.R
Due: none

Fix resume mode write dropping data for empty sparse arrays
  apis/r/R/write_soma.R
Due: none

Update NEWS.md
  apis/r/NEWS.md
Due: none

Bump dev version
  apis/r/DESCRIPTION
Due: none

Verify the second measurement's X data is not all zeros
  apis/r/tests/testthat/test-14-SummarizedExperimentIngest.R
Due: none

[r] Fix resume-mode writes to new/empty arrays (#4453)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/R/write_soma.R
  apis/r/tests/testthat/test-14-SummarizedExperimentIngest.R
  apis/r/tests/testthat/test-16-write-soma-resume.R
Due: none

Use tiledb-r instead of S3 for relative tests
  apis/r/DESCRIPTION
  apis/r/tests/testthat/helper-remote.R
  apis/r/tests/testthat/test-14-SeuratIngest.R
Due: none

Update changelog
  apis/r/NEWS.md
Due: none

Better handling of adding relative sparse arrays with `$add_new_sparse_ndarray()`
  apis/r/R/SOMACollectionBase.R
Due: none

Handle `relative = FALSE` for Seurat sub-objects
  apis/r/R/utils-seurat.R
  apis/r/R/write_seurat.R
  apis/r/tests/testthat/helper-test-soma-objects.R
  apis/r/tests/testthat/test-14-SeuratIngest.R
Due: none

Disallow usage of the dots `...` for high-level `write_soma()` methods; add tests for new behavior
  apis/r/R/write_bioc.R
  apis/r/R/write_seurat.R
  apis/r/R/write_soma.R
  apis/r/man/roxygen/templates/param-dots-reserved.R
  apis/r/man/write_soma.Seurat.Rd
  apis/r/man/write_soma.SingleCellExperiment.Rd
  apis/r/man/write_soma.SummarizedExperiment.Rd
  apis/r/tests/testthat/test-14-SeuratIngest.R
  apis/r/tests/testthat/test-14-SummarizedExperimentIngest.R
  apis/r/tests/testthat/test-15-SingleCellExperimentIngest.R
Due: none

Update docs
  apis/r/man/SOMACollectionBase.Rd
Due: none

Switch from deffered execution of column transform to async
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Switch from deffered execution of column transform to async (#4456)
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

feat(python): add to_dict() and __repr__ to PlatformConfig and PlatformSchemaConfig
  apis/python/HISTORY.md
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/tests/test_platform_config.py
Due: python_api

docs(python): correct schema_config_options return type in docstring
  apis/python/src/tiledbsoma/_soma_array.py
Due: python_api

fix(python): bind dense_nd_array_dim_zstd_level to the correct field
  apis/python/HISTORY.md
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/tests/test_platform_config.py
Due: python_api

Revert rest of SOMAContext
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
Due: python_api

Provide an uncommon aggregate name
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

[py] Add `to_dict()` and `__repr__` to `PlatformConfig` and `PlatformSchemaConfig` (#4458)
  apis/python/HISTORY.md
  apis/python/src/tiledbsoma/_soma_array.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/tests/test_platform_config.py
Due: python_api

Add test
  apis/python/tests/test_dataframe.py
Due: none

[c++] Change `Count` operation column name (#4459)
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Add experimental decoded metadata API for SOMAObjects
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/soma_group.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_object.h
  libtiledbsoma/src/utils/common.h
  libtiledbsoma/src/utils/util.cc
  libtiledbsoma/src/utils/util.h
Due: python_api, libtiledbsoma

Use new metadata cache implementation
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/common.h
  apis/python/src/tiledbsoma/soma_group.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_attribute.cc
  libtiledbsoma/src/soma/soma_attribute.h
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_coordinates.cc
  libtiledbsoma/src/soma/soma_coordinates.h
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
  libtiledbsoma/src/soma/soma_geometry_dataframe.cc
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/soma/soma_object.h
  libtiledbsoma/src/soma/soma_scene.cc
  libtiledbsoma/src/utils/common.h
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_coordinates.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_group.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

Pushdown Python metadata operations to C++
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/common.h
  apis/python/tests/test_collection.py
  apis/python/tests/test_metadata.py
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/common/metadata/metadata.cc
  libtiledbsoma/src/common/metadata/metadata.h
  libtiledbsoma/src/common/metadata/types.h
  libtiledbsoma/src/common/metadata/utils.cc
  libtiledbsoma/src/common/metadata/utils.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_attribute.cc
  libtiledbsoma/src/soma/soma_attribute.h
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_coordinates.cc
  libtiledbsoma/src/soma/soma_coordinates.h
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_object.h
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/src/utils/common.h
  libtiledbsoma/src/utils/util.cc
  libtiledbsoma/src/utils/util.h
  libtiledbsoma/test/unit_soma_coordinates.cc
Due: python_api, libtiledbsoma

FIx metadata handling bug
  apis/python/src/tiledbsoma/_scene.py
  libtiledbsoma/src/common/metadata/types.h
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_coordinates.cc
Due: python_api, libtiledbsoma

Add metadata tests, explicilty chek for condition on metadata operations
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/test/test_metadata.cc
Due: libtiledbsoma

Remove unwanted changes from picked commits
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/tests/test_collection.py
Due: python_api

Update R API to use new `MetadataValue` type
  apis/r/src/metadata.cpp
  apis/r/src/rutilities.cpp
  apis/r/src/rutilities.h
Due: none

Fix type issue for python 3.9
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Skip `X` layer during layer iteration
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Fix unit tests
  apis/python/tests/ht/test_ht_io_anndata.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_experiment_query.py
Due: none

Add regression tests for blockwise reads with a restricted minor axis
  apis/r/tests/testthat/test-00-Blockwise.R
Due: none

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
