Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Small adjustments to the spatial branch (#2907)
  .pre-commit-config.yaml
  apis/python/setup.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_measurement.py
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

[python] Trivial renames for some unit-test files (#2908)
  apis/python/tests/test_dataframe_index_columns.py
Due: none

[c++] Trivial parameterizes in `test/common.cc` (#2910)
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/common.h
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: none

[c++] Methodize timestamped-schema-evolution factory (#2909)
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

[c++] Trivial name-neaten (#2913)
  libtiledbsoma/src/soma/soma_object.cc
Due: libtiledbsoma

[c++] Remove some unit-test dead code
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/common.h
  libtiledbsoma/test/unit_soma_collection.cc
Due: none

[c++] Remove some unit-test dead code (#2918)
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/common.h
  libtiledbsoma/test/unit_soma_collection.cc
Due: none

[c++] Remove some dead code in int64-only shape accessor
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

rework for performance
  apis/python/pyproject.toml
  apis/python/src/tiledbsoma/ml/__init__.py
  apis/python/src/tiledbsoma/ml/pytorch.py
  apis/python/tests/test_pytorch.py
Due: python_api

tuning
  apis/python/src/tiledbsoma/ml/pytorch.py
Due: python_api

Revert "[c++] Apply `ArraySchemaEvolution` to specified timestamp (#2895)"
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

move failing R CI workflow to daily cron
  .github/workflows/r-ci.yml
Due: none

tweaks, checkpoint
  apis/python/src/tiledbsoma/ml/pytorch.py
Due: python_api

lint
  apis/python/src/tiledbsoma/ml/pytorch.py
  apis/python/tests/test_pytorch.py
Due: python_api

py 3.8 lint
  apis/python/src/tiledbsoma/ml/pytorch.py
Due: python_api

[c++,r] Update vendored `nanoarrow` to release 0.5.0
  libtiledbsoma/src/external/include/nanoarrow/nanoarrow.h
  libtiledbsoma/src/external/include/nanoarrow/nanoarrow.hpp
  libtiledbsoma/src/external/src/nanoarrow/nanoarrow.c
Due: none

[c++,r] Update vendored `nanoarrow` to release 0.5.0 (#2923)
  libtiledbsoma/src/external/include/nanoarrow/nanoarrow.h
  libtiledbsoma/src/external/include/nanoarrow/nanoarrow.hpp
  libtiledbsoma/src/external/src/nanoarrow/nanoarrow.c
Due: none

Second half of new timestamp passing all but three reopen tests
  apis/r/R/Factory.R
  apis/r/R/RcppExports.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMANDArrayBase.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/R/TileDBArray.R
  apis/r/R/TileDBObject.R
  apis/r/R/utils.R
  apis/r/man/SOMADataFrame.Rd
  apis/r/man/SOMANDArrayBase.Rd
  apis/r/man/TileDBArray.Rd
  apis/r/man/delete_metadata.Rd
  apis/r/man/get_all_metadata.Rd
  apis/r/man/get_metadata.Rd
  apis/r/man/get_metadata_num.Rd
  apis/r/man/has_metadata.Rd
  apis/r/man/set_metadata.Rd
  apis/r/src/RcppExports.cpp
  apis/r/src/metadata.cpp
  apis/r/src/riterator.cpp
  apis/r/src/rutilities.cpp
  apis/r/tests/testthat/test-Timestamps.R
Due: none

[r] Expose `tiledb_timestamp` parameter to `$reopen()` (#2866)
  apis/r/R/TileDBObject.R
Due: none

(First half) new timestamp test for SOMADataFrame
  apis/r/tests/testthat/test-Timestamps.R
Due: none

Extended support
  apis/r/R/Factory.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMANDArrayBase.R
  apis/r/R/TileDBArray.R
  apis/r/tests/testthat/test-TileDBArray.R
Due: none

[r] [NO BACKPORT] Expose timestamps publicly and plumb through for resume-mode (#2871)
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/R/TileDBArray.R
  apis/r/R/TileDBGroup.R
  apis/r/R/TileDBObject.R
  apis/r/R/utils.R
  apis/r/R/write_soma.R
  apis/r/man/TileDBObject.Rd
Due: none

Timestamp range support for dataframe
  apis/r/R/RcppExports.R
  apis/r/R/SOMAArrayBase.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/TileDBArray.R
  apis/r/src/RcppExports.cpp
  apis/r/src/arrow.cpp
  apis/r/src/metadata.cpp
  apis/r/src/rutilities.cpp
  apis/r/src/rutilities.h
Due: none

Timestamp range support for dataframe
  apis/r/R/TileDBArray.R
Due: none

Second half of new timestamp passing all but three reopen tests
  apis/r/tests/testthat/test-Timestamps.R
Due: none

Quieter warnings
  apis/r/R/SOMASparseNDArray.R
  apis/r/src/arrow.cpp
Due: none

Read and write DataFrame and {Dense,Sparse}Array under timestamps
  apis/r/R/Factory.R
  apis/r/R/RcppExports.R
  apis/r/R/SOMADenseNDArray.R
  apis/r/R/SOMANDArrayBase.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/R/SOMASparseNDArrayRead.R
  apis/r/R/TileDBObject.R
  apis/r/R/soma_array_reader.R
  apis/r/src/RcppExports.cpp
  apis/r/src/arrow.cpp
  apis/r/src/rinterface.cpp
  apis/r/tests/testthat/test-Timestamps.R
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
Due: libtiledbsoma

Test can now use factor
  apis/r/tests/testthat/test-Timestamps.R
Due: none

Update PointCloud, SpatialDataFrame, and Scene to match somacore
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/src/tiledbsoma/_point_cloud.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_spatial_dataframe.py
Due: python_api

Add PointCloud C++ class
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/soma/soma_point_cloud.cc
  libtiledbsoma/src/soma/soma_point_cloud.h
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/test/unit_soma_point_cloud.cc
Due: libtiledbsoma

Add PointCloud class to Python
  apis/python/setup.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_point_cloud.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_spatial_dataframe.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/soma_object.cc
  apis/python/src/tiledbsoma/soma_point_cloud.cc
Due: python_api

Add axes to PointCloud metadata
  apis/python/src/tiledbsoma/_constants.py
  apis/python/src/tiledbsoma/_point_cloud.py
  apis/python/src/tiledbsoma/_spatial_dataframe.py
Due: python_api

Update somacore version for Python API and pre-commit
  .pre-commit-config.yaml
  apis/python/setup.py
Due: none

Use PointCloud in Visium ingestor
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

Adapt one timestamped test
  apis/r/tests/testthat/test-SOMASparseNDArray.R
Due: none

Add PointCloud class and use in Visium ingestor (#2924)
  .pre-commit-config.yaml
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/setup.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_constants.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_point_cloud.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_spatial_dataframe.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/experimental/ingest.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/soma_object.cc
  apis/python/src/tiledbsoma/soma_point_cloud.cc
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/soma/soma_point_cloud.cc
  libtiledbsoma/src/soma/soma_point_cloud.h
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/test/CMakeLists.txt
  libtiledbsoma/test/unit_soma_point_cloud.cc
Due: python_api, libtiledbsoma

Pause one test predicate for collections
  apis/r/tests/testthat/test-SOMACollection.R
Due: none

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
