Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/r/inst/tiledbsoma/include"
  - "apis/r/src/nanoarrow.c"
  - "apis/r/src/nanoarrow.h"
  - "apis/r/src/libtiledbsoma/src/external"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

coverage:
  status:
    patch:
      default:
        target: 0
        threshold: 100
    project:
      default:
        target: 70
        threshold: 100

Add a multithreaded alternative to `to_arrow`
  apis/python/src/tiledbsoma/common.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: python_api, libtiledbsoma

Use global buffer for each column buffers when translating to arrow
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Add bitmap converter function
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/column_buffer.h
Due: libtiledbsoma

Fix bool dist to values casting
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

Remove unused code
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

Use sparse array schema directly instead of constructing it
  apis/r/R/SOMASparseNDArray.R
  apis/r/tests/testthat/test-11-shape.R
Due: none

Fix interop tests
  apis/system/tests/test_dataframe_write_python_read_r.py
  apis/system/tests/test_dataframe_write_r_read_python.py
Due: none

Type cast data to correct type before write
  apis/python/tests/test_collection.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_experiment_basic.py
  apis/python/tests/test_io.py
  apis/python/tests/test_point_cloud_dataframe.py
  apis/python/tests/test_query_condition.py
  apis/python/tests/test_shape.py
  apis/python/tests/test_sparse_nd_array.py
  apis/python/tests/test_to_anndata_dask.py
Due: none

Fix R vignettes
  apis/r/vignettes/soma-shapes.Rmd
Due: none

Try alternative representation for sparse matrix data
  apis/r/tests/testthat/test-11-shape.R
Due: none

Update R Python interop tests
  apis/system/tests/test_dataframe_write_python_read_r.py
  apis/system/tests/test_dataframe_write_r_read_python.py
Due: none

Throw in case of failed dynamic cast
  libtiledbsoma/src/soma/array_buffers.h
Due: libtiledbsoma

Add docstring for memory modes
  libtiledbsoma/src/soma/column_buffer.h
Due: libtiledbsoma

Remove debug print
  apis/python/tests/test_dataframe.py
Due: none

Address review comments
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

[c++] Provide different modes of handling memory when converting to Arrow objects (#4334)
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_managed_query.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/managed_query.cc
  apis/r/src/RcppExports.cpp
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/cli/cli.cc
  libtiledbsoma/src/soma/array_buffers.cc
  libtiledbsoma/src/soma/column_buffer.cc
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/utils/arrow/arrow_buffer.cc
  libtiledbsoma/src/utils/arrow/arrow_buffer.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/src/utils/common.h
Due: python_api, libtiledbsoma

Throw if unknown memory mode is found
  libtiledbsoma/src/soma/column_buffer.cc
Due: libtiledbsoma

Remove duplicate test case
  apis/python/tests/test_dataframe.py
Due: none

Fix lint errors
  apis/python/src/tiledbsoma/_dask/load.py
  apis/python/src/tiledbsoma/io/spatial/_util.py
Due: python_api

[r] Carrara Collections Support (#4368) (#4373)
  .gitignore
  apis/r/NEWS.md
  apis/r/R/SOMACollectionBase.R
  apis/r/R/SOMAContext.R
  apis/r/R/utils-uris.R
  apis/r/man/SOMACollection.Rd
  apis/r/man/SOMACollectionBase.Rd
  apis/r/man/SOMAContext.Rd
  apis/r/man/SOMAExperiment.Rd
  apis/r/man/SOMAMeasurement.Rd
  apis/r/man/roxygen/templates/section-add-object-to-collection.R
  apis/r/src/rinterface.cpp
  apis/r/src/rutilities.cpp
  apis/r/tests/testthat/README-carrara.md
  apis/r/tests/testthat/helper-carrara.R
  apis/r/tests/testthat/test-carrara-01-create.R
  apis/r/tests/testthat/test-carrara-02-delete.R
  apis/r/tests/testthat/test-carrara-03-uri-enforcement.R
  apis/r/tests/testthat/test-carrara-04-error-handling.R
Due: none

Set default value for raw view pointers
  libtiledbsoma/src/soma/column_buffer.h
Due: libtiledbsoma

Enable both arrow buffer initialization
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

Document .register_soma_object
  apis/r/R/write_soma.R
Due: none

Annotate write_soma.Graph
  apis/r/R/write_seurat.R
Due: none

add register_object method for SOMA collections
  apis/r/R/SOMACollectionBase.R
  apis/r/R/write_soma.R
Due: none

Simplify collection registration
  apis/r/R/SOMACollectionBase.R
  apis/r/R/write_soma.R
Due: none

Add legacy cloud tests
  apis/r/tests/testthat/helper-cloud.R
  apis/r/tests/testthat/test-cloud-01-seurat-io.R
Due: none

Address new mypy errors
  apis/python/src/tiledbsoma/_dask/load.py
  apis/python/src/tiledbsoma/io/spatial/_util.py
Due: python_api

Remove xfail cloud tests
  apis/r/tests/testthat/test-cloud-01-seurat-io.R
Due: none

Split up cloud tests
  apis/r/tests/testthat/test-cloud-01-create.R
  apis/r/tests/testthat/test-cloud-02-delete-io.R
  apis/r/tests/testthat/test-cloud-03-seurat-io.R
  apis/r/tests/testthat/test-cloud-04-error-handling.R
Due: none

Address new mypy errors (#4374)
  apis/python/src/tiledbsoma/_dask/load.py
  apis/python/src/tiledbsoma/io/spatial/_util.py
Due: python_api

Add readme for cloud tests
  apis/r/tests/testthat/README-cloud.md
  apis/r/tests/testthat/helper-cloud.R
Due: none

Update hypothesis tests to use SOMAContext
  apis/python/tests/conftest.py
  apis/python/tests/ht/_array_state_machine.py
  apis/python/tests/ht/conftest.py
  apis/python/tests/ht/test_ht_dataframe.py
  apis/python/tests/ht/test_ht_densendarray.py
  apis/python/tests/ht/test_ht_fastercsx.py
  apis/python/tests/ht/test_ht_indexer.py
  apis/python/tests/ht/test_ht_io_anndata.py
  apis/python/tests/ht/test_ht_sparsendarray.py
Due: none

(WIP) Use SOMAContext for context
  apis/python/HISTORY.md
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_common_nd_array.py
  apis/python/src/tiledbsoma/_dask/load.py
  apis/python/src/tiledbsoma/_dask/util.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_fastercsx.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_indexer.py
  apis/python/src/tiledbsoma/_multiscale_image.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_soma_context.py
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
  apis/python/src/tiledbsoma/io/_util.py
  apis/python/src/tiledbsoma/io/conversions.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/io/shaping.py
  apis/python/src/tiledbsoma/io/spatial/_xarray_backend.py
  apis/python/src/tiledbsoma/io/spatial/ingest.py
  apis/python/src/tiledbsoma/io/update_uns.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
  apis/python/tests/test_indexer.py
Due: python_api

Deprecate to SOMATileDBContext
  apis/python/HISTORY.md
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
  apis/python/tests/test_context.py
Due: python_api

Add new SOMAContext
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_soma_context.py
  apis/python/tests/test_soma_context.py
Due: python_api

(WIP) Switch tests to use SOMAContext
  apis/python/tests/conftest.py
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_clib.py
  apis/python/tests/test_collection.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_experiment_query.py
  apis/python/tests/test_fastercsx.py
  apis/python/tests/test_indexer.py
  apis/python/tests/test_registration_mappings.py
  apis/python/tests/test_reindexer_api.py
  apis/python/tests/test_sparse_nd_array.py
Due: none

Add helper function for switching from deprecated SOMATileDBContext
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_geometry_dataframe.py
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/options/__init__.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
Due: python_api

Update get/set default context to match R
  apis/python/src/tiledbsoma/_soma_context.py
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
  apis/python/src/tiledbsoma/io/_util.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
  apis/python/tests/test_soma_context.py
Due: python_api

Use context helper function
  apis/python/src/tiledbsoma/_multiscale_image.py
Due: python_api
