Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Write out documentation for filters
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Add `dense_nd_array_dim_zstd_level` option
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/options/_tiledb_create_options.py
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: python_api, libtiledbsoma

[WIP]
  apis/python/src/tiledbsoma/_util.py
  apis/python/tests/test_dataframe.py
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: python_api, libtiledbsoma

Replace pipe with comma
  apis/python/src/tiledbsoma/_util.py
Due: python_api

Correct json header location
  libtiledbsoma/src/CMakeLists.txt
Due: none

[python] Trivial neaten
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

[python] Trivial neaten (#2567)
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

Correct documentation and start adding unit tests
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: libtiledbsoma

[python] Prototype: better version numbers during development (#2563)
  .readthedocs.yml
  apis/python/setup.py
  apis/python/version.py
Due: none

Update changelog
  apis/r/NEWS.md
Due: none

Parameterize the timestamp behavior Allow one of the following: - resetting to current time - restoring existing time - setting new time
  apis/r/R/TileDBObject.R
  apis/r/man/TileDBObject.Rd
Due: none

Simplify `$reopen()` surface Always go through close-and-reopen cycle Always reset internal timestamp to - `NULL` for `mode = "WRITE"` - `Sys.time()` for `mode = "READ"`
  apis/r/R/SOMADataFrame.R
  apis/r/R/TileDBObject.R
  apis/r/man/TileDBObject.Rd
  apis/r/tests/testthat/test-SeuratIngest.R
Due: none

Bump develop version
  apis/r/DESCRIPTION
Due: none

Minor fixes
  apis/r/R/write_seurat.R
  apis/r/R/write_soma.R
Due: none

Minor updates
  apis/r/R/TileDBGroup.R
Due: none

Add more comprehensive C++ unit tests
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: libtiledbsoma

Tutorial: TileDB-SOMA append-mode
  apis/python/notebooks/tutorial_soma_append_mode.ipynb
  doc/source/notebooks/tutorial_soma_append_mode.ipynb
Due: none

[c++] `PlatformConfig` refactoring (#2541)
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/options/_tiledb_create_options.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_platform_config.py
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/external/include/nlohmann/json.hpp
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_experiment.cc
  libtiledbsoma/src/soma/soma_experiment.h
  libtiledbsoma/src/soma/soma_measurement.cc
  libtiledbsoma/src/soma/soma_measurement.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

[r] Fix nightly tiledbsoma-feedstock builds
  apis/r/tests/testthat/test-SOMADataFrame.R
Due: none

Minor fixes
  apis/r/R/TileDBObject.R
  apis/r/R/write_seurat.R
  apis/r/tests/testthat/test-SeuratIngest.R
Due: none

[r] Better handling of timestamps in `$reopen()` (#2497)
  apis/r/DESCRIPTION
  apis/r/NEWS.md
  apis/r/R/SOMADataFrame.R
  apis/r/R/TileDBGroup.R
  apis/r/R/TileDBObject.R
  apis/r/R/write_seurat.R
  apis/r/R/write_soma.R
  apis/r/man/TileDBObject.Rd
  apis/r/tests/testthat/test-SeuratIngest.R
Due: none

[r] Fix nightly tiledbsoma-feedstock builds (#2573)
  apis/r/tests/testthat/test-SOMADataFrame.R
Due: none

'UNORDERED' is no longer a permitted value
  apis/r/tests/testthat/test-SOMADenseNDArray.R
  apis/r/tests/testthat/test-SOMASparseNDArray.R
Due: none

'UNORDERED' is no longer a permitted value (#2575)
  apis/r/tests/testthat/test-SOMADenseNDArray.R
  apis/r/tests/testthat/test-SOMASparseNDArray.R
Due: none

Add `TileDBWriteOptions`; Set defaults depending on input
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/options/__init__.py
  apis/python/src/tiledbsoma/options/_tiledb_create_options.py
  apis/python/tests/test_sparse_nd_array.py
Due: python_api

[c++] Handle 32-bit string and binary in writes
  libtiledbsoma/src/soma/column_buffer.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

Run formatting
  libtiledbsoma/src/soma/column_buffer.h
Due: libtiledbsoma

Add function to read spatial cellxgene h5ad files
  apis/python/src/tiledbsoma/experimental/__init__.py
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

Tutorial: TileDB-SOMA append-mode (#2571)
  apis/python/notebooks/tutorial_soma_append_mode.ipynb
  doc/source/notebooks/tutorial_soma_append_mode.ipynb
Due: none

Fix formatting and linting
  apis/python/src/tiledbsoma/experimental/__init__.py
  apis/python/src/tiledbsoma/experimental/ingest.py
Due: python_api

Add assertion checks as reminder to remove warnings in 1.13
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
Due: python_api

format
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
Due: python_api

Add `TILEDB_REMOVE_DEPRECATIONS` to cmake and use in CI
  .github/workflows/libtiledb-ci.yml
  .github/workflows/python-ci-packaging.yml
  .github/workflows/r-python-interop-testing.yml
  libtiledbsoma/CMakeLists.txt
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
  scripts/bld
Due: none

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
