Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Add spatial version to `Scene` and `PointCloudDataFrame`
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_scene.py
Due: python_api

Add python tests for spatial version number
  apis/python/tests/test_multiscale_image.py
  apis/python/tests/test_point_cloud_dataframe.py
  apis/python/tests/test_scene.py
Due: none

[python] Adds the spatial encoding version to `Scene` and `PointCloudDataFrame` objects (#3559)
  apis/python/src/tiledbsoma/_point_cloud_dataframe.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/tests/test_multiscale_image.py
  apis/python/tests/test_point_cloud_dataframe.py
  apis/python/tests/test_scene.py
Due: python_api

hypothesis draft
  apis/python/requirements_dev.txt
  apis/python/tests/ht/__init__.py
  apis/python/tests/ht/_array_state_machine.py
  apis/python/tests/ht/_ht_test_config.py
  apis/python/tests/ht/_ht_util.py
  apis/python/tests/ht/_ledger.py
  apis/python/tests/ht/conftest.py
  apis/python/tests/ht/test_ht_dataframe.py
  apis/python/tests/ht/test_ht_densendarray.py
  apis/python/tests/ht/test_ht_fastercsx.py
  apis/python/tests/ht/test_ht_indexer.py
  apis/python/tests/ht/test_ht_sparsendarray.py
Due: none

backport to python 3.9 and pandas<2.0
  apis/python/requirements_dev.txt
  apis/python/tests/ht/_array_state_machine.py
  apis/python/tests/ht/_ht_util.py
  apis/python/tests/ht/conftest.py
  apis/python/tests/ht/test_ht_dataframe.py
  apis/python/tests/ht/test_ht_fastercsx.py
  apis/python/tests/ht/test_ht_indexer.py
  apis/python/tests/ht/test_ht_sparsendarray.py
Due: none

Address review comments
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/common.cc
Due: python_api

[python] Add Unicode metadata support (#3558)
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/common.h
  apis/python/tests/test_metadata.py
Due: python_api

Remove current_domain flag
  libtiledbsoma/test/unit_soma_column.cc
Due: none

Add concrete class wrapper for TileDB attribute
  libtiledbsoma/src/soma/soma_attribute.cc
Due: libtiledbsoma

Remove unused methods
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Add minimal testing for dimensions
  libtiledbsoma/src/tiledbsoma/tiledbsoma
Due: libtiledbsoma

SOMAColumn abstract class definition
  libtiledbsoma/src/soma/soma_column.cc
Due: libtiledbsoma

Add minimal testing for dimensions
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Misc fixes
  libtiledbsoma/src/soma/soma_geometry_column.h
Due: libtiledbsoma

Update CMake files
  libtiledbsoma/src/tiledbsoma/tiledbsoma
Due: libtiledbsoma

Remove unneeded methods and member variables
  libtiledbsoma/src/soma/soma_column.h
Due: libtiledbsoma

Fix string current domain in unit dataframe tests
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: none

Replace string_view with string when returning column name, add current domain checks, replace vector with span when selecting points
  libtiledbsoma/src/soma/soma_attribute.cc
Due: libtiledbsoma

Misc fixes
  libtiledbsoma/src/soma/soma_geometry_column.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/unit_soma_column.cc
Due: libtiledbsoma

Remove fmt::format
  libtiledbsoma/src/soma/soma_column.h
Due: libtiledbsoma

Migrate array creation to SOMAColumn
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Replace string_view with string when returning column name, add current domain checks, replace vector with span when selecting points
  libtiledbsoma/test/unit_soma_column.cc
Due: none

Fix current domain unit test on string dimension
  apis/r/tests/testthat/test-11-shape.R
Due: none

Add function to extract data from ArrowTable into std::array
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Add read test case
  libtiledbsoma/test/unit_soma_column.cc
Due: none

Do not export soma column [skip ci]
  libtiledbsoma/src/tiledbsoma/tiledbsoma
Due: libtiledbsoma

Add concrete class wrapper for TileDB dimension
  libtiledbsoma/src/soma/soma_dimension.cc
Due: libtiledbsoma

Replace string_view with string when returning column name, add current domain checks, replace vector with span when selecting points
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_dimension.cc
Due: libtiledbsoma

Fill SOMAColumn info on array open
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

MIgrate domain access methods to use SOMAColumns
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Add optional non empty domain method
  libtiledbsoma/src/soma/soma_attribute.cc
  libtiledbsoma/src/soma/soma_attribute.h
  libtiledbsoma/src/soma/soma_column.h
  libtiledbsoma/src/soma/soma_dimension.cc
  libtiledbsoma/src/soma/soma_dimension.h
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/soma/soma_geometry_column.h
Due: libtiledbsoma

Add template-specialization guards
  libtiledbsoma/src/soma/soma_column.cc
  libtiledbsoma/src/soma/soma_column.h
Due: libtiledbsoma

Replace optional non empty domain with the SOMAColumn implementation, update python bindings
  apis/python/src/tiledbsoma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: python_api, libtiledbsoma

Remove unsupported dimension datatypes
  libtiledbsoma/src/soma/soma_dimension.cc
Due: libtiledbsoma

Migrate shape check methods
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Migrate shape setter function
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Migrate joinid check function
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Migrate domain setters
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

Fix current domain test for dimensions
  libtiledbsoma/src/soma/soma_dimension.cc
Due: libtiledbsoma

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/r/inst/tiledbsoma/include, apis/r/src/nanoarrow.c, apis/r/src/nanoarrow.h, apis/r/src/libtiledbsoma/src/external, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
