Repository single-cell-data/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/python/devtools/"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

Formatting
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_query_condition.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/tests/test_collection.py
  apis/python/tests/test_platform_config.py
  apis/python/tests/test_unicode.py
  apis/python/tests/test_update_dataframes.py
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/test/test_query_condition.py
Due: python_api, libtiledbsoma

Use explcit size for string metadata
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_object.cc
Due: libtiledbsoma

More modularizing
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_query_condition.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/_util.py
Due: python_api

SOMADataFrame --> DataframeWrapper
  apis/python/src/tiledbsoma/_factory.py
Due: python_api

Post-rebase corrections
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_array.py
Due: python_api

Remove extra line in setup.py
  apis/python/setup.py
Due: none

Add Pybind11 Common Code
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/common.h
Due: python_api

Corrections post-rebase with main
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: python_api, libtiledbsoma

Correct exception handling on macOS
  apis/python/src/tiledbsoma/common.h
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/soma_object.cc
Due: python_api

Re-add SOMAArray::schema -> TileDB ArraySchema
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
Due: libtiledbsoma

Correct linting errors
  apis/python/src/tiledbsoma/_dataframe.py
Due: python_api

Corrections post-rebase with main
  apis/python/src/tiledbsoma/soma_array.cc
Due: python_api

Addition Of `DataFrameWrapper`
  apis/python/pyproject.toml
  apis/python/setup.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/utils/arrow_adapter.h
Due: python_api, libtiledbsoma

Free Name in ArrowSchema
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

Do TileDB ArraySchema to ArrowSchema Converstion in C++
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
Due: libtiledbsoma

Add Methods to `DataFrameWrapper` and `ArrayWrapper`
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
Due: python_api, libtiledbsoma

Add Dictionary Support For ArraySchema -> ArrowSchema
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/tests/test_update_dataframes.py
Due: python_api

Formatting
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/tests/test_update_dataframes.py
  libtiledbsoma/test/test_query_condition.py
Due: python_api

Refactor QueryCondition
  apis/python/src/tiledbsoma/soma_dataframe.cc
  libtiledbsoma/test/test_query_condition.py
Due: python_api

Add `domain` for `SOMADataFrame`
  apis/python/pyproject.toml
  apis/python/setup.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
Due: python_api, libtiledbsoma

WIP
  apis/python/src/tiledbsoma/soma_object.cc
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: python_api, libtiledbsoma

Use future to wait for query
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

Post-rebase corrections
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

WIP
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/soma_object.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  apis/python/tests/test_sparse_nd_array.py
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/soma/soma_object.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

WIP post-rebase fixes
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_array.h
Due: python_api, libtiledbsoma

WIP
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/soma_object.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
Due: python_api, libtiledbsoma

Fix Enumeration Getter
  apis/python/src/tiledbsoma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
Due: python_api, libtiledbsoma

[python/c++] SparseNDArray read path
  apis/python/setup.py
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  apis/python/tests/test_platform_config.py
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
Due: python_api, libtiledbsoma

WIP no segfault
  apis/python/src/tiledbsoma/soma_object.cc
  libtiledbsoma/src/soma/soma_array.h
Due: python_api, libtiledbsoma

Fix major bug where dense array was actually opening as sparse array
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
Due: python_api

[python/c++] DenseNDArray read path
  apis/python/setup.py
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
Due: python_api, libtiledbsoma

WIP
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/soma_object.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/array_buffers.h
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/soma/soma_object.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: python_api, libtiledbsoma

Correct typing
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/tests/test_sparse_nd_array.py
Due: python_api

WIP
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/soma_object.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

WIP
  apis/python/src/tiledbsoma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_array.h
Due: python_api, libtiledbsoma

WIP
  apis/python/src/tiledbsoma/_arrow_types.py
Due: python_api

Fix segfault
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
Due: libtiledbsoma

Remove `soma_array.cc`
  apis/python/setup.py
  apis/python/src/tiledbsoma/_common_nd_array.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_read_iters.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_array.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/test/test_query_condition.py
  libtiledbsoma/test/test_soma_array.py
Due: python_api, libtiledbsoma

WIP
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/soma_object.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/soma_array.cc
Due: python_api, libtiledbsoma

Separate submit_read and results
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/test/unit_managed_query.cc
Due: libtiledbsoma
